@charset "utf-8";
/*
    z-index guide
    input checkbox, radio : 1
    header(.layout-header) : 100
    .is-active .help-desc : 200
	.dim-overlay : 990
    sidemenu(.layer-menu-wrap) : 1000
    layer-review-wrap : 1000
*/
/*Common*/
*{box-sizing:border-box}
html,body{height:100%}
html{font-size:14px;-webkit-text-size-adjust:100%}
body{font-family:'noto-sans',sans-serif;font-size:1rem;line-height:1;color:#222;letter-spacing:-0.5px}
body.sidemenu-open{overflow:hidden;position:fixed}
body.sidemenu-open .dim-overlay,
.dim-overlay.is-show{z-index:99;right:0;bottom:0;background-color:rgba(0,0,0,0.8)}
body.sidemenu-open .layer-menu-wrap{left:42px}
body.sidemenu-open .layer-menu-wrap .btn-layer-close{left:-42px}
#wrap{position:relative;padding-top:79px}
#wrap.popup{padding:15px}
#wrap.no-breadcrumb{padding-top:39px}
#wrap.no-breadcrumb .layout-content{padding-top:0}
.dim-overlay{position:fixed;top:0;left:0;transition:background-color .5s}
.layout-header{position:fixed;top:0;left:0;width:100%;z-index:90;transition:top 0.2s}
.layout-header.minimize{top:-39px}
.layout-header-top{padding:9px 10px 8px 10px;background-color:#fff}
.layout-header-top:after{content:'';display:block;clear:both}
.layout-header-top .ci{float:left;width:78px;height:22px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat;background-size:200px;text-indent:-9999px}
.layout-header-top .ci > a{display:block;height:100%}
.layout-header-top .btn-menu{position:absolute;top:0;right:0;width:39px;height:39px}
.layout-header-top .btn-menu:after{content:'Menu';display:block;width:20px;height:15px;margin:0 auto;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat 0 -25px;background-size:200px;text-indent:-9999px}
.layer-menu-wrap{position:fixed;top:0;left:100%;z-index:1000;width:calc(100% - 42px);height:100%;transition:left .5s}
.layer-menu-wrap .btn-layer-close{position:absolute;top:0;left:0;width:42px;height:42px}
.layer-menu-wrap .btn-layer-close:after{content:'Close Menu';display:block;width:15px;height:15px;margin:0 auto;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -22px -25px;background-size:200px;text-indent:-9999px}
.layer-menu{overflow:auto;position:relative;height:100%;background-color:#fff}
.layer-menu .member{padding:25px 0;text-align:center;border-bottom:2px solid #bc1137}
.layer-menu .before-login-msg{font-size:0.93rem;color:#999}
.layer-menu .before-login-msg:before{content:'';display:block;width:40px;height:40px;margin:0 auto 10px auto;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -80px 0;background-size:200px}
.layer-menu .before-login-msg strong{display:block;margin-bottom:5px;font-size:1.14rem;color:#222}
.layer-menu .link dt{padding:15px;color:#bc1137;border-bottom:1px solid #e6e6e6}
.layer-menu .link dd{padding:0 15px;background-color:#f9f9f9;border-bottom:1px solid #e6e6e6;color:#666}
.layer-menu .link dd li a{display:block;padding:13px 15px}
.layer-menu .link dd li + li{border-top:1px solid #e6e6e6}
.layer-menu .member-login-msg .grade{color:#999;font-size:0.93rem}
.layer-menu .member-login-msg .grade:before{content:'';display:block;width:42px;height:40px;margin:0 auto 10px auto;background:url(/common/images/front/mobile/de/common/grade-160.png) no-repeat;background-size:auto 40px}
.layer-menu .member-login-msg .grade.diamond:before{background-position:0 0}
.layer-menu .member-login-msg .grade.platinum:before{background-position:-42px 0}
.layer-menu .member-login-msg .grade.gold:before{background-position:-84px 0}
.layer-menu .member-login-msg .grade.silver:before{background-position:-126px 0}
.layer-menu .member-login-msg .grade.bronze:before{background-position:-168px 0}
.layer-menu .member-login-msg .grade.new:before{background-position:-210px 0}
.layer-menu .member-login-msg .email-id{display:block;margin-top:5px;font-size:1.14rem}
.layer-menu .btn-area + .btn-area{margin-top:5px}
.layer-menu .btn-area{display:flex;flex-flow:wrap;align-items:center;margin-top:10px;padding:0 25px;text-align:center}
.layer-menu .btn-area > a{flex-basis:100%;line-height:30px;font-size:0.93rem;color:#fff;background-color:#c10c3f}
.layer-menu .btn-area > a + a{margin-left:0;margin-top:5px}
.layer-menu .btn-area .btn-calculator{background-color:#666}
.layout-footer{background-color:#404040;color:#fff;text-align:center}
.layout-footer .business-partner{padding:20px 0}
.layout-footer .business-partner .tit{display:block;margin-bottom:15px;font-size:1.29rem}
.layout-footer .business-partner li{display:flex;width:100%;padding:0 10px}
.layout-footer .business-partner li div{flex:1}
.layout-footer .business-partner li div + div{margin-left:10px}
.layout-footer .business-partner li a{display:block}
.layout-footer .business-partner li img{width:100%;max-width:120px}
.layout-footer .business-partner li strong{display:block;margin-top:10px;line-height:1.3}
.layout-footer .certification-list{padding:20px 0;border-top:1px solid #2b2b2b}
.layout-footer .certification-list .tit{display:block;margin-bottom:15px;font-size:1.29rem}
.layout-footer .certification-list li{display:flex}
.layout-footer .certification-list li div{flex:1}
.layout-footer .certification-list li img{width:50px}
.layout-footer .certification-list li strong{display:block;margin-top:10px;line-height:1.29rem}
.layout-footer .bx-pager-item{display:inline}
.layout-footer .bx-pager-link{display:inline-block;width:10px;height:10px;margin:0 3px;background-color:#fff;border-radius:10px;text-indent:-9999px}
.layout-footer .bx-pager-link.active{background-color:#bc1137}
.layout-footer .bx-controls{margin-top:12px}
.layout-footer .footer{padding:10px 10px 20px 10px;;background-color:#2b2b2b}
.layout-footer .footer .btn-area{display:flex}
.layout-footer .footer .btn-area a{flex:1;line-height:28px;border:1px solid #898887}
.layout-footer .footer .btn-area a + a{margin-left:6px}
.layout-footer .footer .agreement{margin-top:10px;font-size:0.93rem}
.layout-footer .footer .agreement a + a{position:relative;margin-left:12px;padding-left:13px}
.layout-footer .footer .agreement a + a:before{content:'';position:absolute;top:4px;left:0;width:1px;height:12px;background-color:#fff}
.layout-footer .footer .copyright{margin-top:12px;font-size:0.86rem;color:#828080}
.breadcrumb{display:flex;width:100%;background-color:#f4f4f4;align-content:center;line-height:1.29rem}
.breadcrumb .home{flex:initial;position:relative;width:37px;border:1px solid #e2e2e2;border-right:0;text-indent:-9999px}
.breadcrumb .home:after{content:'';position:absolute;left:7px;top:50%;width:17px;height:14px;margin-top:-7px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -40px -25px;background-size:200px}
.breadcrumb > div{position:relative;display:flex;align-items:center;flex:1;min-height:40px;border:1px solid #e2e2e2;border-right:0}
.breadcrumb > div + div{flex:1.2;border-right:1px solid #e2e2e2;}
.breadcrumb div a{display:block;width:100%;font-size:1rem}
.breadcrumb div > a{padding-left:10px;padding-right:25px;line-height:1.07rem}
.breadcrumb > div > a:after{content:'';position:absolute;right:10px;top:50%;width:10px;height:6px;margin-top:-3px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -40px -60px;background-size:200px}
.breadcrumb > div.no-child > a:after{content:none}
.breadcrumb ul{display:none;position:absolute;top:38px;left:-1px;width:calc(100% + 2px);padding:10px;background-color:#f4f4f4;border:1px solid #c1c1c1;border-top:0}
.breadcrumb ul:before{content:'';position:absolute;top:0;left:10px;width:calc(100% - 20px);border-top:1px solid #c1c1c1}
.breadcrumb .is-active{border:1px solid #c1c1c1}
.breadcrumb .is-active ul{display:block}
.breadcrumb .is-active li a{padding:8px 0}
.breadcrumb .is-active a{color:#000}
.breadcrumb .is-active a:after{transform:rotate(180deg)}
.layout-content{padding:15px 15px 30px 15px}
.layout-content.wide{padding:15px 10px 30px 10px}
.layout-content.fully{padding:15px 0 30px 0}
.layout-content.wide .page-tit{margin:0 5px}
.page-tit{font-weight:600;font-size:1.57rem;padding-bottom:8px;border-bottom:1px solid #333}
.page-subtit{font-weight:600;font-size:1.43rem}
.page-3rdtit{font-size:1.14rem}
.no-result{padding:75px 0;text-align:center;border-bottom:1px solid #e6e6e6}
.no-result strong{color:#bc1137}
.border-none{border:none}
.required:after{content:'*';color:#bc1137;margin-left:6px}

/*COMMON*/
input[type="text"],
input[type="tel"],
input[type="password"]{width:100%;height:40px;padding:0 10px;border:1px solid #c1c1c1;color:#222;font-size:1rem}
input[type="text"]:read-only,
input[type="tel"]:read-only,
input[type="password"]:read-only{background-color:#f7f7f7;color:#222}
input[type="radio"],
input[type="checkbox"]{position:absolute;width:13px;height:13px;cursor:pointer}
input[type="radio"] + label,
input[type="checkbox"] + label{position:relative;z-index:1;cursor:pointer;line-height:18px;padding-left:23px}
input[type="radio"] + label:before,
input[type="checkbox"] + label:before{content:'';position:absolute;top:1px;left:0px;width:18px;height:18px;background-color:#fff;background-image:url(/common/images/front/mobile/de/common/sprite-m.png);background-repeat:no-repeat;background-size:200px}
input[type="radio"] + label:before{background-position:-20px -45px}
input[type="radio"]:checked + label:before{background-position:0 -45px}
input[type="checkbox"] + label:before{background-position:-20px -69px}
input[type="checkbox"]:checked + label:before{background-position:0 -69px}

/*Placeholder*/
input[type="text"]::-webkit-input-placeholder{color:#999;opacity:1}
input[type="text"]::-moz-placeholder{color:#999;opacity:1}
input[type="text"]:-ms-input-placeholder{color:#999;opacity:1}
input[type="text"]:-moz-placeholder{color:#999;opacity:1}
input[type="password"]::-webkit-input-placeholder{color:#999;opacity:1}
input[type="password"]::-moz-placeholder{color:#999;opacity:1}
input[type="password"]:-ms-input-placeholder{color:#999;opacity:1}
input[type="password"]:-moz-placeholder{color:#999;opacity:1}
input[type="tel"]::-webkit-input-placeholder{color:#999;opacity:1}
input[type="tel"]::-moz-placeholder{color:#999;opacity:1}
input[type="tel"]:-ms-input-placeholder{color:#999;opacity:1}
input[type="tel"]:-moz-placeholder{color:#999;opacity:1}
textarea::-webkit-input-placeholder{color:#999;opacity:1}
textarea::-moz-placeholder{color:#999;opacity:1}
textarea:-ms-input-placeholder{color:#999;opacity:1}
textarea:-moz-placeholder{color:#999;opacity:1}
textarea{width:100%;min-height:80px;padding:10px;font-size:1rem;border:1px solid #c1c1c1;box-sizing:border-box}
select{width:100%;height:40px;line-height:38px;padding:0 10px;border:1px solid #c1c1c1 ;background:url(/common/images/front/mobile/de/common/bg-select.png) no-repeat 0 50%;background-size:11px;background-position-x:calc(100% - 10px);color:#222;font-size:1rem}
select:disabled{background-color:#f7f7f7;color:#999}
.tab{width:100%;overflow:hidden;overflow-x:auto;padding:0 10px;background-color:#bc1137;opacity:0}
.tab ul:after{content:'';display:block;clear:both}
.tab li{position:relative;float:left;padding:0 8px;text-align:center}
.tab li.is-active:after{content:'';position:absolute;bottom:0;left:0;width:100%;height:3px;background-color:#fff}
.tab a{line-height:34px;color:#fff;white-space:nowrap}
.tab .is-active a{color:#fff;font-weight:600}
.category{display:inline-block;padding:0 13px;line-height:1.43rem;font-size:0.93rem;font-weight:600;text-align:center;border-radius:20px;border:1px solid #c2c2c2}
.category.pr,
.category.marketing,
.category.commercial{border-color:#d4c4b6;color:#936c49}
.category.notice,
.category.tech,
.category.ups{border-color:#e0a2b0;color:#bc1137}
.category.img,
.category.events,
.category.residential{border-color:#c2c2c2;color:#666}
.tel-wrap{display:flex}
.tel-wrap > div{flex:1;position:relative}
.tel-wrap > div + div{margin-left:20px}
.tel-wrap > div + div:before{content:'-';position:absolute;left:-13px;line-height:40px}
.email-wrap{display:flex}
.email-wrap > div{flex:1;position:relative}
.email-wrap > span{flex:initial;width:20px;text-align:center;line-height:40px}
.email-wrap > div:last-child{flex:1.2;margin-left:5px}
.radio-wrap > span{position:relative;display:inline-block}
.radio-wrap > span + span{margin-left:15px}
.radio-wrap > br ~ span{margin-top:5px}
.checkbox-wrap > span{position:relative;display:inline-block}
.checkbox-wrap > span + span{margin-left:15px}
.checkbox-wrap > br ~ span{margin-top:5px}
.select-field{padding:15px 15px 10px 15px;border:1px solid #e6e6e6;box-shadow:4px 4px 4px rgba(0,0,0,0.1)}
.select-field .tit{display:block;margin-bottom:10px;font-size:1.14rem;font-weight:600}
.select-field label{color:#666}
.alert-msg,
.confirm-msg{position:relative;padding-left:16px;font-size:0.93rem}
.alert-msg:before,
.confirm-msg:before{content:'';position:absolute;left:0;width:12px;height:12px;background-color:#fff;background-image:url(/common/images/front/mobile/de/common/sprite-m.png);background-repeat:no-repeat;background-size:200px}
.alert-msg{color:#bc1137}
.alert-msg:before{top:1px;background-position:-60px -25px}
.confirm-msg{line-height:1.21rem;color:#6888bd}
.confirm-msg:before{top:3px;background-position:-171px -50px}
.help-msg{text-align:right}
.help-msg button{width:18px;height:18px;background:#fff url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -60px -45px;background-size:200px;text-indent:-9999px}
.help-msg .help-desc{display:none;width:100%;padding:15px;line-height:1.29rem;border:1px solid #e6e6e6;background-color:#fff;color:#666;box-shadow:4px 4px 4px rgba(0,0,0,0.1)}
.help-msg.is-active .help-desc{display:block;position:absolute;right:0;width:calc(100vw - 30px);z-index:200;margin-top:10px;text-align:left}
.help-msg .help-desc .tit{display:block;margin-bottom:10px;padding-right:25px;padding-bottom:10px;color:#bc1137;font-size:1.14rem;border-bottom:1px solid #bc1137}
.help-msg .help-desc .btn-close-help{position:absolute;right:15px;top:15px;width:15px;height:15px;background:#fff url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -171px -25px;background-size:200px}
input.hasDatepicker:read-only{background-color:#fff}
.datepicker{position:relative;display:inline-block;width:100%}
.datepicker input[type="text"] + button{position:absolute;top:12px;right:9px;width:20px;height:20px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -171px -70px;background-size:200px;text-indent:-9999px}
.search{position:relative;display:inline-block;width:100%}
.search input[type="text"] + button{position:absolute;top:12px;right:9px;width:16px;height:16px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -69px -78px;background-size:200px;text-indent:-9999px}
/*Button*/
a[class^="btn-"]{display:inline-block;text-align:center}
a[class^="btn-"],
button{border-radius:4px;color:#fff}
.btn-area{display:flex;justify-content:center}
.btn-area a,
.btn-area button{flex:1}
.btn-area > a + a,
.btn-area > a + button,
.btn-area > button + a,
.btn-area > button + button{margin-left:10px}
.btn-area > .hidden + button,
.btn-area > .hidden + a{margin-left:0}
.btn-login,
.btn-join,
.btn-reset-pw,
.btn-save,
.btn-list,
.btn-join-membership,
.btn-main,
.btn-confirm,
.btn-resend,
.btn-back,
.btn-search,
.btn-request,
.btn-submit{height:35px;line-height:35px;box-shadow:4px 4px 4px rgba(0,0,0,0.1)}
.btn-del,
.btn-add,
.btn-points,
.btn-make,
.btn-partner{height:35px;line-height:35px}
.btn-join,
.btn-add{background-color:#333}
.btn-list,
.btn-reset-pw,
.btn-back,
.btn-request,
.btn-del,
.btn-make,
.btn-partner{background-color:#666}
.btn-login,
.btn-save,
.btn-join-membership,
.btn-main,
.btn-confirm,
.btn-resend,
.btn-search,
.btn-submit,
.btn-points{background-color:#bc1137}
.btn-area .btn-make{flex:0 0 130px}
.btn-area .btn-partner{flex:initial;width:232px}
.btn-login{width:235px;margin-top:15px}
.btn-serial-number,
.btn-go-lgchem{padding:0 15px;height:32px;line-height:2.29rem;background:#666}
.btn-popup{padding:0 15px;height:32px;line-height:32px;background:#666}
.btn-go-lgchem:after,
.btn-serial-number:after,
.btn-popup:after{content:'';display:inline-block;margin-left:10px;width:6px;height:9px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat;background-size:200px;background-position:-92px -80px}

/*bg,ico*/
.btn-search:before,
.btn-request:before{content:'';display:inline-block;background-image:url(/common/images/front/mobile/de/common/sprite-m.png);background-repeat:no-repeat;background-size:200px}
.btn-search:before{width:14px;height:14px;margin-right:10px;background-position:0 -140px;vertical-align:-3px}
.btn-request:before{width:11px;height:12px;margin-right:10px;background-position:-65px -140px;vertical-align:-1px}

/* +- */
.btn-accordian{position:relative;width:30px;height:30px}
.btn-accordian:before,
.btn-accordian:after{content:'';position:absolute;background-color:#333}
.btn-accordian:before{left:8px;top:14px;width:14px;height:2px}
.btn-accordian:after{display:none;left:14px;top:8px;width:2px;height:14px}
.btn-accordian.on:after{display:block}
.btn-accordian span{font-size:0;text-indent:-9999px}

/*Pagination*/
.pagination{max-width:290px;margin:15px auto 0 auto}
.pagination:after{content:'';display:block;clear:both}
.pagination a{float:left;width:30px;height:30px;line-height:30px;text-align:center;color:#666;background:url(/common/images/front/mobile/de/common/bg-pagination.gif) no-repeat;background-size:auto 30px}
.pagination a.first{background-position:0 0}
.pagination a.prev{background-position:-35px 0}
.pagination a.next{background-position:-70px 0}
.pagination a.last{background-position:-105px 0}
.pagination a + a{margin-left:5px}
.pagination > span{float:left;margin:0 24px}
.pagination > span a{background:none}
.pagination > span a + a{position:relative;margin-left:11px}
.pagination > span a + a:before{content:'';position:absolute;top:13px;left:-7px;width:4px;height:4px;border-radius:50%;background-color:#ddd}
.pagination > span a.is-active{color:#bc1137}

/*Table*/
.tbl-t01{border-top:1px solid #666}
.tbl-t01 th,
.tbl-t01 td{padding:10px;border-bottom:1px solid #e6e6e6;line-height:1.29rem;text-align:left;vertical-align:middle}
.tbl-t01 th{background:#f6f6f6}
.tbl-t01 td{color:#666}
.tbl-t02{border-top:1px solid #666}
.tbl-t02 th,
.tbl-t02 td{padding:10px;border-bottom:1px solid #e6e6e6;line-height:1.29rem;text-align:left;vertical-align:middle}
.tbl-t02 th{background:#f6f6f6;text-align:center}
.tbl-t02 th + th{border-left:1px solid #e6e6e6}
.tbl-t02 td{padding:10px 8px;color:#666}
.tbl-t02 td + td{padding:10px 0;text-align:center;border-left:1px solid #e6e6e6}

/*layer*/
.layerpop{display:none;position:fixed;z-index:1001;left:0;top:50%;width:calc(100% - 30px);height:calc(100vh - 80px);margin:0 15px;padding:10px;background-color:#fff;border:1px solid #dedede;color:#222;box-sizing:border-box}
.layerpop .layer-close{position:absolute;top:-29px;right:-1px;width:28px;height:28px;background:#222;text-indent:-9999px;border-radius:0}
.layerpop .layer-close:after{content:'';position:absolute;top:0;left:0;margin:6px;width:16px;height:16px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat;background-size:200px;background-position:-22px -25px}
.layerpop > .tit{display:block;margin-bottom:10px;padding-bottom:10px;font-size:1.43rem;border-bottom:1px solid #333}
.layerpop .layer-content{overflow:auto;height:calc(100vh - 243px);padding:15px;border:1px solid #e5e5e5}
.layerpop .layer-content + .annotation{margin-bottom:10px;padding:10px 0;color:#666;border-bottom:1px solid #e5e5e5}
.layerpop .btn-layer-close{position:fixed;top:10px;right:15px;width:39px;height:39px;padding:12px;font-size:0}
.layerpop .btn-layer-close:after{content:'';display:block;width:15px;height:15px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat 0 -165px;background-size:200px}
.layer-user-agreement,
.layer-privacy-policy,
.layer-privacy-policy2{top:10px;z-index:100}
.layer-user-agreement .btn-confirm,
.layer-privacy-policy .btn-confirm,
.layer-privacy-policy2 .btn-confirm{flex:initial;width:110px;background-color:#999;color:#666}
.layer-user-agreement .btn-confirm.is-active,
.layer-privacy-policy .btn-confirm.is-active,
.layer-privacy-policy2 .btn-confirm.is-active{background-color:#bc1137;color:#fff}

/*For inquiry*/
.for-inquiry{display:flex;flex-flow:column;min-height:44px;padding:15px 10px;border-top:1px solid #666;border-bottom:1px solid #e6e6e6;line-height:1.2}
.for-inquiry .tit{margin-bottom:10px}
.for-inquiry a{position:relative;padding-left:44px;color:#666}
.for-inquiry a:before{content:'';position:absolute;left:0;top:0;width:34px;height:34px;background:#fff url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -44px -155px;background-size:200px}
.for-inquiry a + a{margin-top:10px}
.for-inquiry a + a:before{background-position:-125px 0}
.for-inquiry a em{display:block;color:#222}

/*FAQ*/
.faq-list dt{position:relative;border-top:1px solid #e6e6e6}
.faq-list dt:first-child{border-top:none}
.faq-list dt > a{display:block;padding:12px 34px 12px 20px;font-weight:600;font-size:1.14rem;line-height:1.5rem}
.faq-list dt a:before{content:'Q';position:absolute;top:11px;left:0;font-size:1.29rem}
.faq-list dt a:after{content:'';position:absolute;top:50%;right:10px;width:14px;height:2px;margin-top:-1px;background-color:#000}
.faq-list dt:after{content:'';position:absolute;top:50%;right:16px;width:2px;height:14px;margin-top:-7px;background-color:#000}
.faq-list dt.is-active:after{content:none}
.faq-list dt.is-active + dd{display:block}
.faq-list dd{display:none;position:relative;padding:20px 30px;line-height:1.3;background-color:#f6f6f6;border-top:1px solid #e6e6e6;color:#666}
.faq-list dd:before{content:'A';position:absolute;top:19px;left:10px;font-size:1.29rem;font-weight:600;color:#bc1137}
.faq-list dd ul{margin-top:10px;color:#666}
.faq-list dd li{position:relative;padding-left:8px}
.faq-list dd li + li{margin-top:4px}
.faq-list dd .annotation{position:relative;margin:10px 0 0 5px;padding-left:8px;color:#888}
.faq-list dd li:before,
.faq-list dd .annotation:before{content:'-';position:absolute;left:0}
.faq-list dd strong{color:#222}
.faq-list p + div,
.faq-list div + div,
.faq-list p + ul{margin-top:10px}
.qna-inquiry{position:relative}
.qna-inquiry .btn-go-inquiry{position:absolute;right:0;top:-48px;padding:0 10px;line-height:28px;background-color:#666}
.qna-inquiry dl{margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #000}
.qna-inquiry dt:first-child{margin-top:15px}
.qna-inquiry dt{margin:20px 0 8px 0;font-size:1.14rem;font-weight:600}
.qna-inquiry dt .byte{float:right;margin-top:2px;color:#999;font-size:0.93rem;font-weight:normal}
.qna-inquiry textarea{height:240px}
.qna-inquiry .btn-save{width:105px;flex:initial}

/*NEWS&EVENTS*/
.news-list li{position:relative;border-bottom:1px solid #e6e6e6}
.news-list li > a{display:block;padding:15px 0;font-size:1.14rem;line-height:1.5rem}
.news-list li .category{margin-bottom:7px}
.news-list li .date{position:absolute;top:15px;right:0;color:#777;font-size:0.93rem}
.news-view dl{margin-bottom:10px;border-top:1px solid #e6e6e6}
.news-view dt{position:relative;border-bottom:1px solid #e6e6e6;padding:15px 0;font-size:1.14rem;line-height:1.5rem}
.news-view dt .category{margin-bottom:7px}
.news-view dt .date{position:absolute;top:15px;right:0;color:#777;font-size:0.93rem}
.news-view .article{padding:15px 0 30px 0;line-height:1.29rem;border-bottom:1px solid #e6e6e6}
.news-view .related-model{padding:10px 0 10px 10px;border-bottom:1px solid #666;background-color:#f6f6f6}
.news-view .related-model .tit{display:block;margin-bottom:11px;color:#777}
.news-view .related-model .tit em{font-weight:600;color:#222}
.news-view .related-model-list:after{content:'';display:block;clear:both}
.news-view .related-model-list a{float:left;margin:0 10px 5px 0;padding:0 15px;line-height:1.57rem;border-radius:22px;color:#fff;background-color:#d05671;font-size:0.93rem}
.news-view .btn-list{width:70px;flex:initial}
.lib-list li{position:relative;border-bottom:1px solid #e6e6e6}
.lib-list li > a{display:block;padding:15px 0;font-size:1.14rem;line-height:1.5rem}
.lib-list li .category{margin-bottom:7px}
.lib-list li .date{display:block;margin-left:29px;color:#777;font-size:0.93rem}
.lib-list li p{position:relative;min-height:37px;padding:0 45px 0 29px}
.lib-list li p:before{content:'';position:absolute;left:0;top:4px;width:19px;height:22px;background-image:url(/common/images/front/mobile/de/common/sprite-m.png);background-repeat:no-repeat;background-size:200px}
.lib-list li p:after{content:'';position:absolute;right:0;top:4px;width:32px;height:32px;background-position:-80px -45px;background-image:url(/common/images/front/mobile/de/common/sprite-m.png);background-repeat:no-repeat;background-size:200px}
.lib-list li .pdf:before{background-position:-125px -45px}
.lib-list li .word:before{background-position:-145px -45px}
.lib-list li .etc:before{background-position:-125px -70px}
.lib-list li .zip:before{background-position:-145px -70px}
.lib-list li .go-view{display:inline-block;margin-top:5px;color:#bc1137;font-weight:600;text-decoration:underline}
.lib-list li .go-view:after{content:'\276F'}
.installation-guide-list li{position:relative;min-height:86px;padding:8px 0 8px 133px;line-height:1.29rem;border-bottom:1px solid #e6e6e6}
.installation-guide-list li .thumbnail{position:absolute;left:0;top:10px;border:1px solid #e6e6e6}
.installation-guide-list li .thumbnail img{width:121px;height:66px}
.installation-guide-list li .thumbnail:after{content:'';position:absolute;top:50%;left:50%;width:16px;height:16px;margin:-8px 0 0 -8px;background-position:-50px -70px;background-image:url(/common/images/front/mobile/de/common/sprite-m.png);background-repeat:no-repeat;background-size:200px}
.solution-type .radio-wrap:after{content:'';display:block;clear:both}
.solution-type .radio-wrap > span{float:left;width:40%;margin:5px 0}
.solution-type .radio-wrap > span:nth-child(2n-1){width:60%}
.traing-prdt-list{margin-top:20px}
.traing-prdt-list .total{padding-bottom:10px;border-bottom:1px solid #666}
.traing-prdt-list .total strong{color:#bc1137}
.traing-prdt-list li{border-bottom:1px solid #e6e6e6}
.traing-prdt-list .category{margin-bottom:7px}
.traing-prdt-list li > a{display:block;padding:15px 0;font-size:1.14rem;line-height:1.5rem}
.prdt-name{margin-bottom:15px; font-size:1.14rem;line-height:1.5rem}
.prdt-name .category{margin-bottom:7px}
.prdt-download{background-color:#f9f9f9;border-bottom:1px solid #666}
.prdt-download dt{position:relative;padding:10px 10px 10px 20px;border-top:1px solid #666;border-bottom:1px solid #e6e6e6;color:#777}
.prdt-download dt:before{content:'';position:absolute;top:50%;left:10px;width:3px;height:3px;margin-top:-2px;background-color:#777}
.prdt-download dd{padding:0 10px}
.prdt-download + .btn-area{padding-top:10px}
.prdt-download + .btn-area .btn-list{width:70px;flex:initial}

/*ETC*/
.login-box{padding:30px 10px;background-color:#f6f6f6}
.login-box input{margin-bottom:5px}
.login-box .btn-area + .btn-area{position:relative;margin-top:19px;padding-top:19px;border-top:1px solid #e6e6e6}
.login-box .btn-area + .btn-area:before{content:'or';position:absolute;top:-12px;width:30px;font-size:1.43rem;text-align:center;background-color:#f6f6f6;color:#999}
.login-box .btn-area + .btn-area{flex-flow:wrap}
.login-box .btn-area + .btn-area a{flex-basis:100%}
.login-box .btn-area + .btn-area a + a{margin-top:5px;margin-left:0}
.agreement-area{margin-top:15px}
.agreement-area .page-subtit{line-height:32px}
.agreement-area .agreement-box{position:relative;margin-top:5px;border:1px solid #e6e6e6}
.agreement-area .agreement-box > div{padding:15px;text-align:center}
.agreement-area .agreement-box .view-layer{display:inline-block;margin-top:10px;color:#bc1137;text-decoration:underline;font-weight:bold}
.agreement-area .agreement-box .view-layer:after{content:'\276F'}
.agreement-area .agreement-box + .page-subtit{margin-top:40px}
.agreement-area .check-agreement{padding:9px 15px;background-color:#f6f6f6;border-top:1px solid #e6e6e6}
.agreement-area .check-agreement input[type="checkbox"] + label:before,
.agreement-area .check-agreement input[type="checkbox"]:checked + label:before{background-color:#f6f6f6}
.agreement-area .check-agreement label{display:inline-block;color:#666}
.setup-account{margin-top:40px}
.setup-account .email-wrap{margin-top:15px}
.setup-account p{margin-top:5px}
.setup-account .annotation{position:relative;padding-left:16px}
.setup-account .annotation:before{content:'※';position:absolute;left:0}
.setup-account .password-wrap{margin-top:20px;padding-bottom:25px;border-bottom:1px solid #e6e6e6}
.setup-account .password-wrap div{margin-bottom:5px}
.distributor .alert-msg > a{color:#2d5ca9;text-decoration:underline}
.company-information{position:relative;margin-top:30px}
.company-information .page-subtit{margin-bottom:10px}
.company-information .select-field{margin-bottom:10px}
.company-information .input-box + .input-box{margin-top:20px}
.company-information .input-location{position:relative;padding-right:125px}
.company-information .input-location .btn-location{position:absolute;right:0;width:120px;height:40px;background-color:#666}
.company-information .map-location{margin-top:10px;border:1px solid #c1c1c1;height:150px}
.company-information + .btn-area{margin-top:10px;padding-top:10px;border-top:1px solid #e6e6e6}
.company-information + .btn-area .btn-join-membership{flex:initial;width:100%}
.company-information + .btn-area + .for-inquiry{margin-top:25px}
.company-information .help-msg{position:absolute;top:0;right:0}
.info-box{padding:30px 10px;background-color:#f6f6f6;text-align:center}
.info-box p{line-height:1.29rem}
.info-box .reset-pw-input{margin-top:5px}
.info-box .alert-msg{margin-top:10px;line-height:1;text-align:left}
.info-box .annotation{position:relative;margin-top:5px;padding-left:16px;line-height:1.21rem;text-align:left}
.info-box .annotation:before{content:'※';position:absolute;left:0}
.info-box .btn-area{margin-top:10px;padding-top:10px;border-top:1px solid #e6e6e6}
.info-box .btn-area .btn-confirm,
.info-box .btn-area .btn-save{flex:initial;width:120px}
.info-box02{padding:30px 10px;background-color:#f6f6f6;text-align:center}
.info-box02 .tit{display:block;margin-bottom:5px;font-weight:600;font-size:1.14rem;line-height:1.43rem}
.info-box02 .tit em{display:block;margin-bottom:10px;font-size:1.43rem;font-weight:600;line-height:1.71rem}
.info-box02 .tit span{display:inline-block;color:#bc1137}
.info-box02 p a{display:inline-block;color:#bc1137}
.info-box02 p{line-height:1.29rem}
.info-box02 .btn-area{margin-top:15px}
.info-box02 .btn-main{flex:initial;width:200px}
.info-box02 .btn-resend{flex:initial;width:200px;height:60px;line-height:20px;padding:12px 0 13px 0}
.error-box{margin-top:15px;padding:30px 0;background-color:#f6f6f6;text-align:center}
.error-box h1{margin-bottom:10px;font-size:1.43rem;font-weight:600}
.error-box p{line-height:1.29rem}
.error-box .error-btn{margin-top:10px}
.error-box .error-btn .btn-back,
.error-box .error-btn .btn-main{width:180px;margin:0 auto}
.error-box .error-btn .btn-main{margin-top:5px}
.system-maintenance{text-align:center}
.system-maintenance .system-maintenance-top{position:relative;padding:102px 15px 30px 15px;border-top:1px solid #333;background:#f6f6f6 url(/common/images/front/mobile/de/etc/bg-system-maintenance.gif) no-repeat 50% 30px;background-size:44px}
.system-maintenance .system-maintenance-top .tit{display:block;margin-bottom:10px;font-weight:600;font-size:1.43rem}
.system-maintenance .system-maintenance-top p{line-height:1.29rem}
.system-maintenance .system-maintenance-bottom{padding:20px 15px;border-bottom:1px solid #333}
.system-maintenance .system-maintenance-bottom strong{display:block;color:#bc1137;font-size:1.29rem;line-height:1.43rem}
.system-maintenance .system-maintenance-bottom p{margin-top:15px;line-height:1.29rem;color:#666}

/*SITEMAP*/
.sitemap > ul{margin-top:30px}
.sitemap > ul > li + li{margin-top:20px}
.sitemap > ul > li > ul > li > strong,
.sitemap li a{position:relative;display:block;padding:10px 0 10px 26px;line-height:1.29rem}
.sitemap > ul > li > strong{display:block;padding-bottom:10px;border-bottom:1px solid #bc1137;font-weight:600;font-size:1.29rem;color:#bc1137}
.sitemap > ul > li > ul > li > strong,
.sitemap > ul > li > ul > li > a{border-bottom:1px solid #e6e6e6}
.sitemap > ul > li > ul > li > strong:before,
.sitemap > ul > li > ul > li > a:before{content:'';position:absolute;top:50%;left:8px;width:3px;height:3px;margin-top:-2px;background-color:#777}
.sitemap ul ul ul{padding:5px 0;background-color:#f6f6f6;color:#666}
.sitemap li li li > a:before{content:'-';position:absolute;left:15px}

/*Information USe*/
.user-agreement,
.privacy-policy,
.privacy-policy2,
.wheretobuy{margin-top:15px}
.agreement-txt-all{line-height:1.3}
.agreement-txt-all .tit dt{margin-bottom:6px;font-size:1.43rem;font-weight:600} 
.agreement-txt-all .tit-chapter{margin-top:25px;padding-top:25px;font-size:1.29rem;font-weight:600;border-top:1px solid #e6e6e6}
.agreement-txt-all .article-wrap .tit{display:block;margin-bottom:12px;font-size:1.13rem;font-weight:600}
.agreement-txt-all .article-wrap .sub-tit{display:block;margin:10px 0;font-size:1rem;font-weight:600}
.agreement-txt-all .article-wrap > li{padding:18px 0}
.agreement-txt-all .article-wrap li li{position:relative;padding-left:12px}
.agreement-txt-all .article-wrap li li .num{position:absolute;left:0}
.agreement-txt-all .article-wrap ul li + li{margin-top:10px}
.agreement-txt-all .article-wrap .sub-list{margin-top:10px;font-size:0.88rem;color:#666}
.agreement-txt-all .article-wrap .sub-list li{padding-left:17px}
.agreement-txt-all .article-wrap .sub-list li + li{margin-top:4px}
.agreement-txt-all .article-wrap p + ul{margin-top:20px}
.agreement-txt-all .addenda strong{display:block;font-weight:600}
.agreement-txt-all .entrustment{margin-top:10px;font-size:0.88rem;color:#222}
.agreement-txt-all .entrustment p{position:relative;padding-left:12px}
.agreement-txt-all .entrustment p:before{content:'';position:absolute;left:0;top:5px;width:4px;height:4px;background-color:#777;vertical-align:4px}
.agreement-txt-all .entrustment strong{font-weight:600}
.agreement-txt-all .protection-mgr dt{position:relative;margin-top:10px;padding-left:8px;font-weight:600}
.agreement-txt-all .protection-mgr dt:before{content:'';position:absolute;left:0;top:6px;width:4px;height:4px;background-color:#777;vertical-align:4px}
.agreement-txt-all .protection-mgr dd{position:relative;margin-top:5px;font-size:0.88rem;color:#666}
.agreement-txt-all .protection-mgr dd:after{content:'';display:block;clear:both}
.agreement-txt-all .protection-mgr dd span{position:relative;left:0;float:left;width:120px;padding:0 10px 0 15px}
.agreement-txt-all .protection-mgr dd span em{position:absolute;left:0}
.agreement-txt-all .protection-mgr dd p{float:left;width:calc(100% - 120px)}
.agreement-txt-all .article-link{margin-top:14px;padding:12px 15px;border:1px solid #e6e6e6;background-color:#f6f6f6}
.agreement-txt-all .article-link:after{content:'';display:block;clear:both}
.agreement-txt-all .article-link a{position:relative;display:block;padding-left:80px}
.agreement-txt-all .article-link a + a{margin-top:8px}
.agreement-txt-all .article-link strong{position:absolute;left:0;width:100px;font-weight:600}
.agreement-txt-all .article-link strong:before{content:'';display:inline-block;width:3px;height:3px;margin-right:5px;vertical-align:4px;background-color:#777}
.wheretobuy > p{line-height:1.29rem}
.wheretobuy ul{margin-top:15px}
.wheretobuy li{border:1px solid #e6e6e6;text-align:center;color:#444}
.wheretobuy li + li{margin-top:15px}
.wheretobuy li > a{display:block}
.wheretobuy li img{width:auto;height:100px}
.wheretobuy li p{padding:15px 0;background-color:#f6f6f6}
.wheretobuy li strong{display:block;margin-bottom:10px;font-size:1.29rem;font-weight:600;color:#222}

/*PRODUCT*/
.ess-app{margin-top:15px}
.ess-app .tit{display:block;margin-bottom:10px;font-size:1.07rem}
.ess-app-list{margin-top:15px}
.ess-app-list .total{display:block;margin-bottom:9px;font-size:1.07rem}
.ess-app-list .prdt-detail-list{border-bottom:1px solid #333}
.ess-app-list .prdt-detail-list > li{border-top:1px solid #333}
.ess-app-list .prdt-detail{position:relative;padding-top:225px}
.ess-app-list .prdt-detail dt{margin-bottom:10px;font-size:1.14rem;line-height:1.43rem}
.ess-app-list .prdt-detail dd{color:#666}
.ess-app-list .prdt-detail .release{margin-bottom:15px}
.ess-app-list .prdt-detail .strength{padding-bottom:15px}
.ess-app-list .prdt-detail .strength li{position:relative;padding-left:8px}
.ess-app-list .prdt-detail .strength li + li{margin-top:8px}
.ess-app-list .prdt-detail .strength li:before{content:'';position:absolute;left:0;top:50%;width:2px;height:2px;margin-top:-2px;background-color:#777}
.ess-app-list .prdt-detail .prdt-img{position:absolute;top:15px;left:0;width:100%;height:190px;padding:0 15px;background-color:#fff}
.ess-app-list .prdt-detail .prdt-img img{height:100%}
.ess-app-list li > div{position:relative;border-top:1px solid #e6e6e6}
.ess-app-list li > div .tit{display:block;padding:12px 0;font-size:1.14rem;line-height:1.43rem}
.ess-app-list li > div .btn-accordian{position:absolute;right:7px;top:7px}
.ess-app-list li > div .on + div{display:none}
.ess-app-list li > div > div{padding:15px;background-color:#f6f6f6;border-top:1px solid #e6e6e6;color:#666}
.ess-app-list .inverters > div{padding:10px 0 0 15px}
.ess-app-list .inverters img{height:14px;margin:0 15px 10px 0}
.ess-app-list .download li{position:relative;height:40px;line-height:40px;padding-left:50px}
.ess-app-list .download li + li{margin-top:20px}
.ess-app-list .download li:before{content:'';position:absolute;left:0;top:0;width:40px;height:40px;background-image:url(/common/images/front/mobile/de/common/sprite-m.png);background-repeat:no-repeat;background-size:200px}
.ess-app-list .download .spec:before{background-position:0 -95px}
.ess-app-list .download .warranty:before{background-position:-45px -95px}
.ess-app-list .download .certification:before{background-position:-90px -95px}
.ess-app-list .download .manual:before{background-position:-135px -95px}
.ess-app-list .spec-detail li + li{margin-top:15px}
.ess-app-list .spec-detail li strong{display:block;margin-bottom:5px;color:#222}
.installer-search .common-msg{margin-top:20px;margin-bottom:10px;font-size:1.43rem;font-weight:100;line-height:1.71rem}
.installer-search .common-msg strong{font-weight:600;color:#bc1137}
.installer-search .installer-search-area > div + div{margin-top:5px}
.installer-search .img-certification{width:60px;height:30px}
.installer-search .installer-location-msg{margin-top:20px;padding:40px 0;font-size:1.14rem;line-height:1.29rem;text-align:center;border:1px solid #e6e6e6;box-shadow:4px 4px 4px rgba(0,0,0,0.1)}
.installer-search .installer-location-msg:before{content:'';display:block;width:25px;height:25px;margin:0 auto 8px auto;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -15px -140px;background-size:200px}
.installer-search .installer-location-msg strong{color:#bc1137}
.installer-search .installer-location{overflow:hidden;margin-top:20px;border:1px solid #e6e6e6;box-shadow:4px 4px 4px rgba(0,0,0,0.1);transition:height 0.4s}
.installer-search .installer-result{position:relative;padding:15px 14px}
.installer-search .installer-result .result{padding-bottom:15px;font-size:1.14rem;border-bottom:2px solid #e6e6e6}
.installer-search .installer-result .result em{font-weight:600;color:#bc1137}
.installer-search .installer-result-list li{border-bottom:1px solid #e6e6e6}
.installer-search .installer-result-list li > a{position:relative;display:block;padding:15px 20px 15px 0}
.installer-search .installer-result-list li > a:after{content:'';position:absolute;right:0;top:50%;width:7px;height:13px;margin-top:-7px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -40px -70px;background-size:200px}
.installer-search .installer-result-list dt{margin-bottom:8px;font-size:1.14rem;font-weight:600}
.installer-search .installer-result-list dd{position:relative;color:#444;line-height:1.29rem}
.installer-search .installer-result-list dd + dd{margin-top:5px}
.installer-search .installer-result-list dd.img-certification{position:absolute;right:0;bottom:15px}
.installer-search .installer-result-list .point span{display:block;font-weight:600;color:#444}
.installer-search .installer-result-list .point em{font-weight:600;color:#bc1137}
.installer-search .installer-result-list .certification span{display:block;font-weight:600;color:#444}
.installer-search .installer-result-list .certification em{font-weight:600;color:#888}
.installer-search .installer-result-list .certification em.is-completed{color:#bc1137}
.installer-search .installer-result-list .detail-info{display:none}
.installer-search .detail{position:absolute;top:0;left:100%;width:100%;padding:15px 14px;background:#fff;transition:left 0.4s}
.installer-search .detail.on{left:0}
.installer-search .detail button.back{width:17px;height:32px;padding:10px 0;font-size:0}
.installer-search .detail button.back:after{content:'';display:block;width:17px;height:12px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -45px -140px;background-size:200px}
.installer-search .detail-view{margin-bottom:15px;padding:15px 0;border-top:2px solid #e6e6e6;border-bottom:1px solid #e6e6e6}
.installer-search .detail-view li{position:relative;color:#444;line-height:1.29rem}
.installer-search .detail-view li + li{margin-top:20px}
.installer-search .detail-view li span{display:block;margin-bottom:5px;color:#222;font-weight:bold}
.installer-search .detail-view li em.is-completed{color:#bc1137}
.installer-search .detail .map{height:200px}
.installer-search .detail img{max-width:auto;max-height:auto;}
.installer-search .detail .btn-area{margin-top:15px}
.quote-contact > p{padding:10px 0;color:#666;line-height:1.29rem}
.quote-contact .txt-quote-contact{color:#222;font-size:1.14rem;line-height:1.43rem}
.quote-contact .txt-quote-contact span{position:relative;display:block;margin-top:5px;padding-left:8px;color:#666;font-size:1.07rem;line-height:1.36rem}
.quote-contact .txt-quote-contact span:before{content:'';position:absolute;top:8px;left:0;width:3px;height:3px;background-color:#777}
.quote-contact .agreement-box{position:relative;margin-top:5px;margin-bottom:10px;border:1px solid #e6e6e6}
.quote-contact .agreement-box > div{overflow:auto;max-height:140px;padding:15px}
.quote-contact .check-agreement{padding:9px 15px;background-color:#f6f6f6;border-top:1px solid #e6e6e6}
.quote-contact .check-agreement input[type="checkbox"] + label:before,
.quote-contact .check-agreement input[type="checkbox"]:checked + label:before{background-color:#f6f6f6}
.quote-contact .check-agreement label{display:inline-block;color:#666}
.quote-contact .consent-form .article-wrap li:first-child{padding-top:0}
.quote-contact .annotation{position:relative;padding-left:16px;color:#bc1137}
.quote-contact .annotation:before{content:'※';position:absolute;left:0}
.quote-contact .input-area{margin-top:30px}
.quote-contact .input-area > p{margin-bottom:10px;color:#666}
.quote-contact .input-area ul{border-top:1px solid #333}
.quote-contact .input-area li{display:flex;min-height:45px;padding:5px;border-bottom:1px solid #e6e6e6}
.quote-contact .input-area li > strong{flex:initial;width:85px;padding-top:10px;line-height:1.29rem}
.quote-contact .input-area li > span{flex:1;display:flex;flex-direction:column;flex-direction: column;justify-content:center}
.quote-contact .input-area li .annotation{margin-top:8px;font-size:0.93rem;line-height:1.21rem;color:#666}
.quote-contact .input-area li textarea{height:200px}
.quote-contact .btn-area{margin-top:15px}
.quote-contact .btn-area button{flex:initial;width:104px}

/*member-main*/
.member-main{padding-bottom:30px}
.member-main .grade{position:relative;padding:25px 15px;background-color:#f6f6f6;color:#666;text-align:center;border-top:1px solid #e2e2e2}
.member-main .grade .tit{display:block;margin-bottom:10px;font-size:1.43rem;font-weight:600;color:#222}
.member-main .grade .tit:before{content:'';display:block;width:82px;height:80px;margin:0 auto 10px auto;background-image:url(/common/images/front/mobile/de/common/grade-160.png);background-repeat:no-repeat;background-size:auto 80px}
.member-main .grade > a{display:inline-block;margin-top:7px;color:#bc1137;text-decoration:underline;font-weight:600}
.member-main .grade > a:after{content:'\276F'}
.member-main .diamond .tit:before{background-position:0 0}
.member-main .platinum .tit:before{background-position:-84px 0}
.member-main .gold .tit:before{background-position:-168px 0}
.member-main .silver .tit:before{background-position:-254px 0}
.member-main .bronze .tit:before{background-position:-339px 0}
.member-main .new .tit:before{background-position:-423px 0}
.member-main .main-installation-training{margin-top:20px;padding-bottom:20px;text-align:center;border-bottom:1px solid #e6e6e6;color:#222}
.member-main .main-installation-training em{display:block;margin-top:10px;font-weight:600}
.member-main .main-installation-training em.is-completed{color:#bc1137}
.member-main .grade > div{display:flex;margin-top:25px}
.member-main .grade > div:after{content:'';display:block;clear:both}
.member-main .grade > div dl{flex:1;padding:0 10px;line-height:1.29rem;color:#222}
.member-main .grade > div dl + dl{border-left:1px solid #e6e6e6}
.member-main .grade > div dt{margin-bottom:15px;line-height:1.29rem}
.member-main .grade dl strong{font-weight:600;color:#bc1137;font-size:1.29rem;text-decoration:underline}
.member-main .grade .img-certification{position:absolute;top:15px;right:15px;width:77px}
.member-main .pds-list{position:relative;padding:20px 15px}
.member-main .pds-list h2{padding-bottom:6px;line-height:32px;letter-spacing:-1px;border-bottom:1px solid #333;font-size:1.29rem;font-weight:600}
.member-main .pds-list ul{padding:20px 0;border-bottom:1px solid #e6e6e6}
.member-main .pds-list li + li{margin-top:15px}
.member-main .pds-list li > a{padding:0 10px}
.member-main .pds-list .btn-more{position:absolute;top:20px;right:15px;height:32px;padding:0 10px;line-height:32px;background-color:#666}
.member-main .pds-list .btn-more:after{content:'\276F';margin-left:5px}
.member-main .recent-point li > a{display:flex}
.member-main .recent-point li .point{flex:initial;width:70px;font-weight:600;color:#bc1137}
.member-main .recent-point li .point:before{content:'';display:inline-block;width:13px;height:13px;margin-right:7px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -40px -45px;background-size:200px;vertical-align:-2px}
.member-main .recent-point li p{flex:1;font-size:0.93rem;color:#666}
.member-main .recent-point li p strong{display:block;margin-bottom:5px;font-size:1rem;color:#222}
.member-main .my-inquiries li > a{display:block}
.member-main .my-inquiries li p{position:relative;padding-left:20px}
.member-main .my-inquiries li p:before{content:'Q';position:absolute;left:0;top:0;font-weight:600;font-size:1.21rem}
.member-main .my-inquiries li p strong{display:block;width:100%;margin-bottom:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.member-main .member-menu{padding:0 15px}
.member-main .member-menu li{border:1px solid #e6e6e6}
.member-main .member-menu li + li{margin-top:5px}
.member-main .member-menu li > a{display:block;padding:20px 15px}
.member-main .member-menu li .tit{color:#bc1137}
.member-main .member-menu li p{margin:15px 0;font-size:1.29rem;line-height:1.57rem}
.member-main .member-menu .more,
.member-main .member-wheretobuy .more{display:inline-block;padding-right:28px;font-size:0.93rem;background:url(/common/images/front/mobile/de/etc/bg-arrow.gif) no-repeat 100% 80%;background-size:22px}
.member-main .member-wheretobuy{margin-top:5px;padding:0 15px}
.member-main .member-wheretobuy > a{display:block;padding:20px 15px;border:1px solid #e6e6e6;background:url(/common/images/front/mobile/de/etc/bg-wheretobuy.jpg) no-repeat 100% 0;background-size:auto 100%}
.member-main .member-wheretobuy .tit{display:block;margin-bottom:8px;font-size:1.29rem;font-weight:600}
.member-main .member-wheretobuy p{margin-bottom:12px;line-height:1.29rem;color:#666}

/* membership */
.membership-info-wrap{position:relative;padding:25px 15px;border-bottom:1px solid #e6e6e6;text-align:center}
.membership-info-wrap .main-installation-training{margin:20px 0;padding-bottom:20px;text-align:center;border-bottom:1px solid #e6e6e6;color:#222}
.membership-info-wrap .main-installation-training em{display:block;margin-top:10px;font-weight:600}
.membership-info-wrap .main-installation-training em.is-completed{color:#bc1137}
.membership-level-wrap{margin-bottom:25px}
.membership-level-wrap dl{margin-bottom:10px}
.membership-level-wrap dl:before{content:'';display:block;margin:0 auto;width:82px;height:80px;margin-bottom:10px;background:url(/common/images/front/mobile/de/common/grade-160.png) no-repeat;background-size:auto 80px}
.membership-level-wrap .diamond:before{background-position:0 0}
.membership-level-wrap .platinum:before{background-position:-84px 0}
.membership-level-wrap .gold:before{background-position:-168px 0}
.membership-level-wrap .silver:before{background-position:-255px 0}
.membership-level-wrap .bronze:before{background-position:-340px 0}
.membership-level-wrap .new:before{background-position:-425px 0}
.membership-level-wrap dt{margin-bottom:10px;font-size:1.43rem}
.membership-level-wrap dd{color:#666666;line-height:1.29rem}
.membership-level-wrap a{display:inline-block;font-weight:600;color:#bc1137;border-bottom:1px solid #bc1137}
.membership-level-wrap a:after{content:'';float:right;margin-top:2px;margin-left:10px;width:6px;height:10px;background-image:url(/common/images/front/mobile/de/common/sprite-m.png);background-repeat:no-repeat;background-size:200px;background-position:-171px 0}
.check-points-area{display:flex}
.check-points-area > div{flex:1}
.check-points-area > div + div{border-left:1px solid #e6e6e6}
.check-points-area .points-tit{min-height:2.58rem;margin-bottom:15px;line-height:1.29rem}
.check-points-area a{display:inline-block;margin-right:5px;font-size:1.29rem;font-weight:600;color:#bc1137;border-bottom:1px solid #bc1137}
.lgchem-certification{position:absolute;top:15px;right:15px;width:60px;height:31px}
.special-point{display:flex;flex-wrap:wrap;justify-content: space-between;padding:15px}
.special-point li{flex:0 0 calc(50% - 5px);margin-bottom:10px;;border:1px solid #e6e6e6}
.special-point li a{display:block;padding:19px 0;line-height:1.29rem;text-align:center;box-sizing:border-box}
.special-point li a:before{content:'';display:block;margin:0 auto;width:47px;height:47px;background:url(/common/images/front/mobile/de/etc/special-point.png) no-repeat;background-size:auto 47px}
.special-point li:nth-child(2) a:before{background-position:-57px 0}
.special-point li:nth-child(3) a:before{background-position:-114px 0}
.special-point li:nth-child(4) a:before{background-position:-171px 0}
.special-point li a p{height:36px;margin-top:10px;display:flex;justify-content:center;align-items:center}
.special-point li a span{display:block;min-height:28px}
.benefits-info-wrap{margin-top:10px;margin-bottom:25px;text-align:center}
.benefits-info-wrap .membership-level-wrap{margin-bottom:20px}
.benefits-info-wrap .grade-benefit-info{padding:15px;border:1px solid #e6e6e6}
.benefits-info-wrap .grade-benefit-info dt{margin-bottom:10px;font-size:1.14rem}
.benefits-info-wrap .grade-benefit-info dd{margin-bottom:15px;font-size:0.93rem}
.benefits-info-wrap .grade-benefit-info button{margin-bottom:15px;width:126px;height:32px;background:#ddd}
.benefits-info-wrap .grade-benefit-info button:after{content:'';display:inline-block;margin-left:5px;width:6px;height:9px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat;background-size:200px;background-position:-92px -80px}
.benefits-info-wrap .grade-benefit-info .reapply{font-size:0.93rem;color:#888}
.caution-wrap > strong{display:block;margin-bottom:15px;font-size:1.29rem;color:#bc1137}
.caution-wrap > strong:before{content:'';float:left;margin-right:5px;width:18px;height:18px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat;background-size:200px;background-position:-182px 0}
.membership-desc .tit{line-height:1.2;font-weight:600;color:#222}
.membership-desc ol{margin-top:6px;padding:0 0 0 15px}
.membership-desc li{padding-left:5px;line-height:1.29rem;list-style:decimal}
.grade-list-wrap{padding:15px 0}
.grade-list-wrap li{border:1px solid #e6e6e6}
.grade-list-wrap li.is-active{border:2px solid #bc1137}
.grade-list-wrap li + li{margin-top:5px}
.grade-list-wrap li div{display:flex;padding:15px}
.grade-list-wrap li div:before{content:'';flex-basis:60px;display:block;margin-top:5px;margin-right:20px;width:60px;height:60px;background:url(/common/images/front/mobile/de/common/grade-120.png) no-repeat;background-size:auto 60px}
.grade-list-wrap li .diamond:before{background-position:0 0}
.grade-list-wrap li .platinum:before{background-position:-65px 0}
.grade-list-wrap li .gold:before{background-position:-130px 0}
.grade-list-wrap li .silver:before{background-position:-195px 0}
.grade-list-wrap li .bronze:before{background-position:-260px 0}
.grade-list-wrap li .new:before{background-position:-325px 0}
.grade-list-wrap li dl{flex-basis:calc(100% - 80px)}
.grade-list-wrap li dt{margin-bottom:5px;font-size:1.29rem;font-weight:600}
.grade-list-wrap li dd{margin-bottom:5px;line-height:1.29rem;color:#666}
.grade-list-wrap li p{padding:15px;line-height:1.21rem;background:#f6f6f6;text-align:center;color:#666}
.grade-list-wrap li p a{font-weight:600;color:#bc1137}
.points-wrap{position:relative}
.points-wrap .help-msg{position:absolute;top:15px;right:15px}
.points-wrap .help-desc{position:relative;margin:23px 0;width:calc(100% - 15px);text-align:left}
.points-wrap .help-close{position:absolute;top:15px;right:15px;width:15px;height:15px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat;background-size:200px;background-position:-171px -25px;overflow:hidden;text-indent:-9999px}
.points-wrap .page-tit{margin-bottom:10px}
.points-select{margin-bottom:20px}
.points-select select{letter-spacing: -1px}
.point-info{margin-bottom:10px}
.point-info p{color:#666}
.point-info p + p{margin-top:15px}
.point-info p em{margin-right:10px;font-weight:600;color:#222}
.point-info p span{font-weight:600;color:#bc1137}
.point-list-wrap{border-top:1px solid #666}
.point-list-wrap li > a{display:flex;flex:1;width:100%;padding:16px 10px;border-bottom:1px solid #e6e6e6;color:#666}
.point-list-wrap .no-result{display:block}
.point-list-wrap li .date{flex:1.5}
.point-list-wrap li .point{flex:1.5;font-weight:600;color:#bc1137}
.point-list-wrap li .point:before{content:'';float:left;margin-right:7px;width:13px;height:13px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat;background-size:200px;background-position:-40px -45px}
.point-list-wrap li .detail-veiw:after{content:'';display:block;width:8px;height:14px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat;background-size:200px;background-position:-40px -70px}
.accumulated-points-wrap{position:relative}
.accumulated-points-wrap .page-tit{padding-bottom:10px;border-bottom:0}
.accumulated-points-wrap .help-msg{position:absolute;top:15px;right:15px}
.accumulated-points-wrap .help-msg a{display:block;width:18px;height:18px;background:#fff url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -60px -45px;background-size:200px;text-indent:100%;overflow:hidden;white-space:nowrap}
.accumulated-points-wrap .select-field{margin-bottom:25px}
.accumulated-points-wrap .radio-wrap span + span{margin-left:10px}
.accumulated-points-wrap .btn-area{flex-flow:column}
.accumulated-points-wrap .btn-area a + a{margin-top:10px;margin-left:0}
.accumulated-points-sec{margin-bottom:15px}
.accumulated-points-sec > div + div{margin-top:20px}
.accumulated-points-sec .page-subtit{margin-bottom:10px;line-height:1.71rem}
.accumulated-points-sec .alert-msg{margin-top:10px}
.accumulated-points-sec .confirm-msg{margin-top:10px;margin-bottom:10px}
.accumulated-points-sec input,
.accumulated-points-sec select{margin-bottom:5px}
.model-registration{padding-top:10px;padding-bottom:10px;border-top:1px solid #e6e6e6}
.model-registration:last-child{border-bottom:1px solid #e6e6e6}
.model-registration + .model-registration{margin-top:0}
.model-registration input,
.model-registration .confirm-msg{margin-bottom:0}
.model-registration select{margin-top:5px}
.model-registration .search{margin-bottom:5px}
.remaining-points{position:relative;padding:19px 37px;text-align:right}
.remaining-points:before{content:'';position:absolute;left:12.5vw;display:block;width:47px;height:47px;background:url(/common/images/front/mobile/de/etc/special-point.png) no-repeat;background-size:auto 47px}
.remaining-points p + p{margin-top:16px}
.remaining-points strong{font-size:1.29rem;font-weight:600;color:#bc1137}
.remaining-points + .no-result{margin-bottom:20px;border-top:1px solid #e6e6e6}
.use-points-list{margin-bottom:30px}
.use-points-list li{border:1px solid #bc1137;line-height:1.29rem}
.use-points-list li.disabled{opacity:0.5;border:1px solid #e6e6e6}
.use-points-list li + li{margin-top:5px}
.use-points-list li div{padding:15px}
.use-points-list li div:before{content:'';display:block;margin-bottom:15px;width:71px;height:16px;background:url(/common/images/front/mobile/de/common/lg-chem-ci.png) no-repeat;background-size:71px auto}
.use-points-list p{padding:15px;line-height:1.21rem;background:#f5f5f5}
.use-points-list p em{font-weight:600;color:#bc1137}
.inquiries-list-wrap{margin-bottom:15px}
.inquiries-list-wrap li{position:relative;padding:15px 0;border-bottom:1px solid #e6e6e6}
.inquiries-list-wrap li p{display:flex;padding-top:10px;line-height:1.50rem}
.inquiries-list-wrap li p:before{content:'Q';font-size:1.29rem;padding-right:15px}
.inquiries-list-wrap li .date{position:absolute;top:21px;right:0;font-size:0.93rem;color:#777}
.inquiries-list-wrap .answer{border-color: #e0a2b0;color: #bc1137}
.inquiries-view{position:relative;border-bottom:1px solid #666;line-height:1.29rem}
.inquiries-view .inquiries-question{padding:15px 0;border-bottom:1px solid #e6e6e6}
.inquiries-view .inquiries-question p{display:flex;padding-top:10px;font-size:1.14rem;font-weight:600;line-height:1.50rem}
.inquiries-view .inquiries-question p:before{content:'Q';padding-right:15px}
.inquiries-view .inquiries-question .date{position:absolute;top:21px;right:0;font-size:0.93rem;color:#777}
.inquiries-view .inquiries-answer{display:flex;padding:20px 10px;background:#f6f6f6}
.inquiries-view .inquiries-answer:before{content:'A';padding-right:15px;font-size:1.29rem;font-weight:600;color:#bc1137}
.inquiries-view .inquiries-answer ol{margin-top:10px;margin-left:5px}
.inquiries-view .inquiries-answer li{display:flex;color:#666}
.inquiries-view .inquiries-answer li:before{content:'-';padding-right:5px}
.personal-information{padding:16px;line-height:1.29rem;background:#f6f6f6;color:#666;text-align:center}
.personal-information:before{content:'';display:block;margin:15px auto;width:70px;height:70px;border-radius:70px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat -90px -140px;background-size:200px}
.personal-information p{margin-bottom:10px}
.personal-information input + input{margin-top:5px}
.personal-information .btn-area{margin-top:15px;padding-top:10px;padding-bottom:14px;border-top:1px solid #e6e6e6}
.personal-information .btn-area .btn-information{height:35px;line-height:2.50rem;background:#bc1137}
.page-tit + .personal-information-sec{border-top:none}
.personal-information-sec{padding:20px 0 10px;border-top:1px solid #e6e6e6}
.personal-information-sec .page-3rdtit,
.personal-information-sec > div,
.personal-information-sec div + .alert-msg{margin-bottom:10px}
.personal-information-sec .alert-msg{margin-top:10px}
.personal-information-sec .annotation{display:flex;margin-top:10px;margin-bottom:5px;font-size:0.93rem;line-height:1.21rem}
.personal-information-sec .annotation:before{content:'※';padding-right:5px}
.personal-information-sec input + input{margin-top:5px}
.personal-information-sec .zip-num{display:flex}
.personal-information-sec .zip-num a{flex:0 0 110px;margin-left:5px;height:40px;line-height:2.86rem;background:#666;color:#fff;border-radius:4px;text-align:center}
.personal-information-sec .map{height:200px;margin-bottom:0;border:1px solid #c1c1c1}
.personal-information-sec + .btn-area .btn-save{flex:initial;width:105px;box-shadow:none}
.etc-input{padding-bottom:20px}
.etc-input > div + div{margin-top:20px;margin-bottom:0}
.etc-input + .personal-information-sec{border-bottom:none}
.company-address > div + div{margin-top:5px}

/* Introduction */
.introduction{margin-top:10px}
.introduction .sec-tit{margin-bottom:10px;font-size:1.29rem;font-weight:600}
.introduction .sec-subtit{margin-bottom:10px;font-size:1.14rem;font-weight:600}
.introduction p{color:#666;line-height:1.29rem}
.introduction .sec + .sec{margin-top:20px;padding-top:20px;border-top:1px solid #e5e5e5; }
.introduction .group-info{color:#444}
.introduction .group-info .lg-ci{width:78px;margin:20px auto 25px auto}
.introduction .group-info li{position:relative;padding-left:8px}
.introduction .group-info li + li{margin-top:10px; }
.introduction .group-info li:before{content:'';position:absolute;top:7px;left:0;width:4px;height:4px;background-color:#777}
.introduction .group-info > ul{padding:15px;border:1px solid #e5e5e5;box-shadow:4px 4px 4px rgba(0,0,0,0.1)}
.introduction .group-info .group-list{position:relative;display:flex;margin-top:10px;font-size:0.86rem;line-height:1.07rem}
.introduction .group-info .group-list:before{content:'';position:absolute;top:-10px;left:50%;width:1px;height:10px;background-color:#ccc}
.introduction .group-info .group-list dl{flex:1;border:1px solid #e5e5e5;box-shadow:4px 4px 4px rgba(0,0,0,0.1)}
.introduction .group-info .group-list dl + dl{margin-left:6px}
.introduction .group-info .group-list dt{position:relative;display:flex;height:68px;justify-content:center;align-items:center;font-weight:600;border-bottom:1px solid #e5e5e5;background-color:#f9f9f9;color:#bc1137;text-align:center}
.introduction .group-info .group-list dt:after{content:'';position:absolute;bottom:-11px;left:50%;width:22px;height:11px;margin-left:-11px;background:url(/common/images/front/mobile/de/introduction/bg-arrow.gif) no-repeat;background-size:22px}
.introduction .group-info .group-list dd > strong{display:block;padding:17px 0 10px 0;text-align:center;border-bottom:1px dashed #e5e5e5}
.introduction .group-info .group-list dd ul{padding:10px 5px}
.introduction .group-info .group-list dd li{padding-left:7px}
.introduction .group-info .group-list dd li:before{top:5px;width:2px;height:2px}
.introduction .diagram{overflow:hidden;margin-top:20px;text-align:center}
.introduction .diagram img{max-width:290px}
.introduction .history{padding:15px;border:1px solid #e5e5e5;box-shadow:4px 4px 4px rgba(0,0,0,0.1)}
.introduction .history .btn-go-lgchem{margin:10px 0 0 8px}
.introduction .history li{position:relative;padding-left:8px}
.introduction .history li + li{margin-top:10px; }
.introduction .history li:before{content:'';position:absolute;top:7px;left:0;width:4px;height:4px;background-color:#777}
.introduction .sec-sub{margin-top:20px}
.introduction .sec-sub dl{border:1px solid #e5e5e5}
.introduction .sec-sub dl + dl{margin-top:5px}
.introduction .sec-sub dt{padding:13px 15px 12px 15px;background-color:#f9f9f9;text-align:center;font-size:1.07rem;line-height:1.36rem}
.introduction .sec-sub dd{padding:15px}
.introduction .sec-sub dd li{position:relative;padding-left:8px;color:#444}
.introduction .sec-sub dd li + li{margin-top:10px}
.introduction .sec-sub dd li strong{display:block;margin-bottom:8px;font-weight:600;color:#222}
.introduction .sec-sub dd li:before{content:'';position:absolute;top:7px;left:0;width:4px;height:4px;background-color:#777}
.introduction .sec-sub .car-battery{overflow:hidden;margin-top:10px;border-top:1px solid #222}
.introduction .sec-sub .car-battery dd{overflow:hidden;padding:0;text-align:center}
.introduction .sec-sub .car-battery dd img{max-width:290px}
.introduction .sec-sub .car-battery dd p img{max-width:145px}
.introduction .sec-sub .car-battery dd + dt{border-top:1px solid #e5e5e5}
.introduction .sec-sub .car-battery dd div:after{content:'';display:block;clear:both}
.introduction .sec-sub .car-battery dd div + div{border-top:1px dashed #e5e5e5}
.introduction .sec-sub .car-battery dd div p{overflow:hidden;float:left;width:50%}
.introduction .sec-sub .car-battery dd div p + p{border-left:1px dashed #e5e5e5}
.introduction .sec-sub .car-battery dd div > img{flex:initial}
.introduction .sec-sub .network{margin-top:15px}
.introduction .sec-sub .network .map{text-align:center}
.introduction .sec-sub .network .map img{max-width:290px}
.introduction .sec-sub .network-photo{position:relative;margin-top:8px;color:#666}
.introduction .sec-sub .network-photo .ico-annotaiton{position:absolute;top:0;left:0;width:45%}
.introduction .sec-sub .network-photo .ico-annotaiton li + li{margin-top:8px}
.introduction .sec-sub .network-photo .hq,
.introduction .sec-sub .network-photo .rnd,
.introduction .sec-sub .network-photo .mf,
.introduction .sec-sub .network-photo .ms{position:relative;padding-left:12px;line-height:1rem}
.introduction .sec-sub .network-photo .hq:before,
.introduction .sec-sub .network-photo .rnd:before,
.introduction .sec-sub .network-photo .mf:before,
.introduction .sec-sub .network-photo .ms:before{content:'';position:absolute;left:0;top:4px;width:7px;height:7px;border-radius:50%;box-sizing:border-box}
.introduction .sec-sub .network-photo .hq:before{background-color:#bc1137}
.introduction .sec-sub .network-photo .rnd:before{background-color:#999}
.introduction .sec-sub .network-photo .mf:before{background-color:#fff;border:2px solid #999}
.introduction .sec-sub .network-photo .ms:before{background-color:#fff;border:2px solid #bc1137}
.introduction .sec-sub .network-photo .photo:after{content:'';display:block;clear:both}
.introduction .sec-sub .network-photo .photo:before{content:'';float:left;width:calc(50% - 4px)}
.introduction .sec-sub .network-photo .photo > li{float:left;width:calc(50% - 4px);margin-bottom:10px;color:#222}
.introduction .sec-sub .network-photo .photo > li:nth-child(2n-1){float:right}
.introduction .sec-sub .network-photo .photo > li:first-child{margin-left:50%}
.introduction .sec-sub .network-photo .photo strong{display:block;margin-bottom:4px;color:#666;font-size:0.86rem}
.introduction .sec-sub .network-photo .photo li > p{padding:8px 7px;min-height:70px;background-color:#f9f9f9}
.introduction .sec-sub .network-photo .photo li img{border:1px solid #e5e5e5}
.introduction .sec-sub .ess-storage ul{position:relative;display:flex;margin:20px 0}
.introduction .sec-sub .ess-storage ul:after{content:'';position:absolute;bottom:-20px;left:50%;height:20px;border-left:1px solid #666}
.introduction .sec-sub .ess-storage ul li{flex:1;border:1px solid #e5e5e5;box-shadow:4px 4px 4px rgba(0,0,0,0.1)}
.introduction .sec-sub .ess-storage ul li strong{display:flex;justify-content:center;align-items:center;height:70px;text-align:center;background-color:#f9f9f9;font-weight:600;font-size:0.88rem;line-height:1.07rem}
.introduction .sec-sub .ess-storage ul li + li{margin-left:8px}
.introduction .sec-sub .ess-storage ul + div{border-top:1px solid #222;border-bottom:1px solid #222}
.introduction .sec-sub .ess-storage ul + div dl{border:none}
.introduction .sec-sub .ess-storage dl + dl{border-top:1px solid #e5e5e5}
.introduction .sec-sub .ess-storage dd{padding:0}
.introduction .sec-sub .ess-storage dd + dt{border-top:1px solid #e5e5e5}
.introduction .sec-sub .ess-storage dd div + div{border-top:1px dashed #e5e5e5}
.introduction .sec-sub .business-strategy{margin-top:15px}
.introduction .sec-sub .business-strategy dt{font-weight:bold}
.introduction .sec-sub .energy-control{margin-top:10px;text-align:center}
.introduction .sec-sub .energy-control img{max-width:290px}
.lgesspartner{margin-top:15px}
.lgesspartner .page-subtit{margin-bottom:10px}
.lgesspartner div{color:#666;line-height:1.29rem;letter-spacing:0}
.benefits-member{margin:20px 0}
.benefits-member .partner-benefits{margin:15px 0}
.benefits-member .partner-benefits li{padding-top:41.5625vw;border:1px solid #e6e6e6}
.benefits-member .partner-benefits li:nth-child(1){background:url(/common/images/front/mobile/de/introduction/partner-benefits01.gif) no-repeat;background-size:100%}
.benefits-member .partner-benefits li:nth-child(2){background:url(/common/images/front/mobile/de/introduction/partner-benefits02.gif) no-repeat;background-size:100%}
.benefits-member .partner-benefits li:nth-child(3){background:url(/common/images/front/mobile/de/introduction/partner-benefits03.gif) no-repeat;background-size:100%}
.benefits-member .partner-benefits li + li{margin-top:10px}
.benefits-member .partner-benefits li dl{padding:0 22px 20px;border-top:1px solid #e6e6e6;background-color:#fff;text-align:center}
.benefits-member .partner-benefits li dl:before{content:'';display:block;margin:-34px auto 14px;width:68px;height:68px}
.benefits-member .partner-benefits li:nth-child(1) dl:before{background:url(/common/images/front/mobile/de/introduction/benefits-member.png) no-repeat;background-size:auto 68px}
.benefits-member .partner-benefits li:nth-child(2) dl:before{background:url(/common/images/front/mobile/de/introduction/benefits-member.png) no-repeat;background-size:auto 68px;background-position:-78px 0}
.benefits-member .partner-benefits li:nth-child(3) dl:before{background:url(/common/images/front/mobile/de/introduction/benefits-member.png) no-repeat;background-size:auto 68px;background-position:-156px 0}
.benefits-member .partner-benefits li dt{margin-bottom:10px;font-size:1.07rem;font-weight:600}
.benefits-member .partner-benefits li dd{line-height:1.29rem;color:#666}
.partner-program .page-tit,
.partner-program .page-subtit{margin-bottom:15px}
.partner-program section{margin-bottom:20px}
.partner-program .partner-program-text p{margin-bottom:20px}
.partner-program .partner-program-text,
.membership-point-step div{line-height:1.29rem;color:#666;letter-spacing:0}
.membership-point-wrap{padding:20px 0;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;text-align:center}
.membership-point-wrap li + li:before{content:'';display:block;margin:20px auto;width:20px;height:12px;background:url(/common/images/front/mobile/de/common/sprite-m.png) no-repeat;background-size:200px;background-position:-100px -80px}
.membership-point-step{margin-bottom:20px}
.membership-point-step strong{font-size:1.14rem;color:#bc1036}
.membership-point-step div{margin-bottom:10px}
.membership-point-step div:before{content:'';display:block;margin:10px auto;width:61px;height:56px;background:url(/common/images/front/mobile/de/introduction/membership-point-step.png) no-repeat;background-size:auto 56px}
.membership-point-step:nth-child(2) div:before{background-position:-71px 0}
.membership-point-step:nth-child(3) div:before{background-position:-142px 0}
.membership-point-step:nth-child(4) div:before{background-position:-213px 0}

/*ESS Solution*/
.ess-solution .tit-desc,
.lgchem-strengths .tit-desc,
.reference-sites .tit-desc{margin-top:10px;margin-bottom:15px;font-size:1.29rem;font-weight:600;line-height:1.57rem;color:#222}
.ess-solution .sec-tit,
.lgchem-strengths .sec-tit,
.reference-sites .sec-tit{margin-bottom:10px;font-size:1.14rem;font-weight:600}
.ess-solution p,
.lgchem-strengths p,
.reference-sites p{color:#666;line-height:1.29rem}
.ess-solution .sec + .sec,
.lgchem-strengths .sec + .sec{margin-top:20px}
.ess-solution dd li{position:relative;padding-left:8px;line-height:1.29rem;color:#666}
.ess-solution dd li:before{content:'';position:absolute;top:7px;left:0;width:4px;height:4px;background-color:#777}
.ess-solution .power-supply-system ul{margin-top:15px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;text-align:center}
.ess-solution .power-supply-system li+li{border-top:1px dashed #e5e5e5}
.ess-solution .power-supply-system li img{max-width:290px}
.ess-solution .grid-app{margin-top:15px}
.ess-solution .grid-app > li{border:1px solid #e5e5e5}
.ess-solution .grid-app > li + li{margin-top:5px}
.ess-solution .grid-app > li > img{display:block;width:258px;margin:15px auto}
.ess-solution .grid-app > li dl{padding:15px;background-color:#f9f9f9}
.ess-solution .grid-app > li dt{margin-bottom:10px;font-size:1.07rem;font-weight:600;line-height:1.29rem; }
.ess-solution .residentialandcommercial div,
.ess-solution .ups div{margin:15px 0}
.ess-solution .residentialandcommercial dl+dl{margin-top:5px}
.ess-solution .residentialandcommercial dl,
.ess-solution .ups dl{border:1px solid #e5e5e5}
.ess-solution .residentialandcommercial dt,
.ess-solution .ups dt{padding:13px 0 12px 0;color:#222;background-color:#f9f9f9;text-align:center;font-size:1.07rem;font-weight:600;line-height:1.36rem}
.ess-solution .residentialandcommercial dd,
.ess-solution .ups dd{padding:15px}
.ess-solution dd li li{position:relative;padding-left:0;line-height:1.29rem;color:#999}
.ess-solution dd li li:before{content:none}
.lgchem-strengths dl + p,
.lgchem-strengths p + dl{margin-top:10px}
.lgchem-strengths dl + dl{margin-top:5px}
.lgchem-strengths dl{border:1px solid #e5e5e5}
.lgchem-strengths dt{padding:13px 0 12px 0;color:#222;background-color:#f9f9f9;text-align:center;font-size:1.07rem;font-weight:600;line-height:1.36rem}
.lgchem-strengths dd{padding:15px 14px;text-align:center}
.lgchem-strengths dd p,
.lgchem-strengths dd li,
.lgchem-strengths dd .txt{text-align:left}
.lgchem-strengths img{max-width:260px}
.lgchem-strengths dd .txt{margin-top:10px}
.lgchem-strengths dd .txt strong{display:block;color:#222}
.lgchem-strengths dd .txt ul{margin-top:10px}
.lgchem-strengths dd .txt li{position:relative;padding-left:8px;color:#666}
.lgchem-strengths dd .txt li + li{margin-top:5px}
.lgchem-strengths dd .txt li:before{content:'';position:absolute;top:7px;left:0;width:4px;height:4px;background-color:#777}
.lgchem-strengths dd p{color:#222}
.lgchem-strengths dd p +img{display:block;margin-top:10px}
.lgchem-strengths dd + dd{border-top:1px solid #e5e5e5}
.reference-sites > div{margin:0 5px}
.reference-sites .reference-site-amount{margin:10px 0 ;border:1px solid #e6e6e6}
.reference-sites .reference-site-amount dt{padding:10px 0;background-color:#f9f9f9;text-align:center;font-weight:600}
.reference-sites .reference-site-amount dd{position:relative;margin:15px;padding-left:10px;color:#666;line-height:1.29rem}
.reference-sites .reference-site-amount dd:before{content:'';position:absolute;top:6px;left:0;width:4px;height:4px;background-color:#777}
.reference-sites .reference-site-map{position:relative;height:72px;margin:10px 0}
.reference-sites .reference-site-map ul{position:absolute;left:50%;width:210px;transform:translateX(-50%)}
.reference-sites .reference-site-map li{font-size:0.93rem;line-height:1.29rem}
.reference-sites .reference-site-map li:before{content:'';display:inline-block;width:8px;height:8px;margin-right:4px;border-radius:50%;box-sizing:border-box}
.reference-sites .reference-site-map .frequency-regulation:before{background-color:#bc1137}
.reference-sites .reference-site-map .peak-shifting:before{background-color:#fff;border:2px solid #aaa}
.reference-sites .reference-site-map .renewable-integration:before{background-color:#aaa}
.reference-sites .reference-site-map .multi-purpose:before{background-color:#fff;border:2px solid #bc1137}
.reference-sites .map-area{position:relative;margin:0 0 10px 0}
.reference-sites .viewbyregion{margin-top:10px}
.reference-sites .viewbyregion > div{padding-bottom:15px;border:1px solid #e5e5e5}
.reference-sites .viewbyregion > div + div{margin-top:5px}
.reference-sites .viewbyregion > div .tit{display:block;padding:12px 0 13px 0;background-color:#f9f9f9;text-align:center;font-weight:600}
.reference-sites .viewbyregion .site{margin:15px 15px 0 15px}
.reference-sites .viewbyregion .site + .site{padding-top:15px;border-top:1px solid #e5e5e5}
.reference-sites .viewbyregion .region-photo{display:flex}
.reference-sites .viewbyregion .region-photo.develop{background:url(/common/images/front/mobile/de/product/bg-develop-arrow.gif) no-repeat 50% 30%;background-size:10px}
.reference-sites .viewbyregion .region-photo > div{flex:1}
.reference-sites .viewbyregion .region-photo > div + div{margin-left:10px}
.reference-sites .viewbyregion .region-photo .photo-tit{display:block;margin-top:6px;padding:8px;text-align:center;line-height:1.14rem;background-color:#f9f9f9}
.reference-sites .viewbyregion .region-photo img,
.reference-sites .viewbyregion .map{border:1px solid #e5e5e5}
.reference-sites .viewbyregion .region-photo img + img{display:block;margin-top:6px}
.reference-sites .viewbyregion .demension{margin:15px 0;color:#666;line-height:1.29rem}
.reference-sites .viewbyregion .demension dt{margin-bottom:4px;color:#222}
.reference-sites .viewbyregion .demension dd{position:relative;padding-left:10px;color:#666;line-height:1.29rem}
.reference-sites .viewbyregion .demension dd:before{content:'';position:absolute;top:6px;left:0;width:4px;height:4px;background-color:#777}
.reference-sites .viewbyregion .region-etc{position:relative;margin-top:10px;padding-bottom:56px;padding-left:10px;color:#666;line-height:1.29rem;background:url(/common/images/front/mobile/de/product/storage-container.gif) no-repeat 100% 100%;background-size:auto 40px}
.reference-sites .viewbyregion .region-etc:before{content:'-';position:absolute;left:0}
.reference-sites .europe .site:first-of-type .region-photo .photo-tit,
.reference-sites .korea .region-photo .photo-tit{margin-top:0}

/*Main*/
#wrap.main{position:relative;padding-top:39px}
#wrap.is-fixed{position:fixed}
.main .bx-pager-item{display:inline}
.main .bx-pager-link{display:inline-block;width:10px;height:10px;margin:0 3px;background-color:#fff;border-radius:10px;text-indent:-9999px}
.main .bx-pager-link.active{background-color:#bc1137}
.main-visual-wrap{position:relative;text-align:center}
.main-visual-wrap li{position:relative}
.main-visual-wrap li .main-visual-tit{position:absolute;top:10.9375vw;left:0;width:100%;font-size:1.14rem;line-height:1.5rem}
.main-visual-wrap li .main-visual-tit strong{display:block;margin-bottom:15px;font-size:2rem;font-weight:100;line-height:2.14rem}
.main-visual-wrap li .main-visual-tit strong em{font-weight:600}
.main-visual-wrap li .main-visual-tit p{font-size:1rem;line-height:1.29rem}
.main-visual-wrap .bx-controls{position:absolute;left:0;bottom:20px;width:100%}
.case-view{padding-top:35px;background-color:#fff;text-align:center}
.case-view .tit{display:block;margin-bottom:12px;font-size:1.93rem;font-weight:600;line-height:2.29rem}
.case-view .txt{line-height:1.29rem}
.case-view .txt p{display:none}
.case-view .txt p.on{display:block}
.case-view .btn-choose-case{display:flex;width:100%;margin:20px 0;background:url(/common/images/front/mobile/de/main/bg-slider.gif) no-repeat 50% 20px;background-size:100%}
.case-view .btn-choose-case > div{flex:1}
.case-view .btn-choose-case > div button{display:block;width:50px;height:50px;margin:0 auto 9px auto;opacity:0}
.case-view .btn-choose-case > div.on button{opacity:1}
.case-view .btn-choose-case > div.day button{background:url(/common/images/front/mobile/de/main/case-button01.png) no-repeat;background-size:50px}
.case-view .btn-choose-case > div.night button{background:url(/common/images/front/mobile/de/main/case-button02.png) no-repeat;background-size:50px}
.case-view .btn-choose-case > div.blackout button{background:url(/common/images/front/mobile/de/main/case-button03.png) no-repeat;background-size:50px}
.case-view .btn-choose-case > div.on span{color:#bc1137} 
.case-view .btn-choose-case > div span{display:block;color:#888;font-size:1.07rem}
.case-view .case-img{position:relative}
.case-view .case-img img{opacity:0}
.case-view .case-img img + img{position:absolute;top:0;left:0;width:100%}
.case-view .case-img img.on{opacity:1}
.main-introduction{padding:40px 15px;background-color:#f5f5f5;text-align:center}
.main-introduction .tit{margin-bottom:12px;font-size:1.93rem;font-weight:600;line-height:2.29rem}
.main-introduction .txt{line-height:1.29rem}
.main-introduction .intro-youtube{width:100%;height:calc((100% - 30px) * 431/766);margin-top:20px}
.main-introduction .intro-youtube iframe{width:100%;height:100%}
.main-resu-strength{padding:40px 15px;background-color:#fff;text-align:center}
.main-resu-strength .tit{margin-bottom:12px;font-size:1.93rem;font-weight:600;line-height:2.29rem}
.main-resu-strength .txt{line-height:1.29rem}
.main-resu-strength ul{margin-top:20px;padding-top:20px;text-align:left;border-top:1px solid #222}
.main-resu-strength li{position:relative;padding-left:79px;font-size:0.93rem;line-height:1.21rem}
.main-resu-strength li:before{content:'';position:absolute;left:0;top:50%;margin-top:-21px;background-image:url(/common/images/front/mobile/de/main/bg-main-strength.gif);background-repeat:no-repeat;background-size:64px}
.main-resu-strength .possible01:before{width:60px;height:42px;background-position:0 0}
.main-resu-strength .possible02:before{width:60px;height:42px;background-position:0 -45px}
.main-resu-strength .possible03:before{width:64px;height:42px;background-position:0 -90px}
.main-resu-strength .possible04:before{width:60px;height:42px;background-position:0 -135px}
.main-resu-strength .possible05:before{width:60px;height:42px;background-position:0 -180px}
.main-resu-strength li + li{margin-top:20px}
.main-resu-strength li strong{display:block;margin-bottom:10px;font-size:1.07rem;font-weight:600}
.main-customer-review{overflow:hidden;width:100%;padding:30px 15px 26px 15px;background:url(/common/images/front/mobile/de/main/bg-main-customer-review.jpg) no-repeat;background-size:cover}
.main-customer-review .tit{margin-bottom:12px;font-size:1.93rem;font-weight:600;line-height:2.29rem;color:#fff;text-align:center}
.main-customer-review .main-customer-wrap{width:275px;margin:0 auto}
.main-customer-review .main-customer-wrap li{position:relative;height:305px;padding:20px 0;background-color:#fff;text-align:center}
.main-customer-review .main-customer-wrap .photo{display:block;width:45px;height:45px;margin:0 auto}
.main-customer-review .main-customer-wrap .name{display:block;margin-top:10px;margin-bottom:5px;font-size:1.29rem;font-weight:600}
.main-customer-review .main-customer-wrap .country{display:block;height:10px;font-size:0.93rem}
.main-customer-review .main-customer-wrap .country img{margin-right:3px;vertical-align:-1px}
.main-customer-review .main-customer-wrap .comment{display:table;table-layout:fixed;position:relative;width:100%;height:110px;margin-top:15px;line-height:1.29rem}
.main-customer-review .main-customer-wrap .comment p{display:table-cell;width:100%;vertical-align:middle}
.main-customer-review .main-customer-wrap .comment:before,
.main-customer-review .main-customer-wrap .comment:after{content:'';position:absolute;width:8px;height:6px;left:50%;margin-left:-4px;background:url(/common/images/front/mobile/de/review/quotation.png) no-repeat;background-size:8px}
.main-customer-review .main-customer-wrap .comment:before{top:0;background-position:0 0}
.main-customer-review .main-customer-wrap .comment:after{bottom:0;background-position:0 100%}
.main-customer-review .main-customer-wrap button{position:absolute;bottom:20px;left:50%;width:210px;height:32px;margin-left:-105px;font-size:1.07rem;font-weight:600;color:#c00032;border:1px solid #c00032;border-radius:0}
.main-customer-review .bx-controls{width:100%;margin-top:20px;text-align:center}
.main-customer-review .interview{display:none}
.main-find-installer{padding:30px 15px;background:url(/common/images/front/mobile/de/main/bg-main-find-installer.gif) no-repeat 0 100%;background-size:cover;color:#fff;text-align:center}
.main-find-installer .tit{margin-bottom:12px;font-size:1.93rem;font-weight:600;line-height:2.29rem}
.main-find-installer .txt{padding:0 20px;line-height:1.50rem}
.main-find-installer .installer-search{display:flex;overflow:hidden;margin-top:15px;border-radius:4px;box-shadow:0 5px 5px #a10335}
.main-find-installer .installer-search input[type="text"]{flex:1;height:44px;line-height:44px;background-color:#fff}
.main-find-installer .installer-search button{width:44px;height:44px;border-radius:0 4px 4px 0;font-size:0;text-indent:-9999px;background:#333 url(/common/images/front/mobile/de/main/bg-main-search.gif) 50% 50% / 21px 20px no-repeat}
.main-prdt-intro .main-prdt-top{padding:30px 0 25px 0;background-color:#f5f5f5;text-align:center}
.main-prdt-intro .main-prdt-top .tit{margin-bottom:12px;font-size:1.93rem;font-weight:600;line-height:2.29rem}
.main-prdt-intro .main-prdt-top .txt{margin-bottom:35px;line-height:1.29rem}
.main-prdt-intro .main-prdt-top img{width:300px}
.main-prdt-list{padding:25px 0}
.main-prdt-list li .main-prdt-detail{position:relative;padding:205px 15px 0 15px}
.main-prdt-list li .main-prdt-detail dt{margin-bottom:12px;font-size:1.14rem;font-weight:600}
.main-prdt-list li .main-prdt-detail .strength li{position:relative;padding-left:10px;font-size:1.14rem;line-height:1.43rem}
.main-prdt-list li .main-prdt-detail .strength li:before{content:'-';position:absolute;left:0}
.main-prdt-list li .prdt-img{position:absolute;top:0;left:0;width:100%;height:190px;text-align:center}
.main-prdt-list li .prdt-img img{width:auto;height:100%}
.main-prdt-list li .download{margin-top:40px}
.main-prdt-list li .download ul{display:flex;border-left:1px solid #e6e6e6}
.main-prdt-list li .download li{flex:1;max-width:25%;border:1px solid #e6e6e6;border-left:0}
.main-prdt-list li .download li > a{display:block;padding:10px 0;font-size:0.93rem;line-height:1.07rem;text-align:center}
.main-prdt-list li .download li > a:before{content:'';display:block;height:21px;margin:0 auto 5px auto;background-image:url(/common/images/front/mobile/de/main/main-ico.gif);background-repeat:no-repeat;background-size:75px}
.main-prdt-list li .download .spec a:before{width:14px;background-position:0 0}
.main-prdt-list li .download .warranty a:before{width:16px;background-position:-15px 0}
.main-prdt-list li .download .certification a:before{width:20px;background-position:-35px 0}
.main-prdt-list li .download .manual a:before{width:14px;background-position:-60px 0}
.main-prdt-list .bx-controls{width:100%;margin-top:15px;text-align:center}
.main-prdt-list .bx-pager-link{background-color:#e4e4e4}
.main-newsnevent{padding:30px 15px;background-color:#f5f5f5}
.main-newsnevent .tit{margin-bottom:12px;font-size:1.93rem;font-weight:600;line-height:2.29rem;text-align:center}
.main-newsnevent ul li{border:1px solid #c1c1c1;background-color:#fff}
.main-newsnevent ul li + li{margin-top:10px}
.main-newsnevent ul li > a{display:block;padding:20px 15px}
.main-newsnevent ul li .main-category{color:#bc1137;font-weight:600}
.main-newsnevent ul li p{margin:15px 0;font-size:1.29rem;line-height:1.57rem}
.main-newsnevent ul .more{display:inline-block;padding-right:28px;font-size:0.93rem;background:url(/common/images/front/mobile/de/etc/bg-arrow.gif) no-repeat 100% 80%;background-size:22px}
.layer-review-wrap{display:none;overflow-x:hidden;overflow-y:auto;position:fixed;top:5px;bottom:5px;left:5px;right:5px;z-index:1000;width:calc(100vw - 10px);height:calc(100vh - 10px)}
.layer-review-wrap .layer-review{min-height:100%;padding-bottom:80px;background-color:#fff}
.layer-review-wrap .btn-layer-close{position:fixed;top:5px;right:5px;width:35px;height:35px;font-size:0;text-indent:-9999px;background:url(/common/images/front/mobile/de/review/btn-layer-close.png) no-repeat;background-size:35px;border-radius:0}
.layer-review-wrap .review-cover{padding:45px 15px 30px 15px;background:url(/common/images/front/mobile/de/review/bg-review-cover.jpg) no-repeat;background-size:cover;color:#fff;font-size:14px;line-height:19px;text-align:center}
.layer-review-wrap .review-cover strong{display:block;margin-bottom:10px;font-size:22px;line-height:24px}
.layer-fyi{display:none;position:fixed;top:50%;left:10px;z-index:1000;width:calc(100vw - 20px);transform:translateY(-50%)}
.layer-fyi > div{position:relative}
.layer-fyi p{padding:9px 15px;background-color:#f6f6f6;border-top:1px solid #e6e6e6}
.layer-fyi .btn-layer-close{position:absolute;top:-35px;right:0;width:35px;height:35px;font-size:0;text-indent:-9999px;background:url(/common/images/front/mobile/de/review/btn-layer-close.png) no-repeat;background-size:35px;border-radius:0}
.layer-fyi input[type="checkbox"] + label:before,
.layer-fyi input[type="checkbox"]:checked + label:before{background-color:#f6f6f6}
.layer-fyi label{display:inline-block;color:#666}
.stephen-young .copy-tit{position:relative;display:block;height:68vw;margin-bottom:15px;padding:25px 0 27px 45%;font-size:18px;line-height:22px;font-weight:600;background:url(/common/images/front/mobile/de/review/stephen-young01.jpg) no-repeat 0 100%;background-size:57%}
.stephen-young .name{position:absolute;bottom:0;left:60%;width:100vw;line-height:13px;font-size:12px;font-style:italic}
.stephen-young .name img{height:13px;margin-right:8px;vertical-align:middle}
.stephen-young .tit{display:block;margin-bottom:16px;font-weight:600;color:#bc1137;line-height:19px}
.stephen-young .subtit{font-size:16px;line-height:20px}
.stephen-young div[class^="review-article"]{padding:0 15px}
.stephen-young .txt{padding:0 7px;font-size:14px;line-height:19px}
.stephen-young .txt > p + p{margin-top:20px}
.stephen-young .img{margin:15px 0}
.stephen-young div.review-article01{position:relative;top:-15px;padding:0}
.stephen-young .review-article01 .txt{padding:0 22px}
.stephen-young div.review-article02,
.stephen-young div.review-article03,
.stephen-young div.review-article04{margin-top:40px}
.stephen-young div.review-article04 .subtit{display:block;margin-bottom:20px;height:47vw;padding:10px 0 0 45%;background:url(/common/images/front/mobile/de/review/stephen-young04.jpg) no-repeat;background-size:55%}
.erstling .copy-tit{position:relative;display:block;padding:30px 0 27px 15px;font-size:18px;line-height:22px;font-weight:600;background:url(/common/images/front/mobile/de/review/erstling01.jpg) no-repeat 180px 0;background-size:130px}
.erstling .name{display:block;margin-top:15px;line-height:13px;font-size:12px;font-style:italic}
.erstling .name img{height:13px;margin-right:8px;vertical-align:middle}
.erstling .tit{display:block;margin-bottom:16px;font-weight:600;color:#bc1137;line-height:19px}
.erstling .subtit{font-size:16px;line-height:20px}
.erstling .subtit + .txt{margin-top:15px}
.erstling div[class^="review-article"]{padding:0 15px}
.erstling .txt{padding:0 7px;font-size:14px;line-height:19px}
.erstling .txt > p + p{margin-top:20px}
.erstling .img{margin:15px 0}
.erstling div.review-article01{position:relative;top:-15px;padding:0}
.erstling .review-article01 .txt{padding:0 22px}
.erstling div.review-article02,
.erstling div.review-article03,
.erstling div.review-article04,
.erstling div.review-article05{margin-top:40px}
.update{padding:12px 0 10px 0;color:#666}
.update strong{display:inline-block;margin-right:10px;font-weight:600;color:#222}
.accumulated-model{margin-top:10px}
.accumulated-model p{position:relative;padding-left:15px;color:#222;font-size:0.93rem;line-height:1.14rem}
.accumulated-model p:before{content:'※';position:absolute;left:0}
.distributor-box{padding:30px 15px;background-color:#f6f6f6;text-align:center}
.distributor-box > .tit{font-size:1.07rem;font-weight:600;line-height:1.29rem}
.distributor-box > .tit strong{display:block;margin-bottom:10px;font-size:1.29rem;line-height:1.57rem}
.distributor-box > .txt{margin:15px 0 20px 0;font-size:1rem;line-height:1.29rem;color:#444}
.distributor-box .distributor-step{margin-top:20px;padding-top:20px;border-top:1px solid #e6e6e6}
.distributor-box .distributor-step .tit{line-height:1.29rem}
.distributor-box .distributor-step ul{margin:10px 0}
.distributor-box .distributor-step li{position:relative;padding:20px 15px 20px 60px;background-color:#fff;border:1px solid #dcdcdc;text-align:left}
.distributor-box .distributor-step li + li{margin-top:10px}
.distributor-box .distributor-step li span{display:block;margin-bottom:5px;font-weight:600;color:#888}
.distributor-box .distributor-step li span:before{content:'';position:absolute;left:15px;top:50%;width:30px;height:30px;margin-top:-15px;background:url(/common/images/front/mobile/de/etc/bg-step.gif) no-repeat;background-size:30px}
.distributor-box .distributor-step li p{font-size:1.07rem;line-height:1.29rem;font-weight:600;color:#666}
.distributor-box .distributor-step li p + p{margin-top:10px;color:#888;font-weight:normal}
.distributor-box .distributor-step li.now{border:1px solid #bc1137}
.distributor-box .distributor-step li.now span{color:#bc1137}
.distributor-box .distributor-step li.now span:before{background-position:0 100%}
.distributor-box .distributor-step li.now p{color:#222}
.distributor-box .distributor-step li.now p + p{color:#666}
.distributor-box .btn-area + .btn-area{margin-top:5px}
.distributor-box .btn-area a{line-height:40px;background-color:#666}
.distributor-box .btn-area + .btn-area a{background-color:#bc1137}