@charset "utf-8";
/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;font-size:inherit;color:inherit;font-weight:inherit;}
dl,ul,ol,menu,li{list-style:none}
fieldset,img{border:0 none}
input,select,textarea,button{vertical-align:middle;margin:0;padding:0;font-family:inherit;}
button{border:0 none;background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
input,textarea,img{max-width:100%;}
a,a:hover,a:visited,a:active{text-decoration:none;}
a img{vertical-align:top}
sup{font-size:x-small;vertical-align:super}
sub{font-size:x-small;vertical-align:sub}
select{ 
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none 
} 
select::-ms-expand{ display: none; }/* IE 10, 11의 네이티브 화살표 숨기기 */
table{table-layout:fixed;border-collapse:collapse;border-spacing:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}/* HTML5 for older browsers */
input::-ms-clear,
input::-ms-reveal{display: none;}

/* WEBFONT */
@font-face {
    font-family:'lgsmart' ; 
    src: url('/common/font/LGSmHaL.eot');
    src: url('/common/font/LGSmHaL.eot?#iefix') format('embedded-opentype'),
    url('/common/font/LGSmHaL.woff') format('woff'),
    url('/common/font/LGSmHaL.ttf') format('truetype');
    font-style:normal;
    font-weight:100;
}
@font-face {
    font-family:'lgsmart';
    src: url('/common/font/LGSmHaR.eot');
    src: url('/common/font/LGSmHaR.eot?#iefix') format('embedded-opentype'),
    url('/common/font/LGSmHaR.woff') format('woff'),
    url('/common/font/LGSmHaR.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}
@font-face {
    font-family:'lgsmart';
    src: url('/common/font/LGSmHaSB.eot');
    src: url('/common/font/LGSmHaSB.eot?#iefix') format('embedded-opentype'),
    url('/common/font/LGSmHaSB.woff') format('woff'),    
    url('/common/font/LGSmHaSB.ttf') format('truetype');
    font-style:normal;
    font-weight:600;
}
@font-face {
    font-family:'lgsmart';
    src: url('/common/font/LGSmHaB.eot');
    src: url('/common/font/LGSmHaB.eot?#iefix') format('embedded-opentype'),
    url('/common/font/LGSmHaB.woff') format('woff'),
    url('/common/font/LGSmHaB.ttf') format('truetype');
    font-style:normal;
    font-weight:900;
}

/*Common Setting*/
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt60{margin-top:60px;}
.mt80{margin-top:80px;}
.ml17{margin-left:17px;}
.clfix:after{content:'';display:block;clear:both;}
.a11y-hidden{position:absolute;top:-9999px;text-indent:-9999px;font-size:0}
.ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.align-c{text-align:center;}
.align-l{text-align:left;}
.align-r{text-align:right;}
.float-l{float:left;}
.float-r{float:right;}
.c-red{color:#bc1137;}
.c-777{color:#777;}
.ib{display:inline-block;}
.light{font-weight:100;}
.bold{font-weight:600;}
.cancel-line{text-decoration:line-through;}
.dim{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:99;background:#000;background:rgba(0,0,0,0.8);} /* 뒤에 딤이 깔리는 팝업 계열은 z-index:1000 이상 사용*/
img{max-width:100%;max-height:100%;vertical-align:top;}
table{width:100%;table-layout:fixed;border-collapse:collapse;}
table th{font-weight:normal;}
textarea{resize:none;}
select{color:inherit;font:inherit;}
.cursor-default{cursor:default;}

/*
    FONT SIZE
    PX	REM
    11	0.69 
    12	0.75 
    13	0.81 
    14	0.88 
    15	0.94 
    16	1.00 
    17	1.06 
    18	1.13 
    19	1.19 
    20	1.25 
    21	1.31 
    22	1.38 
    23	1.44 
    24	1.50 
    25	1.56 
    26	1.63 
    27	1.69 
    28	1.75 
    29	1.81 
    30	1.88 
    31	1.94 
    32	2.00 
    33	2.06 
    34	2.13 
    35	2.19 
    36	2.25 
    37	2.31 
    38	2.38 
    39	2.44 
    40	2.50 
*/