/*

	Design.

	LG Chem ESS Partner
	2016.01 - 2016.03

	

*/

@charset "UTF-8";

/* outline
*:focus,
*:focus + label { outline: none; box-shadow: 0 0 3px #ff6c00; }*/

/*
	common
----------------------------------------------------------*/
body { min-width: 1007px; font-family: 'lgsmart', Sans-serif; font-size: 16px; background: #efefef; color: #444; overflow-y: scroll; }
.section { margin: 0 auto; padding: 0 32px; width: 968px; box-sizing: border-box; position: relative; }
div, td, th { word-wrap: break-word; word-break:break-word; }
#header .section,
#footer .section { width: 1007px; }

/* body type */
#body.type1 #nav, #body.type1 .location, #body.type1 .util, #body.type1 #footer { display: none; }
#body.type1 #header { padding-bottom: 0; border-bottom: 1px solid #dfdfdf; position: relative; }
#body.type1 #header:after { height: 5px; content: ''; background: url('images/layout/bg_show_nav.png') repeat-x 0 100%; position: absolute; left: 0; right: 0; bottom: -5px; z-index: 9; }

/* arrow page */
#body.error_wrap { background: #fff; }
#body.error_wrap #contents .section { padding-top: 0; background: #fff; width: 100%; font-size: 28px; line-height: 1.8; text-align: center; overflow: hidden; }
#body.error_wrap #contents .article .head { margin-bottom: 35px; }
#body.error_wrap #contents .article .head h2 { display: inline-block; padding-left: 85px; line-height: 1.4; font-size: 48px; font-weight: bold; background: url('images/sub/bg/bg_error_big.gif') no-repeat 0 0; position: static; }
#body.error_wrap #contents .foot { margin-top: 50px; }
#body.error_wrap #contents .foot .btn { padding: 0; width: 204px; }
#body.error_wrap #contents .cont_foot { display: block; margin: 120px 0 30px; padding-top: 30px; font-size: 14px; border-top: 1px solid #e2e2e2; color: #888; }

/* scroll */
#wrap.tiny #nav { position: fixed; top: 0; left: 0; z-index: 5; }

/* font */
#body .fs_12 { font-size: 12px; }
#body .fc_red { color: #a30034; }

.txt_under { text-decoration: underline; }
.txt_through { text-decoration: line-through; }

/* line */
#body .line_b { margin-bottom: 40px; padding-bottom: 40px; text-align: center; border-bottom: 1px solid #e2e2e2; }

/* bacgkround */
#body .bg_no { background: none; }


/* form color 444/ d-color bbb */
input, select, .ui-selectmenu-button, textarea, button { display: block; width: 100%; padding: 10px; height: 32px; font-family: inherit; font-size: inherit; border: 1px solid #e2e2e2; background-color: #fff; box-sizing: border-box; color: inherit; }
input { padding: 0 10px; font-size: 15px; }
select { padding: 5px 10px; }
textarea { height: inherit; }
label { display: inline-block; font-size: 15px; line-height: 32px; }

/* shape */
[disabled=disabled], [readonly=readonly] { opacity: 0.35; filter: Alpha(Opacity=35); }
[disabled=disabled]:focus, [readonly=readonly]:focus { border-color: #e2e2e2; }
select:focus, textarea:focus, input:focus, .ui-selectmenu-button.ui-state-focus { border-color: #a30034; outline: none; }
[disabled=disabled]:-ms-input-placeholder, [readonly=readonly]:-ms-input-placeholder { color: #444; }
[disabled=disabled]::-webkit-input-placeholder, [readonly=readonly]::-webkit-input-placeholder { color: #444; }
[disabled=disabled]:-moz-placeholder, [readonly=readonly]:-moz-placeholder { color: #444; }

/* placeholder */
:-ms-input-placeholder { color: #bbb; }
::-webkit-input-placeholder { color: #bbb; }
:-moz-placeholder { color: #bbb; } 

/* radio checkbox */
.frm_box { position: relative; line-height: inherit; }
.frm_box + .frm_box { margin-top: 5px; }
span.frm_box { margin-right: 15px; }
span.frm_box + span.frm_box { margin-top: 0; }
input[type=radio],
input[type=checkbox] { display: inline-block; margin: 0; padding: 0; width: 23px; height: 23px; border: 0; opacity: 0; filter: alpha(opacity=0); box-sizing: inherit; position: absolute; left: 0; top: 0; z-index: 1; }
input[type=radio] + label ,
input[type=checkbox]  + label { display: inline-block; padding-left: 33px; height: 23px; line-height: 23px; }
input[type=checkbox]  + label { font-size: 14px; color: #888; }
input[type=radio] + label { background: url('images/sub/bg/bg_radio_form.png') no-repeat 0 0; }
input[type=checkbox] + label { background: url('images/sub/bg/bg_chk_form.png') no-repeat 0 0; }
.sm input[type=checkbox] + label { padding-left: 15px; font-size: 12px; background: url('images/sub/bg/bg_chk_sm.png') no-repeat 0 0; color: #c6c6c6; }
.sm input[type=checkbox]:checked  + label { color: #a30034; }
input[type=radio]:checked + label ,
input[type=checkbox]:checked  + label { background-position: 0 100%; }

/* radio link */
.tab_radio a { display: inline-block; margin-right: 15px; padding-left: 33px; font-size: 15px; height: 23px; line-height: 23px; background: url('images/sub/bg/bg_radio_form.png') no-repeat 0 0; }
.tab_radio a.on { background-position: 0 100%;  }

/* datepicker */
.datepicker { display: inline-block; padding-right: 29px; position: relative; }
.datepicker input { width: 135px; }
.datepicker .ui-datepicker-trigger { width: 19px; height: 20px; text-indent: -999em; background: url('images/sub/ico/ico_cal.gif') no-repeat 0 0; border: 0; position: absolute; right: 0; top: 5px; }

/* file */
.file_add { padding: 0 130px 0 0; position: relative; box-sizing: border-box; }
.file_add .fake_file { background: trasparent; filter: alpha(opacity=0); opacity: 0; position: absolute; left: 10px; top: 0; z-index: 10; outline: none; cursor: pointer; }
.file_add .btn { width: 120px; position: absolute; right: 0; top: 0; }

/* select */
.ui-selectmenu-menu .ui-menu { max-height: 151px; overflow-y: auto; }
.ui-selectmenu-button { padding: 0 10px; line-height: 32px; font-weight: normal; border-radius: 0; background: #fff; }
.ui-selectmenu-button span.ui-icon { margin-top: -3px; width: 10px; height: 5px; background: url('images/sub/bg/bg_arw_selec.gif') no-repeat 0 0; right: 10px; }
.ui-selectmenu-button span.ui-selectmenu-text { padding: 0; line-height: inherit; background: none; }
.ui-selectmenu-menu .ui-menu { margin: 0; padding: 0; border-radius: 0; background: #fff; border-width: 0 1px 1px; border-color: #e2e2e2; box-sizing: border-box; }
.ui-selectmenu-menu .ui-menu .ui-menu-item { padding: 0 10px; line-height: 30px; border: 0; background: #fff; }
.ui-selectmenu-menu .ui-menu .ui-state-focus { margin: 0; font-weight: normal; background: #efefef; color: inherit; }


/* acdn */
.acc_tit { cursor: pointer; }

/*
	header
----------------------------------------------------------*/
#header { padding-top: 4px; padding-bottom: 72px; background: #fff; }
#header:before { display: block; width: 100%; min-width: 1007px; height: 4px; content: ''; background: #a30034; position: absolute; left: 0; top: 0; z-index: 10; }
#header .section { background: #fff; position: relative; z-index: 10; }
#header h1 a { display: block; padding: 18px 0 19px; width: 144px; height: 40px; text-indent: -999em; background: url("images/layout/logo_top.gif") no-repeat left 50%; }


/* util */
.util { position: absolute; right: 32px; top: 23px; }

#header .link2 {width: 150px; height: 30px; font-family: 'lgsmart'; font-size: 11px; line-height: 30px; border: 1px solid #e2e2e2; float: left;}
#header .link2 h2 { text-indent: 8p x; background: url('images/layout/bg_arrow_header.gif') no-repeat 90% 45%;color: #999999; margin-left: 8px;  }
#header .link2 ul { border: 1px solid #555; border-width: 0 1px; left: -1px; bottom: 39px; }
#header .link2 ul li{ padding: 3px 0; line-height: 1.5; background: #2b2b2b; border-top: 1px solid #555; color: #fff; }
#header .link2 ul li a { display: block; padding: 5px; }
#header .link2 ul li:last-child{border-bottom: 1px solid #555;}

.util .my_box,
.util .btn_box { margin-left: 4px; float: left; }
.util .my_box > span { display: inline-block; position: relative; }
.util .my_box .frm_box,
.util .my_box a { position: absolute; right: 10px; top: 0; }
.util .my_box input { font-size: 13px; color: #999999;}
.util .my_box .frm_box input,
.util .my_box .frm_box label { margin: 0; height: 32px; line-height: 32px; }
.util .my_box .my_id { width: 250px; }
.util .my_box .my_id input[type=text] { padding-right: 55px; }
.util .my_box .my_pw input { width: 190px; padding-right: 55px; }
.util .my_box .my_pw a { display: block; line-height: 32px; font-size: 12px; color: #c6c6c6; }
.util .btn_box a { display: inline-block; padding: 0 15px; line-height: 30px; font-size: 13px; border: 1px solid #d3d3d3; color: #4a4a4a; }
.util .my_mail { margin-right: 24px; padding-left: 32px; line-height: 32px; font-size: 14px; background: url('images/layout/ico_my_util.gif') no-repeat 0 50%; color: #777; }

/* nav */
#nav { width: 100%; min-width: 1007px; height: 72px; background: #2b2b2b; position: absolute; z-index: 5; -webkit-transition: height 0.2s; transition: height 0.2s; -webkit-transform: translateZ(0); }
#nav:before { height: 70px; content: ''; background: #fff; border-top: 1px solid #efefef; border-bottom: 1px solid #dfdfdf; position: absolute; left: 0; right: 0; top: 0; z-index: 9; }
#nav:after { height: 5px; content: ''; background: url('images/layout/bg_show_nav.png') repeat-x 0 100%; position: absolute; left: 0; right: 0; bottom: -5px; z-index: 9; }
#nav > ul { margin: 0 auto; padding: 0 0 0 49px; width: 1007px; box-sizing: border-box; }
#nav > ul:after { display: block; content: ''; clear: both; }
#nav > ul > li { padding-right: 75px; float: left; position: relative; }
#nav > ul > li > a { padding: 0 10px; height: 70px; line-height: 70px; font-size: 16px; color: #222; position: relative; z-index: 10; cursor: default; }
#nav ul li a { display: block; }
#nav ul ul { padding-top: 25px; width: 100%; height: 155px; position: absolute; top: -180px; z-index: 5; -webkit-transition: top 0.2s; transition: top 0.2s; }
#nav ul ul:after { content: ''; border-left: 1px solid #4f4f4f; position: absolute; left: 0; top: 30px; bottom: 10px; }
#nav ul > li:first-child ul:after { display: none; }
#nav ul ul li { line-height: 1.3; }
#nav ul ul li a { padding: 9px 0 9px 10px; font-size: 14px; color: #fff; }
#nav .btn_close { margin: 0 auto; width: 960px; position: relative; }
#nav .btn_close a { width: 28px; height: 28px; text-indent: -999em; background: url('images/layout/btn_close_nav.gif') no-repeat 0 0; position: absolute; right: 0; top: -152px; -webkit-transition: top 0.2s; transition: top 0.2s; z-index: 5; }


/* on */
#nav.on { height: 252px; }
#nav.on:before { border-bottom: 0; }
#nav.on:after { display: none; }
#nav.on ul ul { position: absolute; top: 60px; }
#nav > ul > li.on > a:after,
#nav > ul > li:hover > a:after,
#nav > ul > li > a:focus:after { display: block; width: 100%; height: 5px; content: ''; background: #a30034; position: absolute; left: 0; bottom: -1px; }
#nav > ul > li.on > a,
#nav > ul > li:hover > a { color: #a91142; }
#nav .current a,
#nav ul ul li:hover a { color: #ee4a7e; }
#nav.on .btn_close a { top: 152px; }

/* 
	calculator 
----------------------------------------------------------*/
#body.body_clc { min-width: inherit; width: 100%; background: #fff; }
#body .calculator { font-size: 13px; line-height: 1.5; background: #fff; }
#body .calculator h2 { font-size: 16px; font-weight: bold; color: #222; position: static; }
#body .calculator h3 { height: inherit; line-height: 1.3; }
#body .calculator .titlebar { padding-left: 10px; height: 50px; line-height: 48px; font-size: 16px; }
#body .calculator .titlebar a { display: block; width: 19px; height: 19px; text-indent: -999em; position: absolute; top: 17px; }	
#body .calculator .titlebar .close { background: url('images/layout/btn_close_pop.gif') no-repeat 50% 50%; right: 13px; }
#body .calculator .titlebar .print { background: url('images/layout/ico_print.gif') no-repeat 50% 50%; right: 45px; }
#body .calculator .acc_box { border-top: 1px solid #e2e2e2; }
#body .calculator .acc_tit { padding: 10px 50px 10px 25px; font-weight: bold; background: #8d8d8d url('images/layout/arrow_dw_clc.gif') no-repeat 95% 50%; color: #d2f91d; }
#body .calculator .acc_tit.on { background-image: url('images/layout/arrow_up_clc.gif'); }
#body .calculator .acc_tit.on em { display: none; }
#body .calculator .acc_tit.bg_no { padding-right: 10px; background: #8d8d8d; cursor: default; }
#body .calculator .acc_tit h3 { text-align: left; font-size: 14px; font-weight: bold; color: #fff; }
#body .calculator .acc_tit span { margin-left: -15px; color: #fff; }
#body .calculator .acc_cont .full { margin: 10px 0; padding: 0 10px; }
#body .calculator .acc_cont .full * { vertical-align: middle; }
#body .calculator .acc_cont .bg2 { margin: 0; padding: 10px; border-top: 1px solid #e2e2e2; background: #f6f6f6; }
#body .calculator label { font-size: 13px; color: #222; }
#body .calculator .acc_cont input { padding-left: 10px; font-size: 13px; }
#body .calculator .acc_cont .fc_red,
#body .calculator .acc_cont .col2 { padding-right: 2px; width: 40px; text-align: right; color: #888; }
#body .calculator .acc_cont .fc_red { font-size: 18px; color: #a30034; }
#body .calculator .acc_cont .col6 { width: 157px; }
#body .calculator .acc_cont .col4 { width: 145px; }
#body .calculator .acc_cont .col10 { width: 305px; }
#body .calculator .acc_cont .ui-selectmenu-button { width: 100% !important; }
#body .calculator .acc_cont .line_h2 { line-height: 16px; }
#body .calculator .acc_cont .txt_error { width: 175px; text-align: right; font-size: 12px; color: #bbb; }
#body .calculator .acc_cont .block { display: inline; }
#body .calculator .acc_cont .none { display: none; }
#body .calculator .clc_result { padding: 10px; background: #555; color: #fff; }
#body .calculator .clc_result h3 { padding-bottom: 10px; font-size: 16px; font-weight: bold; text-align: center; color: #fff; }
#body .calculator .clc_result .tot_txt { padding: 10px 0; border-top: 1px solid #808080; }
#body .calculator .clc_result .tot_txt li { margin: 20px 0; overflow: hidden; font-weight: bold; }
#body .calculator .clc_result .tot_txt li span { width: 40%; line-height: 1.3; float: left; }
#body .calculator .clc_result .tot_txt li em { width: 60%; text-align: right; line-height: 1.3; font-size: 12px; float: right; color: #d2f91d; }
#body .calculator .clc_result .notice_cont { margin-top: 40px; padding: 5px; border: 1px solid #858585; color: #919191; }
#body .calculator .acc_cont .tooltip_txt { width: inherit; max-width: 280px; background: #000;  border-color: #000; border-radius: 2px; color: #fff; right: 0; right: inherit; }
#body .calculator .acc_cont .tooltip { display: inline-block; margin-left: 2px; }
#body .calculator .acc_cont .tooltip.on:before { background-image: url('images/sub/bg/bg_tooltip2.png'); }


/*
	quick
----------------------------------------------------------*/
.log_before .menu_quick { display: none; }
.log_after .menu_quick { display: block; }
.menu_quick { width: 56px;  border-left: 1px solid #e5e5e5; background: #fff; box-sizing: border-box; position: absolute; right: 0; top: 0; bottom: 0;z-index: 1;  }
.menu_quick .btn_box a { display: block; height: 126px; }
.menu_quick .btn_box a.v_rese,
.menu_quick .btn_box a.s_calc { line-height: 1.3; font-size: 12px; text-align: center; border-bottom: 1px solid #e5e5e5; box-sizing: border-box; color: #444; }
.menu_quick .btn_box a.v_rese { padding: 75px 0 20px; background-image: url('images/sub/bg/bg_quick.gif'); background-repeat: no-repeat; background-position: 50% 20px;  }
.menu_quick .btn_box a.s_calc { padding: 60px 0 20px; font-size: 11px; background: url('images/sub/bg/bg_calc_quick.gif') no-repeat 50% 20px; }
.menu_quick.new a.v_rese { background-image: url('images/sub/bg/bg_new_quick.gif'); }
.menu_quick.bronze a.v_rese { background-image: url('images/sub/bg/bg_bronze_quick.gif'); }
.menu_quick.silver a.v_rese { background-image: url('images/sub/bg/bg_silver_quick.gif'); }
.menu_quick.gold a.v_rese { background-image: url('images/sub/bg/bg_gold_quick.gif'); }
.menu_quick.vip a.v_rese { background-image: url('images/sub/bg/bg_vip_quick.gif'); }
.menu_quick.platinum a.v_rese { background-image: url('images/sub/bg/bg_platinum_quick.gif'); }

/* main */
.main_after .menu_quick { padding: 158px 0 0 0; width: 264px; line-height: 1.5; background: #fff url('images/main/bg_vip_quick.gif') no-repeat 50% 45px; color: #444; }
.main_after .menu_quick h2 { font-size: 22px; text-align: center; font-weight: bold; color: #222; }
.main_after .menu_quick q { display: block; padding-bottom: 30px; font-size: 12px; text-align: center; border-bottom: 1px solid #ebeced; color: #a1a1a1; }
.main_after .menu_quick q em { font-size: 15px; color: #444; }
.main_after .menu_quick .saving li { padding: 16px 24px; line-height: 1.3; font-size: 14px; border-bottom: 1px solid #ebeced; position: relative; }
.main_after .menu_quick .saving li > * { display: block; }
.main_after .menu_quick .saving li em { color: #a1a1a1; }
.main_after .menu_quick .saving li .pt { margin-top: -12px; font-size: 18px; position: absolute; right: 24px; top: 50%; }
.main_after .menu_quick .btn_box { padding: 24px; }
.main_after .menu_quick .btn_box a { height: 56px; line-height: 56px; font-size: 16px; text-align: center; border: 1px solid transparent; box-shadow: 0 3px #f2f2f2; box-sizing: border-box; }
.main_after .menu_quick .btn_box a.calc { padding: 8px 0 0 60px; border-color: #c2c2c2; text-indent: 11px; text-align: left; font-size: 15px; line-height: 1.3; background: #fff url('images/main/bg_calc_quick.gif') no-repeat 24px 50%; }
.main_after .menu_quick .btn_box a + a { margin-top: 13px; }



/*
	main before
----------------------------------------------------------*/
#contents.main_before { background: #fff; }
#contents.main_before:before { display: none; }
#contents.main_before .section { padding: 0; }
#contents.main_before .section h2 { margin-bottom: 40px; height: inherit; line-height: 1.5; text-align: center; font-size: 28px; font-weight: normal; color: #444; position: static; }

/* top */
#contents.main_before .section { width: 1007px; }
.visual { position: relative; }
.visual li { position: relative; }
.visual li a { display: block; width: 490px; height: 115px; text-indent: -999em; position: absolute; left: 90px; top: 170px; overflow: hidden; background: url('images/layout/empty.png') repeat 0 0; }
.visual .btn { width: 154px; padding: 0; line-height: 40px; font-size: 16px; border: 0; position: absolute; left: 90px; top: 313px; }
.visual .btn:after { display: block; width: 100%; height: 3px; content: ''; background: #000; opacity: 0.05; filter: Alpha(Opacity=5); position: absolute; left: 0; bottom: -3px; rght: 0; }
.bx-default-pager { text-align: center; position: absolute; left: 0; right: 0; bottom: 106px; z-index: 1; }
.bx-default-pager span { display: inline-block; } 
.bx-default-pager span + span { margin-left: 6px; }
.bx-default-pager a { display: block; width: 12px; height: 12px; text-indent: -999em; background: url('images/main/btn_pager_main.png') no-repeat 0 100%; overflow: hidden; }
.bx-default-pager a.active { background-position: 0 0; }
.bx-controls-direction a { display: block; width: 24px; height: 36px; text-indent: -999em; background: url('images/main/btn_drect_visual.png') no-repeat 0 100%; position: absolute; top: 235px; overflow: hidden; }
.bx-controls-direction a.bx-prev { left: 14px; }
.bx-controls-direction a.bx-next { background-position: 0 0; right: 14px; }
.visual .bx-controls-auto a { display: block; margin-left: 30px; width: 10px; text-indent: -999em; height: 12px; background: no-repeat 0 0; overflow: hidden; position: absolute; left: 50%; bottom: 109px; z-index: 1; }
.visual .bx-controls-auto a.bx-start { display: none; background-image: url('images/main/btn_play.png'); }
.visual .bx-controls-auto a.bx-stop { background-image: url('images/main/btn_stop.png'); }

/* mid */
.mid { padding: 0 0 70px; }
.benefit { overflow: hidden; }
.benefit li { padding: 216px 0 0; width: 33.3%; line-height: 1.5; text-align: center; float: left; box-sizing: border-box; }
.benefit li.one { background: url('images/main/img_benft1_main.gif') no-repeat 50% 0; }
.benefit li.two { background: url('images/main/img_benft2_main.gif') no-repeat 50% 0; }
.benefit li.three { background: url('images/main/img_benft3_main.gif') no-repeat 50% 0; }
.benefit li dl { padding: 0 30px; }
.benefit li dt { margin-bottom: 7px; font-size: 20px; line-height: 1.3; color: #444; }
.benefit li dd { font-size: 14px; color: #888; }

/*
	main after
----------------------------------------------------------*/
#contents.main_after .section { padding: 40px 48px; width: 760px; }
.notice_wrap { margin-left: -24px; overflow: hidden; }
.notice_wrap .article { margin: 0 0 24px 24px; padding: 25px 30px 30px; width: 320px; background: #fff no-repeat 90% 78px; height: 306px; box-sizing: border-box; float: left; }
.notice_wrap .head { height: 170px; margin-bottom: 0; }
.notice_wrap h2 { margin-bottom: 11px; font-size: 24px; line-height: 1.2; font-weight: bold; }
.notice_wrap p { margin-bottom: 12px; line-height: 1.4; }
#body .notice_wrap ul li { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap:normal; }
#body .notice_wrap ul li + li { margin-top: 12px; }
.notice_wrap .product { background-image: url('images/main/bg_prd_notice.gif'); }
.notice_wrap .training { background-image: url('images/main/bg_tri_notice.gif'); }
.notice_wrap .library { background-image: url('images/main/bg_mkt_notice.gif'); }
.notice_wrap .news { background-image: url('images/main/bg_news_notice.gif'); }
.buy { margin: 0 0 24px; width: 664px; background: #fff url('images/main/bg_buy_after.gif') no-repeat 92% 50%; color: #888; }
.buy a { display: block; padding: 33px 0 0 48px; height: 120px; box-sizing: border-box; }
.buy em { display: inline-block; padding-right: 40px; margin-bottom: 10px; font-size: 28px; background: #fff url('images/main/btn_buy_after.gif') no-repeat 100% 50%; color: #444; }
.buy span { display: block; }

/* main popup */
.main_popup { min-width: 100%; background: #fff; position: relative; overflow: hidden; }
.main_popup { text-align: center; }
.main_popup .btn_box { overflow: hidden; padding-left: 10px; height: 43px; line-height: 43px; text-align: left; color: #888; }
.main_popup .pop_close_today { display: inline; width: inherit; border: 0; }
.main_popup .pop_close { display: block; width: 17px; height: 17px; text-indent: -999em; background: url('images/main/btn_close.gif') no-repeat 0 0; position: absolute; right: 10px; bottom: 12px; }


/*
	contents
----------------------------------------------------------*/
#contents { background: #efefef; position: relative; overflow: hidden; }
#contents .section { padding: 32px; }

/* top */
#contents h2 { position: absolute; left: -999em; }
#contents .article h2 { position: static; }
#contents h3 { height: 82px; line-height: 82px; text-align: center; font-size: 30px; font-weight: bold; color: #222; }
.location { border-bottom: 1px solid #dfdfdf; position: absolute; left: 32px; right: 32px; top: 0; overflow: hidden; box-sizing: border-box; }
.location li { padding: 0 15px; height: 28px; line-height: 28px; font-size: 13px; background: url('images/sub/ico/ico_arrow_loc.gif') no-repeat 0 50%; float: left; color: #888; }
.location li:first-child { padding-left: 0; width: 13px; text-indent: -999em; background: url('images/sub/ico/ico_home_loc.gif') no-repeat 0 50%; overflow: hidden; }

/* cont */
.cont { padding: 0 32px; line-height: 1.5; background: #fff; overflow: hidden; }
.article { margin: 60px 0; }
.article .article { margin-top: 0; }
.area + .area { margin: 25px 0 0; }
.single { margin: 60px 0 35px; }
.single + .article { margin-top: 35px; }

/* article */
.head { margin-bottom: 20px; min-height: 26px; overflow: hidden; position: relative; }
.head h4,
.tabs .head h5 { padding: 12px 0 0; font-size: 24px; line-height: 1.1; font-weight: bold; color: #222; position: relative; }
.head h4:after,
.tabs .head h5:after { display: block; width: 26px; height: 3px; content: ''; background: #a30034; position: absolute; left: 0; top: 0; }
.head .txt_info { line-height: 26px; }
.head .txt_pos { position: absolute; right: 0; bottom: 0; }
.head .more { font-size: 13px; line-height: 24px; }
.head q { font-size: 14px; color: #888; }
.head .bar.f_l { position: relative; top: 16px; }
.head .bar:before { margin: 0 7px 0 19px; font-size: 14px; content: '|'; color: #888; }
.head .block { display: block; }
.head .block:before { display: block; height: 9px; content: ''; clear: both; }
.head.big { text-align: center; }
.head.big h4 { margin-bottom: 50px; padding-top: 0; font-size: 26px; }
.head.big h4:after { display: none; }
.head.big p { line-height: 2; }
#body .tit_red { padding: 6px 0 0; font-size: 24px; font-weight: bold; background: none; color: #222; }
#body .tit_red:after { display: block; width: 26px; height: 3px; content: ''; background: #a30034; position: absolute; left: 0; top: 0; }
#body .tit_line { text-align: center; float: none; position: relative; }
#body .tit_line:after { display: block; width: 100%; margin-top: -1px; height: 2px; content: ''; background: #cecece; position: absolute; left: 0; top: 50%; z-index: 0; }
#body .tit_line span { display: inline-block; padding: 0 15px; min-width: 140px; font-size: 26px; background: #fff; position: relative; z-index: 1; }
#body .tit_dmd { padding-left: 17px; font-size: 18px; background: url('images/sub/ico/ico_dot_red.gif') no-repeat 0 10px; color: #222; }
.foot { margin-top: 30px; text-align: center; }

.inquiry {margin-top: 30px;}

/* button */
.btn { display: inline-block; padding: 0 20px; width: inherit; line-height: 32px; font-size: 13px; text-align: center; border: 1px solid transparent; box-sizing: border-box; }/* big size */
.btn.more { padding: 0 19px 0 7px; min-width: inherit; line-height: 21px; font-size: 12px; border-color: #c2c2c2; background: #fff url('images/sub/bg/bg_arrow_more.png') no-repeat 100% 45%; color: #666; }
.btn.more2 { padding: 0 19px 0 7px; min-width: inherit; line-height: 21px; font-size: 12px; border-color: #c2c2c2; color: #666; }
.btn.more2 span { display: inline-block; padding-right: 24px; background: url('images/sub/bg/bg_arrow_more2.png') no-repeat 100% 45%; }
#body .btn.red { border-color: #a30034; background: #a30034; color: #fff; }
#body .btn.gray { border-color: #7f7f7f; background: #7f7f7f; color: #fff; }
#body .btn.black { border-color: #4a4a4a; background: #4a4a4a; color: #fff; }
#body .btn.dark { border-color: #333; background: #333; color: #fff; }
.inner { padding: 0 5px; height: 19px; line-height: 19px; min-width: inherit; font-size: 12px; border-color: #e2e2e2; background: #eee; color: #888; }
.inner:hover { text-decoration: underline; }
.foot .btn { min-width: 165px; height: inherit; line-height: 38px; font-size: 16px; }
.foot .btn + .btn { margin-left: 16px; }

/* ico */
.ico_down { display: inline-block; padding-left: 25px; background: url('images/sub/ico/ico_down.gif') no-repeat 0 2px; }
.ico_down.pdf { background: url('images/sub/ico/ico_pdf.gif') no-repeat 0 2px; }
.ico_down.ppt { background: url('images/sub/ico/ico_ppt.gif') no-repeat 0 2px; }
.ico_down.doc,
.ico_down.docx,
.ico_down.wrd { background: url('images/sub/ico/ico_wrd.gif') no-repeat 0 2px; }
.ico_down.zip { background: url('images/sub/ico/ico_zip.gif') no-repeat 0 2px; }
.ico_down.xlx { background: url('images/sub/ico/ico_xlx.gif') no-repeat 0 2px; }
.ico_down.gif { background: url('images/sub/ico/ico_gif.gif') no-repeat 0 2px; }
.ico_down.jpg { background: url('images/sub/ico/ico_jpg.gif') no-repeat 0 2px; }

/* table */
.tbl { border-top: 2px solid #858585; }
.tbl th,
.tbl td { padding: 8px 20px; line-height: 1.4; vertical-align: middle; border-bottom: 1px solid #e2e2e2; font-size: 15px; color: #444; }
.tbl td * { vertical-align: middle; }
.tbl th { font-weight: bold; background: #f2f2f2; }
.tbl th label { line-height: 1.4; }
.tbl tbody th { text-align: left; }
.tbl tbody th + th { border-left: 1px solid #e2e2e2; }
.tbl .line_l { border-left: 1px solid #e2e2e2; }

.tbl.col th,
.tbl.col td { padding: 12px 5px; border-left: 1px solid #e2e2e2; text-align: center; }
.tbl.col th:first-child,
.tbl.col td:first-child { border-left: 0; }
.tbl.col td.tbl_tit { padding-left: 20px; text-align: left; }
.tbl.col tr:hover .tbl_tit{ font-weight: bold; text-decoration: underline; }
.tbl.col td.tbl_tit:hover * { font-weight: bold; text-decoration: underline; }
.tbl.col td.tbl_cont { padding: 20px; text-align: left; }
.tbl.col td.tbl_cont .inner_txt { padding: 0 0 15px; position: relative; }

.tbl.row2 { border: 1px solid #dbdbdb; border-width: 1px 0; }
.tbl.row2 th:first-child { border-left: 0; }
.tbl.row2 th { border-left: 1px solid #dbdbdb; background: #f8f8f8; }
.tbl.row2 th, .tbl.row2 td { border-bottom: 0; border-top: 1px solid #f2f2f2; }
.tbl.row2 tr:first-child th, .tbl.row2 tr:first-child td { border-top: 0; }

.tbl.write th { padding-left: 30px; position: relative; }
.tbl.write th .txt_info { font-weight: normal; font-size: 13px; }
.tbl.write td { padding: 4px 8px; }
.required { color: #a30034; }

/* accordion */
.acc_head { cursor: pointer; }
.acc_tbl tr:hover td,
.acc_head.on td { background: #f6f6f6; }
.acc_head.on + tr:hover td,
.acc_head.on + tr td { background: none; }

/* tbl_smry */
.tbl_smry { line-height: inherit; margin-bottom: 15px; font-size: 14px; color: #888; }
.tbl_smry.sm { margin-bottom: 10px; font-size: 13px; color: #888; }

/* tooltip */
#body .tooltip_box { position: relative; overflow: visible; }
#body .tooltip_box:after { display: block; content: ''; clear: both; }
.tooltip_txt { display: none; width: 260px; padding: 15px; font-size: 12px; line-height: 1.8; color: #888; background: #f6f6f6; border: 1px solid #e2e2e2; position: absolute; right: 0; z-index: 1; }
.tooltip_txt.on { display: block; }
.tooltip { cursor: pointer; position: relative; }
.tooltip.ico_help { display: inline-block; width: 18px; height: 18px; text-indent: -999em; background: url('images/sub/ico/ico_help.png') no-repeat 50% 50%; }
.tooltip.on:before { display: block; width: 20px; height: 16px; content: ''; background: url('images/sub/bg/bg_tooltip.png') no-repeat 0 0; position: absolute; right: 0; bottom: -14px; z-index: 2; }
.tooltip_txt em { color: #444; }

/* text */
.txt_info { font-size: 14px; color: #888; }

/* error */
.error { display: none; margin-top: 10px; padding-left: 19px; font-size: 14px; background: url('images/sub/ico/ico_error_form.png') no-repeat 0 2px; color: #a30034; }
.success { display: none; margin-top: 10px; padding-left: 19px; font-size: 14px; background: url('images/sub/ico/ico_success_form.png') no-repeat 0 2px; color: #1e91c2; }
.show { display: block; }

.error_other { display: none; margin-top: 10px; padding-left: 19px; font-size: 14px; text-align: right; background: url('images/sub/ico/ico_error_form.png') no-repeat 250px 2px; color: #a30034; }
.show_other { display: block; }

/* agreement */
.agreement { padding: 20px 30px; height: 208px; border: 1px solid #e2e2e2; overflow-y: auto; }
.agreement dt:first-child { margin-top: 0; }
.agreement dd { font-size: 14px; color: #888; }

/* comment box */
.box_gray { padding: 20px 30px; border: 1px solid #e2e2e2; background: #f6f6f6; }
.box_gray + .box_gray { margin-top: 10px; }
.box_line { border: 1px solid #e2e2e2; }

/* list */
.list_dot { font-size: 14px; color: #888; }
.list_dot li { line-height: 1.3; }
.list_dmd li { padding-left: 21px; background: url('images/sub/ico/ico_dot_red.gif') no-repeat 0 8px; }
.list_dmd li + li { margin-top: 5px; }
#body .list_num li { margin-left: 18px; }
#body .list_num > li > .list_head { margin:  0 5px 0 -18px; }

#body .list_string li { margin-left: 25px; }
#body .list_string > li > .list_head { margin:  0 5px 0 -25px; }

/* tabs */
#contents .tabs { padding: 0; background: #efefef; }
#contents .tabs .tab_cont { margin-top: 24px; padding: 0 32px; background: #fff; overflow: hidden; }
#contents .tabs .tab_head { overflow: hidden; background:  #fff url('images/sub/bg/line_gray_tabs.gif') repeat-y 100% 0; }
#contents .tabs .tab_head li { display: table; width: 25%; text-align: center; float :left; }
#contents .tabs .tab_head li a { display: table-cell; height: 62px; line-height: 1.1; font-size: 18px; font-weight: bold; border: 1px solid #cacaca; border-right: 0; vertical-align: middle; }
#contents .tabs .tab_head li.on a { background: #a30034; border-color: #a30034; color: #fff; }
#contents .tabs .tab_head li.on + li a { padding-left: 0; border-left: 0; }
#contents .tabs h4 { height: 0; overflow: hidden; }
#contents .tabs h4.show { height: inherit; overflow: visible; }
#contents .tab_head.item2 li { width: 50%; }
#contents .tab_head.item3 li { width: 33.3%; }

/* search */
#contents .search { padding: 0; background: none; overflow: visible; }
.condition { margin-bottom: 35px; font-size: 14px; color: #444; box-shadow: 0 0 1px #ececec; }
.condition:after { display: block; content: ''; clear: both; }
.condition fieldset { padding: 55px 32px 20px; border: 1px solid #ededed; box-sizing: border-box; position: relative; background: #fff; }
.condition fieldset + fieldset { border-top: 0; }
.condition fieldset.half { padding-right: 15px; width: 50%; min-height: 110px; line-height: 34px; float: left; }
.condition fieldset.half + .half { border-left: 0; }
.condition fieldset legend { display: block; width: inherit; height: inherit; line-height: 1.5; font-size: 14px; color: #97a009; overflow: visible; visibility: visible; position: absolute; left: 32px; top: 20px; }
.condition .btn { display: none; padding: 0; width: 46px; font-size: 13px; }
.condition .btn.on { display: block; }
.condition fieldset:first-child label { min-width: 50px; }
#contents .condition .set_box { padding-left: 10px; }
#contents .condition .set_box label { margin-right: 5px; }
#contents .condition .set_box [class^=col] { padding-left: 0px; }
#contents .condition .set_box input[type=text] { padding: 0 2px; text-align: center; display: inline-block; }
#contents .condition .col2 { width: 58px; }
#contents .condition .f_r { display: inline-block; float: none; }


/*
	member
----------------------------------------------------------*/
/* join */
.layout { position: relative; }
.layout label { height: 45px; line-height: 45px; font-size: 16px; }
.layout input { height: 45px; }
.membership .layout .pos_txt { font-size: 16px; text-indent: 6px; height: 45px; line-height: 45px; position: absolute; left: 41.66%; top: 0; color: #414141; }
.lay_pw input { background: url('images/sub/bg/bg_chk_chkng.png') no-repeat 95% 0; }
.lay_pw input.perfect { background-position: 95% 100%; }
.join_step { display: table; table-layout: fixed; width: 100%; overflow: hidden; padding-bottom: 4px; }
.join_step li { display: table-cell; padding: 18px 60px 18px 30px; width: 33.3%; height: 168px; position: relative; }
.join_step li:after { display: block; height: 100%; content: ''; border: 1px solid #e2e2e2; box-sizing: border-box; box-shadow: 0 4px #f2f2f2; position: absolute; left: 0; right: 30px; top: 0; z-index: 0; }
.join_step li:before { display: block; width: ; height: ; content: ''; background: url() no-repeat 50% 50%; position: absolute; z-index: 0; }
.join_step li > * { position: relative; z-index: 1; }
.join_step li span, 
.join_step li strong { display: block; }
.join_step li span { margin-bottom: 2px; font-size: 11px; font-weight: bold; color: #a30034; }
.join_step li .info { margin-top: 18px; padding-top: 19px; font-size: 14px; background: url('images/sub/bg/line_gray_join.gif') repeat-x 0 0; color: #888; }
.join_step li .here { display: none; }
.join_step li.on:after { border-color: #a30034; }
.join_step li.on .here { display: block; margin-top: 10px; padding-top: 62px; font-size: 13px; text-align: center; background: url('images/sub/bg/bg_on_join.gif') no-repeat 50% 0; color: #a30034; }
.join_step li.on .info { display: none; }
.join_step li + li { padding: 18px 45px;  }
.join_step li + li:after { left: 15px; right: 15px; }
.join_step li + li + li { padding: 18px 30px 18px 60px; }
.join_step li + li + li:after { left: 30px; right: 0; }

/*
	my page
----------------------------------------------------------*/
.grade_box { display: table; table-layout: fixed; width: 100%; padding: 23px 0 18px 30px; height: 146px; border: 3px solid #a0a826; box-sizing: border-box; overflow: hidden; position: relative; background: url('images/sub/bg/bg_new_grade.gif') no-repeat 30px 23px; }
.grade_box .my_level { display: table-cell; padding-left: 105px; line-height: 1.3; position: relative; vertical-align: top; }
.grade_box .my_level span { display: block; line-height: 1.2; font-size: 12px; color: #aaa; }
.grade_box .my_level strong { font-size: 28px; color: #222; }
.grade_box .my_level q { display: block; margin-top: 9px; line-height: 1.2; font-size: 14px; color: #888; }
.grade_box ul { display: table-cell; width: 380px; vertical-align: middle; }
.grade_box ul li { display: table-cell; width: 190px; height: 100%; line-height: 1.1; text-align: center; border-left: 1px solid #e2e2e2; color: #555; }
.grade_box ul li span { display: block; font-size: 16px; color: #222; }
.grade_box ul li span em { display: block; margin: 5px 0 10px; font-size: 13px; color: #888;  }
.grade_box ul li a strong { margin-right: 5px; font-size: 20px; color: #a30034; }
.grade_box ul li a:hover strong { text-decoration: underline; }
.grade_box.bronze { border-color: #bd7c32; background-image: url('images/sub/bg/bg_bronze_grade.gif'); }
.grade_box.silver { border-color: #a6a6a5; background-image: url('images/sub/bg/bg_silver_grade.gif'); }
.grade_box.gold { border-color: #e5af1d; background-image: url('images/sub/bg/bg_gold_grade.gif'); }
.grade_box.vip { border-color: #7550a4; background-image: url('images/sub/bg/bg_vip_grade.gif'); }
.grade_box.platinum { border-color: #272727; background-image: url('images/sub/bg/bg_platinum_grade.gif'); }
.ico_level { display: block; margin: 0 auto 5px; width: 53px; height: 64px; text-indent: -888em; background: url('images/sub/ico/ico_grade.gif') no-repeat; }
.ico_level.platinum { background-position: 0 0; }
.ico_level.vip { background-position: 0 -64px; }
.ico_level.gold { background-position: 0 -128px; }
.ico_level.silver { background-position: 0 -192px; }
.ico_level.bronze { background-position: 0 -256px; }
.ico_level.new { background-position: 0 100%; }
.ico_level + .txt_info { font-size: 13px; }
.aply { font-size: 14px; }
.aply span { display: block; }
.aply span.btn.more { display: inline-block; cursor: pointer; }
.aply .txt_date { display: none; }
.aply .btn { font-size: 12px; line-height: 21px; margin-top: 8px; }
.aply.off { opacity: 0.5; filter: alpha(opacity=50); cursor: not-allowed; }
.aply.off .txt_date { display: block; font-size: 12px; }
.aply.off .btn { cursor: not-allowed; }
.coupon { padding: 20px 0; border-top: 2px solid #858585; border-bottom: 1px solid #e2e2e2; }
.coupon ul { overflow: hidden; }
.coupon li { padding: 10px; width: 33.3%; float: left; box-sizing: border-box; }
.coupon li.off { opacity: 0.5; filter: alpha(opacity=50); cursor: not-allowed; }
.coupon li.off span,
.coupon li.off a { cursor: not-allowed; }
.coupon li div { height: 142px; text-align: center; border: 2px solid #c57690; background: url('images/sub/bg/bg_logo_cup.gif') no-repeat 7px 5px; overflow: hidden; }
.coupon li div p { display: table-cell; vertical-align: middle; padding: 25px 25px 10px; height: 70px; font-size: 14px; }
.coupon li div > a,
.coupon li div > span { display: block; height: 37px; line-height: 37px; font-size: 14px; background: #c57690; color: #fff; cursor: pointer; }
.coupon p.empty { height: 80px; line-height: 80px; text-align: center; }


/*
	qna
----------------------------------------------------------*/
.tbl.qna tr.as td { padding: 20px; text-align: left; background: #f6f6f6; }
.tbl.qna tr.qc td { cursor: pointer; }
.tbl.qna tr td.q { text-align: left; }
.tbl.qna tr td.q em { display: block; padding-left: 52px; width: 90%; height: 17px; line-height: 17px; background: url('images/sub/bg/bg_q_qna.gif') no-repeat 16px 50%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap:normal; }
.tbl.qna tr td.q em.over { height: inherit; line-height: 1.4; overflow: visible; white-space: normal; background-position: 16px 2px; }
.tbl.qna tr td.q em:hover { font-weight: bold; text-decoration: underline; }
.tbl.qna tr td .tit { display: block; margin-bottom: 24px; }
.tbl.qna tr td .a { padding: 0 24px 12px 74px; background: url('images/sub/bg/bg_a_qna.gif') no-repeat 8px 0; }
.tbl.qna tr.as td > div { position: relative; }
.tbl.qna tr.as td .close, .acc_close { display: block; width: 17px; height: 16px; text-indent: -999em; background: url('images/sub/btn/btn_close_acc.png') no-repeat 0 0; position: absolute; right: 0; bottom: 0; }

/*
	introduction & product 
----------------------------------------------------------*/
.design_cont .article { margin: 80px 0; }
.design_cont .article.first { margin-top: 60px; }
.design_cont .head { margin-bottom: 25px; }
.design_cont .article .article { margin: 25px 0 60px; }
.design_cont .article .article .head { margin: 35px 0 20px; }
.design_cont .article .article + .article { margin-top: 60px; }
.design_cont .area + .area { margin-top: 40px; }
#body .design_cont .article .mb_30 { margin-bottom: 27px; }
.design_cont .box_line { overflow: hidden; position: relative; }
.design_cont .box_line dt { margin-bottom: 10px; line-height: 1.2; text-align: center; font-weight: bold; }
.design_cont .box_line dd { font-size: 14px; box-sizing: border-box; position: relative; color: #444; }
.design_cont .box_line dd li { letter-spacing: -0.5px; color: #444; }
#body .design_cont .box_line dd .list_hyphen { margin-top: 5px; }
#body .design_cont .box_line dd .list_hyphen li { margin-top: 0; }
.gray_wrap .box_line dd { padding: 20px 10px; background: #f6f6f6; }
.left_dash:after { width: 1px; content: ''; background: url('images/sub/bg/line_dash.png') repeat-y 0 0; position: absolute; left: 0; top: 14px; bottom: 14px; }
.top_dash { margin-top: 30px; padding-top: 30px; border-top: 1px dashed #d5d5d5; }
.mk { text-align: left; }
dd.txt { padding: 35px 0 0 10px; text-align: left; }
.mk strong { display: inline-block; padding: 0 13px; height: 23px; line-height: 23px; font-size: 14px; background: no-repeat 0 0; position: relative; color: #fff; }
.mk strong:after { display: block; width: 13px; height: 23px; content: ''; background: no-repeat 100% 0; position: absolute; right: 0; top: 0; }
.mk.black strong,
.mk.black strong:after { background-image: url('images/sub/bg/bg_black_marker.gif'); }
.mk.red strong,
.mk.red strong:after { background-image: url('images/sub/bg/bg_red_marker.gif'); }
#body .hatched { margin-bottom: 0; padding: 12px 0; font-size: 18px; font-weight: bold; background: url(images/sub/bg/bg_hatched.gif) repeat 0 0; border: 2px solid #e7e7e7; }
.design_cont .box_line .img_caption { padding: 28px 0 0; font-size: 16px; font-weight: bold; text-align: center; }
.design_cont .list_dot { color: inherit; }
.spc_reset { letter-spacing: -1px; }

/* company */
.group_wrap ul,
.chem_wrap ul { overflow: hidden; }
.chem_wrap .img_comp02_intro { z-index: 1}
.chem_wrap .homepage_btn {position:absolute; margin-left:600px; margin-top: 350px; z-index: 2}


.group_wrap li,
.chem_wrap li { float: left; }
.chem_wrap .img_caption { margin-top: 10px; font-size: 20px; font-weight: bold; text-align: center; }
.business_wrap.area { padding: 0 0 55px 49px; background: url('images/sub/img/img_comp03_intro.gif') repeat-y 104px 0; position: relative; }
.business_wrap.area:after { display: block; width: 207px; height: 92px; content: ''; background: url('images/sub/img/img_comp0303_intro.gif') no-repeat 0 0; position: absolute; left: 0; bottom: 0; }
.business_wrap dt { width: 112px; padding-top: 45px; height: 95px; font-weight: bold; text-align: center; background: url('images/sub/img/img_comp0302_intro.gif') no-repeat 0 0; float: left; position: relative; z-index: 2; color: #fff; }
.business_wrap dt:first-child { top: -15px; }
.business_wrap dd { margin-bottom: 20px; padding-left: 145px; min-height: 141px; position: relative; z-index: 1; color: #444; }
.business_wrap dd li strong { margin-right: 4px; }
.strategy_wrap .f_l,
.strategy_wrap .f_r { width: 50%; box-sizing: border-box; }
.strategy_wrap dt { margin-bottom: 10px; font-weight: bold; }
.strategy_wrap .after_box + .after_box { margin-top: 20px; }

/* partner */
.ptner_wrap { padding: 178px 0 0; background: url('images/sub/img/img_ptner01_intro.gif') no-repeat 0 0; overflow: hidden; }
.ptner_wrap dl { width: 250px; font-size: 14px; text-align: center; float: left; }
.ptner_wrap dl + dl { margin-left: 45px; }
.ptner_wrap dt { margin-bottom: 10px; font-size: 16px; line-height: 1.2; font-weight: bold; }

/* program */
.prg_wrap ul { padding: 145px 0 0; background: url('images/sub/img/img_prg01_intro.gif') no-repeat 50% 0; overflow: hidden; }
.prg_wrap li { width: 190px; font-size: 14px; text-align: center; float: left; }
.prg_wrap li + li { margin-left: 25px; }
.prg_wrap li .more { display: inline-block; }

/* Aplication */
.grid_wrap .box_line { margin-left: 10px; width: 271px; float: left; }
.grid_wrap .box_line:first-child { margin: 0; }
.grid_wrap .box_line dd { min-height: 106px; }
.rsdt_wrap .box_line dl { width: 33.3%; float: left; }
.rsdt_wrap .box_line dd { min-height: 124px; }
.rsdt_wrap2 .box_line dl { width: 45%; position: absolute; left: 445px; bottom: 30px; }
.rsdt_wrap2 .box_line dt { text-align: left; }
.rsdt_wrap2 .box_line dd { padding: 0; background: none; word-break: keep-all; }
.ups_wrap .box_line dd { width: 50%; height: 155px; float: left; }

/* Strengths */
.prd_tab02 .box_line + .box_line { margin-top: 20px; }
.prd_tab02 .box_line .f_l,
.prd_tab02 .box_line .f_r { width: 50%; text-align: right; }
.prd_tab02 .box_line .mk,
.prd_tab02 .box_line dd.txt { position: absolute; left: 0; top: 0; z-index: 1; }
.prd_tab02 .box_line .f_r .mk,
.prd_tab02 .box_line .f_r dd.txt { left: 10px; }
.prd_tab02 .box_line { padding: 30px 30px 25px; }
.prd_tab02 .box_line dl { position: relative; }
.prd_tab02 .safety_wrap .f_l,
.prd_tab02 .safety_wrap .f_r { width: 360px; }
.prd_tab02 .lifespan_wrap dd { line-height: 183px; }
.prd_tab02 .lifespan_wrap2 .box_line { padding: 30px 0 77px; }
.prd_tab02 .lifespan_wrap2 dl { height: 171px; padding: 0 30px; box-sizing: border-box; }
.prd_tab02 .lifespan_wrap2 dt { margin: 0; position: absolute; left: 0; right: 0; bottom: -48px; z-index: 1; }
.prd_tab02 .lifespan_wrap2 dd { text-align: center; }
.prd_tab02 .lifespan_wrap2 .f_r dd { text-align: right; }
.prd_tab02 .lifespan_wrap2 .f_r dd .txt_info { margin-left: -2px; letter-spacing: -0.5px; position: relative; top: -7px; left: 5px; }

/* site */
.history_wrap { margin-left: 80px; padding: 0 0 30px; background: url('images/sub/img/img_rfrce01_prd.gif') repeat-y 10px 0; position: relative; }
.history_wrap:after { display: block; width: 14px; height: 7px; content: ''; background: url('images/sub/img/img_rfrce01_prd.gif') no-repeat 0 100%; position: absolute; left: 10px; bottom: 0; }
.history_wrap .big_txt { margin-left: -80px; line-height: 1.3; text-align: center; font-size: 18px; font-weight: bold; color: #a30034; }
.history_wrap .big_txt span { font-size: 16px; }
.history_wrap dl { overflow: hidden; }
.history_wrap dl dt { margin: 25px 0 0; padding-left: 105px; line-height: 34px; font-weight: bold; background: url('images/sub/img/img_rfrce0102_prd.gif') no-repeat 0 0; float: left; }
.history_wrap dl dd { margin: 35px 0 0; padding-left: 170px; line-height: 1.3; }
.history_wrap .last dt { background-image: url('images/sub/img/img_rfrce0103_prd.gif'); }
.history_wrap .list_dot .txt_info { display: block; margin-left: 5px; }
.map_wrap .tit_black { display: inline-block; margin-bottom: 20px; letter-spacing: -1px; padding: 9px 0; width: 318px; text-align: center; font-size: 16px; background: #6b6b6b; color: #fff; }
.map_wrap .f_l { width: 318px; }
.map_wrap .f_r { padding-left: 30px; width: 463px; min-height: 364px; border-left: 1px solid #e2e2e2; }
.map_wrap.re_h .f_r { min-height: 388px; }


/* product info */
.product .result .article { margin: 20px 0 25px; padding: 55px 32px 35px; background: #fff; }
.product .result .head { margin-bottom: 50px; padding-left: 50%; min-height: 346px; }
.product .result .head h4 { font-size: 26px; }
.product .result .head h4:after { display: none; }
.product .result .head .photo { width: 352px; height: 352px; line-height: 352px; text-align: center; position: absolute; left: 0; top: 0; }
.product .result .head .photo:before { display:inline-block; margin-left: -5px; width:0; height:352px; font-size: 0; content: ''; vertical-align:middle; overflow:hidden; }
.product .result .head .photo img { vertical-align:middle; }
.product .result .head q.block { margin-bottom: 15px; line-height: 1.2; }
.product .result .list_dmd li + li { margin-top: 10px; }
.product .result .area .head { margin: 0; padding: 0; min-height: inherit; }
.product .result .area .head h5 { padding: 0; height: 46px; line-height: 46px; font-size: 16px; border: 1px solid #dbdbdb; background: none; border-width: 1px 0; float: none; cursor: pointer; color: #444; }
.product .result .list_down { margin: 0 0 30px; overflow: hidden; border-left: 1px solid #e2e2e2; }
.product .result .list_down li { width: 25%; height: 95px; font-size: 13px; line-height: 1.2; text-align: center; border: 1px solid #e2e2e2; border-left: 0; color: #444; box-sizing: border-box; float: left; }
.product .result .list_down li a { display: block; padding: 55px 8px 0; word-break:break-all; }
.product .result .list_down li a.spec { background: url('images/sub/ico/ico_spec_prd.gif') no-repeat 50% 13px; }
.product .result .list_down li a.warranty { background: url('images/sub/ico/ico_wrt_prd.gif') no-repeat 50% 12px; }
.product .result .list_down li a.certification { background: url('images/sub/ico/ico_cation_prd.gif') no-repeat 50% 13px; }
.product .result .list_down li a.software { background: url('images/sub/ico/ico_sft_prd.gif') no-repeat 50% 16px; }
.product .result .empty { height: 80px; line-height: 80px; text-align: center; border-top: 2px solid #858585; border-bottom: 1px solid #e2e2e2; }
.product .result .acc_tit { background: url('images/sub/ico/ico_head_prdt.gif') no-repeat 99% 100%; }
.product .result .acc_tit.on { background-position: 99% 0; }
.product .result .acc_tit + .acc_cont .tbl.row2 { border-top: 0; }


/*
	training
----------------------------------------------------------*/
.training .result { padding: 0 32px; background: #fff; overflow: hidden; }
.dfnd_type dt { width: 20%; font-weight: bold; text-align: right; float: left; }
.dfnd_type dd { margin-bottom: 10px; padding-left: 25%; }
.dfnd_type dd:after { display: block; content: ''; clear: both; }
.dfnd_type dd ul li + li { margin-top: 2px; }
.dfnd_type dd .ico_arrow { margin-left: 10px; font-size: 13px; color: #c79022; }
.dfnd_type dd .ico_arrow:after { content: ' >'; }

#body tr.blind { position: static; }
#body tr.blind td { padding: 0; height: 0; overflow: hidden; }
#body tr.blind td div { position: absolute; z-index: -100000; }

/* movie */
.video_box + .video_box { margin-top: 10px; }
.video_box div { text-align: center; font-size: 14px; background: #5b5b5b url('images/sub/bg/bg_no_movie.gif') no-repeat 50% 42%; color: #fff; }
.dfnd_type .video_box div { padding-top: 80px; width: 279px; height: 86px; background-position: 50% 35%; }
.movie_cont { padding: 60px 0; overflow: hidden; position: relative; }
.movie_cont:after { display: block; width: 1px; content: ''; background: #e2e2e2; position: absolute; left: 515px; top: 0; bottom: 0; }
.movie_cont .movie { padding-right: 21px; width: 495px; float: left; }
.movie_cont .movie .video_box { width: 495px; height: 278px; }
.movie_cont .movie .video_box div { padding-top: 140px; width: 495px; height: 138px; background-position: ; }
.movie_cont .movie p { margin-top: 30px; word-break: normal; line-height: 1.3; font-size: 24px; font-weight: bold; color: #222; }
.movie_cont .movie_side { padding-left: 20px; width: 304px; float: left; }	
.movie_list { margin-bottom: 20px; }
.movie_list li + li { margin-top: 15px; }
.movie_list li.on .img { border-color: #a30034; }
.movie_list li a { display: block; overflow: hidden; }
.movie_list .img { width: 142px; height: 81px; margin-right: 15px; border: 2px solid transparent; float: left; position: relative; }
.movie_list .img img { width: 100%; height: 100%; }
.movie_list .img:before,
.movie_list .img:after{ display: block; content: ''; position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
.movie_list .img:before { background: #000; opacity: 0.2; filter: alpha(opacity=20); }
.movie_list .img:after { background: url('images/sub/bg/bg_play.png') no-repeat 50% 50%; }
.movie_list .tit { font-size: 14px; overflow: hidden; text-overflow: ellipsis; display: block; display: -webkit-box; -webkit-line-clamp: 4;	-webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.4em;	height: 5.6em; color: #555; }


/*
	Information Use
----------------------------------------------------------*/
/* policy  */
.polcy_wrap + .polcy_wrap  { margin-top: 40px; }
.polcy_wrap .tit { margin-bottom: 20px; font-weight: bold; }
.polcy_wrap dt { margin: 30px 0 15px; font-weight: bold; }
.polcy_wrap dd > ul { margin: 20px 0; }
.polcy_wrap dd ul { margin: 5px 0; }
.polcy_wrap ul li + li { margin-top: 15px; }
.polcy_wrap ul ul li + li { margin-top: 5px; }
.polcy_wrap .list_string li { font-size: ; color: #888; }
.polcy_wrap .list_string li + li { margin-top: 5px; }


/* site map */
.semap_wrap { overflow: hidden; }
.semap_wrap > ul > li { padding: 0 10px; width: 25%; height: 250px; line-height: 1.3; float: left; box-sizing: border-box; word-break:normal; position: relative; }
.semap_wrap > ul > li > strong { display: block; padding-bottom: 10px; font-size: 20px; font-weight: bold; border-bottom: 1px solid #e2e2e2; color: #222; }
.semap_wrap > ul > li > ul > li { padding: 15px 30px 0 21px; font-size: 15px; background: url('images/sub/ico/ico_dot_red.gif') no-repeat 0 20px; }

/* Where to buy */
.buy_wrap ul { border-top: 2px solid #858585; }
.buy_wrap li { display: table; width: 100%; table-layout: fixed; }
.buy_wrap li > span { display: table-cell; padding: 5px 10px; vertical-align: middle; overflow: hidden; }
.buy_wrap li > span em { display: block; padding-left: 20px; background: url('images/sub/ico/ico_dot_red.gif') no-repeat 0 50%; }
.buy_wrap li > span .link { margin: 0 0 0 20px; color: #888; }
.buy_wrap li > span .link:after { margin: 0 5px; font-size: 13px; content: '>'}
.buy_wrap li + li { border-top: 1px solid #eee; }
.buy_wrap .logo { width: 232px; height: 59px; text-align: center; }
.buy_wrap .logo img { max-width: 100%; }


/*
	footer
----------------------------------------------------------*/
#footer { padding: 24px 0; height: 112px; font-family: Arial; font-size: 13px; background: #2b2b2b; color: #fff; position: relative; z-index: 1; box-sizing: border-box; }
#footer .section { position: relative; }
.menu_bot { overflow: hidden; }
.menu_bot li { float: left; }
.menu_bot li:before { padding: 8px 0; content: "|"; float: left; }
.menu_bot li a { display: block; padding: 8px; }
.menu_bot li:first-child:before { display: none; }
.menu_bot li:first-child a { padding-left: 0; }
.copy { padding: 10px 0; color: #aaa; }
#footer .link_box { position: absolute; right: 32px; top: 0; }
#footer .link { margin-left: 8px; width: 150px; height: 38px; font-family: 'lgsmart'; font-size: 12px; line-height: 38px; border: 1px solid #555; float: left; }
#footer .link:first-child { margin-left: 0; width: 165px; }
#footer .link h2 { text-indent: 8px; background: url('images/layout/bg_arrow_foot.gif') no-repeat 90% 45%; }
#footer .link ul { border: 1px solid #555; border-width: 0 1px; left: -1px; bottom: 39px; }
#footer .link ul li { padding: 3px 0; line-height: 1.5; background: #2b2b2b; border-top: 1px solid #555; }

.btn_footer { display: block; margin: 32px; padding: 10px; background: #fff; color: #222; }

/*
	dialog 
----------------------------------------------------------*/
.ui-widget-overlay { background: #000; }
.ui-dialog .ui-dialog-titlebar { padding: 0 30px; height: 35px; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-title { text-align: left; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close { width: 15px; height: 15px; background: url('images/layout/btn_close_pop.gif') no-repeat 50% 50%; left: inherit; right: 13px; top: 11px; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-icon-primary { display: none; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-text { padding: 0; position: absolute; left: -999em; }
.ui-dialog { min-width: 274px; text-align: center; border-top: 2px solid #a30034; background: #fff; overflow: hidden; }
.ui-dialog .ui-dialog-content { padding: 5px 30px 15px; min-height: 58px !important; }
.ui-dialog .ui-dialog-buttonpane { margin: 0; padding: 15px; text-align: center; background: #fff; float: none; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: none; }
.ui-dialog .ui-dialog-buttonpane button { margin: 0; width: 80px; height: inherit; border: 0; border-radius: 0; background: #a30034; color: #fff; float: none; }
.ui-dialog .ui-dialog-buttonpane button.gray { border-color: #7f7f7f; background: #7f7f7f; }
.ui-dialog .ui-dialog-buttonpane button + button { margin-left: 10px; }
.ui-button-text-only .ui-button-text { margin: 0; padding: 0; line-height: 28px; font-size: 14px; font-weight: normal; }
.layer { display: none; }
.dialog_cont .ui-dialog-titlebar { height: 50px; line-height: 48px; font-size: 16px; border-bottom: 1px solid #e2e2e2; color: #222; }
.dialog_cont .ui-dialog-titlebar .ui-dialog-titlebar-close { width: 19px; height: 19px; right: 13px; top: 17px; }
.dialog_cont .ui-dialog-content { padding: 20px 30px 15px; text-align: left; }



/*
	media screen
----------------------------------------------------------*/
@media screen and (max-width:1024px) {
	/* layout */
	body { width: 1007px; }
	.main_popup { width: 100%; }
	#wrap { min-width: auto; width: 1007px; overflow: hidden; }
	#header .section,
	#footer .section { width: 1007px; }
	#nav { width: 1007px; min-width: 1007px; }
	#nav > ul { width: 1007px; }
	body,
	#header:before,
	#nav { min-width: auto; }
	
	#nav ul ul,
	#nav .btn_close a { opacity: 0; }
	#nav.on ul ul,
	#nav .btn_close a { opacity: 1; }
	
	/* after */
	#contents.log_after .section,
	#contents.main_after .section { margin: 0; margin-left: -7px; }
	
	.body_clc,
	.body_clc #wrap { width: 100%; min-width: auto; }
	
	/* mobile */
	body.mob { width: 100%; }
	.mob #wrap { min-width: auto; width: 100%; overflow: hidden; }
	.mob #header .section,
	.mob #footer .section { width: 100%; }
	.mob #nav { width: 100%; min-width: 100%; }
	.mob #nav > ul { width: 100%; }
	
	/* after */
	.mob #contents.log_after .section,
	.mob #contents.main_after .section { margin: 0; }
	
}


/*
	media print
----------------------------------------------------------*/
@media print {
	#body.print_body #header,
	#body.print_body #footer,
	#body.print_body .section,
	#body.print_body .menu_quick { display: none; }
	#body.print_body .clc_content { position: static; }
	#body.print_body .blind { visibility: visible; position: static; width: inherit; height: inherit; font-size: inherit; line-height: inherit; }
	#body.print_body .calculator { width: inherit; border-width: 1px; position: static; left: 0; right: 0; top: 0; z-index: 1000; } 
	
	#body .calculator .acc_cont br { display: none; }
	#body .calculator .acc_cont br:before { content: ' '; }
	#body .calculator .acc_cont .col2 { padding-right: 0; width: 16.66%; }
	#body .calculator .acc_cont .col6 { padding-right: 0; width: 50%; }
	#body .calculator .acc_cont .col4 { padding-right: 0; width: 33.33%; }
	#body .calculator .acc_cont .col10 { padding-right: 0; width: 83.33%; }
}











.video_layer_wrap{display:none;position:fixed;left:0;right:0;top:0;bottom:0;width:100%;height:100%;padding-right:16px;overflow:auto;z-index:20;background:rgba(0,0,0,0.8);}
.video_layer{position:absolute;top:0;left:50%;z-index:21;width:772px;height:514px;margin-left:-394px;background:#fff;}/*스크롤포함 마진마이너스*/
.video_layer .video_tit{display:block;height:51px;line-height:51px;padding:0 30px;font-family:'lgsmart';font-size:20px;color:#fff;background:#a50034;}
.video_layer .video_area{padding:30px;}
.video_layer .video_desc{display:block;width:712px;height:55px;margin:0 auto;border:none;overflow:scroll;overflow-x:hidden;}
.video_layer .vbtn{display:inline-block;background:url('images/main/btn_close.gif') no-repeat;}
.video_layer .video_btn_close{width:15px;height:15px;}
.video_layer .video_btn_close{position:absolute;top:18px;right:30px;}
.video_layer .video_btn_close > span{text-indent:-9999px;position:absolute;top:-9999px;font-size:0;}