<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
<xsl:output method="html" />
<xsl:template match="/">

<table id='pe_aXA' class='editortable' cellspacing='0' cellpadding='0' style='border-collapse:separate; table-layout:fixed; text-align:left; border:0;'>
	<tbody>
	<tr onselectstart='return false;'>
		<td class='NamoSE_skinLeft'><img id='pe_ayQ' name='skin_left.gif' style="width:0px;" alt=""/></td>
		<td class='NamoSE_skinBg'>

			<table id='pe_aWJ' cellspacing='0' cellpadding='0' style='border-collapse:separate; table-layout:auto;'>
				<tr>
					<td class='NamoSE_skinLine ce-namo-menu'></td>
				</tr>
				<tr>
					<td class='NamoSE_skinLine_linecolor'></td>
				</tr>
				<tr>
					<td class='NamoSE_skinLine_common'></td>
				</tr>

				<xsl:for-each select="ToolBar/Panel">
				
				<tr>
					<td class='NamoSE_skinLine'>

					<xsl:for-each select="item">
						
						<span>
							<xsl:choose>
							<xsl:when test="@type = 'select'">

								<xsl:element name="select">
									
									<xsl:attribute name="id" >
										<xsl:value-of select="@name"/>
									</xsl:attribute>

									<xsl:attribute name="name" >
										<xsl:value-of select="@name"/>
									</xsl:attribute>

								</xsl:element>

							</xsl:when>
							<xsl:otherwise>

								<xsl:element name="img">
									
									<xsl:attribute name="id" >
										<xsl:value-of select="@name"/>
									</xsl:attribute>

									<xsl:attribute name="name" >
										<xsl:value-of select="@src"/>
									</xsl:attribute>

								</xsl:element>

							</xsl:otherwise>
							</xsl:choose>
						</span>

					</xsl:for-each>

					</td>
				</tr>

				<xsl:if test="position() &lt; count(//Panel)">
				
				<tr>
					<td class='NamoSE_skinLine_linecolor'></td>
				</tr>
				<tr>
					<td class='NamoSE_skinLine_common'></td>
				</tr>

				</xsl:if>

				</xsl:for-each>
				
			</table>
		</td>
		<td class='NamoSE_skinRight'><img id='pe_OA' name='skin_right.gif' style="width:0px;" alt=""/></td>
	</tr>
	<tr>
		<td colspan='3' class="NamoSE_skinEditor">
			<table width='100%' cellspacing='0' cellpadding='0' style='border-collapse:separate; table-layout:auto; background-color:#FFFFFF' class="ruler-hidden">
				<tr>
					<td style='height:5px;' colspan='3' class="ce-ui-editor-margin-top"></td>
				</tr>
				<tr>
					<td style='width:5px' class="ce-ui-editor-margin-left"></td>
					<td id='pe_aWu'></td>
					<td style='width:5px' class="ce-ui-editor-margin-right"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td id='pe_aWD' colspan='3' class='NamoSE_skinEditorButton'><img id='wysiwyg' name='btn_modebar_bk.gif' class='NamoSE_btn_modebar' /><img id='html' name='btn_modebar_bk.gif' class='NamoSE_btn_modebar NamoSE_btn_modebar_off' /><img id='preview' name='btn_modebar_bk.gif' class='NamoSE_btn_modebar NamoSE_btn_modebar_off' /></td>
	</tr>
</tbody>
</table>

</xsl:template>
</xsl:stylesheet>