@charset "utf-8";

/*Normalize v8.0.0 | MIT License | github.com/necolas/*/
.uploadpc.content{padding:17px 0}
.uploadpc.content-box{margin-top:5px;padding:15px 20px;background-color:#f5e9ec; text-align: center;}
.uploadpc.content-box p{color:#666;}
html{line-height:1.15;-webkit-text-size-adjust:100%}
small{font-size:80%}
sub,sup{position:relative;line-height:0;font-size:75%;vertical-align:baseline}
sub{bottom:-0.25em}
sup{top:-0.5em}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.4;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}
textarea{overflow:auto}
[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="number"]{-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;box-shadow:none}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
abbr[title]{border-bottom:none;text-decoration:underline dotted}
progress{vertical-align:baseline}
details{display:block}
summary{display:list-item}
[hidden],template,hr{display:none}
b,strong{font-weight:bolder}

/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video,main{margin:0;padding:0;border:0;vertical-align:baseline;font-size:inherit;color:inherit;box-sizing:border-box}
dl,ul,ol,menu,li{list-style:none}
fieldset,img{border:0 none}
input,select,textarea,button{vertical-align:middle;margin:0;padding:0;font-family:inherit;box-sizing:border-box;-webkit-appearance:none;-webkit-border-radius:0;box-shadow:none}
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="textarea"],
input[type="text"],
input[type="password"],
input[type="email"]{-webkit-appearance:none;-moz-appearance:none;appearance:none;box-shadow:none}
button{border:0 none;background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
input,textarea,img{max-width:100%;box-shadow:none}
a,a:hover,a:visited,a:active{text-decoration:none}
img{vertical-align:top}
sup{font-size:x-small}
sub{font-size:x-small}
button,select{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none}
select::-ms-expand{display:none}/* IE 10, 11의 네이티브 화살표 숨기기 */
select{border:none}
table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}/* HTML5 for older browsers */
/* html,body{-webkit-overflow-scrolling:touch} */
textarea{resize:none}
i{font-style:normal}


/* OLD Fashion */
.align-l{text-align:left !important}
.align-c{text-align:center !important}
.align-r{text-align:right !important}
.float-l{float:left !important}
.float-r{float:right !important}
.float-n{float:none !important}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
.mb5{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}
.mb30{margin-bottom:30px !important}
.ml10{margin-left:10px !important}
.ml20{margin-left:20px !important}
.ml30{margin-left:30px !important}
.pt5{padding-top:5px !important}
.pt10{padding-top:10px !important}
.pt20{padding-top:20px !important}
.pt30{padding-top:30px !important}
.pl15{padding-left:15px !important}
.pd0{padding:0 !important}
.mg0{margin:0 !important}
.bd0{border:none !important}
.w100{width:100%}
.w50{width:50%}
.vertical-t{vertical-align:top}
.ellipsis{overflow:hidden;display:inline-block;max-width:100%;text-overflow:ellipsis;white-space:nowrap}
.clearfix:after{content:'';display:block;clear:both}
.ib{display:inline-block}
.dp-none{display:none}

/*
	Regular 400
	Medium 500
	SemiBold 600
	Bold 800
*/

body{position:relative;font-size:18px;font-family:'Apple SD Gothic Neo', 'NotoSans', Arial, Helvetica, sans-serif;line-height:1.4;color:#222}

/* color */
.color-w{color:#fff}
.color-r{color:#c00c3f}
.color-gr{color:#666}
.color-lg{color:#888}
.bg-rd{background-color:#c00c3f}
.bg-bk{background-color:#222}
.bg-gr{background-color:#f6f6f6}
.bg-wh{background-color:#fff !important}


/* ============================================================================================
                                                                                E L E M E N T
==============================================================================================*/

/* /////// input /////// */
.input-wrap{padding:15px 0 20px}
.input-wrap2{padding:5px 0 0}
.input-tit,
.input-sub-tit{display:block;margin-bottom:6px;color:#000}
.input-tit{font-size:14px;font-weight:600}
.input-sub-tit{margin-top:13px;font-size:13px;font-weight:400}
.radio, .checkbox{position:relative;display:inline-block}
input[type="text"],
input[type="number"],
input[type="password"]{width:100%;height:42px;padding:0 14px;line-height:42px;background-color:#fbfbfb;border:1px solid #ddd;font-size:14px;color:#000}
input[type="text"]:disabled{background-color:#eee;color:#999}
input[type="text"].active{color:#000;background-color:#fff;border-color:#222}
input[type="text"] + input[type="text"]{margin-top:5px}
input[type="radio"],
input[type="checkbox"]{overflow:hidden;position:absolute !important;top:0 !important;left:0 !important;width:0 !important;height:0 !important;background:transparent;border:none;font-size:0;-webkit-appearance:none;-moz-appearance:none;appearance:none}
input[type="radio"] + label,
input[type="checkbox"] + label{position:relative;display:inline-block;width:auto;left:0;z-index:1;line-height:18px;color:#666;font-size:14px;cursor:pointer;vertical-align:top}
input[type="radio"] + label{line-height:18px;padding-left:28px}
input[type="radio"] + label:before{content:'';position:absolute;top:0;left:0px;width:18px;height:18px;background-color:#fff;border:1px solid #dedede;border-radius:50%;box-sizing:border-box}
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label{color:#000;font-weight:600}
input[type="radio"]:checked + label:before{border:6px solid #c00c3f}
input[type="checkbox"] + label{line-height:18px;padding-left:28px}
input[type="checkbox"] + label:before{content:'';position:absolute;top:0;left:0px;width:18px;height:18px;background-color:#fff;border:1px solid #ddd;box-sizing:border-box}
input[type="checkbox"]:checked + label:after{content:'';position:absolute;top:4px;left:3px;width:9px;height:5px;border-left:2px solid #000;border-bottom:2px solid #000;transform:rotate(-45deg)}
input[type="checkbox"].active:checked + label:before{border:none;background-color:#c00c3f}
input[type="checkbox"].active + label:after{border-color:#fff}
input[type="checkbox"].active-wh + label{color:#fff;font-weight:400}
input[type="checkbox"].active-wh + label:before{border:none;background-color:#fff}
label + input[type="radio"],
label + input[type="radio"]{margin-left:30px}

input.bk[type="radio"] + label,
input.bk[type="checkbox"] + label{color:#999}
input.bk[type="radio"] + label:before{background-color:transparent;border-color:#999}
input.bk[type="radio"]:checked + label,
input.bk[type="checkbox"]:checked + label{color:#fff;font-weight:400}
input.bk[type="radio"]:checked + label:before{border-color:#fff}
input.bk[type="checkbox"]:checked + label:before{background-color:#fff;border-color:#fff}
input.bk[type="checkbox"] + label:before{background-color:transparent;border-color:#999}

.login-input-area{display:flex;align-items:flex-end;width:100%;height:auto;border-bottom:1px solid #222;color:#000;font-size:14px}
.login-input-area > * {padding:10px 0}
.login-input-area .label{width:90px;margin-right:40px;font-weight:600;letter-spacing:-0.5px}
.login-input-area .login-input{width:calc(100% - 130px);height:auto;color:#000}
.login-input-area + .login-input-area{margin-top:10px}

textarea{width:100%;padding:10px 15px;background-color:#fbfbfb;border:1px solid #ddd}
textarea::placeholder{font-size:14px}
.maxlength{color:#999}

.password{position:relative}
.password .password-visibility{position:absolute;top:0;right:0;width:42px;height:42px}
.password .password-visibility i{color:#ccc;font-size:17px}
.password .password-visibility.show i{color:#000}

.input-bk{background-color:#222}
.input-gr{background-color:#2c2c2c}
.input-column .radio,
.input-column .checkbox{position:relative;display:block;width:100%;height:auto}

.select-area{padding:18px 0}
.select{position:relative}
.select:after{position:absolute;top:16px;right:15px;content:'';width:0;height:0;border-style:solid;border-width:5px 5px 0 5px;border-color:#000 transparent transparent}
.select select{display:block;width:100%;height:35px;padding:0 24px 0 14px;border:1px solid #ddd;font-size:14px;font-weight:400;color:#000}
.select select:before{position:absolute;top:1px;right:1px;content:'';width:40px;height:40px;background-color:#fbfbfb}
.select select option{width:100%;height:100%;overflow:hidden}
.select:disabled{background-color:#eee}
.select.disabled:before{background-color:#eee}
.select.disabled:after{border-bottom-color:#bbb}
select{background:#fbfbfb}
select:disabled{background-color:#eee;color:#999}

.required:after{content:'*';display:inline-block;padding-left:3px;color:#c00c3f}

.datepicker{position:relative;display:block}
.datepicker button{position:absolute;right:15px;top:10px}

/* /////// button /////// */
.button-area{display:flex;width:100%;padding:20px 0;font-size:0}
.button-area-noflex{display:block;width:100%;padding:20px 0;font-size:0}
.button-area-noflex a {display: block; text-align: left;}
.button-area-noflex a:first-child {margin-bottom:8px}
button + button{margin-left:6px}
[class^="btn-"]{display:inline-block;min-width:49%;padding:10px 5px;font-size:16px;text-align:center}
[class*="btn-"].link{min-height:35px;padding:6px;font-size:13px;line-height:18px;font-weight:600;text-align:center;vertical-align:middle}
[class*="btn-"] + [class*="btn-"]{margin-left:6px}
.btn-01,
.btn-02,
.btn-03{flex:1;justify-content:space-between;align-items:center}
.btn-01{border:1px solid #666;color:#666;background-color:#fff}
.btn-01.link{color:#222;border:1px solid #222}
.btn-01-block {display:block; margin-top:20px}
.btn-02{font-size:16px;color:#fff;background-color:#222;font-weight:400}
.btn-03{color:#fff;background-color:#c00c3f}
.btn-04{display:inline-block;width:auto;min-width:auto;height:24px;padding:0 10px;font-size:13px;line-height:22px;border:1px solid #222;color:#000;font-size:12px;font-weight:400;background-color:#fff}
.btn-04.disabled{color:#bbb;border-color:#ddd}
.btn-04.wh{color:#888;border-color:#888;background-color:transparent}
[class*="btn-"].btn-05{flex:none;min-width:auto;width:auto;padding:0;font-size:13px;color:#c00c3f;}
.btn-05 i{margin-left:5px}
.btn-language,
.btn-gnb{padding:0 !important}

/* board */
.board-button-area{padding:30px 0 50px}
.board-button-area li{float:left}
.board-button-area [class^="btn-view"]{position:relative;width:42px;height:42px;background-color:#fff}
.board-button-area [class^="btn-view"]:before{content:'';position:absolute;top:15px;width:9px;height:9px;border-right:1px solid #000;border-bottom:1px solid #000}
.board-button-area [class^="btn-view"]:first-child{margin-right:2px}
.board-button-area .btn-view-prev:before{left:17px;transform:rotate(135deg)}
.board-button-area .btn-view-next:before{right:17px;transform:rotate(-45deg)}
/* search */
.search-box > * {float:left}
.search-box input{width:calc(100% - 70px)}
.search-box button{width:65px;height:42px;margin-left:5px;border:1px solid #ccc;font-size:14px;color:#666}
/* social */
.social-share{position:relative}
.social-share:before{position:absolute;top:50%;left:0;content:'';display:block;width:100%;height:1px;background-color:#000}
.social-share .sns-wrap{position:relative;z-index:10;padding-left:40px;background-color:#fff;font-size:0}
.social-share li{display:inline-block;width:34px;height:34px}
.social-share li a{position:relative;display:block;padding:10px}
.social-share li a i{font-size:14px}
.social-share li a:after{position:absolute;top:calc(50% - 3px);right:0;content:'';width:1px;height:6px;background-color:#eee}
.social-share li:last-child a:after{display:none}
/* state */
.state-tag{display:inline-block;height:18px;padding:2px 5px;line-height:1.2;border-radius:2px;font-size:12px;border:1px solid #c00c3f;vertical-align:middle}
.state-tag i{display:inline-block;margin-right:4px}
.state-tag[data-value="complete"]{color:#fff;background-color:#c00c3f}
.state-tag[data-value="waiting"]{background-color:#fff;color:#c00c3f}
.state-tag + span{margin-left:10px}
/* filter */
.filter-btn{width:auto;padding:0 10px;height:32px;color:#666;font-size:13px;background-color:#f6f6f6;border:1px solid #ddd}
.filter-btn i{margin-left:5px;vertical-align:middle;font-size:15px;color:#2e2e2e}
.arrange-btn{position:relative;width:32px;height:32px;padding:9px;background-color:#fff;border:1px solid #eee}
.arrange-btn + .arrange-btn{margin-left:0;border-left:0}
.arrange-btn.grid:before{content:'';display:block;width:12px;height:12px;background-color:#bbb}
.arrange-btn.is-active.grid:before{background-color:#222}
.arrange-btn.list span{display:block;width:14px;height:12px}
.arrange-btn.list span:before,
.arrange-btn.list span:after,
.arrange-btn.list span i{height:2px;background-color:#bbb}
.arrange-btn.list span i{margin:3px 0}
.arrange-btn.is-active.list span:before,
.arrange-btn.is-active.list span:after,
.arrange-btn.is-active.list span i{background-color:#222}

.close-layer-btn{position:absolute;top:0;right:0;z-index:10;width:43px;height:40px;background-color:#222}
.close-layer-btn i{transform:scale(0.7)}
.pagination-area{padding:30px 0 50px;font-size:0;background-color:#f6f6f6;text-align:center}
.pagination-area a{display:inline-block;vertical-align:middle}
.pagination-area a[class*="page"]{position:relative;width:32px;height:32px;background-color:#fff;border:1px solid #eee;text-align:center}
.pagination-area a[class*="page"]:before,
.pagination-area a[class*="page"]:after{position:absolute;top:11px;display:inline-block;width:6px;height:6px;border-right:2px solid #bbb;border-bottom:2px solid #bbb}
.pagination-area .first-page:before{left:10px}
.pagination-area .first-page:after{left:15px}
.pagination-area .prev-page:before{left:12px}
.pagination-area .next-page:before{right:12px}
.pagination-area .last-page:before{right:10px}
.pagination-area .last-page:after{right:15px}
.pagination-area .first-page:before,
.pagination-area .first-page:after,
.pagination-area .prev-page:before{content:'';transform:rotate(135deg)}
.pagination-area .last-page:before,
.pagination-area .last-page:after,
.pagination-area .next-page:before{content:'';transform:rotate(-45deg)}
.pagination-area .first-page,
.pagination-area .next-page{margin-right:2px}
.pagination-area .prev-page{margin-right:28px}
.pagination-area .next-page{margin-left:28px}
.pagination-area .num + a[class*="page"]{margin-left:28px}
.pagination-area .num{color:#666;font-size:14px;font-weight:600}
.pagination-area a:not([class*="page"]) + a:not([class*="page"]){margin-left:25px}
.pagination-area .num.is-active{color:#c00c3f;border-bottom:1px solid #c00c3f}
.tag-btn{display:inline-block;min-width:62px;height:24px;margin-right:5px;padding:0 10px;line-height:24px;text-align:center;background-color:#fff;border:1px solid #ddd;border-radius:24px;font-size:12px;color:#666}
.tooltip-area{position:relative;margin-top:15px;font-size:12px;color:#000}
.tooltip-area .ib{padding-top:5px}
.tooltip-btn{width:18px;height:18px;margin-left:10px;margin-top:-5px;border-radius:50%;background-color:#222;color:#fff;font-size:14px;font-weight:600;line-height:18px}
.tooltip-layer{position:absolute;top:25px;left: 15px;z-index:10;width: calc(100% - 30px);padding:10px 20px;border:1px solid #222;background-color:#fff;box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.14);display:none}
.tooltip-layer.is-active{display:block}
.tooltip-layer strong{display:block;padding:10px 0;border-bottom:1px solid #222;font-weight:600}
.tooltip-layer p{padding:10px 0;font-size:12px;color:#666;line-height:17px}
.tooltip-layer p span{position:relative;display:block;margin-top:16px;padding-left:13px;color:#000}
.tooltip-layer p span:before{content:'※';position:absolute;left:0;top:0}
.tooltip-layer .close-layer-btn{position:absolute;top:1px;right:0;width:30px;height:30px;background-color:#fff}
.tooltip-layer .close-layer-btn i{width:13px;height:13px;transform:scale(1)}
.tooltip-layer .close-layer-btn i:before,
.tooltip-layer .close-layer-btn i:after{height:1px}
.video-btn{position:relative;display:block}
.video-btn:before{position:absolute;top:0;left:0;content:'';width:100%;height:100%;background-color:#000;opacity:0.4}

/* tab */
.tab-area{padding:20px 15px}
.tab-area ul{font-size:0;display:flex}
.tab-area li{display:inline-block;width:33.3%}
.tab-area li:first-child a{border-left:1px solid #222}
.tab-area li a{display:inline-flex;justify-content:center;align-items:center;width:100%;height:100%;padding:10px 5px;text-align:center;font-size:14px;line-height:1.2;color:#222;font-weight:400;background-color:#fff;border:1px solid #222;border-left:0}
.tab-area li.is-active a{background-color:#222;color:#fff}
.tab-area.half li{width:50%}

/* icon */
[class^="icon"]{position:relative;display:inline-block;background-repeat:no-repeat}
[class*="icon-css"]:before,
[class*="icon-css"]:after{position:absolute;content:'';display:block;background-color:#000}
[class*="css-angle"]:before{background:none}
[class*="css-angle"]:after{display:none}
.file-down-btn{position:relative;display:block;padding-left:13px}
.file-down-btn .arrow{position:absolute;left:0;bottom:0;display:block;width:19px;height:19px;border-radius:50%;border:1px solid #e0e0e0;background-color:#fff}
.file-down-btn .arrow:before{position:absolute;left:8px;bottom:5px;content:'';width:1px;height:8px;background-color:#222}
.file-down-btn .arrow:after{position:absolute;left:5px;bottom:5px;content:'';width:6px;height:6px;border:1px solid #222;border-top:0;border-right:0;transform:rotate(-45deg)}
.yet{background-color:blue}
.icomoon-expandable{position:relative;z-index:10}
.icomoon-expandable:before{position:relative;z-index:10}
.icomoon-expandable:after{content:'';display:block;width:50%;height:75%;position:absolute;top:11px;left:50%;border-top:17px solid #b6b6b6;border-bottom:4px solid #b6b6b6;box-sizing:border-box}
.icon-css-angle-r{width:11px;height:18px}
.icon-css-angle-r:before{top:3px;left:-5px;transform:rotate(-45deg);width:100%;height:11px;border-right:2px solid #000;border-bottom:2px solid #000}
.icon-css-angle-r[data-size="small"]{width:4px;height:7px}
.icon-css-angle-r[data-size="small"]:before{top:0;left:-3px;height:4px}
.icon-css-angle-b{width:10px;height:6px}
.icon-css-angle-b:before{top:-3px;left:1px;width:6px;height:100%;border-right:1px solid #666;border-bottom:1px solid #666;transform:rotate(45deg)}
.icon-css-arrow-r{position:relative;display:inline-block;width:14px;height:6px;margin-top:-2px;overflow:hidden;transform:translateY(-1px);overflow:hidden}
.icon-css-arrow-r:before{content:'';position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#c00c3f}
.icon-css-arrow-r:after{content:'';position:absolute;bottom:0px;right:1px;width:6px;height:1px;background-color:#c00c3f;transform:rotate(45deg);transform-origin:100% 100%}
.icon-css-check{width:14px;height:10px}
.icon-css-check:before{top:-3px;left:2px;transform:rotate(45deg);width:5px;height:9px;border-right:2px solid #000;border-bottom:2px solid #000;background:none}
.icon-css-check:after{display:none}
.icon-css-close{width:28px;height:28px;vertical-align:middle}
.icon-css-close:before,
.icon-css-close:after{top:50%;left:0;width:100%;height:2px}
.icon-css-close:before{transform:rotate(45deg)}
.icon-css-close:after{transform:rotate(-45deg)}
.icon-css-download{position:relative;width:8px;height:10px;border-bottom:2px solid #222}
.icon-css-download:before{content:'';position:absolute;top:0;left:50%;width:3px;height:3px;transform:translateX(-50%)}
.icon-css-download:after{content:'';position:absolute;top:3px;left:0;width:0;height:0;border-style:solid;border-width:4px 4px 0 4px;border-color:#222 transparent transparent transparent;background:none}
[class*="icon-grade"]{display:block;width:100%;height:100%}
[class*="icon-grade"]:before,
[class*="icon-grade"]:after{display:none}
[class*="icon-file"]{width:37px;height:48px}
.icon-search{width:14px;height:14px}
.pagenation-area{padding:30px 0 50px;text-align:center;font-size:0}
.icon-css-menu:before,
.icon-css-menu:after,
.icon-css-menu i{position:relative;display:block;width:100%;height:1px;background-color:#000}
.icon-css-menu i{margin:4px 0}

.icon-css-plus{width:16px;height:16px}
.icon-css-plus:before,
.icon-css-plus:after{background-color:#000;top:50%;right:0;width:100%;height:2px}
.icon-css-plus:after{transform:rotate(90deg)}
.icon-css-select{width:0;height:0;border-style:solid;border-width:7px 7px 0;border-color:#000 transparent transparent transparent}
.icon-css-play{position:absolute;top:50%;left:50%;width:40px;height:40px;border:1px solid #fff;border-radius:50%;transform:translate(-50%, -50%)}
.icon-css-play:before{position:relative;top:calc(50% - 3px);width:0px;height:0px;margin:0 auto;border-left:6px solid transparent;border-top:6px solid #fff;transform:rotate(45deg) translate(-1px, 1px);background-color:transparent}
.icon-css-play:after{display:none}
.icon-css-select:before,
.icon-css-select:after{display:none}

.icon-bg-wh:before,
.icon-bg-wh:after{background-color:#fff}
.icon-bd-wh:before,
.icon-bd-wh:after{border-color:#fff}

.icon-css-prev{width:6px;height:9px}
.icon-css-prev:before,
.icon-css-prev:after{left:calc(50% - 3px);width:6px;height:2px;background-color:#bbb}
.icon-css-prev:before{top:calc(50% - 2px);transform:rotate(-45deg)}
.icon-css-prev:after{top:calc(50% + 1px);transform:rotate(45deg)}
.icon-css-next{width:6px;height:9px}
.icon-css-next:before,
.icon-css-next:after{left:calc(50% - 3px);width:6px;height:2px;background-color:#bbb}
.icon-css-next:before{top:calc(50% - 2px);transform:rotate(45deg)}
.icon-css-next:after{top:calc(50% + 1px);transform:rotate(-45deg)}
.icon-css-first{position:relative}
.icon-css-first i[class^="icon"]{width:auto;height:auto;border:none;top:50%}
.icon-css-first i:nth-child(1){left:calc(50% - 12px)}
.icon-css-first i:nth-child(2){left:calc(50% - 17px)}
.icon-css-last{position:relative}
.icon-css-last i[class^="icon"]{width:auto;height:auto;border:none;top:50%}
.icon-css-last i:nth-child(1){left:calc(50% - 12px)}
.icon-css-last i:nth-child(2){left:calc(50% - 17px)}


/* title */
h1{font-size:26px;line-height:1.2;font-weight:800}
h2{font-size:20px;line-height:1.2;font-weight:500}
h3{font-size:16px;line-height:1.2;font-weight:800}
h4{font-size:14px;line-height:1.4;font-weight:400}
p{font-size:14px;line-height:1.4;font-weight:400;word-break:break-word}
.tit-area{padding:0 15px}
.page-tit{padding:45px 0 15px}
.section-tit{display:block;padding-top:25px}
h4.section-tit{font-weight:600}
.tit-desc{color:#666}

/* search & result */
.search-area{padding:15px}
.search-area > div{float:left}
.search-area .select{width:100%;border-radius:4px;overflow:hidden}
.search-area .select select{border:none;background-color:#fff;font-weight:600;font-size:13px}
.search-area .search{position:relative;width:100%;margin-top:5px}
.search-area .search input{height:35px;padding-left:10px;padding-right:43px;border:none;font-size:13px;border-radius:4px;overflow:hidden;background-color:#fff}
.search-area .search input::placeholder{color:#bbb}
.search-area .search .search-btn{position:absolute;top:0;right:0;padding:5px 15px}
.search-area .search .search-btn i{font-size:14px}
.result-total{position:relative;width:100%;padding:20px 15px 20px;background-color:#f6f6f6;border-top:1px solid #eee}
.result-total.filter{padding-bottom:10px}
.result-total-info{padding-top:10px;font-size:12px;color:#999}
.result-total-info .result-num{font-weight:800}
.result-total .filter-btn-wrap > * {float:left}
.result-more{padding:15px 0 35px;text-align:center;background-color:#f6f6f6}
.result-more .btn-list-more{display:flex;justify-content:center;align-items:center;padding:10px;color:#666;font-size:13px;margin: 0 auto}
.result-more .btn-list-more strong{font-weight:600}
.result-more .btn-list-more span{font-weight:400}
.result-more .btn-list-more i{width:7px;height:7px;margin-left:10px}
.result-more .btn-list-more i:before,
.result-more .btn-list-more i:after{height:1px;background-color:#999}

/* table */
.tb-01{border-top:1px solid #222;border-bottom:1px solid #222;text-align:left}
.tb-01.line th+th,
.tb-01.line td+td{border-left:1px solid #eee}
.tb-01 caption{font-size:12px;color:#666;text-align:left;margin-bottom:10px}
.tb-01 tr{border-bottom: 1px solid #eee}
.tb-01 tr:last-child{border-bottom:0}
.tb-01 th{padding:10px 9px;color:#000;background-color:#f6f6f6;font-size:13px;font-weight:400;vertical-align:middle}
.tb-01 td{padding:10px 9px;color:#666;background-color:#fff;font-size:13px;font-weight:400;vertical-align:middle}
.tb-02 th{background-color:#fff}

/* map */
.section .google-map{width:100%;min-height:180px;height:50vw}

/*alert & error msg*/
.alert-msg,
.error-msg{position:relative;margin-top:10px;padding-left:20px;font-size:12px;line-height:17px}
.alert-msg{color:#0079c6}
.alert-msg:before{position:absolute;top:0;left:3px;transform:rotate(45deg);content:'';width:6px;height:10px;border-right:2px solid #0079c6;border-bottom:2px solid #0079c6;background:none}
.error-msg{color:#c00c3f}
.error-msg:before,
.error-msg:after{position:absolute;top:8px;left:0;content:'';width:10px;height:2px;background-color:#c00c3f}
.error-msg:before{transform:rotate(45deg)}
.error-msg:after{transform:rotate(-45deg)}
.error-msg span{display:block}
.error-msg a{display:inline-block;font-weight:600;border-bottom:1px solid #c00c3f}
.error-msg a + a{margin-left:10px}
.error-msg.no-icon{padding:0}
.error-msg.no-icon:before,
.error-msg.no-icon:after{display:none}

/* [essn] */
.btn-01.btn-01-block.layer-popup-btn{color:#000;}
.voucher-pop-wrap {width:100%; min-height:100%; position: relative; padding-bottom:40px;}
.voucher-pop-wrap h1 {font-size:19px; font-weight: 900;padding:45px 15px 0}
.voucher-pop-wrap h2 {font-size:13px; font-weight: 700;padding:20px 0 0; text-align: center;}
.voucher-card {width:312px; height:155px; margin:12px auto 20px; background:url(/ess/resource/common/images/voucher-card-back_m.png) no-repeat 0 0;background-size:100%; text-align:center}
.voucher-card-price {padding-top:32px; font-size:32px; color:#c00c3f; line-height: 1; font-weight: 700;}
.voucher-card-detail {font-size:12px;padding:8px 15px 0; height: 50px; font-weight: 700;}
.voucher-card-number {font-size:11px;padding-top:10px}
.voucher-pop-table {padding:0 15px 25px;}
.voucher-pop-table .tb-01 td ul li {position: relative; padding:2px 0 2px 6px;}
.voucher-pop-table .tb-01 td ul li::before {content:''; display: block; width:3px; height:3px; font-size: 0;background:#222; position: absolute; left:0; top:8px}
.voucher-guide {position:relative;color:#c00c3f; font-size: 12px; padding-left: 9px; margin-top:9px;}
.voucher-guide::before {content:'*'; color:#c00c3f; display: block; position: absolute; left:0; top:1px; width:20px; height:20px;}
.voucher-botton {width:100%; font-size:0; position: fixed; bottom:0;left:0;}
/* .voucher-botton-gray {width:50%; display: inline-block; color:#fff; background:#383838; height:40px; line-height: 40px; font-weight: 700; font-size: 12px; text-align: center;} */
.voucher-botton-red {width:100%; display: inline-block; color:#fff; background:#c00c3f; height:40px; line-height: 40px; font-weight: 700; font-size: 12px; text-align: center;margin:0 }
.voucher-pop-wrap .dim{position:fixed;top:0;bottom:0;left:0;right:0;z-index:10;display:none;justify-content:center;align-items:center;background-color:rgba(0, 
	0, 0, 0.5)}
.input-wrap2 .radio.ml30 {margin-left:0 !important; display: block;}
.voucher-logo {margin:25px auto 0; width:137px; display: block;}
.voucher-notice {border-bottom:1px solid #222; padding:10px 0 10px; margin:0 15px 10px 15px; color:#000}
/* //[essn] */