@charset "utf-8";

html{font-size:16px;-webkit-text-size-adjust:100%;}
body{line-height:1.5;font-size:1rem;font-family:'lgsmart',Arial, Helvetica, sans-serif;color:#222;}
.layout-wrap{width:100%;min-width:1280px;max-width:1920px;margin:0 auto;padding-top:135px;background-color:#fff;}
body div[class^="layout-"]{box-sizing:border-box;}

/*HEADER*/
.layout-header-wrap{position:fixed;top:0;left:0;z-index:98;width:100%;background:#fff url(/common/images/front/normal/en/common/bg-header-line.gif) repeat-x;border-bottom:1px solid #e2e2e2;}
.layout-header{overflow:hidden;position:relative;max-width:1600px;min-width:1280px;margin:0 auto;padding:20px 10px 0 10px;}
.layout-header-top{height:55px;}
.layout-header-top:after{content:'';display:block;clear:both;}
.ci{overflow:hidden;float:left;width:141px;height:40px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat;text-indent:-100%;}
.gnb{height:60px;font-weight:600;transition:height 0.4s;}
.gnb > ul{position:relative;float:right;left:-50%;}
.gnb .depth-1 > li{position:relative;float:left;left:50%;padding:10px 0;}
.gnb .depth-1 > li + li{margin-left:90px;}
.gnb .depth-1 > li > a{position:relative;display:block;height:100%;padding:0 10px;font-size:1.13rem;line-height:40px;/*2.50rem*/}
.gnb .depth-1 > li.is-active > a{color:#bc1137;}
.gnb .depth-1 > li.is-active > a:after{content:'';position:absolute;top:46px;left:0;width:100%;height:4px;background-color:#bc1137;}
.gnb .depth-1 ul{position:absolute;top:61px;left:10px;min-width:130px;padding:30px 0;}
.gnb .depth-1 ul li + li{margin-top:5px;}
.gnb .depth-1 ul a{color:#444;font-weight:normal;font-size:0.88rem;line-height:1.13rem;}
.gnb .depth-1 ul .is-active a,
.gnb .depth-1 ul a:hover,
.gnb .depth-1 ul a:focus{color:#bc1137;}
.submenu-on{border-bottom:0;box-shadow:0px 12px 12px rgba(0,0,0,0.15);} 
.submenu-on .gnb{height:224px;}
.util{float:right;}
.util > button,
.util > strong,
.util > div{float:left;font-size:0.88rem;font-weight:600;}
.util .user-name{max-width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-right:20px;line-height:2.13rem;font-weight:normal;}
.util a[class^="btn-"] + button,
.util button + a[class^="btn-"],
.util button + button{margin-left:6px;}
.util button[class^="btn-"],
.util a[class^="btn-"]{height:34px;border-radius:3px;text-align:center;color:#fff;}
.util a[class^="btn-"]{float:left;box-sizing:border-box;}
.util .btn-partner-login{padding:7px 15px;background-color:#bc1137;line-height:1.25rem;font-size:0.75rem;}
.util .btn-partner-login:before{content:'';display:inline-block;width:20px;height:20px;margin-right:8px;vertical-align:-5px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -150px 0;}
.util .btn-mypage{width:40px;height:34px;line-height:34px;background:#333;}
.util .btn-logout{width:40px;height:34px;background:#bc1137 url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -260px -124px;text-indent:-9999px;}

.lang{position:relative;margin-left:20px;border-bottom:2px solid #000;}
.lang:before{content:'';position:absolute;right:0;top:9px;width:14px;height:8px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -175px 0;transition:transform .2s;}
.lang > a{display:block;width:50px;line-height:1.63rem;color:#222;}
.lang ul{display:none;}
.lang.is-active:before{transform:rotate(180deg);}
.lang.is-active ul{display:block;}

/*CONTAINER*/
.layout-container{min-height:calc(100vh - 407px);}/*header footer 407px*/
.top-visual{width:100%;height:270px;background:url(/common/images/front/normal/en/top-visual/bg-default.jpg) no-repeat 50% 0;}
.top-visual.bg-introduction{background:url(/common/images/front/normal/en/top-visual/bg-introduction.jpg) no-repeat 50% 0;}
.top-visual.bg-product{background:url(/common/images/front/normal/en/top-visual/bg-product.jpg) no-repeat 50% 0;}
.top-visual.bg-training{background:url(/common/images/front/normal/en/top-visual/bg-training.jpg) no-repeat 50% 0;}
.top-visual.bg-library{background:url(/common/images/front/normal/en/top-visual/bg-library.jpg) no-repeat 50% 0;}
.top-visual.bg-newsevents{background:url(/common/images/front/normal/en/top-visual/bg-newsevents.jpg) no-repeat 50% 0;}
.top-visual.bg-qna{background:url(/common/images/front/normal/en/top-visual/bg-qna.jpg) no-repeat 50% 0;}
.top-visual > p{position:relative;top:50%;width:1200px;margin:0 auto;color:#fff;transform:translateY(-50%);font-size:3.75rem;font-weight:600;}
.breadcrumb{width:100%;height:60px;padding-top:23px;background-color:#f1f1f1;color:#666;box-sizing:border-box;}
.breadcrumb > div{width:1200px;margin:0 auto;}
.breadcrumb > div:after{content:'';display:block;clear:both;}
.breadcrumb span,
.breadcrumb strong{float:left;vertical-align: middle;line-height:1;}
.breadcrumb strong{color:#333;}
.breadcrumb .home{position:relative;top:-2px;display:inline-block;width:23px;height:19px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -180px -20px;vertical-align:top;font-size:0;text-indent:-9999px;}
.breadcrumb span + span:before,
.breadcrumb strong:before{content:'';display:inline-block;width:11px;height:16px;padding-left:20px;margin-left:20px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -220px 0;vertical-align:-3px;}
.breadcrumb a{cursor:default;}

/*CONTENT*/
.layout-content{width:1200px;margin:0 auto;padding:58px 0 160px 0;}
.page-tit{line-height:1.2;font-size:2.13rem;font-weight:600;color:#222;}
.page-tit + .tab-wrap{margin-top:33px;}
.page-subtit{line-height:1.2;font-size:1.25rem;font-weight:600;color:#222;}
.tab-wrap + .page-subtit{margin-top:40px;}
.annotation{color:#666}
.annotation + .tbl-v01{margin-top:20px;}

/*FOOTER*/
.layout-footer-wrap{background-color:#333;color:#fff;}
.layout-footer-wrap .bx-pager{position:absolute;left:0;bottom:0;width:100%;text-align:center;}
.layout-footer-wrap .bx-pager .bx-pager-item{display:inline;}
.layout-footer-wrap .bx-pager .bx-pager-link{display:inline-block;width:10px;height:10px;border-radius:10px;margin:0 5px;background-color:#e1e1e1;font-size:0;text-indent:-9999px;}
.layout-footer-wrap .bx-pager .active{background-color:#bc1137;}
.layout-footer-wrap .footer-etc{position:relative;width:1200px;margin:0 auto 0 auto;padding-top:55px;}
.layout-footer-wrap .footer-etc:after{content:'';display:block;clear:both;}
.layout-footer-wrap .layout-footer{background-color:#2b2b2b;}
.footer-etc .business-partners{float:left;width:790px;padding-bottom:59px;}
.footer-etc .business-partners .tit,
.footer-etc .certification .tit{display:block;margin-bottom:25px;font-size:1.63rem;font-weight:600;line-height:1;}
.footer-etc .business-partners .partner-list,
.footer-etc .certification .certification-list{position:relative;height:206px;}
.footer-etc .business-partners .partner-list{width:790px;}
.footer-etc .business-partners .partner-list:after{content:'';display:block;clear:both;}
.footer-etc .business-partners .partner-list li{float:left;}
.footer-etc .business-partners .partner-list li div{float:left;width:250px;}
.footer-etc .business-partners .partner-list li div + div{margin-left:20px;}
.footer-etc .business-partners .partner-list img{width:250px;height:111px;}
.footer-etc .business-partners .partner-list span{display:block;margin-top:18px;font-size:1.13rem;text-align:center;}
.footer-etc .certification{float:right;width:370px;padding-left:32px;border-left:1px solid #2b2b2b;box-sizing:border-box;}
.footer-etc .certification-list{width:328px;}
.footer-etc .certification-list:after{content:'';display:block;clear:both;}
.footer-etc .certification-list li:after{content:'';display:block;clear:both;}
.footer-etc .certification-list li div{float:left;width:96px;text-align:center;}
.footer-etc .certification-list li div + div{margin-left:20px;}
.footer-etc .certification-list li div p{margin-top:15px;font-size:0.94rem;}
.footer-etc .certification-list img + img{margin-left:44px;}
.layout-footer > div{position:relative;width:1200px;margin:0 auto;padding:30px 0;font-size:0.88rem;}
.layout-footer .footer-menu span + span:before{content:'';display:inline-block;width:1px;height:12px;margin:0 14px 0 13px;vertical-align:-1px;color:#fff;background-color:#fff;}
.layout-footer .copyright{margin-top:3px;color:#aaa;}
.layout-footer .related-site{position:absolute;bottom:39px;right:0;}
.layout-footer .related-site > a{position:relative;display:inline-block;width:230px;height:40px;line-height:40px;padding-left:21px;border:1px solid #666;box-sizing:border-box;}
.layout-footer .related-site:before{content:'';position:absolute;right:15px;top:16px;width:10px;height:6px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -200px 0;transition:transform .2s;}
.layout-footer .related-site ul{display:none;position:absolute;bottom:39px;right:0;width:230px;padding:15px;background-color:#333;border:1px solid #666;box-sizing:border-box;}
.layout-footer .related-site.is-active:before{transform:rotate(180deg);}


/*COMMON*/
input[type="text"],
input[type="tel"],
input[type="password"]{width:100%;height:50px;padding:0 10px;border:1px solid #c1c1c1;color:#222;font-size:1rem;box-sizing:border-box;}
input[type="text"]:read-only,
input[type="tel"]:read-only,
input[type="password"]:read-only{background-color:#f7f7f7;color:#222;}
input[type="radio"],
input[type="checkbox"]{position:relative;width:13px;height:13px;cursor:pointer;}
input[type="radio"] + label,
input[type="checkbox"] + label{position:relative;left:-13px;z-index:1;cursor:pointer;}
input[type="radio"] + label{line-height:24px;padding-left:34px;}
input[type="radio"] + label:before{content:'';display:inline-block;position:absolute;top:-3px;left:0px;width:24px;height:24px;background:#fff url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -30px -120px;}
input[type="radio"]:checked + label:before{background-position:0 -120px;}
input[type="checkbox"] + label{line-height:20px;padding-left:32px;}
input[type="checkbox"] + label:before{content:'';display:inline-block;position:absolute;top:-1px;left:0px;width:22px;height:20px;background:#fff url(/common/images/front/normal/en/common/sprite-common.png) no-repeat 0 -150px;}
input[type="checkbox"]:checked + label:before{background-position:-30px -150px;}
label + input[type="radio"],
label + input[type="radio"]{margin-left:20px;}
input[type="text"]::-webkit-input-placeholder{color:#999;opacity:1;}
input[type="text"]::-moz-placeholder{color:#999;opacity:1;}
input[type="text"]:-ms-input-placeholder{color:#999;opacity:1;}
input[type="text"]:-moz-placeholder{color:#999;opacity:1;}
input[type="password"]::-webkit-input-placeholder{color:#999;opacity:1;}
input[type="password"]::-moz-placeholder{color:#999;opacity:1;}
input[type="password"]:-ms-input-placeholder{color:#999;opacity:1;}
input[type="password"]:-moz-placeholder{color:#999;opacity:1;}
input[type="tel"]::-webkit-input-placeholder{color:#999;opacity:1;}
input[type="tel"]::-moz-placeholder{color:#999;opacity:1;}
input[type="tel"]:-ms-input-placeholder{color:#999;opacity:1;}
input[type="tel"]:-moz-placeholder{color:#999;opacity:1;}
textarea::-webkit-input-placeholder{color:#999;opacity:1;}
textarea::-moz-placeholder{color:#999;opacity:1;}
textarea:-ms-input-placeholder{color:#999;opacity:1;}
textarea:-moz-placeholder{color:#999;opacity:1;}
textarea{width:100%;min-height:80px;padding:10px;font-size:1rem;border:1px solid #c1c1c1;box-sizing:border-box;}
select{width:100%;height:50px;padding:0 10px;border:1px solid #c1c1c1 ;background:url(/common/images/front/normal/en/common/bg-select.png) no-repeat 0 50%;background-position-x:calc(100% - 10px);color:#222;font-size:1rem;box-sizing:border-box;}
select:disabled{background-color:#f7f7f7;color:#222;}
.check-agreement input[type="checkbox"] + label:before{background:#f6f6f6 url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -30px -174px;}
.check-agreement input[type="checkbox"]:checked + label:before{background:#f6f6f6 url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -30px -150px;}

/*input validation*/
.error-msg,
.confirm-msg{position:relative;margin-left:10px;padding-left:24px;line-height:18px;text-align:left;font-size:0.88rem;color:#bc1137;box-sizing:border-box;}
.error-msg.line2,
.confirm-msg.line2{vertical-align:-10px;}
.error-msg:first-child,
.confirm-msg:first-child{margin-left:0;}
.error-msg:before,
.confirm-msg:before{content:'';position:absolute;top:0;left:0;width:18px;height:18px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -280px -50px;}
.confirm-msg{color:#2d5ca9;}
.confirm-msg.line-02{vertical-align:-10px;}
.confirm-msg:before{background-position:-280px -70px;}
span.error-msg,
span.confirm-msg{display:inline-block;}
.error-msg-wrap{display:inline-block;position:relative;top:10px;}
.error-msg-wrap span{display:block;}
.error-msg-wrap span + span{margin:4px 0 0 0;}

/*checkSN*/
.daverror-msg,
.davconfirm-msg{position:relative;margin-left:10px;padding-left:24px;line-height:18px;text-align:left;font-size:0.88rem;color:#bc1137;box-sizing:border-box;}
.daverror-msg.line2,
.davconfirm-msg.line2{vertical-align:-10px;}
.daverror-msg:first-child,
.davconfirm-msg:first-child{margin-left:0;}
.daverror-msg:before,
.davconfirm-msg:before{content:'';position:absolute;top:0;left:0;width:18px;height:18px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -280px -50px;}
.davconfirm-msg{color:#2d5ca9;}
.davconfirm-msg.line-02{vertical-align:-10px;}
.davconfirm-msg:before{background-position:-280px -70px;}
span.daverror-msg,
span.davconfirm-msg{display:inline-block;}
.daverror-msg-wrap{display:inline-block;position:relative;top:10px;}
.daverror-msg-wrap span{display:block;}
.daverror-msg-wrap span + span{margin:4px 0 0 0;}

/*alert*/
.alert-box{display:none;}
.alert-box:before{content:'';position:fixed;top:0;left:0;right:0;bottom:0;z-index:1000;background:rgba(0,0,0,0.6);}
.alert-msg{position:fixed;top:50%;left:50%;z-index:1001;width:400px;height:296px;margin:-148px 0 0 -200px;padding:40px;background-color:#fff;border:1px solid #e6e6e6;text-align:center;box-sizing:border-box;}
.alert-msg .tit{display:block;color:#bc1137;border-bottom:1px solid #bc1137;font-size:1.25rem;font-weight:600;text-align:left;}
.alert-msg .msg{display:table;table-layout:fixed;width:100%;height:135px;color:#666;font-size:1.13rem;}
.alert-msg .msg p{display:table-cell;vertical-align:middle;}
.alert-msg button.ok{width:160px;height:50px;background:#bc1137;color:#fff;font-size:1.13rem;border-radius:4px;box-shadow:0 4px 4px rgba(0,0,0,0.1);}
.alert-msg button.close{position:absolute;top:11px;right:11px;width:18px;height:18px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -115px -70px;}

.datepicker{position:relative;display:inline-block;}
.datepicker input[type="text"] + button{position:absolute;top:12px;right:14px;width:24px;height:24px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -200px -125px;text-indent:-9999px;}
.sn-check{position:relative;display:inline-block;}
.sn-check input[type="text"] + button{position:absolute;top:13px;right:14px;width:22px;height:22px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -230px -125px;text-indent:-9999px;}

span[class^="ico-"]{overflow:hidden;display:inline-block;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat;}
span[class^="ico-"],
button[class^="btn-"] span,
a[class^="btn-"] span{text-indent:-100%;font-size:0;}
span.ico-file{width:23px;height:26px;}
span.ico-pdf{background-position:-180px -50px;}
span.ico-zip{background-position:-205px -50px;}
span.ico-word{background-position:-230px -50px;}
span.ico-etc{background-position:-255px -50px;}

table + .btn-area{margin-top:20px;}
.btn-area{position:relative;height:50px;text-align:center;}
.btn-area .btn-left{position:absolute;left:0;top:0;}
.btn-area .btn-left button,
.btn-area .btn-right button{float:left;}
.btn-area button + button{margin-left:10px;}
.btn-area .btn-right{position:absolute;right:0;top:0;}

button.btn-download{width:40px;height:40px;background-image:url(/common/images/front/normal/en/common/sprite-common.png);background-position:-305px 0;}
button.btn-download:hover{background-position:-260px 0;}
button.btn-accordian{position:absolute;right:20px;top:50%;width:18px;height:18px;margin-top:-9px;padding:8px 0;background:none;transition:transform .4s;}
button.btn-accordian:before,
button.btn-accordian:after{content:'';position:absolute;left:0;top:50%;width:18px;height:2px;margin-top:-1px;background:#444;}
button.btn-accordian:after{background:#444;transform:rotate(90deg);}
button.btn-accordian.show-desc{transform:rotate(540deg);}
button.btn-accordian.show-desc:after{background:none;}

/*Big size button*/
button.btn-save,
button.btn-confirm,
button.add-installation-model,
button.delete,
button.list,
button.submit,
button.accumulate-points{min-width:110px;height:50px;padding:0 23px;height:50px;font-size:1.13rem;border-radius:4px;box-shadow:4px 4px 4px rgba(0,0,0,0.1);}
button.btn-save,
button.btn-confirm,
button.submit,
button.accumulate-points{background:#bc1137;color:#fff;}
button.add-installation-model{border:1px solid #bc1137;color:#bc1137;}
button.delete{border:1px solid #666;color:#666;}
button.list{border:1px solid #666;color:#666;}
button.point-by-model{position:absolute;top:0;right:0;}
button.recent-acc{position:absolute;top:0;right:0;}
/*thin button*/
.btn-gray-thin{height:30px;padding:0 14px;background:#666;color:#fff;font-size:0.88rem;border-radius:4px;}
.btn-gray-thin:after{content:'\003E';margin-left:7px;}
a.btn-gray-thin{display:inline-block;line-height:30px;}
a.btn-more{padding:5px 14px 4px 14px;border-radius:3px;background:#666;color:#fff;font-size:0.88rem;}
a.btn-more:after{content:'';display:inline-block;width:6px;height:10px;margin-left:6px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -105px -50px;}

.txt-icon{display:inline-block;padding:4px 15px 2px 15px;font-size:0.75rem;border:1px solid #c2c2c2;border-radius:12px;font-weight:600;}
.txt-icon.cg-img,
.txt-icon.cg-residentail,
.txt-icon.cg-events{color:#666;border-color:#c2c2c2;}
.txt-icon.cg-material,
.txt-icon.cg-grid,
.txt-icon.cg-pr{color:#936c49;border-color:#d4c4b6;}
.txt-icon.cg-notice,
.txt-icon.cg-tech,
.txt-icon.cg-ups,
.txt-icon.answer{color:#b11639;border-color:#e0a2b0;}

/*결과없음*/
.no-result,
li.no-result{padding:150px 0;text-align:center;border-bottom:1px solid #e6e6e6;}
.no-result{border-top:1px solid #e6e6e6;}

/* .select-box{position:relative;display:inline;}
.select-box:before{content:'';position:absolute;right:22px;top:18px;width:14px;height:8px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -175px 0;transition:transform 0.4s;}
.select-box.is-active:before{transform:rotate(180deg);}
.select-box select{position:relative;width:183px;line-height:38px;padding:0 56px 0 21px;border:1px solid #333;background:transparent;box-sizing:border-box;} */

/*다단*/
.col03 span{display:inline-block;width:33%;margin:7px 0;}

.tab-wrap{display:table;width:100%;table-layout:fixed;border-collapse:collapse;}
.tab-wrap > div{display:table-row;}
.tab-wrap a{display:table-cell;height:58px;text-align:center;font-size:1.13rem;line-height:1.25rem;border:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;background-color:#f6f6f6;vertical-align:middle;color:#777;}
.tab-wrap a + a{border-left:1px solid #f6f6f6;}
.tab-wrap a.is-active{color:#bc1137;box-shadow:inset 0px 3px 0px #bc1137;border-top:1px solid #bc1137;border-bottom:1px solid #fff;background-color:#fff;}
.tab-wrap span{}

.accordian-list dt{position:relative;border-bottom:1px solid #e6e6e6;}
.accordian-list dt:first-child{border-top:1px solid #666;}
.accordian-list dt > a{display:inline-block;}
.accordian-list dt > a:hover{text-decoration:underline;}
.accordian-list dd{display:none;position:relative;border-bottom:1px solid #666;background-color:#f6f6f6;color:#666;}

.required:after{content:'*';margin-left:4px;color:#bc1137;}
.tbl-t01{width:100%;}
.tbl-t01 th,
.tbl-t01 td{height:70px;padding:15px 10px;text-align:center;border-left:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;vertical-align:middle;box-sizing:border-box;}
.tbl-t01 th:first-child,
.tbl-t01 td:first-child{border-left:0;}
.tbl-t01 td{font-size:0.88rem;color:#666;}
.tbl-t01 td.align-l{text-align:left;}
.tbl-t01 thead th{border-top:1px solid #666;background-color:#f6f6f6;color:#222;}

.tbl-v01{width:100%;border-bottom:1px solid #666;}
.tbl-v01 th,
.tbl-v01 td{height:70px;border-top:1px solid #e6e6e6;vertical-align:middle;box-sizing:border-box;}
.tbl-v01 tr:first-child th,
.tbl-v01 tr:first-child td{border-top:1px solid #666;}
.tbl-v01 th{padding:10px 20px;text-align:left;color:#222;}
.tbl-v01 td{padding:10px;}
.tbl-bottom{position:relative;width:100%;margin-top:20px;}

.tbl-v02{width:100%;border-top:1px solid #666;}
.tbl-v02 th,
.tbl-v02 td{height:70px;border-bottom:1px solid #e6e6e6;vertical-align:middle;box-sizing:border-box;}
.tbl-v02 th{font-size:1.125rem;color:#222;background:#f9f9f9;}
.tbl-v02 td img{max-height:none;}

.cont-nav{margin-top:40px;border-bottom:1px solid #e6e6e6;}
.cont-nav > div{position:relative;padding:23px 20px 23px 136px;border-top:1px solid #e6e6e6;}
.cont-nav > div span{position:absolute;left:20px;top:23px;padding:0 16px;line-height:24px;font-size:0.75rem;background:#f7f7f7;color:#666;border-radius:12px;}
.cont-nav > div p{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.pagination-wrap:after {content:'';display:block;clear:both;height:0;visibility:hidden;}
.pagination {float:right;position:relative;left:-50%;margin-top:30px;}
.pagination .page-num {position:relative;left:50%;float:left;margin:0 20px;}
.pagination .page-num a {left:0;margin:0 10px;line-height:30px;}
.pagination .page-num a + a:before{content:'';position:absolute;left:-12px;top:12px;width:4px;height:4px;border-radius:4px;background:#ddd;}
.pagination .page-num a.is-active{color:#bc1137;}
.pagination a {position:relative;left:50%;float: left;line-height:28px;text-align:center;}
.pagination a + a {margin-left: 3px;}
.pagination > a {width:30px;height:30px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat}
.pagination > a.first {background-position:-60px -120px;}
.pagination > a.prev {background-position:-93px -120px;}
.pagination > a.next {background-position:-126px -120px;}
.pagination > a.last {background-position:-159px -120px;}
 
.page-tit + .sorting-box{margin-top:10px;}
.tab-wrap + .sorting-box{margin-top:40px;}
.sorting-box{padding:25px 30px 30px 30px;border:1px solid #e6e6e6;box-shadow: 15px 15px 15px rgba(0,0,0,0.1);}
.sorting-box .tit{display:block;margin-bottom:12px;font-size:1.25rem;font-weight:600;color:#222;}
.sorting-box label + input[type="radio"], 
.sorting-box label + input[type="radio"]{margin-left:80px;}

/*layer*/
.layerpop{display:none;position:fixed;z-index:1001;left:50%;width:860px;margin:0 0 0 -430px;padding:20px;background-color:#fff;border:1px solid #dedede;color:#222;box-sizing:border-box;}
.layerpop .layer-tit{display:block;margin-bottom:10px;padding-bottom:10px;font-size:1.5rem;font-weight:600;border-bottom:2px solid #222;}
.layerpop .layer-close{position:absolute;top:17px;right:18px;width:26px;height:26px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -230px -160px;text-indent:-9999px;}

.accumulated-point{top:50%;transform:translateY(-50%);}
.accumulated-point .update{text-align:right;}
.accumulated-point .update strong{margin-right:15px;font-weight:600;font-size:1.13rem;}
.accumulated-point .tbl-t01{margin-top:5px;}
.accumulated-point .tbl-t01 th,
.accumulated-point .tbl-t01 td{height:40px;padding:10px 0;}
.accumulated-point .tbl-t01 td.align-l{padding-left:20px;}
.accumulated-point .annotation{padding:10px 0;font-size:0.88rem;border-bottom:1px solid #e6e6e6;}
.accumulated-point .btn-area{margin-top:20px;text-align:center;}
.accumulated-point .btn-area button{width:260px;height:50px;padding:0 23px;font-size:1.13rem;background-color:#bc1137;color:#fff;border-radius:4px;box-shadow:4px 4px 4px rgba(0,0,0,0.1);}

.msg-box{position:relative;float:right;}
.msg-call{position:relative;padding-left:24px;text-decoration:underline;color:#bc1137;font-size:0.88rem;}
.msg-call:before{content:'';position:absolute;left:0;top:-3px;width:18px;height:18px;padding-left:18px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -115px -50px;}
.msg-box .msg-detail{display:none;position:absolute;right:0;top:28px;z-index:1;width:480px;padding:40px 40px;font-size:0.88rem;color:#666;background-color:#fff;border:1px solid #e6e6e6;box-shadow:5px 5px 10px rgba(0,0,0,0.3);}
.msg-box .msg-detail .tit{display:block;margin-bottom:10px;color:#bc1137;font-size:1.13rem;border-bottom:1px solid #bc1137;}
.msg-box .msg-detail .msg-detail-close{position:absolute;top:11px;right:10px;width:18px;height:18px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -115px -70px;text-indent:-9999px;font-size:0;}
.is-active + .msg-detail{display:block;}

/*Installation / Tech*/
.guide-view{margin:60px 0 50px 0;}
.guide-view > div{width:1044px;height:589px;margin:0 auto;border:1px solid #c1c1c1;}
.guide-view iframe{width:100%;height:100%;}
.guide-view .txt{margin-top:30px;color:#222;font-size:1.25rem;text-align:center;}
.guide-view-list{position:relative;width:1044px;margin:0 auto;}
.guide-view-list:after{content:'';display:block;clear:both;}
.guide-view-list li{float:left;width:246px;}
.guide-view-list li .img{position:relative;width:246px;height:146px;}
.guide-view-list li .img:before{content:'';position:absolute;top:50%;left:50%;width:32px;height:32px;margin:-16px 0 0 -16px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -140px -80px;}
.guide-view-list li .img:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;border:1px solid #c1c1c1;}
.guide-view-list li .img > img{width:246px;height:146px;}
.guide-view-list li .img + p{height:118px;padding-top:18px;font-size:0.88rem;line-height:1.38rem;border-bottom:2px solid #c1c1c1;box-sizing:border-box;}
.guide-view-list li.is-active .img:after{border:2px solid #bc1137;}
.guide-view-list li.is-active .img + p{border-color:#bc1137;}
.guide-view-list .bx-controls-direction a{position:absolute;top:50%;width:23px;height:40px;margin-top:-20px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -200px -80px;text-indent:-9999px;font-size:0;}
.guide-view-list .bx-controls-direction .disabled{background-position:-230px -80px;}
.guide-view-list .bx-controls-direction .bx-prev{left:-63px;transform:rotate(180deg);}
.guide-view-list .bx-controls-direction .bx-next{right:-63px;}

.download-list{margin-top:40px;border-top:1px solid #e6e6e6;}
.download-list li{position:relative;padding:15px 20px;border-bottom:1px solid #e6e6e6;}
.download-list li:after{content:'';display:block;clear:both;}
.download-list li.no-result{padding:150px 0;text-align:center;border-bottom:1px solid #e6e6e6;}
.download-list li .txt-icon{margin-top:15px;}
.download-list li .ico-file{float:left;margin-right:14px;}
.download-list li p{overflow:hidden;width:960px;padding:7px 0;line-height:1.63rem;color:#222;text-overflow:ellipsis;white-space:nowrap;}
.download-list li .txt-icon + p{margin:14px 0 15px 0;padding:0;}
.download-list li .datendownload{position:absolute;right:20px;top:50%;margin-top:-20px;}
.download-list li .date{float:left;width:80px;margin:8px 20px 0 0;font-size:0.88rem;color:#777;text-align:right;}
.download-list li .btn-download{float:right;}

.sorting-box + .total-num{margin-top:40px;}
.total-num + .training-product-list{margin-top:10px;}
.training-product-list dt{padding:23px 233px;font-weight:600;}
.training-product-list dt .txt-icon{position:absolute;top:23px;left:20px;}
.training-product-list dd{padding:0 40px;}
.training-product-list .download-model-list > li{position:relative;padding:12px 0 12px 10px;border-bottom:1px solid #e6e6e6;}
.training-product-list .download-model-list > li:after{content:'';display:block;clear:both;}
.training-product-list .download-model-list .tit{float:left;width:182px;margin-top:10px;line-height:26px;color:#777;font-size:0.88rem;}
.training-product-list .download-model-list .tit:before{content:'';display:inline-block;width:4px;height:4px;margin-right:10px;background-color:#444;vertical-align:4px;}
.training-product-list .download-model-list ul{float:left;width:calc(100% - 182px);} 
.training-product-list .download-model-list ul li{position:relative;width:100%;padding:10px 0;}
.training-product-list .download-model-list ul li + li{margin-top:10px;}
.training-product-list .download-model-list ul li p{overflow:hidden;width:100%;white-space:nowrap;text-overflow:ellipsis;}
.training-product-list .download-model-list p .ico-file{vertical-align:-7px;}
.training-product-list .download-model-list .btn-download{position:absolute;right:0;top:50%;margin-top:-20px;}
.training-product-list .download-model-list .newsnevents li{padding:0;}
.training-product-list .download-model-list .newsnevents li span{display:inline-block;max-width:calc(100% - 100px);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;} 
.training-product-list .download-model-list .newsnevents li span:before{content:'- ';}
.training-product-list .download-model-list .newsnevents li a{display:inline-block;margin-left:10px;color:#bc1137;font-weight:600;font-size:0.88rem;text-decoration:underline;vertical-align:top;}
.training-product-list .download-model-list .newsnevents li a:after{content:'\003E';}

/*FAQ*/
.tab-wrap + .faq-list{margin-top:40px;}
.faq-list{margin-top:20px;}
.faq-list dt{padding:25px 50px;}
.faq-list dt p{position:relative;}
.faq-list dt a:before,
.faq-list dd:before{position:absolute;top:-6px;left:-30px;font-size:1.5rem;}
.faq-list dt a:before{content:'Q';}
.faq-list dd:before{content:'A';top:19px;left:20px;color:#bc1137;}
.faq-list dd{padding:25px 50px;}
.faq-list ul,
.faq-list p + div,
.faq-list div + div{margin-top:15px;}
.faq-list strong + p{margin-top:5px;}
.faq-list li{line-height:1.63rem;}
.faq-list div strong{color:#222;}
.faq-list .annotation{position:relative;margin-top:15px;padding-left:20px;font-size:0.88rem;color:#888;}
.faq-list .annotation:before{content:'';position:absolute;top:9px;left:10px;width:3px;height:3px;border-radius:50%;background-color:#aaa;}
.faq-list .date{position:absolute;right:60px;top:50%;width:80px;margin-top:-10px;font-size:0.88rem;color:#777;text-align:right;}
.faq-list .txt-icon{position:relative;left:-30px;}
.faq-list .txt-icon + p{margin:8px 0 15px 0;}

.tab-wrap + .qna-list{margin-top:40px;}
.qna-list{margin-top:20px;}
.qna-list dt{padding:25px 50px;}
.qna-list dt p{position:relative;}
.qna-list dt a:before,
.qna-list dd:before{position:absolute;top:-6px;left:-30px;font-size:1.5rem;}
.qna-list dt a:before{content:'Q';}
.qna-list dd:before{content:'A';top:19px;left:20px;color:#bc1137;}
.qna-list dd{padding:25px 50px;}
.qna-list ul,
.qna-list p + div,
.qna-list div + div{margin-top:15px;}
.qna-list strong + p{margin-top:5px;}
.qna-list li{line-height:1.63rem;}
.qna-list div strong{color:#222;}
.qna-list .annotation{position:relative;margin-top:15px;padding-left:20px;font-size:0.88rem;color:#888;}
.qna-list .annotation:before{content:'';position:absolute;top:9px;left:10px;width:3px;height:3px;border-radius:50%;background-color:#aaa;}
.qna-list .date{position:absolute;right:60px;top:50%;width:80px;margin-top:-10px;font-size:0.88rem;color:#777;text-align:right;}
.qna-list .txt-icon{position:relative;left:-30px;}
.qna-list .txt-icon + p{margin:8px 0 15px 0;}

/*Q&A*/
.recent-inquiries{position:relative;margin-top:40px;}
.recent-inquiries .btn-more{position:absolute;top:0;right:0;}
.recent-inquiries .page-subtit + .qna-list{margin-top:20px;}
.recent-inquiries + .contactus{margin-top:80px;}
.page-subtit + .annotation{margin-top:5px;color:#666;}
.tbl-v01 .byte-calc{display:block;color:#999;}
.contactus textarea{height:120px;}
.contactus .reject-email{margin-left:20px;}
.contactus .agreement-txt-all{margin-top:0;}
.contactus .agreement-txt-all .article-wrap > li:first-child{padding-top:0;}

/*News & Events*/
.newsnevent-list{margin-top:40px;border-top:1px solid #e6e6e6;}
.newsnevent-list li{position:relative;padding:30px 20px;border-bottom:1px solid #e6e6e6;}
.newsnevent-list .txt-icon + div{overflow:hidden;width:980px;max-height:60px;margin-top:20px;}
.newsnevent-list  div strong{max-width:100%;font-size:1.25rem;font-weight:600;color:#222;}
.newsnevent-list  div p{font-size:0.88rem;color:#666;}
.newsnevent-list .date{position:absolute;right:20px;top:50%;width:80px;margin-top:-10px;font-size:0.88rem;color:#777;text-align:right;}
.newsnevent-view{margin-top:40px;border-top:1px solid #666;}
.newsnevent-view dt{position:relative;padding:30px 20px;border-bottom:1px solid #e6e6e6;}
.newsnevent-view dt .txt-icon + strong{margin-top:15px;}
.newsnevent-view dt strong{display:block;font-size:1.25rem;font-weight:600;color:#222;}
.newsnevent-view dt .date{position:absolute;right:20px;top:30px;width:80px;font-size:0.88rem;color:#777;text-align:right;}
.newsnevent-view .newsnevent-txt{min-height:150px;padding:20px 20px 40px 20px;color:#222;}
.newsnevent-view .related-model{padding:20px 20px 10px 20px;border-top:1px solid #e6e6e6;border-bottom:1px solid #666;background-color:#f7f7f7;}
.newsnevent-view .related-model strong{display:block;margin-bottom:10px;color:#222;font-weight:600;}
.newsnevent-view .related-model strong span{font-size:0.88rem;color:#777;}
.newsnevent-view .related-model ul:after{content:'';display:block;clear:both;}
.newsnevent-view .related-model li{float:left;margin:0 10px 10px 0;padding:0 16px;line-height:28px;border-radius:16px;background-color:#bd546b;color:#fff;font-size:0.88rem;font-weight:600;}
.newsnevent-view .related-model li:last-child{margin:0;}

/*My Page*/
.sorting-box + .inquiry-info{margin-top:40px;margin-bottom:10px;}
.inquiry-info:after{content:'';display:block;clear:both;}
.inquiry-info .inquiry-period,
.inquiry-info .inquiry-points{float:left;color:#666;}
.inquiry-info .inquiry-points{margin-left:80px;}
.inquiry-info .inquiry-period .tit,
.inquiry-info .inquiry-points .tit{margin-right:15px;color:#222;}
.inquiry-info .inquiry-period .tit,
.inquiry-info .inquiry-points .tit,
.inquiry-info .inquiry-points strong{font-weight:600;}

.confirm-box{margin-top:15px;padding:60px 0;border-top:1px solid #666;background-color:#f6f6f6;}
.confirm-box > div{position:relative;width:410px;margin:0 auto;padding-top:120px;}
.confirm-box > div:before{content:'';position:absolute;top:0;left:50%;width:100px;height:100px;margin-left:-50px;background:url(/common/images/front/normal/en/mypage/bg-person.png) no-repeat;}
.confirm-box p + p{margin-top:8px;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #e6e6e6;}
.confirm-box input{float:right;width:320px;}
.confirm-box label{line-height:50px;}

.grade{position:relative;padding-top:40px;}
.grade .go-reg{font-size:0.88rem;font-weight:600;color:#bc1137;text-decoration:underline;}
.grade .go-reg:after{content:'\003E';}
.grade .detail-points{text-align:right}/*position:absolute;right:0;top:40px;*/
.grade .my-grade{margin-top:20px;padding:20px 0 20px 40px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.grade .my-grade:after{content:'';display:block;clear:both;}
.grade .my-grade dl{float:left;position:relative;width:435px;height:120px;padding:0 0 0 160px;box-sizing:border-box;}
.grade .my-grade dl:after{content:'';position:absolute;left:0;top:0;width:120px;height:120px;background:url(/common/images/front/normal/en/mypage/grade-120.png) no-repeat;}
.grade .my-grade dt{font-size:1.88rem;color:#222;}
.grade .my-grade dd{color:#666;}
.grade .my-grade dd a{text-decoration:underline;color:#bc1137}
.grade .my-grade dl + p{border-left:none;}
.grade .my-grade p{float:left;width:240px;height:120px;padding:0 40px;border-left:1px solid #e6e6e6;text-align:center;color:#222;box-sizing:border-box;}
.grade .my-grade p .tit,
.grade .my-grade p span,
.grade .my-grade p .point{display:block;}
.grade .my-grade p .point{margin:8px 0 0 0;}
.grade .my-grade .remaining .point{margin:11px 0 0 0;}
.grade .my-grade p .tit + span{margin-top:10px;color:#666;font-size:0.88rem;}
.grade .my-grade p .tit + .certification{display:block;margin-top:30px;font-size:1.13rem;font-weight:600;color:#222;}
.grade .my-grade p .point strong{color:#bc1137;font-size:1.63rem;font-weight:600;text-decoration:underline;}

.grade .my-grade .diamond:after{background-position:0 0;}
.grade .my-grade .platinum:after{background-position:-132px 0;}
.grade .my-grade .gold:after{background-position:-262px 0;}
.grade .my-grade .silver:after{background-position:-394px 0;}
.grade .my-grade .bronze:after{background-position:-525px 0;}
.grade .my-grade .new:after{background-position:-650px 0;}
.benefitbygrade{margin-top:60px;}
.benefitbygrade-list{display:table;table-layout:fixed;border-collapse:collapse;width:100%;margin-top:15px;}
.benefitbygrade-list ul{display:table-row;}
.benefitbygrade-list li{display:table-cell;position:relative;width:200px;min-height:387px;text-align:center;border:1px solid #e6e6e6;}
.benefitbygrade-list li.is-active{border:2px solid #bc1137;}
.benefitbygrade-list li.is-active dt,
.benefitbygrade-list li.is-active dd{background-color:#fff;color:#222;opacity:1;}
.benefitbygrade-list li.is-active button.application{background-color:#bc1137;cursor:pointer;}
.benefitbygrade-list li.is-applicable dd{opacity:1;}
.benefitbygrade-list dt{padding:20px 0;border-bottom:1px solid #e6e6e6;}
.benefitbygrade-list dt:before{content:'';display:block;width:60px;height:60px;margin:0 auto 10px auto;background:url(/common/images/front/normal/en/mypage/grade-120.png) no-repeat;background-size:auto 60px;}
.benefitbygrade-list dd{padding:20px 10px;color:#666;border-bottom:1px solid #e6e6e6;opacity:0.5;}
.benefitbygrade-list dt + dd{padding:25px 0;}
.benefitbygrade-list dd + dd{box-sizing:border-box;}
.benefitbygrade-list dd:last-child{border-bottom:none;}
.benefitbygrade-list button.application{display:block;width:114px;height:30px;margin:30px auto 0 auto;background-color:#999;color:#fff;border-radius:4px;font-size:0.88rem;cursor:default;}
.benefitbygrade-list button.application:after{content:'\003E';margin-left:8px;}
.benefitbygrade-list .diamond dt:before{background-position:0 0;}
.benefitbygrade-list .platinum dt:before{background-position:-66px 0;}
.benefitbygrade-list .gold dt:before{background-position:-131px 0;}
.benefitbygrade-list .silver dt:before{background-position:-197px 0;}
.benefitbygrade-list .bronze dt:before{background-position:-262px 0;}
.benefitbygrade-list .new dt:before{background-position:-325px 0;}
.benefitbygrade-list .go-reg{display:inline-block;margin-top:10px;font-size:0.88rem;text-decoration:underline;}
.benefitbygrade-list .go-reg:after{content:'\003E';}
.point-usage{position:relative;margin-top:60px;}
.remaining-points{position:absolute;right:0;top:5px;}
.remaining-points strong{color:#bc1137;font-weight:600;}
.point-usage-list{margin-top:15px;border-top:1px solid #666;}
.point-usage-list ul{width:1218px;padding-top:2px;}
.point-usage-list ul:after{content:'';display:block;clear:both;}
.point-usage-list li{float:left;width:388px;height:179px;margin:18px 18px 0 0;color:#222;border:1px solid #e6e6e6;box-sizing:border-box;opacity:0.5;}
.point-usage-list li.is-active{border:1px solid #bc1137;opacity:1;}
.point-usage-list li .usage:before{content:'';display:block;width:94px;height:21px;margin-bottom:14px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -260px -90px;}
.point-usage-list li .usage{overflow:hidden;height:119px;padding:18px 20px;box-sizing:border-box;}
.point-usage-list li .points > a{display:block;padding:17px 20px;background-color:#f6f6f6;}
.point-usage-list li .points strong{color:#bc1137;font-weight:600;}
.membership-desc{margin-top:60px;}
.membership-desc .tit{line-height: 1.2;font-size: 1.25rem;font-weight: 600;color: #222;}
.membership-desc ol{margin-top:15px;padding:20px 0 0 20px;border-top:1px solid #666;line-height:1.5;}
.membership-desc li{padding-left:5px;list-style:decimal;}

.register-msg{position:relative;margin-top:40px;}
.register-msg p{position:relative;margin-top:15px;padding-left:20px;padding-top:15px;border-top:1px solid #e6e6e6;color:#666;}
.register-msg p span{position:absolute;left:0;}
.registration-info,
.registration-model{position:relative;margin-top:60px;}
.registration-info .tbl-v01,
.registration-model .tbl-v01{margin-top:15px;}
.registration-model .tbl-v01 + .tbl-v01{margin:0;}
.registration-model .tbl-v01 + .tbl-v01 tr:first-child th,
.registration-model .tbl-v01 + .tbl-v01 tr:first-child td{border-top:none;}
.registration-info input[type="text"],
.registration-model input[type="text"],
.registration-info select,
.registration-model select{width:340px;}
.registration-info p + p{margin-top:10px;}

.recent-inquiries .go-qna{position:absolute;top:4px;right:0;}
.personal-information{margin-top:15px;}
.personal-information input[type="text"],
.personal-information input[type="password"],
.personal-information input[type="tel"],
.personal-information select{width:380px;}
.personal-information .google-map{width:100%;height:500px;margin-top:10px;}
.personal-information button.location{width:140px;height:50px;margin-left:10px;color:#fff;background-color:#666;border-radius:4px;font-size:1rem;}
.personal-information p + p{margin-top:10px;}

.delete-account{margin-top:40px;}
.delete-account .page-subtit:first-child{font-size:1.5rem;}
.delete-account .user-agreement{margin-top:15px;margin-bottom:80px;padding:20px 0px 0 0;border:1px solid #e6e6e6;color:#222;}
.delete-account .user-agreement > div{overflow:auto;max-height:220px;margin:20px 40px;}
.delete-account .user-agreement dt strong{display:block;padding-bottom:15px;margin-bottom:15px;font-size:1.25rem;border-bottom:1px solid #000;}
.delete-account .user-agreement dd{margin-top:15px;}
.delete-account .user-agreement dd li{position:relative;padding-left:15px;}
.delete-account .user-agreement dd li:before{content:'';position:absolute;top:10px;left:0px;width:4px;height:4px;background-color:#777;}
.delete-account .user-agreement dd p{margin-top:10px;}
.delete-account .user-agreement .check-agreement{padding:15px 40px;background-color:#f6f6f6;border-top:1px solid #e6e6e6;}


/*login*/
.page-tit + .info-box{margin-top:25px;}
.info-box{padding:100px 0;border-top:1px solid #000;background-color:#f6f6f6;}
.info-box .btn-area .confirm,
.info-box .btn-area .save,
.info-box .btn-area .gomain,
.info-box .btn-area .btn-resend{height:50px;background-color:#bc1137;color:#fff;font-size:1.13rem;border-radius:4px;box-shadow:0 4px 4px rgba(0,0,0,0.1);}
.info-box .btn-area .confirm,
.info-box .btn-area .save{width:140px;}
.info-box .btn-area .gomain{width:260px;}
.info-box .btn-area a.btn-resend{width:280px;display:inline-block;line-height:50px;}
.info-box .login-box{position:relative;width:530px;margin:0 auto;padding-right:120px;box-sizing:border-box;}
.info-box .login-box p + p{margin-top:8px;}
.info-box .login-box label{float:left;width:90px;line-height:50px;color:#222;}
.info-box .login-box label + input[type="text"],
.info-box .login-box label + input[type="password"]{width:320px;}
.info-box .login-box button.login{position:absolute;top:0;right:0;width:108px;height:108px;border-radius:4px;background-color:#bc1137;color:#fff;font-size:1.13rem;box-shadow:0 4px 4px rgba(0,0,0,0.1);}
.info-box .login-box + .other-btn{position:relative;width:530px;margin:30px auto 0 auto;padding-top:27px;border-top:1px solid #e6e6e6;}
.info-box .login-box + .other-btn:before{content:'or';position:absolute;left:50%;top:-13px;width:40px;margin-left:-20px;background:#f6f6f6;font-size:1.13rem;color:#999;text-align:center;}
.info-box .login-box + .other-btn:after{content:'';display:block;clear:both;}
.info-box .login-box + .other-btn button{width:256px;height:50px;border:1px solid #666;background-color:#fff;color:#666;font-size:1.13rem;border-radius:4px;box-shadow:0 4px 4px rgba(0,0,0,0.1);}
.info-box .login-box + .other-btn .joinus{float:left;color:#bc1137;border-color:#bc1137;}
.info-box .login-box + .other-btn .reset-password{float:right;}
.info-box .welcome-msg{text-align:center;color:#444;}
.info-box .welcome-msg > strong{display:block;font-size:1.5rem;color:#222;margin-bottom:10px;font-weight:600;}
.info-box .welcome-msg strong + p{font-size:1.13rem;color:#222;margin-bottom:10px;}
.info-box .welcome-msg em{color:#bc1137;font-weight:600;}
.info-box .welcome-msg .btn-area{margin-top:40px;}
.info-box .reset-password{text-align:center;color:#666;}
.info-box .reset-password .tit{display:block;margin-bottom:10px;font-size:1.5rem;font-weight:600;color:#222;}
.info-box .reset-password .email-confirm{width:480px;margin:35px auto 0 auto;}
.info-box .reset-password .error-msg{margin-top:10px;padding-bottom:10px;border-bottom:1px solid #e6e6e6;}
.info-box .reset-password .msg em{color:#bc1137;}
.info-box .reset-password .btn-area{width:480px;margin:40px auto 0 auto;}
.info-box .reset-password .btn-area.mt40{margin-top:40px;}
.info-box .change-password{width:690px;margin:0 auto;padding-top:20px;}
.info-box .change-password .input-area:after{content:'';display:block;clear:both;}
.info-box .change-password .input-area p{float:left;width:340px;}
.info-box .change-password .input-area p + p{float:right;}
.info-box .change-password .annotation{margin-top:10px;text-align:left;color:#222;font-size:0.88rem;line-height:1.5rem;}
.info-box .change-password .error-msg{margin-top:10px;padding-bottom:10px;border-bottom:1px solid #e6e6e6;}

.agreement-area{margin-top:15px;margin-bottom:80px;padding-top:40px;border-top:2px solid #000;}
.agreement-area:after{content:'';display:block;clear:both;}
.agreement-area .agreement-txt-all{margin-top:0;}
.agreement-area > div{float:left;position:relative;width:400px;}
.agreement-area .go-view-all{position:absolute;top:0;right:0;}
.agreement-area .user-agreement,
.agreement-area .privacy-policy,
.agreement-area .privacy-policy2{margin-top:15px;border:1px solid #e6e6e6;color:#222;}
.agreement-area .user-agreement > div,
.agreement-area .privacy-policy > div,
.agreement-area .privacy-policy2 > div{padding:30px 0;text-align:center;color:#666;}
.agreement-area .user-agreement dt strong,
.agreement-area .privacy-policy dt strong,
.agreement-area .privacy-policy2 dt strong{display:block;padding-bottom:15px;margin-bottom:15px;font-size:1.25rem;border-bottom:1px solid #000;}
.agreement-area .user-agreement dd,
.agreement-area .privacy-policy dd,
.agreement-area .privacy-policy2 dd{margin-top:15px;font-size:0.88rem;}
.agreement-area .user-agreement .check-agreement,
.agreement-area .privacy-policy .check-agreement,
.agreement-area .privacy-policy2 .check-agreement{padding:15px 20px;background-color:#f6f6f6;border-top:1px solid #e6e6e6;}
.agreement-area .view-layer{color:#bc1137;text-decoration:underline;font-weight:600;}
.agreement-area .view-layer:after{content:'\003E';}



/*join membership*/
.idnpw,
.install-info-reg{margin-top:80px; }
.idnpw .tbl-v01,
.install-info-reg .tbl-v01{border-bottom-color:#e6e6e6;}
.install-info-reg .tbl-v01 td .annotation,
.idnpw .tbl-v01 td .annotation{margin-top:10px;color:#222;font-size:0.88rem;line-height:1.5rem;}
.idnpw .tbl-v01 td input[type="text"],
.idnpw .tbl-v01 td input[type="password"]{width:320px;}
.idnpw .tbl-v01 td .at{display:inline-block;width:30px;text-align:center;}
.idnpw .tbl-v01 td .error-msg{display:inline-block;margin-left:5px;vertical-align:-10px;}
.idnpw .tbl-v01 td input[type="text"] + .error-msg{width:280px;}
.idnpw .tbl-v01 td input[type="password"] + .error-msg{width:500px;}
.install-info-reg .tbl-v01 th,
.install-info-reg .tbl-v01 td{height:50px;padding-right:0;}
.install-info-reg .tbl-v01 td input[type="text"],
.install-info-reg .tbl-v01 td input[type="tel"],
.install-info-reg .tbl-v01 td select{width:380px;height:50px;line-height:50px;}
.install-info-reg .tbl-v01 td input[type="text"] + .error-msg{width:500px;}
.install-info-reg .tbl-v01 td p + p{margin-top:10px;}
.install-info-reg .tbl-v01 td .error-msg{display:inline-block;max-width:400px;}
.install-info-reg .tbl-v01 td .error-msg:first-child{max-width:100%;}
.install-info-reg .tbl-v01 td .error-msg > a{color:#2d5ca9;text-decoration:underline;}
.install-info-reg .tbl-top{margin-bottom:10px;}
.install-info-reg .tbl-top:after{content:'';display:block;clear:both;}
.install-info-reg .tbl-top > p{float:left;}
.install-info-reg .tbl-top .msg-box .msg-detail{width:480px;margin-top:5px;box-sizing:border-box;}
.install-info-reg .tbl-top .msg-box .msg-detail .annotation{margin-top:20px;color:#222;font-size:0.88rem;line-height:1.5rem;}
.install-info-reg .btn-area{margin-top:20px;text-align:center;}
.install-info-reg .btn-area button{width:210px;height:50px;background-color:#bc1137;color:#fff;font-size:1.13rem;border-radius:4px;box-shadow:0 4px 4px rgba(0,0,0,0.1);}
.install-info-reg .google-map{width:100%;height:500px;margin-top:10px;}
.install-info-reg button.location{width:140px;height:50px;margin-left:10px;color:#fff;background-color:#666;border-radius:4px;}


/* 
.for-inquriy strong:before{content:'';display:inline-block;width:34px;height:34px;margin-right:10px;vertical-align:-12px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -305px -50px;}
.for-inquriy a{margin-left:20px;color:#666;} */
.for-inquriy{margin-top:60px;padding:10px 0 10px 20px;line-height:34px;border-top:1px solid #666;border-bottom:1px solid #e6e6e6;font-size:16px;}
.for-inquriy strong{display:inline-block;width:182px;}
.for-inquriy a{color:#666;}
.for-inquriy a:before{content:'';display:inline-block;width:34px;height:34px;margin-right:10px;vertical-align:-12px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -305px -50px;}
.for-inquriy a em{display:inline-block;margin-right:10px;color:#222;}
.for-inquriy a + a:before{content:'';background-position:-345px -50px;}
.for-inquriy a + a{margin-left:70px}

/*Error Page*/
.error-box{padding:60px 0;text-align:center;}
.error-box .tit{font-size:1.5rem;font-weight:600;}
.error-box .tit + p{margin-top:20px;}
.error-box .btn-area{margin-top:40px;}
.error-box .btn-area a[class^="btn"]{display:inline-block;width:260px;height:50px;line-height:50px;color:#fff;box-shadow:0 4px 4px rgba(0,0,0,0.1);border-radius:4px;}
.error-box .btn-area a + a{margin-left:10px;}
.error-box .btn-area .btn-go-prev{background:#666;}
.error-box .btn-area .btn-go-main{background:#bc1137;}

/*Sitemap*/
.error-box + .sitemap{margin-top:80px;}
.page-tit + .sitemap{margin-top:12px;padding-top:60px;border-top:2px solid #555;}
.sitemap{overflow:hidden;width:100%;}
.sitemap > ul{width:1256px;}
.sitemap > ul > li{float:left;width:260px;min-height:380px;margin-right:54px;}
.sitemap > ul:after{content:'';display:block;clear:both;}
.sitemap > ul > li > strong{display:block;padding-bottom:21px;color:#bc1137;font-size:1.38rem;font-weight:600;border-bottom:2px solid #bc1137;}
.sitemap > ul > li > ul > li{position:relative;padding:13px 0 12px 20px;border-bottom:1px solid #e6e6e6;}
.sitemap > ul > li > ul > li:before{content:'';position:absolute;top:22px;left:0;width:4px;height:4px;background:#777;}
.sitemap li li li{margin-top:10px;}
.sitemap li li li:before{content:'-';margin-right:5px;}
.sitemap > ul > li > ul > li + li{}
.sitemap li li strong{}
.sitemap li a{color:#222;}
.sitemap li li a{color:#222;}
.sitemap li li li a{color:#666;}

/*PRODUCT LIST*/
.product-list{margin-top:40px;}
.product-list .total{font-size:1.25rem;}
.product-list .total strong{color:#bc1137;}
.product-list > ul{margin-top:10px;border-top:1px solid #666;}
.product-list .prdt-detail{position:relative;min-height:300px;padding:45px 0 60px 710px;}
.product-list .prdt-detail dt{font-size:1.25rem;font-weight:600;}
.product-list .prdt-detail dd.release{margin-top:4px;color:#666;}
.product-list .prdt-detail .strength{margin-top:20px;}
.product-list .prdt-detail .strength li{position:relative;padding-left:14px;color:#666;}
.product-list .prdt-detail .strength li + li{margin-top:5px;}
.product-list .prdt-detail .strength li:before{content:'';position:absolute;top:10px;left:0;width:4px;height:4px;background:#777;}
.product-list .prdt-detail .download{margin-top:40px;}
.product-list .prdt-detail .download:after{content:'';display:block;clear:both;}
.product-list .prdt-detail .download li{float:left;width:122px;height:110px;text-align:center;border:1px solid #e6e6e6;box-sizing:border-box;}
.product-list .prdt-detail .download li:hover{background:#bc1137;}
.product-list .prdt-detail .download li:hover > a{color:#fff;}
.product-list .prdt-detail .download li + li{border-left:0;}
.product-list .prdt-detail .download li > a{display:block;height:100%;padding-top:22px;font-size:0.88rem;color:#666;line-height:1rem;box-sizing:border-box;}
.product-list .prdt-detail .download li > a:before{content:'';display:block;height:36px;margin:0 auto 10px auto;background:url(/common/images/front/normal/en/common/bg-spec.gif) no-repeat;}
.product-list .prdt-detail .download .spec a:before{width:27px;}
.product-list .prdt-detail .download .warranty a:before{width:27px;background-position:-30px 0;}
.product-list .prdt-detail .download .certification a:before{width:35px;background-position:-60px 0;}
.product-list .prdt-detail .download .manual a:before{width:27px;background-position:-100px 0;}
.product-list .prdt-detail .download .spec:hover a:before{width:27px;background-position:0 -46px;}
.product-list .prdt-detail .download .warranty:hover a:before{width:27px;background-position:-30px -46px;}
.product-list .prdt-detail .download .certification:hover a:before{width:35px;background-position:-60px -46px;}
.product-list .prdt-detail .download .manual:hover a:before{width:27px;background-position:-100px -46px;}
.product-list .prdt-detail .prdt-img{position:absolute;top:0;left:0;width:710px;height:100%;}
.product-list .prdt-detail .prdt-img img{margin:41px 0 0 37px;}
.product-list .inverters{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.product-list .inverters .tit{float:left;width:300px;margin:25px 0 25px 23px;font-weight:600;}
.product-list .inverters:after{content:'';display:block;clear:both;}
.product-list .inverters div{padding:12px 0 12px 300px;text-align:right;}
.product-list .inverters div img{margin:9px 20px;}
.product-list .spec-detail{border-bottom:1px solid #666;}
.product-list .spec-detail > .tit{position:relative;padding:25px 0 21px 23px;font-weight:600;}
.product-list .spec-detail ul{padding:17px 50px 25px 50px;background:#f6f6f6;border-top:1px solid #e6e6e6;}
.product-list .spec-detail ul:after{content:'';display:block;clear:both;}
.product-list .spec-detail ul li{float:left;width:50%;margin-top:8px;color:#666;box-sizing:border-box;}
.product-list .spec-detail ul li .tit{float:left;width:240px;color:#222;}

/*Installer Search*/
.installer-search{margin-top:12px;border-top:2px solid #555;}
.installer-search-msg{padding-top:35px;font-weight:100;font-size:2rem;line-height:2.38rem;}
.installer-search-msg strong{color:#bc1137;font-weight:600;}
.installer-search-msg .annotation{margin-top:15px;mcolor:#666;font-size:1rem;font-weight:400;}
.installer-search-box{margin-top:30px;padding:25px 0 30px 220px;border:1px solid #e6e6e6;box-shadow:15px 15px 15px rgba(0,0,0,0.1);}
.installer-search-box:after{content:'';display:block;clear:both;}
.installer-search-box .address,
.installer-search-box .distance{float:left;width:284px;margin-top:6px;border-bottom:2px solid #222;font-size:1rem;}
.installer-search-box .address input[type="text"],
.installer-search-box .distance select{border:none;}
.installer-search-box .distance select{background:url(/common/images/front/normal/en/common/bg-select02.gif) no-repeat 100% 50%;}
.installer-search-box .distance{margin-left:40px;}
.installer-search-box button.search{float:left;width:62px;height:62px;margin-left:50px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -60px -160px;text-indent:-9999px;}
.installer-location{margin-top:20px;border:1px solid #e6e6e6;box-shadow:15px 15px 15px rgba(0,0,0,0.1);}
.installer-location:after{content:'';display:block;clear:both;}
.installer-location .installer-search-all{overflow:hidden;position:relative;float:left;width:378px;height:600px;padding:35px 20px 40px 40px;box-sizing:border-box;}
.installer-location .installer-search-all .result{padding-bottom:12px;font-size:1.13rem;color:#666;border-bottom:3px solid #e6e6e6;}
.installer-location .installer-search-all .result em{color:#bc1137;font-weight:600;}
.installer-location .installer-search-list{overflow:auto;height:500px;padding-right:20px;}
.installer-location .installer-search-list li{position:relative;border-bottom:1px solid #e6e6e6;}
.installer-location .installer-search-list li > a{display:block;padding:30px 0;color:#444;font-size:0.88rem;}
.installer-location .installer-search-list li a:after{content:'';position:absolute;right:0;top:50%;width:9px;height:16px;margin-top:-5px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -220px 0;}
.installer-location .installer-search-list li strong{display:block;margin-bottom:5px;font-weight:600;font-size:1.5rem;color:#222;}
.installer-location .installer-search-list li .detail-info{display:none;}
.installer-location .installer-search-list li p{margin-top:10px;}
.installer-location .installer-search-list li p + p{margin-top:5px;}
.installer-location .installer-search-list li .point{font-size:0.88rem;;}
.installer-location .installer-search-list li .point span{display:inline-block;margin-right:15px;font-weight:600;}
.installer-location .installer-search-list li .point em{font-weight:600;color:#bc1137;}
.installer-location .installer-search-list li .certification span{display:inline-block;margin-right:15px;font-weight:600;}
.installer-location .installer-search-list li .certification em{font-weight:600;color:#888;}
.installer-location .installer-search-list li .certification em.is-completed{color:#bc1137;}


.installer-location .installer-search-all .detail{position:absolute;top:0;left:100%;width:100%;height:100%;padding:40px;background:#fff;box-sizing:border-box;}
.installer-location .installer-search-all .detail .back{width:24px;height:18px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat 0 -190px;text-indent:-9999px;}
.installer-location .installer-search-all .detail .detail-view{height:405px;margin-top:18px;border-top:3px solid #e6e6e6;}
.installer-location .installer-search-all .detail .detail-view li{position:relative;margin-top:20px;color:#666;}
.installer-location .installer-search-all .detail .detail-view li:after{content:'';display:block;clear:both;}
.installer-location .installer-search-all .detail .detail-view li span{float:left;width:130px;font-weight:600;color:#222;}
.installer-location .installer-search-all .detail .detail-view li em{float:left;width:168px;}
.installer-location .installer-search-all .detail .detail-view li em.is-completed{color:#bc1137;}
.installer-location .installer-search-all .detail .detail-view li img{margin-top:-4px;}
.installer-location .installer-search-all .detail .btn-area{padding-top:30px;border-top:1px solid #e6e6e6;}
.installer-location .installer-search-all .detail .btn-area button{background:#666;color:#fff;width:300px;height:50px;font-size:1.13rem;border-radius:4px;box-shadow:4px 4px 4px rgba(0,0,0,0.1);}
.installer-location .installer-search-all .detail .btn-area button:before{content:'';display:inline-block;width:22px;height:24px;margin-right:20px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -130px -160px;vertical-align:-6px;}
.installer-location .map{float:left;width:820px;height:600px;}
.installer-location .map img{max-width:auto;max-height:auto;}
.installer-location .installer-location-msg{position:relative;margin:125px 0;font-size:1.13rem;text-align:center;color:#444;}
.installer-location .installer-location-msg:before{content:'';display:block;width:40px;height:40px;margin:0 auto 15px auto;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -160px -160px;}


.popup-layout{padding:20px;color:#222;}
.popup-layout h1{margin-bottom:10px;padding-bottom:10px;font-size:1.5rem;font-weight:600;border-bottom:2px solid #222;}
.txt-quote-contact{}
.txt-quote-contact .annotation{position:relative;display:block;margin-top:5px;padding-left:12px;font-size:0.88rem;}
.txt-quote-contact .annotation:before{content:'';position:absolute;top:7px;left:0;width:4px;height:4px;background-color:#777;}

.consent-form .user-agreement{margin-top:5px;border:1px solid #e6e6e6;color:#222;}
.consent-form .user-agreement > div{overflow:auto;max-height:80px;margin:15px;}
.consent-form .user-agreement .check-agreement{padding:15px 20px;background-color:#f6f6f6;border-top:1px solid #e6e6e6;}
.consent-form .annotation{margin-top:5px;margin-bottom:12px;color:#bc1137;font-size:0.88rem;}
.consent-form .tbl-v01{margin-top:5px;border-bottom:1px solid #e6e6e6;}
.consent-form .tbl-v01 th,
.consent-form .tbl-v01 td{height:60px;}
.consent-form .tbl-v01 input[type="text"]{height:40px;line-height:40px;}
.consent-form .tbl-v01 textarea{height:140px;}
.consent-form .email-annotation{display:inline-block;margin-left:10px;font-size:0.88rem;line-height:1.25rem;vertical-align:-10px;color:#666;}
.consent-form button.submit{width:190px;}
.consent-form .agreement-txt-all{margin-top:0;}
.consent-form .agreement-txt-all .article-wrap:first-child > li:first-child{padding-top:0;}

/*Wheretobuy*/
.wheretobuy{position:relative;margin-top:12px;padding-top:35px;border-top:2px solid #555;}
.wheretobuy .btn-gray-thin{position:absolute;top:35px;right:0;}
.wheretobuy ul{width:calc(100% + 20px);margin-top:20px}
.wheretobuy ul:after{content:'';display:block;clear:both;}
.wheretobuy li{float:left;width:390px;margin:0 15px 16px 0;text-align:center;border:1px solid #e6e6e6;box-sizing:border-box;}
.wheretobuy li p{padding:20px;background-color:#f6f6f6;color:#444;}
.wheretobuy li p strong{display:block;margin-bottom:8px;font-weight:600;font-size:1.25rem;color:#222;}
/*Contactus*/
.contactus{position:relative;margin-top:12px;padding-top:35px;border-top:2px solid #555;}
.contactus .tit{font-size:1.5rem;font-weight:600;}
.contactus .user-agreement{margin-top:15px;margin-bottom:80px;padding:20px 0px 0 0;border:1px solid #e6e6e6;color:#222;}
.contactus .user-agreement > div{overflow:auto;max-height:470px;margin:20px 40px;}
.contactus .user-agreement dt strong{display:block;padding-bottom:15px;margin-bottom:15px;font-size:1.25rem;border-bottom:1px solid #000;}
.contactus .user-agreement dd{margin-top:15px;}
.contactus .user-agreement .check-agreement{padding:15px 40px;background-color:#f6f6f6;border-top:1px solid #e6e6e6;}
.contactus .tbl-v01{margin-top:10px;}

/*Policies*/
.reject-email-collection{margin-top:40px;}
.reject-email-collection dl{width:750px;margin:0 auto;padding-left:190px;background:url(/common/images/front/normal/en/etc/bg-reject-email-collection.png) no-repeat 0 50%;box-sizing:border-box;}
.reject-email-collection dt{margin-bottom:20px;font-weight:600;font-size:1.5rem;}
.reject-email-collection dd strong{font-weight:600;}

.agreement-txt-all{margin-top:40px;}
.agreement-txt-all .tit dt{margin-bottom:6px;font-size:1.5rem;font-weight:600;}
.agreement-txt-all .article-link{margin-top:30px;padding:40px;border:1px solid #e6e6e6;background-color:#f6f6f6;}
.agreement-txt-all .article-link:after{content:'';display:block;clear:both;}
.agreement-txt-all .article-link p{float:left;width:50%;}
.agreement-txt-all .article-link a{position:relative;display:block;padding:0 50px 0 100px;}
.agreement-txt-all .article-link a + a{margin-top:20px;}
.agreement-txt-all .article-link strong{position:absolute;left:0;width:100px;font-weight:600;}
.agreement-txt-all .article-link strong:before{content:'';display:inline-block;width:4px;height:4px;margin-right:11px;vertical-align:4px;background-color:#777;}
.agreement-txt-all .tit dt{margin-bottom:6px;font-size:1.5rem;font-weight:600;}
.agreement-txt-all .tit-chapter{margin-top:60px;padding-bottom:15px;font-size:1.25rem;font-weight:600;border-bottom:1px solid #666;}
.agreement-txt-all .article-wrap .tit{display:block;margin-bottom:12px;font-size:1.13rem;font-weight:600;}
.agreement-txt-all .article-wrap .sub-tit{display:block;margin:10px 0;font-size:1rem;font-weight:600;}
.agreement-txt-all .article-wrap > li{padding:40px 0;border-bottom:1px solid #e6e6e6;}
.agreement-txt-all .article-wrap li li{position:relative;padding-left:20px;}
.agreement-txt-all .article-wrap li li .num{position:absolute;left:0;}
.agreement-txt-all .article-wrap ul li + li{margin-top:10px;}
.agreement-txt-all .article-wrap .sub-list{margin-top:10px;margin-left:10px;font-size:0.88rem;color:#666;}
.agreement-txt-all .article-wrap .sub-list li + li{margin-top:4px;}
.agreement-txt-all .article-wrap p + ul{margin-top:20px;}
.agreement-txt-all .addenda{margin-top:30px;}
.agreement-txt-all .addenda strong{display:block;font-weight:600;}
.agreement-txt-all .entrustment{margin-top:10px;font-size:0.88rem;color:#222;}
.agreement-txt-all .entrustment strong{font-weight:600;}
.agreement-txt-all .entrustment strong:before{content:'';display:inline-block;width:4px;height:4px;margin-right:10px;background-color:#444;vertical-align:4px;}
.agreement-txt-all .protection-mgr{}
.agreement-txt-all .protection-mgr dt{margin-top:10px;font-weight:600;}
.agreement-txt-all .protection-mgr dt:before{content:'';display:inline-block;width:4px;height:4px;margin-right:10px;background-color:#444;vertical-align:4px;}
.agreement-txt-all .protection-mgr dd{margin-top:5px;padding-left:13px;font-size:0.88rem;color:#666;}
.agreement-txt-all .protection-mgr dd span{display:inline-block;width:190px;}


/*Introduction*/
.introduction{padding:40px 0;}
.introduction .page-subtit{font-size:1.5rem;}
.introduction .page-subtit + .annotation{margin-bottom:40px;padding-bottom:20px;font-size:1rem;color:#666;border-bottom:1px solid #666;}
.introduction .article-wrap{margin-bottom:70px;}
.introduction .article-content{position:relative;margin-bottom:80px;}
.introduction .sub-content{margin-bottom:80px;}
.article-content .page-2dtit{display:block;margin-bottom:5px;font-size:1.25rem;font-weight:600;}
.article-content .page-2dtit + .annotation{margin-bottom:20px;font-size:1rem;}
.group-wrap .article-content{position:relative;margin-bottom:0;background:url(/common/images/front/normal/en/introduction/lggroup_bg.jpg) no-repeat;}
.group-wrap .group-info{position:absolute;top:0;right:0;padding:16px 0 16px 76px;width:380px;box-sizing:border-box;box-shadow:15px 15px 15px rgba(0,0,0,0.1);}
.group-wrap .group-info li{margin-bottom:2px;color:#444;}
.group-wrap .group-info li:before{content:'';display:inline-block;margin-right:8px;margin-bottom:5px;width:4px;height:4px;background:#777;}        
.group-wrap .group-list{padding-top:182px;padding-bottom:40px;}
.group-wrap .group-list:after{content:'';display:block;clear:both;}
.group-wrap .group-list > li{float:left;width:380px;height:320px;box-sizing:border-box;box-shadow:15px 15px 15px rgba(0,0,0,0.1);}
.group-wrap .group-list > li + li{margin-left:30px;}
.group-wrap .group-list > li:last-child strong{padding-top:18px;}
.group-wrap .group-list li strong{position:relative;display:block;padding-top:32px;height:85px;font-size:1.125rem;font-weight:600;color:#bc1137;letter-spacing:2px;text-align:center;text-transform:uppercase;box-sizing:border-box;}
.group-wrap .group-list li p{margin:0 15px;padding-top:17px;padding-bottom:10px;font-size:1.25rem;text-align:center;}
.group-wrap .group-list li ol{padding:25px 0 0 72px;color:#444;line-height:26px;}
.group-wrap .group-list li ol li:before{content:'';display:inline-block;margin-right:8px;margin-bottom:5px;width:4px;height:4px;background:#777;}        

.energy-solution .energy-solution-text{position:absolute;top:145px;right:0;padding:16px 0 0 73px;width:380px;height:150px;box-sizing:border-box;box-shadow:15px 15px 15px rgba(0,0,0,0.1)}
.energy-solution p{position:absolute;font-weight:600;color:#444;text-align:center;}
.energy-solution .energy-solution-tit01{top:0;left:539px;}
.energy-solution .energy-solution-tit02{bottom:0;left:335px;}
.energy-solution .energy-solution-tit03{bottom:0;left:752px;}
.energy-solution .energy-solution-text li{margin-bottom:5px;}
.energy-solution .energy-solution-text li:before{content:'';display:inline-block;margin-right:8px;margin-bottom:5px;width:4px;height:4px;background:#777;}
.energy-solution .energy-solution-text .btn-site{margin-left:10px}
.battery-business-history .page-2dtit{margin-bottom:20px;}
.battery-business-history .tbl-v02 tr:last-child th,
.battery-business-history .tbl-v02 tr:last-child td{border-bottom-color:#666;}
.battery-business-history .tbl-v02 .c-red{color:#bc1137}
.battery-business-history .history-list{padding:30px 40px;}
.battery-business-history .history-list li{position:relative;font-size:0.875rem;line-height:24px;color:#444;}
.battery-business-history .history-list li:before{content:'';float:left;margin-right:8px;margin-top:8px;width:4px;height:4px;background:#777;}
.battery-business-history .history-list li strong{position:absolute;top:0;left:13px;font-weight:600;color:#222;}
.battery-business-history .history-list li div{padding-left:60px;}
.product-quality .sub-content{margin-top:20px;}
.product-quality th{font-size:1rem;}
.product-quality th:first-child{color:#666;}
.product-quality th,
.product-quality td{border-color:#d3d3d3}
.product-quality thead th:first-child,
.product-quality tbody th{border-right:1px solid #d3d3d3}
.global-operation{margin-top:5px;}
.global-operation .sub-content{margin-top:25px;}
.storage-system .page-subtit{padding-bottom:10px;border-bottom:1px solid #666;}
.business-scope{margin-top:20px;}
.business-scope .page-2dtit + .annotation{margin-bottom:50px;}
.business-scope tr:last-child th,
.business-scope tr:last-child td{border-bottom-color:#666;}        
.business-strategy .page-2dtit + .annotation{margin-bottom:30px;}
.business-strategy ul:after{content:'';display:block;clear:both;}
.business-strategy ul > li{float:left;width:388px;height:205px;border:1px solid #e6e6e6;box-sizing:border-box;}
.business-strategy ul > li + li{margin-left:18px;}
.business-strategy ul > li strong{display:block;font-size:1.25rem;font-weight:600;line-height:60px;background:#f9f9f9;text-align:center;}
.business-strategy ul > li ol{padding:20px 0 0 20px;color:#666;}
.business-strategy ul > li ol li{position:relative;padding-left:14px;line-height:26px;}
.business-strategy ul > li ol li:before{content:'';position:absolute;top:10px;left:0;width:4px;height:4px;background:#777;}
.business-vision .page-2dtit + .annotation{margin-bottom:45px;}

.lgesspartner{padding:40px 0;}
.lgesspartner .page-subtit{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #000;font-size:1.5rem;color:#222;}
.lgesspartner .article-wrap + .article-wrap{margin-top:80px;}
.lgesspartner .partner-benefits ul:after{content:'';display:block;clear:both;}
.lgesspartner .partner-benefits li{float:left;width:380px;height:357px;border:1px solid #e6e6e6;box-sizing:border-box;text-align:center;}
.lgesspartner .partner-benefits li + li{margin-left:30px;}
.lgesspartner .partner-benefits li .benefits-img{border-bottom:1px solid #e6e6e6;}
.lgesspartner .partner-benefits li .benefits-text{position:relative;padding-top:60px;}
.lgesspartner .partner-benefits li .benefits-text:before{content:'';position:absolute;top:-45px;left:50%;margin-left:-45px;width:90px;height:90px;background:url(/common/images/front/normal/en/introduction/icon-benefits01.png) no-repeat;}
.lgesspartner .partner-benefits li:nth-child(2) .benefits-text:before{background:url(/common/images/front/normal/en/introduction/icon-benefits02.png) no-repeat;}
.lgesspartner .partner-benefits li:nth-child(3) .benefits-text:before{background:url(/common/images/front/normal/en/introduction/icon-benefits03.png) no-repeat;}
.lgesspartner .partner-benefits li dt{font-size:1.125rem}
.lgesspartner .partner-benefits li dd{font-size:0.875rem;color:#666;}
.benefits-member{position:relative;}
.benefits-member .more-partner-program{position:absolute;top:0;right:0;}

.partner-program{padding:40px 0;}
.partner-program .page-subtit{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #000;font-size:1.5rem;color:#222;}
.partner-program .article-wrap + .article-wrap{margin-top:80px;}
.lgesspartner02 p + p{margin-top:25px;}
.membership-point-wrap{padding-top:20px;}
.membership-point-wrap:after{content:'';display:block;clear:both;}
.membership-point-wrap li{position:relative;float:left;width:285px;height:250px;text-align:center;}
.membership-point-wrap li + li{margin-left:20px;}
.membership-point-wrap li + li:before{content:'';position:absolute;top:45px;left:-20px;width:20px;height:35px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -260px -160px;}
.membership-point-wrap li strong{color:#bc1036;font-weight:600;}
.membership-point-wrap li div{margin-bottom:10px;font-size:0.875rem;line-height:22px;color:#666666;}
.membership-point-wrap li div:before{content:'';display:block;margin:30px auto;width:60px;height:50px;background:url(/common/images/front/normal/en/introduction/ico-membership-point01.png) no-repeat}
.membership-point-wrap li:nth-child(2) div:before{background:url(/common/images/front/normal/en/introduction/ico-membership-point02.png) no-repeat}
.membership-point-wrap li:nth-child(3) div:before{background:url(/common/images/front/normal/en/introduction/ico-membership-point03.png) no-repeat}
.membership-point-wrap li:nth-child(4) div:before{background:url(/common/images/front/normal/en/introduction/ico-membership-point04.png) no-repeat}



/*ESS Solution*/
.reference-sites .page-subtit,
.lgchem-strengths .page-subtit,
.ess-solution .page-subtit{margin-top:40px;padding-bottom:15px;font-size:1.5rem;font-weight:600;border-bottom:1px solid #222;}

/**/
.ess-solution{}
.ess-solution > div{padding:35px 0 40px 0;}
.ess-solution > div + div{border-top:1px solid #e6e6e6;}
.ess-solution .sec-tit{font-size:20px;font-weight:600;}
.ess-solution .sec-tit + p{margin-top:15px;color:#666;}
.ess-solution .grid-app{margin-top:30px;}
.ess-solution .grid-app:after{content:'';display:block;clear:both;}
.ess-solution .grid-app li{float:left;width:388px;height:610px;border:1px solid #e6e6e6;box-sizing:border-box;}
.ess-solution .grid-app li + li{margin-left:18px;}
.ess-solution .grid-app li img{width:386px;height:490px;}
.ess-solution .grid-app li dl{padding:20px;background-color:#f6f6f6;}
.ess-solution .grid-app li dt{font-size:20px;font-weight:600;}
.ess-solution .grid-app li dd{position:relative;padding-left:14px;color:#666;}
.ess-solution .grid-app li dd:before{content:'';position:absolute;top:8px;left:0;width:4px;height:4px;background-color:#777;}
.ess-solution .residentialandcommercial:after{content:'';display:block;clear:both;}
.ess-solution .residentialandcommercial li{float:left;width:388px;height:194px;border:1px solid #e6e6e6;box-sizing:border-box;}
.ess-solution .residentialandcommercial li + li{margin-left:18px;}
.ess-solution .residentialandcommercial dt{margin-bottom:15px;padding:15px 0;background-color:#f6f6f6;font-size:20px;font-weight:600;text-align:center;}
.ess-solution .residentialandcommercial dd{position:relative;margin:0 20px 0px 20px;padding-left:14px;color:#666;}
.ess-solution .residentialandcommercial dd:before{content:'';position:absolute;top:8px;left:0;width:4px;height:4px;background-color:#777;}
.ess-solution .ups{border:1px solid #e6e6e6;}
.ess-solution .ups:after{content:'';display:block;clear:both;}
.ess-solution .ups dt{width:100%;padding:15px 0;background-color:#f6f6f6;font-size:20px;font-weight:600;text-align:center;}
.ess-solution .ups dd{float:left;width:50%;position:relative;padding:20px 20px 20px 34px;color:#666;box-sizing:border-box;}
.ess-solution .ups dd + dd{border-left:1px solid #e6e6e6;}
.ess-solution .ups dd:before{content:'';position:absolute;top:28px;left:20px;width:4px;height:4px;background-color:#777;}
.ess-solution .ups ul{margin-top:5px;}
.ess-solution .ups li{color:#888;}

.lgchem-strengths{}
.lgchem-strengths > div{padding:35px 0 40px 0;}
.lgchem-strengths .sec-tit{font-size:20px;font-weight:600;}
.lgchem-strengths .sec-tit + p{margin-top:15px;}
.lgchem-strengths p{color:#666;}
.lgchem-strengths .box-desc,
.lgchem-strengths .box-desc02{border:1px solid #e6e6e6;}
.lgchem-strengths .box-desc strong,
.lgchem-strengths .box-desc02 strong{display:block;padding:15px 0;background-color:#f6f6f6;font-size:20px;font-weight:600;text-align:center;}
.lgchem-strengths .box-desc02:after{content:'';display:block;clear:both;}
.lgchem-strengths .box-desc02 > div{float:left;width:50%;box-sizing:border-box;}
.lgchem-strengths .box-desc02 > div + div{border-left:1px solid #e6e6e6;}

.reference-sites{}
.reference-sites > div{padding:35px 0 40px 0;}
.reference-sites .sec-tit{font-size:20px;font-weight:600;}
.reference-sites .sec-tit + p{margin-top:15px;color:#666;}
.reference-sites .reference-site-amount{margin:30px 0 20px 0;line-height:58px;border:1px solid #e6e6e6;color:#666;}
.reference-sites .reference-site-amount strong{display:inline-block;width:330px;margin-right:40px;font-weight:600;font-size:1.25rem;text-align:center;color:#222;background:#f6f6f6;}
.reference-sites .reference-site-amount + p{color:#666;}
.reference-sites .reference-site-map{margin-top:70px;}
.reference-sites .viewbyregion > div{border:1px solid #e6e6e6;}
.reference-sites .viewbyregion > div + div{margin-top:20px;}
.reference-sites .viewbyregion .tit{display:block;padding:15px 0;background-color:#f6f6f6;font-size:20px;font-weight:600;text-align:center;}
.reference-sites .viewbyregion .site{margin:20px 18px;}
.reference-sites .viewbyregion .site:after{content:'';display:block;clear:both;}
.reference-sites .viewbyregion .site + .site{padding-top:20px;border-top:1px solid #e6e6e6;}
.reference-sites .viewbyregion .reginal-detail{float:left;width:620px;color:#666;}
.reference-sites .viewbyregion .map{float:right;width:522px;}
.reference-sites .viewbyregion .demension dt{margin-bottom: 2px;font-size:1.25rem;font-weight:600;}
.reference-sites .viewbyregion .demension dd{position:relative;padding-left:14px;}
.reference-sites .viewbyregion .demension dd:before{content:'';position:absolute;top:8px;left:0;width:4px;height:4px;background-color:#777;}
.reference-sites .viewbyregion .region-photo{width:616px;margin-top:20px;}
.reference-sites .viewbyregion .region-photo.develop{background:url(/common/images/front/normal/en/product/bg-develop.gif) no-repeat 50% 80px;} 
.reference-sites .viewbyregion .region-photo:after{content:'';display:block;clear:both;}
.reference-sites .viewbyregion .region-photo > div{float:left;width:288px;}
.reference-sites .viewbyregion .region-photo > div + div{float:right}
.reference-sites .viewbyregion .region-photo > div .photo-tit{display:block;line-height:22px;padding:8px;margin-top:10px;text-align:center;background-color:#f6f6f6;box-sizing:border-box;}
.reference-sites .viewbyregion .region-photo > div img{display:block;}
.reference-sites .viewbyregion .region-photo > div img + img{margin-top:10px;}
.reference-sites .viewbyregion .region-etc{position:relative;height:80px;padding:15px 0 0 20px;margin-top:40px;background:url(/common/images/front/normal/en/product/bg-esc.gif) no-repeat 365px 0;}
.reference-sites .viewbyregion .region-etc:before{content:'-';position:absolute;top:15px;left:9px}

.layer-user-agreement,
.layer-privacy-policy,
.layer-privacy-policy2{display:none;position:fixed;left:50%;top:100px;z-index:100;width:860px;margin:0 0 0 -430px;padding:20px;border:1px solid #dedede;background-color:#fff;}
.layer-user-agreement > .tit,
.layer-privacy-policy > .tit,
.layer-privacy-policy2 > .tit{display:block;padding-bottom:15px;margin-bottom:20px;border-bottom:2px solid #666;font-size:1.50rem;font-weight:600;}
.layer-user-agreement .layer-content,
.layer-privacy-policy .layer-content,
.layer-privacy-policy2 .layer-content{overflow:auto;height:480px;padding:20px;border:1px solid #e5e5e5;}
.layer-user-agreement .agreement-txt-all,
.layer-privacy-policy .agreement-txt-all,
.layer-privacy-policy2 .agreement-txt-all{margin-top:0;}
.layer-user-agreement .annotation,
.layer-privacy-policy .annotation,
.layer-privacy-policy2 .annotation{padding:15px 0 10px 0;border-bottom:1px solid #e5e5e5;font-size:0.88rem;}
.layer-user-agreement .btn-area,
.layer-privacy-policy .btn-area,
.layer-privacy-policy2 .btn-area{margin-top:20px;}
.layer-user-agreement .btn-confirm,
.layer-privacy-policy .btn-confirm,
.layer-privacy-policy2 .btn-confirm{width:260px;background-color:#999;color:#666;}
.layer-user-agreement .btn-confirm.is-active,
.layer-privacy-policy .btn-confirm.is-active,
.layer-privacy-policy2 .btn-confirm.is-active{background-color:#bc1137;color:#fff;}
.layer-user-agreement .btn-layer-close,
.layer-privacy-policy .btn-layer-close,
.layer-privacy-policy2 .btn-layer-close{position:absolute;top:18px;right:20px;z-index:1002;width:26px;height:26px;background:url(/common/images/front/normal/en/common/sprite-common.png) no-repeat -230px -160px;text-indent:-9999px;font-size:0;}

.distributor-box{margin-top:25px;padding:60px 0;border-top:1px solid #000;background-color:#f6f6f6;text-align:center;}
.distributor-box > .tit{font-size:1.13rem;font-weight:600;}
.distributor-box > .tit strong{display:block;font-size:1.5rem;}
.distributor-box > .txt{margin-top:20px;color:#444;line-height:26px;}
.distributor-box > .txt em{color:#bc1137;}
.distributor-box .distributor-step{width:830px;margin:20px auto 0 auto;padding-top:20px;border-top:1px solid #e6e6e6;} 
.distributor-box .distributor-step ul{margin:20px 0;}
.distributor-box .distributor-step ul:after{content:'';display:block;clear:both;}
.distributor-box .distributor-step li{float:left;width:270px;padding:40px 0 37px 0;border:1px solid #dcdcdc;background-color:#fff;box-sizing:border-box;}
.distributor-box .distributor-step li + li{margin-left:10px;}
.distributor-box .distributor-step li > span{font-size:0.88rem;color:#888;}
.distributor-box .distributor-step li > span:before{content:'';display:block;width:40px;height:40px;margin:0 auto 20px auto;background:url(/common/images/front/normal/en/etc/bg-step.gif) no-repeat;}
.distributor-box .distributor-step li p{color:#666;}
.distributor-box .distributor-step li p + p{margin-top:15px;font-size:0.88rem;line-height:1.38rem;color:#888;}
.distributor-box .distributor-step li.now{border:1px solid #bc1137;}
.distributor-box .distributor-step li.now span{color:#bc1137;}
.distributor-box .distributor-step li.now span:before{background-position:0 -50px;}
.distributor-box .distributor-step li.now p{color:#222;}
.distributor-box .distributor-step li.now p + p{color:#666;}
.distributor-box .btn-area a{display:inline-block;width:260px;height:50px;line-height:50px;color:#fff;box-shadow:0 4px 4px rgba(0,0,0,0.1);border-radius:4px;}
.distributor-box .btn-area a + a{margin-left:10px;}
.distributor-box .btn-go-main{background-color:#666;}
.distributor-box .btn-go-join{background-color:#bc1137;}

.main-fixed-btn{position:absolute;bottom:10px;right:28px;z-index:10;width:90px;padding:4px 0;background-color:#333;border-radius:4px;box-shadow:0 15px 15px rgba(0, 0, 0, 0.35);}
.main-fixed-btn.fixed{position:fixed;top:50%;bottom:auto;margin-top:-75px;}
.main-fixed-btn a{display:block;padding:20px 0 16px 0;background-color:#fff;text-align:center;color:#000;line-height:1.13rem;}
.main-fixed-btn a:before{content:'';display:block;width:35px;height:35px;margin:0 auto 8px auto;background:url(/common/images/front/normal/en/main/sprite-main.png) no-repeat -500px -45px;}
.main-fixed-btn button{width:100%;height:22px;margin-top:4px;color:#fff;}
.main-fixed-btn button:before{content:'';display:inline-block;margin-right:5px;border-bottom:8px solid #fff;border-left:6px solid transparent;border-right:6px solid transparent;}