@charset "utf-8";
 
/*Normalize v8.0.0 | MIT License | github.com/necolas/*/
.list-column label.btn-search{min-width:90px; min-height: 52px;padding: 14px 20px; font-weight: 500;line-height: 1;text-align: center; min-width: 90px; display: inline-block;margin-left: 10px; cursor: pointer;}
.body_loading .img_loading { margin-top: -62px; margin-left: -62px; width: 124px; height: 124px; background: url('../images/loading.gif') no-repeat 50% 50%; position: fixed; left: 50%; top: 50%; z-index: 10000; }
.ui-widget-overlay {z-index: 10}
.error-file-01{position:relative;margin-top:10px;padding-left:22px;font-size:16px;color:#c00c3f}
.error-file-01:before{content:'';position:absolute;top:10px;left:2px;width:11px;height:2px;background-color:#c00c3f;transform:rotate(45deg)}
.error-file-01:after{content:'';position:absolute;top:10px;left:2px;width:11px;height:2px;background-color:#c00c3f;transform:rotate(-45deg)}
.error-file-01 button {text-decoration: underline; color: #666; font-weight: 500;}

.success-msg{position:relative;margin-top:10px;padding-left:22px;font-size:16px;color:#0079c6}
.success-msg:before{content:'';position:absolute;top:5px;left:2px;width:9px;height:4px;border-left:2px solid #0079c6;border-bottom:2px solid #0079c6;transform:rotate(-45deg)}
html{line-height:1.15;-webkit-text-size-adjust:100%}
small{font-size:80%}
sub,sup{position:relative;line-height:0;font-size:75%;vertical-align:baseline}
sub{bottom:-0.25em}
sup{top:-0.5em}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.4;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
/*button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}*/
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}
textarea{overflow:auto}
[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
abbr[title]{border-bottom:none;text-decoration:underline dotted}
progress{vertical-align:baseline}
details{display:block}
summary{display:list-item}
[hidden],template,hr{display:none}
b,strong{font-weight:bolder}
 
/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video,main{margin:0;padding:0;border:0;vertical-align:baseline;font-size:inherit;color:inherit;box-sizing:border-box}
dl,ul,ol,menu,li{list-style:none}
fieldset,img{border:0 none}
input,select,textarea,button{vertical-align:middle;margin:0;padding:0;font-family:inherit;box-sizing:border-box}
button{border:0 none;background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
input,textarea,img{max-width:100%}
a,a:hover,a:visited,a:active{text-decoration:none;background-color:transparent}
img{vertical-align:top}
sup{font-size:x-small}
sub{font-size:x-small}
button,select{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none}
select::-ms-expand{display:none}/* IE 10,11의 네이티브 화살표 숨기기 */
table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}/* HTML5 for older browsers */
html,body{-webkit-overflow-scrolling:touch}
textarea{resize:none}
i{font-style:normal}
iframe{vertical-align:top}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {/* display:none; <- Crashes Chrome on hover */-webkit-appearance:none;margin:0; /* <-- Apparently some margin are still there even though it's hidden */}
input[type=number] {-moz-appearance:textfield; /* Firefox */}
input[type=text]::-ms-clear{display:none}

/* WEBFONT */
@font-face {
    font-family:'lgsmart';
    font-weight:300;
    font-style:normal;
    src:url('/src/webapp/ess/resource/common/fonts/LGSmartLight-Light.eot?#iefix') format('embedded-opentype'), 
        url('/src/webapp/ess/resource/common/fonts/LGSmartLight-Light.woff') format('woff');
}
@font-face {
    font-family:'lgsmart';
    font-weight:400;
    font-style:normal;
    src:url('/src/webapp/ess/resource/common/fonts/LGSmart.eot?#iefix') format('embedded-opentype'), 
        url('/src/webapp/ess/resource/common/fonts/LGSmart.woff') format('woff');
}
  
@font-face {
    font-family:'lgsmart';
    font-weight:500;
    font-style:normal;
    src:url('/src/webapp/ess/resource/common/fonts/LGSmartLight-SemiBold.eot?#iefix') format('embedded-opentype'), 
        url('/src/webapp/ess/resource/common/fonts/LGSmartLight-SemiBold.woff') format('woff');
}

@font-face {
    font-family:'lgsmart';
    font-weight:700;
    font-style:normal;
    src:url('/src/webapp/ess/resource/common/fonts/LGSmart-Bold.eot?#iefix') format('embedded-opentype'), 
        url('/src/webapp/ess/resource/common/fonts/LGSmart-Bold.woff') format('woff');
}

/* OLD Fashion */
.align-l{text-align:left !important}
.align-c{text-align:center !important}
.align-r{text-align:right !important}
.float-l{float:left !important}
.float-r{float:right !important}
.float-n{float:none !important}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
.mt55{margin-top:55px !important}
.mt60{margin-top:60px !important}
.mb0{margin-bottom:0px !important}
.mb5{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb18{margin-bottom:18px !important}
.mb20{margin-bottom:20px !important}
.mb25{margin-bottom:25px !important}
.mb30{margin-bottom:30px !important}
.mb40{margin-bottom:40px !important}
.mb50{margin-bottom:50px !important}
.mb55{margin-bottom:55px !important}
.mb60{margin-bottom:60px !important}
.mb70{margin-bottom:70px !important}
.mb80{margin-bottom:80px !important}
.mb100{margin-bottom:100px !important}
.mb110{margin-bottom:110px !important}
.mb120{margin-bottom:120px !important}
.mb130{margin-bottom:130px !important}
.mb150{margin-bottom:150px !important}
.mb200{margin-bottom:200px !important}
.ml5{margin-left:5px !important}
.ml6{margin-left:6px !important}
.ml10{margin-left:10px !important}
.ml20{margin-left:20px !important}
.ml30{margin-left:30px !important}
.ml300{margin-left:300px !important}
.ml350{margin-left:350px !important}
.ml360{margin-left:350px !important}
.ml370{margin-left:350px !important}
.ml380{margin-left:350px !important}
.ml390{margin-left:350px !important}
.ml400{margin-left:400px !important}
.ml500{margin-left:500px !important}
.mr50{margin-right:50px !important}
.mr100{margin-right:100px !important}
.pt0{padding-top:0 !important}
.pt10{padding-top:10px !important}
.pt15{padding-top:15px !important}
.pt20{padding-top:20px !important}
.pt30{padding-top:30px !important}
.pt60{padding-top:60px !important}
.pl15{padding-left:15px !important}
.pb20{padding-bottom:20px !important}
.pb45{padding-bottom:45px !important}
.pb60{padding-bottom:60px !important}
.pd0{padding:0 !important}
.mg0{margin:0 !important}
.bd0{border:none !important}
.bt0{border-top:none !important}
.vertical-t{vertical-align:top}
.ellipsis{overflow:hidden;display:inline-block;max-width:100%;text-overflow:ellipsis;white-space:nowrap}
.clearfix:after{content:'';display:block;clear:both}
.dp-none{display:none}
.color-w{color:#fff}
.color-g{color:#666}
.color-r{color:#c00c3f}
.is-overflow{overflow:hidden}
.f-bold{font-weight:500}

/*
    Light 300
    Regular 400
    SemiBold 500
    Bold 700
*/

body{font-size:18px;font-family:'lgsmart',Arial,Helvetica,sans-serif;line-height:1.4;color:#000}
strong{font-weight:normal}
button{outline:none}

/* Input */
input[type="text"],
input[type="tel"],
input[type="password"]{width:440px;height:52px;padding:12px 20px;border:1px solid #ddd;background-color:#fbfbfb;box-sizing:border-box}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus{border:1px solid #222;outline:none}
input[type="radio"],
input[type="checkbox"]{position:absolute;opacity:0;pointer-events:none}
input[type="radio"] + label,
input[type="checkbox"] + label{position:relative;top:0;left:0;z-index:1;line-height:20px;color:#666;cursor:pointer}
input[type="radio"] + label:before{content:'';position:absolute;top:1px;left:-30px;width:20px;height:20px;background-color:#fff;border:1px solid #dedede;border-radius:50%;box-sizing:border-box}
input[type="checkbox"] + label:before{content:'';position:absolute;top:1px;left:-32px;width:20px;height:20px;background-color:#fff;border:1px solid #ddd;box-sizing:border-box}
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label{color:#000}
input[type="radio"]:checked + label:before{border:6px solid #c00c3f}
input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label{color:#bbb}
input[type="radio"]:disabled + label:before{background-color:#eee;border-color:#eee}
input[type="radio"]:disabled:checked + label:before{background-color:#fff;border:6px solid #eee}
input[type="checkbox"]:checked + label:before{background-color:#c00c3f;border-color:#c00c3f}
input[type="checkbox"]:checked + label:after{content:'';position:absolute;top:6px;left:-28px;width:9px;height:4px;border-left:2px solid #fff;border-bottom:2px solid #fff;transform:rotate(-45deg)}
input[type="checkbox"]:disabled + label:before{background-color:#eee;border-color:#eee}
input[type="text"]::-webkit-input-placeholder{color:#bbb;opacity:1}
input[type="text"]::-moz-placeholder{color:#bbb;opacity:1}
input[type="text"]:-ms-input-placeholder{color:#bbb;opacity:1}
input[type="text"]:-moz-placeholder{color:#bbb;opacity:1}
input[type="password"]::-webkit-input-placeholder{color:#bbb;opacity:1}
input[type="password"]::-moz-placeholder{color:#bbb;opacity:1}
input[type="password"]:-ms-input-placeholder{color:#bbb;opacity:1}
input[type="password"]:-moz-placeholder{color:#bbb;opacity:1}
input[type="tel"]::-webkit-input-placeholder{color:#bbb;opacity:1}
input[type="tel"]::-moz-placeholder{color:#bbb;opacity:1}
input[type="tel"]:-ms-input-placeholder{color:#bbb;opacity:1}
input[type="tel"]:-moz-placeholder{color:#bbb;opacity:1}
textarea{width:100%;padding:12px 15px;background-color:#fbfbfb;border:1px solid #ddd;outline:none}
textarea::-webkit-input-placeholder{color:#bbb;opacity:1}
textarea::-moz-placeholder{color:#bbb;opacity:1}
textarea:-ms-input-placeholder{color:#bbb;opacity:1}
textarea:-moz-placeholder{color:#bbb;opacity:1}
select{width:100%;height:52px;padding:0 52px 0 20px;border:1px solid #ddd;color:#222;border-radius:0;box-sizing:border-box;background-color:#fbfbfb}

input[class="readonly"]{background-color:#eee;color:#999}
select:disabled{background-color:#eee;color:#999}
select:invalid{color:#bbb}
.radio,
.checkbox{position:relative;display:inline-block;min-height:20px;padding-left:30px;line-height:20px;vertical-align:top}
.checkbox{padding-left:32px}
.agree-check input[type="checkbox"]:disabled + label{color:#000}
.agree-check input[type="checkbox"]:disabled + label:before{background-color:#fff;border-color:#ddd}
.agree-check input[type="checkbox"]:disabled:checked + label:before{background-color:#c00c3f;border-color:#c00c3f}
.select{position:relative;display:inline-block;width:220px}
.select:before{content:'';position:absolute;top:23px;right:20px;z-index:1;width:0;height:0;border-style:solid;border-width:7px 6px 0 6px;border-color:#222 transparent transparent transparent;pointer-events:none}
.select:after{content:'';position:absolute;top:1px;right:1px;width:52px;height:48px;background-color:#fbfbfb;pointer-events:none}
.select.disabled:before{border-color:#bbb transparent transparent transparent}
.select.disabled:after{background-color:#eee}
.maxlength{position:absolute;top:40px;left:0;font-size:16px;color:#999}
.password{position:relative;width:440px}
.password input{padding-right:40px}
.password .password-visibility{position:absolute;top:1px;right:1px;width:40px;height:50px;margin-left:0}
.password .password-visibility i{width:22px;height:15px;margin-top:4px;font-size:15px;color:#ccc}
.password .password-visibility.show i{color:#222}
input + button{margin-left:10px}


/* DatePicker */
.datepicker{position:relative;display:inline-block}
.datepicker input[type="text"]{background-color:#fbfbfb}
.datepicker input[type="text"] + button{position:absolute;top:15px;right:20px;width:22px;height:22px;margin-left:0;font-size:22px}

/* Table */
.tbl-area + .pagination-area{margin-top:40px}
.tbl{word-break:break-all}
.tbl .no-result{padding:115px 0}

.tbl-01 th,
.tbl-01 td{height:60px;padding:10px 20px;font-size:16px;vertical-align:middle}
.tbl-01 th{font-weight:500;border-top:1px solid #222;border-bottom:1px solid #222;background-color:#fbfbfb;text-align:center}
.tbl-01 td{border-bottom:1px solid #eee}
.tbl-01 td .btn-02{line-height:1.4}

.tbl-02{margin-bottom:20px}
.tbl-02 th,
.tbl-02 td{height:60px;padding:10px 25px;font-size:16px;vertical-align:middle;text-align:center}
.tbl-02 thead th{font-weight:500;color:#222;border-top:1px solid #222;border-bottom:1px solid #222;background-color:#f6f6f6}
.tbl-02 tbody th{font-weight:400}
.tbl-02 tbody th,
.tbl-02 td{border-bottom:1px solid #ddd;background-color:#fff}

/* tab */
.tab-area{display:flex;width:1200px;margin:40px auto 0}
.tab-area li{flex:1;position:relative;text-align:center}
.tab-area li a,
.tab-area li button{display:flex;justify-content:center;align-items:center;width:100%;height:60px;line-height:20px;color:#666;border:1px solid #ddd;word-break:keep-all}
.tab-area li + li a,
.tab-area li + li button{border-left:0}
.tab-area li.on a,
.tab-area li.on button{font-weight:700;color:#fff;background-color:#222;border-color:#222}
.tab-contents .agreement-wrap{display:none;padding-top:0;border-top:0}
.tab-contents .agree-info{border-top:0}
.tab-contents .on{display:block}

/* tag */
.tag-area span{float:left;margin-right:8px;margin-bottom:8px;padding:5px 13px;font-size:14px;line-height:20px;background-color:#fff;color:#666;border:1px solid #ddd;border-radius:30px}
.tag-area .btn-popup,
.tag-area .btn-product-info-view{cursor:pointer}

/* icon */
[class^='icon-'],
[class^='icomoon-']{display:inline-block;line-height:1}
[class^='icon-']{vertical-align:top}
[class^='icomoon-']{color:#222}
[class^='icon-file-']{width:53px;height:70px;background:url(/ess/resource/pc/en/images/home-battery-patner/icon-file.png) no-repeat;background-size:auto 70px}
.icon-arrow-top{width:7px;height:7px;border-left:2px solid #888;border-top:2px solid #888;transform:rotate(45deg)}
.icon-tooltip{width:25px;height:25px;line-height:25px;background-color:#222;border-radius:50%;color:#fff;font-weight:700;text-align:center}
.icon-download{width:60px;height:60px;border:1px solid #dedede;border-radius:50%;background-color:#fff}
.icon-download span{position:relative;display:block;width:16px;height:20px;margin:20px auto;border-bottom:2px solid #222;overflow:hidden}
.icon-download span:before{content:'';position:absolute;top:0;left:5px;width:6px;height:8px;background-color:#222}
.icon-download span:after{content:'';position:absolute;top:7px;left:0;width:0;height:0;border-style:solid;border-width:8px 8px 0 8px;border-color:#222 transparent transparent transparent}
.icon-arrow-right{position:relative;width:9px;height:15px}
.icon-arrow-right:before{content:'';position:absolute;top:3px;left:-2px;width:9px;height:9px;border-right:2px solid #222;border-bottom:2px solid #222;transform:rotate(-45deg)}
.icon-file-zip{background-position:-63px 0}
.icon-file-pdf{background-position:0 0}
.icon-file-image{background-position:-189px 0}
.icon-file-news{background-position:-126px 0}

.download-catalogue{position:fixed;top:235px;right:0;z-index:10;width:140px;height:150px;padding:20px;line-height:1.2;background-color:#c00c3f;color:#fff;box-shadow:0px 23px 25px 0px rgba(0, 0, 0, 0.15);opacity:0.95}
.download-catalogue:hover,
.download-catalogue:active,
.download-catalogue:visited{background-color:#c00c3f}
.download-catalogue em{font-weight:700}
.download-catalogue .icon-download{position:absolute;bottom:20px;right:20px;width:14px;height:17px;border:0;background-color:transparent}
.download-catalogue .icon-download span{width:14px;height:17px;margin:0;border-color:#fff}
.download-catalogue .icon-download span:before{width:6px;height:6px;left:4px;background-color:#fff}
.download-catalogue .icon-download span:after{top:6px;border-width:7px 7px 0 7px;border-color:#fff transparent transparent transparent}

/* list */
.bullet li{position:relative;padding-left:14px}
.bullet li:before{content:'';position:absolute;top:11px;left:0;width:4px;height:4px;border-radius:50%;background-color:#ddd}

/* pagination */
.pagination-area{font-size:0;text-align:center}
.pagination-area a{position:relative;display:inline-block;font-size:18px;line-height:36px;vertical-align:middle}
.pagination-area a:not([class*="page"]) + a:not([class*="page"]){margin-left:30px}
.pagination-area a.is-active{color:#c00c3f;border-bottom:1px solid #c00c3f}
.pagination-area [class*="page"]{width:36px;height:36px;background-color:#fff;border:1px solid #bbb}
.pagination-area .first-page,
.pagination-area .next-page{margin-right:4px}
.pagination-area .first-page + .num,
.pagination-area .prev-page + .num{margin-left:40px}
.pagination-area .num + .next-page,
.pagination-area .num + .last-page{margin-left:40px}

.pagination-area .first-page:before,
.pagination-area .first-page:after,
.pagination-area .prev-page:before,
.pagination-area .next-page:before,
.pagination-area .last-page:before,
.pagination-area .last-page:after{content:'';position:absolute;top:13px;width:7px;height:7px;border-left:2px solid #bbb;border-bottom:2px solid #bbb}
.pagination-area .first-page:before,
.pagination-area .first-page:after,
.pagination-area .prev-page:before{transform:rotate(45deg)}
.pagination-area .last-page:before,
.pagination-area .last-page:after,
.pagination-area .next-page:before{transform:rotate(-135deg)}
.pagination-area .first-page:before{left:12px}
.pagination-area .first-page:after{left:18px}
.pagination-area .prev-page:before{left:15px}
.pagination-area .next-page:before{left:10px}
.pagination-area .last-page:before{left:8px}
.pagination-area .last-page:after{left:14px}

/* button */
a[class^='btn-'],
button[class^='btn-']
{display:inline-block;min-width:160px;min-height:52px;padding:17px 20px;font-weight:500;line-height:1;text-align:center;}
label[class^='btn-']{vertical-align: middle;}
.btn-full{width:100%}
a[class^='btn-']:hover{background-color:#fff}
a[class^='btn-'] .arrow-right,
button[class^='btn-'] .arrow-right{margin-left:16px}
.btn-01,
a.btn-01,
button.btn-01{border:1px solid #666;background-color:#fff;color:#666}
.btn-01-red,
a.btn-01-red,
button.btn-01-red{border:1px solid #c00c3f;background-color:#fff;color:#c00c3f}
.btn-02,
a.btn-02,
button.btn-02{min-width:auto;min-height:auto;padding:7px 14px;border:1px solid #222;font-size:16px;font-weight:500;text-align:center;background-color:transparent}
a.btn-02:hover{background-color:transparent}
.btn-03,
a.btn-03,
button.btn-03{min-width:140px;border:1px solid #ccc;background-color:#fff;color:#666}
a.btn-03:hover{background-color:#fff}
.btn-04,
a.btn-04,
button.btn-04{border:2px solid #222;background-color:transparent;color:#000}
.btn-04:hover,
a.btn-04:hover,
button.btn-04:hover{background-color:#222;color:#fff}
.btn-t01,
a.btn-t01,
button.btn-t01{min-width:auto;min-height:auto;padding:0;font-size:18px;font-weight:500;background-color:transparent;color:#000;text-align:left}
a.btn-t01:hover{background-color:transparent}
.btn-t02,
a.btn-t02,
button.btn-t02{min-width:auto;padding:0;background-color:transparent;color:#222;text-align:left}
a.btn-t02:hover{background-color:transparent}
.btn-b01,
a.btn-b01,
button.btn-b01{color:#fff;background-color:#c00c3f}
.btn-b01.btn-black,
.btn-b01.btn-black:hover{background-color:#222}
.btn-b01 i,
a.btn-b01 i,
button.btn-b01 i{color:#fff}
.btn-b01:hover,
a.btn-b01:hover,
button.btn-b01:hover{background-color:#c00c3f}
.tag-btn{display:inline-block;min-width:130px;height:30px;padding:0 12px;border:1px solid #ddd;font-size:14px;color:#666;text-align:center;border-radius:30px}
.btn-dark,
a.btn-dark,
button.btn-dark,
.btn-dark:hover,
a.btn-dark:hover,
button.btn-dark:hover{background-color:#222;color:#fff;border-color:#222}
.btn-dark .arrow-right:before,
.btn-dark .arrow-right:after{background-color:#fff}
.arrow-right{position:relative;float:right;width:25px;height:8px;margin-top:6px;overflow:hidden}
.arrow-right:before{content:'';position:absolute;bottom:0;left:0;width:100%;height:2px;background-color:#666}
.arrow-right:after{content:'';position:absolute;bottom:0;right:1px;width:10px;height:2px;background-color:#666;transform:rotate(45deg);transform-origin:100% 100%}
.arrow-left{position:relative;float:left;width:25px;height:8px;margin-top:5px;margin-right:10px;overflow:hidden}
.arrow-left:before{content:'';position:absolute;bottom:0;left:0;width:100%;height:2px;background-color:#666}
.arrow-left:after{content:'';position:absolute;top:0;left:-3px;width:10px;height:2px;background-color:#666;transform:rotate(-45deg);transform-origin:100% 100%}
.btn-02 .arrow-right{margin-top:4px;margin-left:9px;width:16px}
.btn-02 .arrow-right:before,
.btn-02 .arrow-right:after{height:1px;background-color:#222}
.btn-02 .arrow-right:after{width:8px}
.btn-02.btn-dark .arrow-right:before,
.btn-02.btn-dark .arrow-right:after{background-color:#fff}
.btn-03 .arrow-right{float:none;display:inline-block;margin-top:0;margin-left:10px;margin-bottom:2px}
.btn-t01 .arrow-right,
.btn-t02 .arrow-right{width:16px}
.btn-t01 .arrow-right:after,
.btn-t02 .arrow-right:after{width:8px}
.btn-t01 .arrow-right:before,
.btn-t01 .arrow-right:after,
.btn-t02 .arrow-right:before,
.btn-t02 .arrow-right:after{height:1px;background-color:#000}
.btn-b01 .arrow-right:before,
.btn-b01 .arrow-right:after{background-color:#fff}
.btn-inline {font-weight: 500; display: inline !important;min-width: auto !important; min-height: auto !important; padding: 0 !important; vertical-align: text-bottom;}

[class^='btn-']:hover > .arrow-right{animation:button-r 0.5s infinite alternate ease-out}
[class^='btn-']:hover > .arrow-left{animation:button-l 0.5s infinite alternate ease-out}

@keyframes button-r{
    0% { transform:translateX(2px)}
    100% { transform:translateX(-4px)}
}
@keyframes button-l{
    0% { transform:translateX(-4px)}
    100% { transform:translateX(2px)}
}
@keyframes download{
    0% { transform:translateY(2px)}
    100% { transform:translateY(0)}
}

/* 인증서 */
.certificate-pdf .download-catalogue{width:150px;font-size:26px;background-color:#383838}
.certificate-pdf .download-catalogue:hover,
.certificate-pdf .download-catalogue:active,
.certificate-pdf .download-catalogue:visited{background-color:#383838}
.certificate-wrap{position:relative;width:1200px;height:1800px;padding:10px 60px 60px 180px}
.certificate-wrap .title{font-size:50px;line-height:56px}
.certificate-wrap .title1{font-size:30px;}
.certificate-wrap p{font-size:24px;}
.certificate-wrap .sig{font-size:18px;}
.certificate-wrap em{font-weight:500}
.certificate-wrap .name{font-size:60px;}
.certificate-wrap .sub-title{font-size:24px}
.certificate-wrap strong.sub-title{font-weight:500}
.certificate-wrap .sub-text{font-size:18px}
.certificate-wrap .heading{padding-bottom:30px}
.certificate-wrap .ci{margin-bottom:28px;text-align:right}
.certificate-wrap .resu{margin-bottom:20px;text-align:center}
.certificate-wrap .mark{text-align:center}
.certificate-wrap .aside-left{position:absolute;top:0;left:0;display:flex;justify-content:center;width:120px;height:1800px;background-color:#c00c3f}
.certificate-wrap .aside-right{position:absolute;right:0;display:flex;justify-content:center;}
.certificate-pdf .dim{position:fixed;top:0;bottom:0;left:0;right:0;z-index:10;display:none;justify-content:center;align-items:center;background-color:rgba(0, 
0, 0, 0.5)}

/* Loader */
.certificate-pdf .loader{height:64px;width:64px;animation:loader-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite}
.certificate-pdf .loader:before,
.certificate-pdf .loader:after,
.certificate-pdf .loader span:before,
.certificate-pdf .loader span:after{content:'';display:block;position:absolute;width:10px;height:10px;margin:auto;background:#fff;border-radius:50%;}
.certificate-pdf .loader:before{top:0;left:0;bottom:0;right:auto;animation:loader-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite}
.certificate-pdf .loader:after{top:0;left:auto;bottom:0;right:0;animation:loader-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite}
.certificate-pdf .loader span{display:block;position:absolute;top:0;left:0;bottom:0;right:0;height:64px;width:64px;margin:auto}
.certificate-pdf .loader span:before{top:0;left:0;bottom:auto;right:0;animation:loader-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite}
.certificate-pdf .loader span:after{top:auto;left:0;bottom:0;right:0;animation:loader-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite}
@keyframes loader-1 {
    0%   { transform:rotate(0deg)}
    100% { transform:rotate(360deg)}
}
@keyframes loader-2 {
    0%   { transform:translate3d(0, 0, 0) scale(1)}
    50%  { transform:translate3d(48px, 0, 0) scale(.7)}
    100% { transform:translate3d(0, 0, 0) scale(1)}
}
@keyframes loader-3 {
    0%   { transform:translate3d(0, 0, 0) scale(1)}
    50%  { transform:translate3d(-48px, 0, 0) scale(.7)}
    100% { transform:translate3d(0, 0, 0) scale(1)}
}
@keyframes loader-4 {
    0%   { transform:translate3d(0, 0, 0) scale(1)}
    50%  { transform:translate3d(0, 48px, 0) scale(.7)}
    100% { transform:translate3d(0, 0, 0) scale(1)}
}
@keyframes loader-5 {
    0%   { transform:translate3d(0, 0, 0) scale(1)}
    50%  { transform:translate3d(0, -48px, 0) scale(.7)}
    100% { transform:translate3d(0, 0, 0) scale(1)}
}

@media print{
    .l-header-wrap,
    .l-lnb-wrap,
    .l-page-top,
    .title-area .social-share,
    .title-area .btn-print,
    .tag-area,
    .btn-area,
    .l-footer-wrap,
    .l-quick-menu,
    .l-popup-wrap{display:none}
}

/* [essn] */
.point-detail-wrap .tbl-01 td .btn-02{min-width:96px;}
.voucher-pop-wrap {min-width: 810px; padding-bottom:66px}
.voucher-logo {width:274px; margin:0 0 0 60px; padding:30px 0 0 0}
.voucher-logo img {width:174px;}
.voucher-pop-wrap h2 {text-align: center; font-size:24px;}
.voucher-card {width:560px; height:291px; margin:25px auto 30px; background:url(/ess/resource/common/images/voucher-card-back.png) no-repeat 0 0; text-align:center}
.voucher-card-price {padding-top:60px; font-size:68px; color:#c00c3f; line-height: 1; font-weight: 900;}
.voucher-card-detail {padding:15px 20px 0;font-weight: 700; height:80px; font-size:18px}
.voucher-card-number {font-size:20px;padding-top:27px;}
.voucher-pop-table {padding:0 60px 50px;}
.voucher-pop-table table {word-break: break-all;border-top: 1px solid #222;}
.voucher-pop-table table th,.voucher-pop-table table td {height: 50px; padding: 10px 20px; vertical-align: middle;}
.voucher-pop-table table th {border-bottom: 1px solid #eee; text-align:left; font-size:18px;}
.voucher-pop-table table td {font-size:18px;border-bottom: 1px solid #eee;}
.voucher-pop-table table td ul {padding:5px 0}
.voucher-pop-table table td ul li img {vertical-align: baseline; margin-right:5px}
.voucher-guide {position:relative;color:#c00c3f; font-size: 16px; padding-left: 22px;}
.voucher-guide::before {content:'※'; color:#c00c3f; display: block; position: absolute; left:0; top:1px; width:20px; height:20px;}
.voucher-button {width:100%; font-size:0; position:fixed; bottom:0; width:100%; height:66px;}
.voucher-button-gray {width:50%; display: inline-block; color:#fff; background:#383838; height:66px; line-height: 66px; font-weight: 700; font-size: 22px; text-align: center;}
.voucher-button-red {width:50%; display: inline-block; color:#fff; background:#c00c3f; height:66px; line-height: 66px; font-weight: 700; font-size: 22px; text-align: center;}
.voucher-pop-wrap .dim{position:fixed;top:0;bottom:0;left:0;right:0;z-index:10;display:none;justify-content:center;align-items:center;background-color:rgba(0, 0, 0, 0.5)}
.voucher-card-table {width:560px; height:291px; margin:15px auto 30px}
.voucher-card-table table {width:560px; height:291px; text-align: center;}
.voucher-card-table table tr td {vertical-align: middle;}
.voucher-card-table table tr td img {line-height: 1;}
.voucher-card-table .voucher-card-price {padding-top:47px; font-size:68px; color:#c00c3f; line-height: 1; font-weight: 900;}
.voucher-card-table .voucher-card-detail {padding:15px 0 0;font-weight: 700; height:89px; font-size:18px}
.voucher-card-table .voucher-card-number {font-size:20px;padding-top:17px; border-top:1px dashed #ccc}
/* //[essn] */