@charset 'utf-8';

/* WEBFONT */
@font-face {
    font-family:'noto-sans' ; 
    src: url('/common/font/NotoSans-Light.eot');
    src: url('/common/font/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('/common/font/NotoSans-Light.woff') format('woff'),
    url('/common/font/NotoSans-Light.ttf') format('truetype');
    font-style:normal;
    font-weight:100;
}
@font-face {
    font-family:'noto-sans';
    src: url('/common/font/NotoSans-Regular.eot');
    src: url('/common/font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('/common/font/NotoSans-Regular.woff') format('woff'),
    url('/common/font/NotoSans-Regular.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}
@font-face {
    font-family:'noto-sans';
    src: url('/common/font/NotoSans-SemiBold.eot');
    src: url('/common/font/NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/common/font/NotoSans-SemiBold.woff') format('woff'),    
    url('/common/font/NotoSans-SemiBold.ttf') format('truetype');
    font-style:normal;
    font-weight:600;
}

/*Slider Common*/
.main-wrap .bx-pager .bx-pager-item{display:inline;}
.main-wrap .bx-pager .bx-pager-link{display:inline-block;width:20px;height:20px;border-radius:20px;margin:0 6px;background-color:#fff;font-size:0;text-indent:-9999px;}
.main-wrap .bx-pager .active{background-color:#bc1137;}

/*MAIN*/
.main-wrap{position:relative;max-width:1920px;margin:0 auto;}
.main-menu .btn-learn-more{display:inline-block;padding:0 52px;font-size:1.13rem;font-weight:600;line-height:3.12rem;border-radius:28px;color:#666;border:2px solid #c2c2c2;}
.main-menu .btn-learn-more:hover{color:#fff;background-color:#333;border:2px solid #333;}
.main-visual-wrap{position:relative;width:100%;}
.main-visual-wrap li{position:relative;width:100%;height:740px;}
.main-visual-wrap .main-visual01{background:url(/common/images/front/normal/de/main/main-visual01.jpg) no-repeat 50% 50%;}
.main-visual-wrap .main-visual02{background:url(/common/images/front/normal/de/main/main-visual02.jpg) no-repeat 50% 50%;}
.main-visual-wrap .main-visual03{background:url(/common/images/front/normal/de/main/main-visual03.jpg) no-repeat 50% 50%;}
.main-visual-wrap .main-visual-tit{position:absolute;top:270px;left:50%;width:1200px;margin-left:-640px;padding:0 40px;}
.main-visual-wrap .main-visual-tit strong{display:block;margin-bottom:20px;font-size:3.75rem;line-height:3.75rem;}
.main-visual-wrap .main-visual-tit strong em{font-weight:600;}
.main-visual-wrap .main-visual-tit p{font-size:1.25rem;}
.main-visual-wrap .main-visual-tit.c-white{color:#fff;}
.main-visual-wrap .bx-wrapper,
.main-visual-wrap .bx-viewport{height:100%;}
.main-visual-wrap .bx-controls{position:absolute;width:100%;bottom:50px;text-align:center;}
.main-visual-wrap .bx-pager{display:inline-block;}
.main-visual-wrap .bx-pager .bx-pager-item{display:inline;}
.main-visual-wrap .btn-pause{display:inline-block;width:15px;height:20px;margin-left:6px;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat 0 -20px;vertical-align:bottom;}
.main-visual-wrap .btn-pause.play{background-position:0 -50px;}

.main-video{position:relative;}
.main-video .slider-wrap{position:absolute;left:50%;bottom:23.5%;width:1200px;margin-left:-600px;}
.main-video .slider-tit{width:354px;}
.main-video .slider-tit strong{display:block;margin-bottom:25px;font-size:3.12rem;font-weight:600;line-height:3.5rem;}
.main-video .slider-tit p{display:none;height:130px;font-size:1.13rem;line-height:1.75rem;}
.main-video .day .slider-tit{color:#000;}
.main-video .night .slider-tit,
.main-video .blackout .slider-tit{color:#fff;}
.main-video .day .day,
.main-video .night .night,
.main-video .blackout .blackout{display:block;}
.main-video .slider-txt{position:absolute;right:0;bottom:47px;width:360px;}
.main-video .slider-hour span{float:left;width:80px;text-align:center;color:#888;font-size:1.13rem;}
.main-video .slider-hour span.on{color:#fff;}
.main-video .day .slider-hour span.on{color:#c00032;}
.main-video .slider-hour span + span{margin-left:55px;}
.main-video .ui-slider{position:absolute;right:50px;bottom:0;width:270px;height:14px;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat -250px 0;}
.main-video .night .ui-slider,
.main-video .blackout .ui-slider{background-position:-250px -24px;}
.main-video .ui-slider-handle{position:absolute;top:-24px;width:60px;height:60px;border-radius:60px;margin-left:-30px;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat;box-shadow:0px 0px 0px 5px rgba(192,0,50,0.15);cursor:pointer;}
.main-video .day .ui-slider-handle{background-position:-40px 0;}
.main-video .night .ui-slider-handle{background-position:-110px 0;}
.main-video .blackout .ui-slider-handle{background-position:-180px 0;}

.main-introduction-wrap{}
.main-introduction-wrap.day{
    background: #d5db9e; /* Old browsers */
    background: -moz-linear-gradient(top, #d5db9e 0%, #f5f5f5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d5db9e 0%,#f5f5f5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d5db9e 0%,#f5f5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5db9e', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.main-introduction-wrap.night{
    background: #2b2010; /* Old browsers */
    background: -moz-linear-gradient(top, #2b2010 0%, #150d18 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2b2010 0%,#150d18 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2b2010 0%,#150d18 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2010', endColorstr='#150d18',GradientType=0 ); /* IE6-9 */
}
.main-introduction-wrap.blackout{
    background: #1f2329; /* Old browsers */
    background: -moz-linear-gradient(top, #1f2329 0%, #20242a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1f2329 0%,#20242a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1f2329 0%,#20242a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f2329', endColorstr='#20242a',GradientType=0 ); /* IE6-9 */
}
.main-introduction-wrap.night .main-introduction .main-introduction-tit,
.main-introduction-wrap.blackout .main-introduction .main-introduction-tit,
.main-introduction-wrap.night .main-introduction .main-introduction-tit strong,
.main-introduction-wrap.blackout .main-introduction .main-introduction-tit strong{color:#fff;}
.main-introduction{position:relative;width:1200px;margin:0 auto;padding:55px 0 120px 0;}
.main-introduction:after{content:'';display:block;clear:both;}
.main-introduction .main-introduction-tit{float:left;position:relative;width:420px;margin-top:90px;font-size:1.13rem;line-height:1.75rem;}
.main-introduction .main-introduction-tit > strong{display:block;margin-bottom:30px;font-size:3.12rem;line-height:3.5rem;color:#222;font-weight:600;}
.main-introduction .main-introduction-tit .btn-learn-more{position:absolute;top:15px;right:0;}
.main-introduction .intro-youtube{float:right;width:766px;height:430px;}
.main-introduction .intro-youtube iframe{border:1px solid #e6e6e6;}

.main-resu-strength{padding:120px 0 130px 0;}
.main-resu-strength .resu-possible{width:1200px;margin:0 auto;}
.main-resu-strength .resu-possible .tit{margin-bottom:75px;text-align:center;font-size:1.25rem;line-height:1.75rem;}
.main-resu-strength .resu-possible .tit strong{display:block;margin-bottom:20px;font-size:3.5rem;line-height:1;}
.main-resu-strength .resu-possible ul:after{content:'';display:block;clear:both;}
.main-resu-strength .resu-possible li{float:left;width:20%;color:#000;font-size:0.88rem;text-align:center;}
.main-resu-strength .resu-possible li strong{display:block;height:54px;margin-bottom:20px;font-size:1.13rem;font-weight:600;box-sizing:border-box;}
.main-resu-strength .resu-possible li:before{content:'';display:block;height:90px;margin:0 auto 35px auto;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat;}
.main-resu-strength .resu-possible .possible01:before{width:80px;background-position:0 -80px;}
.main-resu-strength .resu-possible .possible02:before{width:80px;background-position:-100px -80px;}
.main-resu-strength .resu-possible .possible03:before{width:121px;background-position:-200px -80px;}
.main-resu-strength .resu-possible .possible04:before{width:90px;background-position:-330px -80px;}
.main-resu-strength .resu-possible .possible05:before{width:62px;background-position:-430px -80px;}
.main-resu-strength .resu-possible .possible03 strong,
.main-resu-strength .resu-possible .possible04 strong,
.main-resu-strength .resu-possible .possible05 strong{padding-top:8px;}

.main-customer-review{padding:113px 0 170px 0;background:url(/common/images/front/normal/de/main/bg-customer-review.jpg) no-repeat;background-size:cover;}
.main-customer-wrap{position:relative;width:1200px;margin:0 auto;}
.main-customer-wrap .tit{display:block;margin-bottom:50px;color:#fff;font-size:3.12rem;line-height:3.5rem;text-align:center;}
.main-customer-wrap .main-customer-slider li{width:100%;padding-left:126px;box-sizing:border-box;}
.main-customer-wrap .main-customer-slider li:after{content:'';display:block;clear:both;}
.main-customer-wrap .main-customer-slider li > div{float:left;width:460px;height:578px;padding:60px 0;background-color:#fff;text-align:center;border:1px solid #e1e1e1;box-sizing:border-box;}
.main-customer-wrap .main-customer-slider li > div + div{margin-left:28px;}
.main-customer-wrap .main-customer-slider li .person .photo{display:block;width:120px;height:120px;margin:0 auto;}
.main-customer-wrap .main-customer-slider li .person .name{display:block;margin:8px 0;font-size:1.5rem;color:#000;}
.main-customer-wrap .main-customer-slider li .person .country{display:block;font-weight:600;}
.main-customer-wrap .main-customer-slider li .person .country img{margin-right:10px;vertical-align:middle;}
.main-customer-wrap .main-customer-slider li .comment{display:table;table-layout:fixed;position:relative;width:100%;height:163px;margin:30px 0;box-sizing:border-box;}
.main-customer-wrap .main-customer-slider li .comment:before,
.main-customer-wrap .main-customer-slider li .comment:after{content:'';position:absolute;left:50%;width:15px;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat;}
.main-customer-wrap .main-customer-slider li .comment:before{top:0;height:15px;}
.main-customer-wrap .main-customer-slider li .comment:after{bottom:0;height:14px;background-position:-20px 0;}
.main-customer-wrap .main-customer-slider li .comment p{display:table-cell;width:100%;vertical-align:middle;}
.main-customer-wrap .main-customer-slider li button{width:340px;height:50px;font-size:1.13rem;font-weight:600;color:#bc1137;border:1px solid #bc1137;border-radius:4px;box-sizing:border-box;}
.main-customer-wrap .main-customer-slider li button:hover{background-color:#bc1137;color:#fff;}
.main-customer-wrap .main-customer-slider li .interview{display:none;}
.main-customer-wrap .bx-pager{position:absolute;bottom:-60px;left:0;width:100%;text-align:center;}
.main-customer-wrap .bx-prev,
.main-customer-wrap .bx-next{position:absolute;top:50%;width:30px;height:59px;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat;text-indent:-9999px;}
.main-customer-wrap .bx-prev{left:0;background-position:0 -180px;}
.main-customer-wrap .bx-next{right:0;background-position:-40px -180px;}

.main-find-installer{padding:110px 0 115px 0;background:url(/common/images/front/normal/de/main/bg-find-installer.gif) no-repeat 50% 0;}
.main-find-installer .tit{color:#fff;text-align:center;font-size:1.25rem;line-height:1;}
.main-find-installer .tit strong{display:block;margin-bottom:25px;font-size:2.62rem;font-weight:600;}
.main-find-installer .search{position:relative;width:1200px;padding:0 80px;margin:60px auto 0 auto;background-color:#fff;border-radius:4px;box-shadow:10px 20px 20px rgba(161,3,53,1);box-sizing:border-box;}
.main-find-installer .search:before{content:'';position:absolute;top:26px;left:30px;width:28px;height:28px;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat -250px -45px;}
.main-find-installer .search input[type="text"]{height:80px;line-height:80px;border:none;color:#000;font-size:1.50rem;}
.main-find-installer .search input[type="text"] + button{position:absolute;top:25px;right:30px;width:30px;height:30px;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat -285px -45px;text-indent:-9999px;}

.main-prdt-intro{padding-bottom:70px;}
.main-prdt-intro .main-prdt-top{position:relative;height:650px;padding-top:115px;background:url(/common/images/front/normal/de/main/bg-main-prdt-top.gif) repeat-x;box-sizing:border-box;text-align:center;}
.main-prdt-intro .main-prdt-top .tit{margin-bottom:115px;color:#000;font-size:1.13rem;}
.main-prdt-intro .main-prdt-top .tit strong{display:block;margin-bottom:25px;font-size:3.5rem;font-weight:600;line-height:1;}
.main-prdt-intro .main-prdt-top p{position:absolute;width:100%;bottom:0;left:0;text-align:center;}
.main-prdt-intro .main-prdt-list{position:relative;width:1200px;margin:160px auto 0 auto;color:#000;}
.main-prdt-intro .main-prdt-detail{position:relative;height:545px;padding:100px 0 110px 615px;box-sizing:border-box;}
.main-prdt-intro .main-prdt-detail dt{font-size:1.75rem;}
.main-prdt-intro .main-prdt-detail .strength{margin-top:20px;}
.main-prdt-intro .main-prdt-detail .strength li{position:relative;padding-left:14px;font-size:1.13rem;}
.main-prdt-intro .main-prdt-detail .strength li + li{margin-top:5px;}
.main-prdt-intro .main-prdt-detail .strength li:before{content:'';position:absolute;top:10px;left:0;width:4px;height:4px;background:#777;}
.main-prdt-intro .main-prdt-detail .download{margin-top:40px;}
.main-prdt-intro .main-prdt-detail .download:after{content:'';display:block;clear:both;}
.main-prdt-intro .main-prdt-detail .download li{float:left;width:122px;height:110px;text-align:center;border:1px solid #e6e6e6;box-sizing:border-box;}
.main-prdt-intro .main-prdt-detail .download li:hover{background:#bc1137;color:#fff;}
.main-prdt-intro .main-prdt-detail .download li + li{border-left:0;}
.main-prdt-intro .main-prdt-detail .download li > a{display:block;height:100%;padding-top:22px;font-size:0.88rem;line-height:1rem;box-sizing:border-box;}
.main-prdt-intro .main-prdt-detail .download li > a:before{content:'';display:block;height:36px;margin:0 auto 10px auto;background:url(/common/images/front/normal/de/main/bg-spec.gif) no-repeat;}
.main-prdt-intro .main-prdt-detail .download .spec a:before{width:27px;}
.main-prdt-intro .main-prdt-detail .download .warranty a:before{width:27px;background-position:-30px 0;}
.main-prdt-intro .main-prdt-detail .download .certification a:before{width:35px;background-position:-60px 0;}
.main-prdt-intro .main-prdt-detail .download .manual a:before{width:27px;background-position:-100px 0;}
.main-prdt-intro .main-prdt-detail .download .spec:hover a:before{width:27px;background-position:0 -46px;}
.main-prdt-intro .main-prdt-detail .download .warranty:hover a:before{width:27px;background-position:-30px -46px;}
.main-prdt-intro .main-prdt-detail .download .certification:hover a:before{width:35px;background-position:-60px -46px;}
.main-prdt-intro .main-prdt-detail .download .manual:hover a:before{width:27px;background-position:-100px -46px;}
.main-prdt-intro .main-prdt-detail .prdt-img{position:absolute;top:0;left:80px;width:520px;height:100%;}
.main-prdt-intro .main-prdt-detail .prdt-img img{display:block;margin:0 auto;}
.main-prdt-intro .bx-pager .bx-pager-link{background-color:#e2e2e2;}
.main-prdt-intro .bx-pager .bx-pager-link.active{background-color:#bc1137;}
.main-prdt-intro .bx-pager{position:absolute;bottom:-70px;left:0;width:100%;text-align:center;}
.main-prdt-intro .bx-prev,
.main-prdt-intro .bx-next{position:absolute;top:50%;width:30px;height:59px;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat;text-indent:-9999px;}
.main-prdt-intro .bx-prev{left:0;background-position:-75px -180px;}
.main-prdt-intro .bx-next{right:0;background-position:-110px -180px;}

.main-newsnevent{width:1200px;margin:0 auto;padding:115px 0 120px 0;}
.main-newsnevent .main-newsnevent-tit{margin-bottom:55px;text-align:center;font-size:3.50rem;font-weight:600;line-height:1;}
.main-newsnevent ul{margin-bottom:40px;}
.main-newsnevent ul:after{content:'';display:block;clear:both;}
.main-newsnevent ul li{position:relative;float:left;width:388px;height:264px;box-sizing:border-box; }
.main-newsnevent ul li > a{display:block;height:100%;padding:38px 40px;background-color:#fff;border:1px solid #e2e2e2;box-sizing:border-box;}
.main-newsnevent ul li .more{position:absolute;bottom:40px;left:40px;padding-right:47px;}
.main-newsnevent ul li .more:after{content:'';position:absolute;bottom:6px;right:0;width:36px;height:5px;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat -320px -45px;}
.main-newsnevent ul li a:hover .more{color:#bc1137;}
.main-newsnevent ul li a:hover .more:after{background-position:-320px -55px;}
.main-newsnevent ul li + li{margin-left:18px;}
.main-newsnevent li .category{display:block;color:#c00c3f;font-size:1.13rem;line-height:1.2;}
.main-newsnevent li p{overflow:hidden;max-height:90px;margin-top:20px;font-size:1.63rem;font-weight:100;line-height:1.88rem;}


.layer-review-wrap{overflow:hidden;display:none;position:fixed;top:calc(100vh * 0.05);left:50%;z-index:1001;margin-left:-550px;width:1100px;height:90%;background-color:#fff;}
.layer-review-wrap .btn-layer-close{position:absolute;top:0;right:0;z-index:1002;width:66px;height:66px;background:url(/common/images/front/normal/de/review/btn-layer-close.png) no-repeat;text-indent:-9999px;font-size:0;}
.layer-review{width:100%;height:100%;font-family:'noto-sans',sans-serif;}
.layer-review .txt{font-size:18px; line-height:28px;color:#000;}
.layer-review .review-cover{text-align:center;font-size:1.25rem;line-height:1.75rem;}
.layer-review .review-cover strong{display:block;margin-bottom:50px;font-size:3.76rem;line-height:4.26rem;font-weight:600;}

.layer-fyi{display:none;position:fixed;top:50%;left:50%;z-index:1001;border:1px solid #e6e6e6;transform:translate(-50%,-50%);}
.layer-fyi > div{width:648px;height:467px;}
.layer-fyi > div img{width:648px;height:467px;}
.layer-fyi p{padding:9px 10px 9px 33px;background-color:#f6f6f6;color:#666;border-top:1px solid #e6e6e6;}
.layer-fyi p input[type="checkbox"]{top:15px;}
.layer-fyi .close{position:absolute;top:-51px;right:0;width:50px;height:50px;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat -500px -90px;text-indent:-9999px;}

/*Interview*/
.stephen-young > div[class^="review-article"]{margin-bottom:150px;}
.stephen-young > div.review-article04{margin-bottom:120px;}
.stephen-young .review-cover{height:445px;padding-top:110px;background:url(/common/images/front/normal/de/review/stephen-young01.jpg) no-repeat 50% 0;color:#fff;}
.stephen-young .copy-tit{position:relative;left:-95px;display:block;font-size:46px;line-height:56px;letter-spacing:-2px;}
.stephen-young .name{margin-top:30px;font-size:1.31rem;font-style:italic;}
.stephen-young .name span{display:block;margin-top:3px;font-size:0.81rem;}
.stephen-young .name img{width:21px;height:11px;margin-right:8px;vertical-align:middle;}
.stephen-young .tit{display:block;margin-bottom:15px;color:#bc1137;font-size:30px;font-weight:600;}
.stephen-young .subtit{display:block;font-size:42px;line-height:48px;}
.stephen-young .txt{position:relative;padding-left:30px;margin-top:55px;font-size:18px;line-height:28px;}
.stephen-young .txt:before{content:'';position:absolute;left:0;top:3px;bottom:3px;width:1px;background-color:#d8d8d8;}
.stephen-young .txt > p + p{margin-top:25px;}
.stephen-young .review-article01{padding:98px 0 0 509px;background:url(/common/images/front/normal/de/review/stephen-young02.jpg) no-repeat;}
.stephen-young .review-article02{padding:0 0 0 60px;}
.stephen-young .review-article02 > div{background:url(/common/images/front/normal/de/review/stephen-young03.jpg) no-repeat 100% 8px;}
.stephen-young .review-article03{padding-left:60px;}
.stephen-young .review-article03 > div{padding:0 0 0 445px;background:url(/common/images/front/normal/de/review/stephen-young04.jpg) no-repeat 0 10px;}
.stephen-young .review-article04{padding-left:60px;}
.stephen-young .review-article04 > div{background:url(/common/images/front/normal/de/review/stephen-young05.jpg) no-repeat 570px 10px;}

.erstling > div[class^="review-article"]{margin-bottom:150px;}
.erstling > div.review-article04{margin-bottom:120px;}
.erstling .review-cover{height:318px;padding-top:100px;background:url(/common/images/front/normal/de/review/bg-review-cover.jpg) no-repeat 50% 0;color:#fff;}
.erstling .copy-tit{display:block;font-size:46px;line-height:56px;letter-spacing:0px;}
.erstling .name{margin-top:30px;font-size:1.31rem;font-style:italic;}
.erstling .name span{display:block;margin-top:3px;font-size:0.81rem;}
.erstling .name img{width:21px;height:11px;margin-right:8px;vertical-align:middle;}
.erstling .tit{display:block;margin-bottom:15px;color:#bc1137;font-size:30px;font-weight:600;}
.erstling .subtit{display:block;font-size:42px;line-height:48px;}
.erstling .txt{position:relative;padding-left:30px;margin-top:40px;}
.erstling .txt:before{content:'';position:absolute;left:0;top:3px;bottom:3px;width:1px;background-color:#d8d8d8;}
.erstling .txt > p + p{margin-top:25px;}
.erstling .review-article01{padding:85px 0 0 60px;background:url(/common/images/front/normal/de/review/erstling01.jpg) no-repeat 100% 0;}
.erstling .review-article02{padding:0 0 0 60px;}
.erstling .review-article02 > div{height:580px;padding-left:515px;background:url(/common/images/front/normal/de/review/erstling02.jpg) no-repeat ;}
.erstling .review-article03{padding-left:60px;}
.erstling .review-article04{position:relative;padding-left:60px;}
.erstling .review-article04 > div{padding-left:465px;background:url(/common/images/front/normal/de/review/erstling03.jpg) no-repeat 0 70px;}
.erstling .review-article05{position:relative;padding:0 60px;}
.erstling .review-article05 > div{background:url(/common/images/front/normal/de/review/erstling04.jpg) no-repeat 100% 100%;}

.Chris-Moris > div[class^="review-article"]{margin-bottom:150px;}
.Chris-Moris > div.review-article04{margin-bottom:120px;}
.Chris-Moris .review-cover{height:445px;padding-top:110px;background:url(/common/images/front/normal/de/review/bg-review-cover.jpg) no-repeat 50% 0;color:#fff;}
.Chris-Moris .copy-tit{position:relative;left:0px;display:block;font-size:46px;line-height:56px;letter-spacing:-2px;}
.Chris-Moris .name{margin-top:30px;font-size:1.31rem;font-style:italic;}
.Chris-Moris .name span{display:block;margin-top:3px;font-size:0.81rem;}
.Chris-Moris .name img{width:21px;height:11px;margin-right:8px;vertical-align:middle;}
.Chris-Moris .tit{display:block;margin-bottom:15px;color:#bc1137;font-size:30px;font-weight:600;}
.Chris-Moris .subtit{display:block;font-size:42px;line-height:48px;}
.Chris-Moris .txt{position:relative;padding-left:30px;margin-top:55px;}
.Chris-Moris .txt:before{content:'';position:absolute;left:0;top:3px;bottom:3px;width:1px;background-color:#d8d8d8;}
.Chris-Moris .txt > p + p{margin-top:25px;}
.Chris-Moris .review-article01{padding:98px 0 0 509px;background:url(/common/images/front/normal/de/review/LG_Chem_Main_interview_pop_Image01.jpg) no-repeat;}
.Chris-Moris .review-article02{padding:0 0 0 60px;}
.Chris-Moris .review-article02 > div{background:url(/common/images/front/normal/de/review/LG_Chem_Main_interview_pop_Image02.jpg) no-repeat 100% 160px;}
.Chris-Moris .review-article03{padding-left:-60px;}
.Chris-Moris .review-article03 > div{padding:0 0 0 509px;background:url(/common/images/front/normal/de/review/LG_Chem_Main_interview_pop_Image03.jpg) no-repeat 0 10px;}
.Chris-Moris .review-article04{padding-left:60px;}
.Chris-Moris .review-article04 > div{background:url(/common/images/front/normal/de/review/LG_Chem_Main_interview_pop_Icon.jpg) no-repeat 570px 80px;}

/*member main*/
.member-main{position:relative;padding-bottom:120px;}
.member-main .my-grade-wrap{background-color:#f6f6f6;}
.member-main .my-grade{width:1200px;margin:0 auto;padding:60px 0px;box-sizing:border-box;}
.member-main .my-grade:after{content:'';display:block;clear:both;}
.member-main .my-grade dl{float:left;position:relative;width:435px;height:120px;padding:0 0 0 180px;box-sizing:border-box;}
.member-main .my-grade dl:after{content:'';position:absolute;left:20px;top:0;width:120px;height:120px;background:url(/common/images/front/normal/de/mypage/grade-120.png) no-repeat;}
.member-main .my-grade dt{font-size:1.88rem;color:#222;}
.member-main .my-grade dd{color:#666;}
.member-main .my-grade dd a{text-decoration:underline;}
.member-main .my-grade dl + p{border-left:none;width:245px;padding:0 30px;}
.member-main .my-grade p{float:left;width:260px;height:120px;padding:0 40px;border-left:1px solid #e6e6e6;text-align:center;color:#222;box-sizing:border-box;}
.member-main .my-grade p:last-chil d{padding:0 20px;}
.member-main .my-grade p .tit,
.member-main .my-grade p span,
.member-main .my-grade p .point{display:block;}
.member-main .my-grade p span{min-height:42px;margin:8px 0;color:#666;font-size:0.88rem;}
.member-main .my-grade p .point strong{color:#bc1137;font-size:1.63rem;font-weight:600;text-decoration:underline;}
.member-main .my-grade .certification{display:block;margin-top:30px;font-size:1.13rem;font-weight:600;color:#222;}
.member-main .my-grade .diamond:after{background-position:0 0;}
.member-main .my-grade .platinum:after{background-position:-132px 0;}
.member-main .my-grade .gold:after{background-position:-262px 0;}
.member-main .my-grade .silver:after{background-position:-393px 0;}
.member-main .my-grade .bronze:after{background-position:-524px 0;}
.member-main .my-grade .new:after{background-position:-650px 0;}
.member-main .member-main-etc{width:1200px;margin:0 auto;}
.member-main .member-main-etc .summary-list{margin-top:60px;}
.member-main .member-main-etc .summary-list .no-result{padding:68px 0;}
.member-main .member-main-etc .summary-list:after{content:'';display:block;clear:both;}
.member-main .member-main-etc .summary-list > div{position:relative;float:left;width:580px;}
.member-main .member-main-etc .summary-list .my-inquiries{float:right;}
.member-main .member-main-etc .summary-list .tit{display:block;padding-bottom:10px;font-size:1.25rem;font-weight:600;border-bottom:1px solid #000;}
.member-main .member-main-etc .summary-list .btn-more{position:absolute;top:0;right:0;width:75px;height:30px;line-height:30px;padding:0 14px;box-sizing:border-box;}
.member-main .member-main-etc .summary-list ul{min-height:144px;margin-top:20px;border-bottom:1px solid #e6e6e6;}
.member-main .member-main-etc .summary-list li{padding-left:20px;}
.member-main .member-main-etc .summary-list li + li{margin-top:25px;}
.member-main .member-main-etc .summary-list li:after{content:'';display:block;clear:both;}
.member-main .member-main-etc .summary-list li span{float:left;line-height:24px;}
.member-main .member-main-etc .summary-list li span.point{width:105px;color:#bc1137;font-weight:600;}
.member-main .member-main-etc .summary-list li span.point:before{content:'';display:inline-block;width:22px;height:20px;margin-right:10px;background:url(/common/images/front/normal/de/common/sprite-common.png) no-repeat -205px -160px;vertical-align:-4px;}
.member-main .member-main-etc .summary-list li span.txt{width:350px;padding-right:10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.member-main .member-main-etc .summary-list li span.date{width:90px;font-size:0.88rem;color:#666;}
.member-main .member-main-etc .summary-list .my-inquiries .txt{position:relative;width:430px;padding-left:30px;}
.member-main .member-main-etc .summary-list .my-inquiries .txt:before{content:'Q';position:absolute;left:0;bottom:0;font-size:1.5rem;font-size:600;}
.member-main .member-main-etc .member-menu{margin-top:30px;}
.member-main .member-main-etc .member-menu ul:after{content:'';display:block;clear:both;}
.member-main .member-main-etc .member-menu ul li{position:relative;float:left;width:388px;height:264px;box-sizing:border-box; }
.member-main .member-main-etc .member-menu ul.no-point li{width:591px;}
.member-main .member-main-etc .member-menu ul li > a{display:block;height:100%;padding:38px 40px;background-color:#fff;border:1px solid #e2e2e2;box-sizing:border-box;}
.member-main .member-main-etc .member-menu ul li .more{position:absolute;bottom:40px;left:40px;padding-right:47px;}
.member-main .member-main-etc .member-menu ul li .more:after{content:'';position:absolute;bottom:6px;right:0;width:36px;height:5px;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat -320px -45px;}
.member-main .member-main-etc .member-menu ul li a:hover .more{color:#bc1137;}
.member-main .member-main-etc .member-menu ul li a:hover .more:after{background-position:-320px -55px;}
.member-main .member-main-etc .member-menu ul li + li{margin-left:18px;}
.member-main .member-main-etc .member-menu li .category{display:block;color:#c00c3f;font-size:1.13rem;line-height:1.2;}
.member-main .member-main-etc .member-menu li p{overflow:hidden;max-height:90px;margin-top:20px;font-size:1.63rem;font-weight:100;line-height:1.88rem;}
.member-main .member-main-etc .member-wheretobuy{position:relative;height:180px;margin-top:20px;padding:40px 0 0 40px;background:url(/common/images/front/normal/de/main/bg-member-wheretobuy.jpg) no-repeat;color:#666;}
.member-main .member-main-etc .member-wheretobuy .tit{display:block;font-size:1.75rem;font-weight:bold;color:#222;}
.member-main .member-main-etc .member-wheretobuy .more{position:absolute;bottom:40px;left:40px;padding-right:47px;}
.member-main .member-main-etc .member-wheretobuy .more:after{content:'';position:absolute;bottom:6px;right:0;width:36px;height:5px;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat -320px -45px;}

.member-main-fixed{position:absolute;bottom:10px;right:28px;z-index:10;width:100px;padding:20px 10px 16px 10px;font-size:0.88rem;color:#000;background-color:#fff;border:1px solid #e6e6e6;border-radius:4px;box-shadow:0 15px 15px rgba(0, 0, 0, 0.35);box-sizing:border-box;}
.member-main-fixed.fixed{position:fixed;top:50%;bottom:auto;margin-top:-140px;}
.member-main-fixed p{margin-bottom:20px;text-align:center;border-bottom:1px solid #e6e6e6;}
.member-main-fixed p > a{display:block;padding-bottom:20px;}
.member-main-fixed p > a:before{content:'';display:block;width:50px;height:50px;margin:0 auto 10px auto;background:url(/common/images/front/normal/de/mypage/grade-50.png) no-repeat;}
.member-main-fixed .diamond a:before{background-position:0 0;}
.member-main-fixed .platinum a:before{background-position:-62px 0;}
.member-main-fixed .gold a:before{background-position:-123px 0;}
.member-main-fixed .silver a:before{background-position:-185px 0;}
.member-main-fixed .bronze a:before{background-position:-247px 0;}
.member-main-fixed .new a:before{background-position:-308px 0;}
.member-main-fixed button:before{content:'';display:block;width:40px;height:40px;margin:0 auto 8px auto;background:url(/common/images/front/normal/de/main/sprite-main.png) no-repeat -500px -150px;}
.member-main-fixed button{line-height:1.13rem;}