/*

	Base
	Publishers.

	Shape_caption_location(형태,의미,위치)

	

*/


@charset "UTF-8";


/*
	reset
----------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite,
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, 
hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; -webkit-text-size-adjust:none; }
* { -webkit-text-size-adjust:none; }
body{line-height:1}
h1, h2 ,h3, h4, h5, h6 { font-weight: normal; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ol { list-style: none; }
img {  border:0 none;vertical-align:bottom }
img, fieldset { padding: 0; border: none; }
legend, caption { width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; display: none; }
input { background: none; border: 0; }
table { table-layout: fixed; width: 100%; border-collapse: separate; border-spacing: 0; border: 0; word-break: break-all; }
table th { font-weight: normal; }
strong, em, address { font-style: normal; }
hr { display:none; }
q:before,q:after {content:"";}
abbr,acronym { border:0; }
#skip_nav { position: relative; }
#skip_nav li a{ width: 100%; height: 81px; line-height: 81px; text-align: center; font-size: 25px; background: #333; position: absolute; left: 0; top: -81px; color: #fff; z-index: 100; }
#skip_nav li a:focus { top: 0; }
.blind { overflow:hidden; visibility:hidden; position:absolute; width:0; height:0; font-size:0; line-height:0; }
a { text-decoration: none; }
select, input,textarea { vertical-align:middle; background: none; border: 0; }
/* moz button  */
button::-moz-focus-inner { border: 0; padding: 0; }
/* ios input */
input, button, textarea, select { border-radius:0; border: 0; background: none; -webkit-appearance: button; }
button,input[type="button"],input[type="reset"],input[type="submit"] { cursor: pointer; }
[disabled=disabled] { cursor: default; }

/*
	Webfont
----------------------------------------------------------*/
@font-face {
    font-family: 'lgsmart';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/lgsmhar.eot');
    src: url('../fonts/lgsmhar.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lgsmhar.woff') format('woff');
}

@font-face {
    font-family: 'lgsmart';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/lgsmhasb.eot');
    src: url('../fonts/lgsmhasb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lgsmhasb.woff') format('woff');
}

/*
	common
----------------------------------------------------------*/
a { color: inherit; }
img { max-width: 100%; }

/*
	align
*/
#body .ta_l { text-align: left; }
#body .ta_c { text-align: center; }
#body .ta_r { text-align: right; }

#body .va_t { vertical-align: top; }
#body .va_m { vertical-align: middle; }
#body .va_b { vertical-align: bottom; }


/*
	float
*/
#body .f_l { float: left; }
#body .f_r { float: right; }
#body .f_n { float: none; }
#body .after_box { clear: both }
#body .after_box:after { display: block; content: ""; clear: both; }
#body .over_box { overflow: hidden; }


/*
	magin
*/
#body .m_r { margin: 0; }
#body .mt_5 { margin-top: 5px; }
#body .mt_10 { margin-top: 10px; }
#body .mt_15 { margin-top: 15px; }
#body .mt_20 { margin-top: 20px; }
#body .mt_25 { margin-top: 25px; }
#body .mt_30 { margin-top: 30px; }
#body .mt_35 { margin-top: 35px; }
#body .mt_40 { margin-top: 40px; }
#body .mt_45 { margin-top: 45px; }
#body .mt_50 { margin-top: 50px; }
#body .mt_55 { margin-top: 55px; }
#body .mt_60 { margin-top: 60px; }
#body .mt_65 { margin-top: 65px; }

#body .mr_5 { margin-right: 5px; }
#body .mr_10 { margin-right: 10px; }
#body .mr_15 { margin-right: 15px; }
#body .mr_20 { margin-right: 20px; }
#body .mr_25 { margin-right: 25px; }
#body .mr_30 { margin-right: 30px; }
#body .mr_35 { margin-right: 35px; }
#body .mr_40 { margin-right: 40px; }
#body .mr_45 { margin-right: 45px; }
#body .mr_50 { margin-right: 50px; }
#body .mr_55 { margin-right: 55px; }
#body .mr_60 { margin-right: 60px; }
#body .mr_65 { margin-right: 65px; }

#body .ml_5 { margin-left: 5px; }
#body .ml_10 { margin-left: 10px; }
#body .ml_15 { margin-left: 15px; }
#body .ml_20 { margin-left: 20px; }
#body .ml_25 { margin-left: 25px; }
#body .ml_30 { margin-left: 30px; }
#body .ml_35 { margin-left: 35px; }
#body .ml_40 { margin-left: 40px; }
#body .ml_45 { margin-left: 45px; }
#body .ml_50 { margin-left: 50px; }
#body .ml_55 { margin-left: 55px; }
#body .ml_60 { margin-left: 60px; }
#body .ml_65 { margin-left: 65px; }

#body .mb_5 { margin-bottom: 5px; }
#body .mb_10 { margin-bottom: 10px; }
#body .mb_15 { margin-bottom: 15px; }
#body .mb_20 { margin-bottom: 20px; }
#body .mb_25 { margin-bottom: 25px; }
#body .mb_30 { margin-bottom: 30px; }
#body .mb_35 { margin-bottom: 35px; }
#body .mb_40 { margin-bottom: 40px; }
#body .mb_45 { margin-bottom: 45px; }
#body .mb_50 { margin-bottom: 50px; }
#body .mb_55 { margin-bottom: 55px; }
#body .mb_60 { margin-bottom: 60px; }
#body .mb_65 { margin-bottom: 65px; }


/*
	width
*/
#body .row { margin-left: -10px; overflow: hidden; }
.row * { vertical-align: middle; }
.col1, .col2, .col3, .col4, .col5, .col6, 
.col7, .col8, .col9, .col10, .col11, .col12 { display: inline-block; box-sizing: border-box; margin-right: -4px; }
#body .col1 { padding-left: 10px; width: 8.33%; }
#body .col2 { padding-left: 10px; width: 16.66%; }
#body .col3 { padding-left: 10px; width: 25%; }
#body .col4 { padding-left: 10px; width: 33.33%; }
#body .col5 { padding-left: 10px; width: 41.66%; }
#body .col6 { padding-left: 10px; width: 50%; }
#body .col7 { padding-left: 10px; width: 58.33%; }
#body .col8 { padding-left: 10px; width: 66.66%; }
#body .col9 { padding-left: 10px; width: 75%; }
#body .col10 { padding-left: 10px; width: 83.33%; }
#body .col11 { padding-left: 10px; width: 91.66%; }
#body .col12 { padding-left: 10px; width: 100%; }

#body .col_blk1 { margin-left: 8.33%; }
#body .col_blk2 { margin-left: 16.66%; }
#body .col_blk3 { margin-left: 25%; }
#body .col_blk4 { margin-left: 33.33%; }
#body .col_blk5 { margin-left: 41.66%; }
#body .col_blk6 { margin-left: 50%; }
#body .col_blk7 { margin-left: 58.33%; }
#body .col_blk8 { margin-left: 66.66%; }
#body .col_blk9 { margin-left: 75%; }
#body .col_blk10 { margin-left: 83.33%; }
#body .col_blk11 { margin-left: 91.66%; }

#body .row + .row { margin-top: 5px; }
#body .layout { margin-left: -30px; overflow: hidden; }
#body .layout [class^=col] { padding-left: 30px; }
#body .full { margin-left: 0; overflow: hidden; }
#body .full [class^=col] { padding-left: 0; }

#body .reset[class^=col] { padding-left: 0; }

#body .row [class^=col_blk] { padding-left: 10px; }

/*
	list
*/
.list_num > li { margin-left: 12px; overflow: visible; }
.list_num > li > .list_head { margin:  0 5px 0 -12px; }

.list_hyphen > li { padding-left: 15px; overflow: visible; }
.list_hyphen > li > .list_head { display: inline-block; width: 15px; margin:  0 0 0 -15px; }
p.list_hyphen .list_head { display: inline-block; width: 15px; margin:  0 0 0 -15px; }

.list_dot > li { padding-left: 12px; overflow: visible; }
.list_dot > li > .list_head { display: inline-block; width: 12px; margin:  0 0 0 -12px; vertical-align: middle; }
p.list_dot,
a.list_dot { padding-left: 12px; }
p.list_dot .list_head,
a.list_dot .list_head { display: inline-block; width: 12px; margin:  0 0 0 -12px; vertical-align: middle; }


/* 
	design select 
*/
.dsg_opt { position: relative; cursor: pointer; }
.dsg_opt > * > a { display: block; }
.dsg_opt ul { width: 100%; max-height: 200px; position: absolute; left: 0; overflow-y: auto; }
.dsg_opt ul li a { display: block; padding: 5px; }


/*
	paginate
*/
.paginate { margin-top: 40px; text-align: center; }
.paginate > * { display: inline-block; width: 30px; height: 30px; line-height: 30px; font-size: 12px; text-align: center; border: 1px solid #ddd; color: #666; }
.paginate > * + * { margin-left: 6px; }
.paginate strong { font-weight: normal; background: #3e3e3e; border-color: #3e3e3e; color: #fff; }
.paginate .pre, .paginate .next { text-indent: -999em; background: url('images/sub/bg/bg_paginate.gif') no-repeat 50% 0; }
.paginate .pre + .pre { background-position: 50% -30px; }
.paginate .next { background-position: 50% -60px; }
.paginate .next + .next { background-position: 50% 100%; }


/*
	jQuery-Ui :: 초기화. 
----------------------------------------------------------*/
.ui-widget,
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: inherit; font-size: inherit; color: inherit; line-height: 1.5; }

/*
	popup
*/
.ui-dialog,
.ui-draggable .ui-dialog-titlebar,
.ui-dialog .ui-dialog-title,
.ui-draggable .ui-dialog-titlebar .ui-dialog-titlebar-close { margin: 0; padding: 0; border: 0; border-radius: 0; background: none; }
.ui-draggable .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-icon-only .ui-icon { margin: 0; }
.ui-dialog .ui-dialog-titlebar-close { margin: 0; padding: 0; }
.ui-dialog .ui-dialog-content { margin: 0; padding: 0;  background: #fff; }
.ui-dialog .ui-state-default .ui-icon { margin: 0; padding: 0; background: none; }


/*
	tab
*/
.ui-tabs,
.ui-tabs .ui-tabs-nav { margin: 0; padding: 0; border: 0; border-radius: 0; background: none; } 
.ui-tabs .ui-tabs-nav li { margin: 0; padding: 0; border: 0; border-radius: 0; background: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin: 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { display: block; margin: 0; padding: 0; float: none; color: inherit; }
.ui-tabs .ui-tabs-panel { margin: 0; padding: 0; }