/*

	Design.

	LG Chem ESS Partner mobile
	2016.01 - 2016.03

	

*/

@charset "UTF-8";



/*
	layout
----------------------------------------------------------*/
body { font-family: 'lgsmart', Sans-serif; font-size: 13px; background: #efefef; color: #444; }
div, td, th { word-wrap: break-word; word-break:break-word; }
.btn_top { display: block; width: 45px; height: 45px; background: url('images/layout/btn_top.png') no-repeat 0 0; background-size: cover; position: fixed; right: 15px; bottom: 15px; z-index: 1; cursor: pointer; }

#wrap { padding-top: 50px; position: relative; }
body.on { overflow: hidden; }
#wrap:before { display: none; width: 100%; content: ''; opacity: 0; transition-property: opacity; -ms-transition-property: opacity z-index; -webkit-transition-property: opacity; -moz-transition-property: opacity; transition-duration: 0.2s; -webkit-transition-duration: 0.2s; position: absolute; left: 0; top: 0; bottom: 0; }
body.on #wrap:before { display: block; background: #000; z-index: 6; opacity: 0.5; }

#header .section { width: 100%; height: 50px; background: #fff; position: fixed; left: 0; top: 0; z-index: 5; }
#header .section:after { display: block; width: 100%; height: 7px; content: ''; background: url('images/layout/bg_nav.png') repeat-x 0 0; position: fixed; left: 0; top: 50px; }
#header #aside { width: 270px; height: 100%; position: fixed; left: -100%; top: 0; bottom: 0; z-index: 10; background: #fff; transition-property: left; -ms-transition-property: left; -webkit-transition-property: left; -moz-transition-property: left; transition-duration: 0.2s; -webkit-transition-duration: 0.2s; -webkit-transform: translateZ(0); }
#header #aside .over { width: 100%; position: absolute; left: 0; top: 0; bottom: 0; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; }
body.on #header #aside { left: 0; }
.full_img img { width: 100%; }


/*
	common
----------------------------------------------------------*/
/* display */
.dsp_tbl { display: table; table-layout: fixed; width: 100%; box-sizing: border-box; }
.dsp_row { display: table-row; }
.dsp_cel { display: table-cell; vertical-align: middle; }
.box_gray { padding: 10px; border: 1px solid #e2e2e2; background: #f6f6f6; }
.empty { padding: 40px 0; text-align: center; }

#body .dsp_block { display: block; }
#body .dsp_inboc { display: inline-block; }
#body .dsp_inline { display: inline; }

/* button */
.btn { display: inline-block; padding: 6px 14px; text-align: center; border: 1px solid transparent; box-sizing: border-box; overflow: hidden; }
.btn.gray { border-color: #7f7f7f; background: #7f7f7f; color: #fff; }
.btn.red { border-color: #a30034; background-color: #a30034; color: #fff; }
.btn.black { border-color: #4a4a4a; background-color: #4a4a4a; color: #fff; }
.btn.white { font-size: 12px; border-color: #c2c2c2; color: #666; }
.btn.line { border-color: #bbb; }
.btn.more { border-color: #eee; padding: 2px 28px 2px 13px; background: url('images/sub/bg/arrow_more.png') no-repeat 100% 45%; background-size: 19px 11px; font-size: 12px; color: #666; }
.btn.more2 { border-color: #eee; padding: 8px 15px; font-size: 12px; color: #666; }
.btn.more2 span { display: inline-block; padding-right: 21px; background: url('images/sub/bg/arrow_more2.gif') no-repeat 100% 50%; background-size: 9px 5px; }
.btn.more.gray { border-color: #c2c2c2; background-color: #f6f6f6; }
.btn.more.white { padding-right: 21px; border-color: #fff; background: url('images/sub/bg/arrow_white.png') no-repeat 100% 50%; background-size: 11px 8px; color: #fff; }
.btn.view { padding: 2px 11px 2px 0; background: url('images/sub/bg/arrow_view.png') no-repeat 100% 50%; background-size: 6px 10px; color: #c79022; }
.btn.search { width: 43px; height: 43px; text-indent: -999em; background: url('images/sub/bg/bg_serch.gif') no-repeat 50% 55%; background-size: 19px; color: #c79022; position: absolute; right: 0; top: 0; }
.btn.red_chk { padding-left: 26px; font-size: 12px; border-color: #a30034; background: #a30034 url('images/sub/bg/arrow_white.gif') no-repeat 7px 50%; background-size: 12px 8px; color: #fff; }
.btn.reset { padding-left: 18px; font-size: 12px; background: url('images/sub/ico/ico_reset.gif') no-repeat 0 45%; background-size: 13px; color: #888; }
.inner { padding: 0 5px; line-height: 19px; min-width: inherit; font-size: 12px; border-color: #e2e2e2; background: #eee; color: #888; }
.btn.mid { display: block; margin: 0 auto; padding: 6px 0; width: 195px; }

.foot .btn { display: block; padding: 8px 14px; height: inherit; line-height: 1.2; font-size: 15px; text-align: center; }

/* ico */
.ico { display: inline-block; }
.ico_down { padding-left: 32px; padding-top: 1px; min-height: 16px; background: url('images/sub/ico/ico_down.png') no-repeat 2px 0; background-size: 17px; }
.ico_down.pdf { background-image: url('images/sub/ico/ico_pdf.png'); }
.ico_down.ppt { background-image: url('images/sub/ico/ico_ppt.png'); }
.ico_down.doc,
.ico_down.docx,
.ico_down.wrd { background-image: url('images/sub/ico/ico_wrd.png'); }
.ico_down.zip { background-image: url('images/sub/ico/ico_zip.png'); }
.ico_down.xlx { background-image: url('images/sub/ico/ico_xlx.png'); }
.ico_down.png { background-image: url('images/sub/ico/ico_png.png'); }
.ico_down.jpg { background-image: url('images/sub/ico/ico_jpg.png'); }
.ico_down.gif { background-image: url('images/sub/ico/ico_gif.png'); }
.ico_down.bmp { background-image: url('images/sub/ico/ico_bmp.png'); }
.ico_down.mv { background-image: url('images/sub/ico/ico_mv.png'); }

/* over */
.ellipsis { display: block; max-width: 100%; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow: hidden; } 
.ellipsis_mlt { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word;  line-height: 1.2em; max-height: 2.4em; white-space: normal; text-align: left; }

/* form color 444/ d-color bbb */
input, select, .ui-selectmenu-button, textarea, button { display: block; width: 100%; padding: 10px; height: 43px; font-family: inherit; font-size: inherit; border: 1px solid #e2e2e2; background-color: #fff; box-sizing: border-box; color: inherit; }
input { padding: 0 10px; }
select { padding: 5px 10px; }
textarea { height: inherit; }
label { display: inline-block; line-height: 43px; }

/* shape */
[disabled=disabled], [readonly=readonly] { opacity: 0.35; filter: Alpha(Opacity=35); }
[disabled=disabled]:focus, [readonly=readonly]:focus { border-color: #e2e2e2; }
select:focus, textarea:focus, input:focus, .ui-selectmenu-button.ui-state-focus { border-color: #a30034; outline: none; }
[disabled=disabled]:-ms-input-placeholder, [readonly=readonly]:-ms-input-placeholder { color: #444; }
[disabled=disabled]::-webkit-input-placeholder, [readonly=readonly]::-webkit-input-placeholder { color: #444; }
[disabled=disabled]:-moz-placeholder, [readonly=readonly]:-moz-placeholder { color: #444; }

/* placeholder */
:-ms-input-placeholder { color: #bbb; }
::-webkit-input-placeholder { color: #bbb; }
:-moz-placeholder { color: #bbb; }

.frm_box { position: relative; line-height: inherit; }
.frm_box + .frm_box { margin-top: 5px; }
span.frm_box { margin-right: 15px; }
span.frm_box + span.frm_box { margin-top: 0; }

input[type=radio],
input[type=checkbox] { display: inline-block; margin: 0; padding: 0; width: 22px; height: 22px; border: 0; opacity: 0; filter: alpha(opacity=0); box-sizing: inherit; position: absolute; left: 0; top: 0; z-index: 1; }
input[type=radio] + label ,
input[type=checkbox]  + label { display: inline-block; padding-left: 30px; line-height: 23px; background: no-repeat 0 0; background-size: 22px; }
input[type=radio] + label { background-image: url('images/sub/bg/bg_radio_off.png'); }
input[type=checkbox] + label { background-image: url('images/sub/bg/bg_chk_off.gif'); }
.sm input[type=checkbox] + label { padding-left: 25px; background-image: url('images/sub/bg/bg_chk2_off.gif'); color: #bbb; }
input[type=radio]:checked + label { background-image: url('images/sub/bg/bg_radio_on.png'); }
input[type=checkbox]:checked  + label { background-image: url('images/sub/bg/bg_chk_on.gif');  }
.sm input[type=checkbox]:checked  + label { background-image: url('images/sub/bg/bg_chk2_on.gif');  color: #888; }

.frm_write > * { margin-top: 10px; position: relative; }

/* tab */
.tab_radio a { display: inline-block; padding-left: 30px; line-height: 23px; background: url('images/sub/bg/bg_radio_off.png') no-repeat 0 0; background-size: 22px; }
.tab_radio a.on { background-image: url('images/sub/bg/bg_radio_on.png'); }
.tab_radio a + a { margin-left: 15px; }

/* select */
select { -moz-appearance: none; -webkit-appearance: none; background: #fff url('images/sub/bg/bg_select.png') no-repeat 100% 45%; background-size: 42px 41px; }

/* date */
input[type=date],
input[type=month] { vertcial-align: middle; line-height: 43px; -moz-appearance: none; -webkit-appearance: none; background: url('images/sub/bg/bg_cal.png') no-repeat 100% 45%; background-size: 33px; }


/* table */
.tbl { border-top: 1px solid #858585; box-sizing: border-box; }
.tbl th,
.tbl td { padding: 10px 8px; line-height: 1.3; vertical-align: middle; border-bottom: 1px solid #e2e2e2; color: #444; }
.tbl td * { vertical-align: middle; }
.tbl th { font-weight: bold; background: #f2f2f2; }
.tbl tbody th { text-align: left; }
.tbl tbody th + th { border-left: 1px solid #e2e2e2; }
.tbl .line_l { border-left: 1px solid #e2e2e2; }

.tbl.col th,
.tbl.col td { padding: 10px 5px; border-left: 1px solid #e2e2e2; text-align: center; }
.tbl.col th { padding: 5px; }
.tbl.col th:first-child,
.tbl.col td:first-child { border-left: 0; }
.tbl.col td.tbl_tit { padding-left: 20px; text-align: left; }
.tbl.col td.tbl_cont { padding: 20px; text-align: left; }
.tbl.col td.tbl_cont .inner_txt { padding: 0 0 15px; position: relative; }

.tbl.row2 { border: 1px solid #dbdbdb; border-width: 1px 0; }
.tbl.row2 th:first-child { border-left: 0; }
.tbl.row2 th { border-left: 1px solid #dbdbdb; font-weight: normal; background: #f8f8f8; }
.tbl.row2 th, .tbl.row2 td { border-bottom: 0; border-top: 1px solid #f2f2f2; }
.tbl.row2 tr:first-child th, .tbl.row2 tr:first-child td { border-top: 0; }

.required { color: #a30034; }


/* line */
#body .line_b { padding-bottom: 30px; border-bottom: 1px solid #e2e2e2; }

/* bacgkround */
#body .bg_no { background: none; }
#body .bar > * + *:before { margin: 0 7px 0 5px; content: '|'; font-size: 10px; vertical-align: 1px; }
#body .transparent { opacity: 0; position: absolute; left: 0; bottom: 0; z-index: -999; }

/* font */
#body .fs_12 { font-size: 12px; }
#body .fs_13 { font-size: 13px; }
#body .fs_14 { font-size: 14px; }
#body .fs_15 { font-size: 15px; }
#body .fs_16 { font-size: 16px; }
#body .fs_17 { font-size: 17px; }

#body .fc_red { color: #a30034; }

.txt_info { font-size: 12px; color: #888; }
.txt_under { text-decoration: underline; }

/* error */
.error { display: none; margin-top: 5px; padding-left: 19px; font-size: 12px; background: url('images/sub/ico/ico_error_form.png') no-repeat 0 1px; background-size: 15px; color: #a30034; }
.success *,
.error * { vertical-align: middle; }
.success { display: none; margin-top: 5px; padding-left: 19px; font-size: 12px; background: url('images/sub/ico/ico_success_form.png') no-repeat 0 1px; background-size: 15px; color: #1e91c2; }
.show { display: block; }

/* tooltip */
#body .tooltip_box { position: relative; overflow: visible; }
#body .tooltip_box:after { display: block; content: ''; clear: both; }
.tooltip { display: block; width: 17px; height: 17px; text-indent: -999em; background: url('images/sub/ico/ico_help_gray.png') no-repeat 0 0; background-size: cover; }
.tooltip_txt { display: none; margin-top: 8px; width: 50%; padding: 5px; font-size: 12px; line-height: 1.4; color: #888; background: #f6f6f6; border: 1px solid #e2e2e2; position: absolute; right: 0; z-index: 1; }
.tooltip_txt.on { display: block; }
.tooltip { cursor: pointer; position: relative; }
.tooltip.on:before { display: block; width: 14px; height: 12px; content: ''; background: url('images/sub/bg/bg_tooltip.png') no-repeat 0 0; background-size: cover; position: absolute; right: 0; bottom: -14px; z-index: 2; }
.tooltip_txt em { color: #444; }

/* list */
.list_dot { font-size: 12px; color: #888; }
.list_dmd li { padding-left: 13px; background: url('images/sub/bg/bg_dot_red.gif') no-repeat 0 4px; background-size: 8px; }
.list_line li { margin-bottom: -1px; border-bottom: 1px solid #e2e2e2; padding: 10px 0; overflow: hidden; }
.list_line li:last-child { border-bottom: 0; }
.list_line li:first-child { border-bottom: 1px solid #e2e2e2; }
.list_line li * { vertical-align: top; }
.list_line .btn.view { padding-top: 0; padding-bottom: 0; }
.next { display: block; padding-right: 20px; background: url('images/sub/bg/arrow_list.gif') no-repeat 100% 50%; background-size: 9px 17px; }
#body .list_string li { margin-left: 20px; }
#body .list_string > li > .list_head { margin:  0 5px 0 -20px; }

/*
	header
----------------------------------------------------------*/
#header h1 { position: relative; }
#header h1 a { display: block; margin: 0 50px; height: 50px; text-indent: -999em; background: url('images/layout/bg_logo.png') no-repeat 50% 50%; background-size: 87px 25px; }
#header .my_cdt { display: none; width: 50px; height: 50px; text-indent: -999em; background: no-repeat 50% 50%; background-size: 25px 28px; position: fixed; right: 0; top: 0; z-index: 5; }
#header .btn_ctrl { display: block; width: 50px; height: 50px; text-indent: -999em; position: fixed; top: 0; left: 0; z-index: 5; }
#header .btn_ctrl.open { background: url('images/layout/btn_open.gif') no-repeat 50% 50%; background-size: 19px 16px; }
#header .btn_ctrl.back { display: none; background: url('images/layout/btn_back.gif') no-repeat 50% 50%; background-size: 9px 17px; }
#header .btn_ctrl.close { position: absolute; background: url('images/layout/btn_close.png') no-repeat 50% 50%; background-size: 20px; left: 270px; }
#header .btn_ctrl.log_link { display: block; width: 50px; height: 50px; content: ''; background: url('images/layout/ico_hm.gif') no-repeat 50% 50%; background-size: 23px 26px; left: inherit; right: 0; }

.log_detail #header .btn_ctrl.log_link,
.log_detail #header .btn_ctrl.open,
.log_detail #header .my_cdt { display: none; }
.log_detail #header .btn_ctrl.back { display: block; }

.log_mmb #header .btn_ctrl.log_link,
.log_mmb #header .my_cdt { display: none; }

/* util */
#header .util { border-bottom: 1px solid #e2e2e2; }
#header .my_box { padding: 10px 0 10px 70px; min-height: 50px; background: url('images/layout/bg_hm.gif') no-repeat 10px 45%; background-size: 50px; }
#header .my_box p { margin-bottom: 5px; font-size: 12px; color: #888; }
#header .my_box a { display: inline-block; padding: 0 10px; height: 24px; line-height: 22px; font-size: 12px; }
#header .my_lv { display: none; }

/* after */
.log_after #header .btn_ctrl.log_link { display: none; }
.log_after #header .my_cdt { display: block; }
.log_after #header .util { padding: 0; }
.log_after #header .my_box { display: none; overflow: hidden; }
.log_after #header .my_lv { display: block; padding: 0; height: auto; background: #f6f6f6; color: #fff; }
.log_after #header .my_lv * { vertical-align: middle; }
.lv { padding: 15px 10px 15px 80px; font-size: 16px; background: no-repeat 15px 50%; background-size: 50px 60px; position: relative; color: #fff; }
.lv strong { display: block; line-height: 1.2; }
.lv span { display: block; margin: 3px 0; line-height: 1.2; }
.lv .more { margin-top: 5px; }
.lv * { vertical-align: middle; }
.log_after #header .lv a { padding: 0 18px 0 4px; height: 22px; line-height: 22px; }
.log_after #header .my_lv .btn_box { margin: 5px 8px; }
.log_after #header .my_lv .btn_box .btn { display: block; height: 40px; line-height: 40px; background: #979797; font-size: 15px; color: #fff; }
.log_after #header .my_lv .btn_box .btn span { display: inline-block; padding-left: 28px; font-size: 12px; background: url('images/layout/ico_cclt.gif') no-repeat 0 45%; background-size: 17px 18px; }

.lv.new { background-color: #a0a826; background-image: url('images/sub/bg/bg_new_grade.gif'); }
.lv.bronze { background-color: #bd7c32; background-image: url('images/sub/bg/bg_bronze_grade.gif'); }
.lv.silver { background-color: #a6a6a5; background-image: url('images/sub/bg/bg_silver_grade.gif'); }
.lv.gold { background-color: #e5af1d; background-image: url('images/sub/bg/bg_gold_grade.gif'); }
.lv.vip { background-color: #7550a4; background-image: url('images/sub/bg/bg_vip_grade.gif'); }
.lv.platinum { background-color: #3d3d3d; background-image: url('images/sub/bg/bg_platinum_grade.gif'); }

.log_after #header .my_cdt.new { background-image: url('images/layout/ico_new_top.png'); }
.log_after #header .my_cdt.bronze { background-image: url('images/layout/ico_bronze_top.png'); }
.log_after #header .my_cdt.silver { background-image: url('images/layout/ico_silver_top.png'); }
.log_after #header .my_cdt.gold { background-image: url('images/layout/ico_gold_top.png'); }
.log_after #header .my_cdt.vip { background-image: url('images/layout/ico_vip_top.png'); }
.log_after #header .my_cdt.platinum { background-image: url('images/layout/ico_platinum_top.png'); }

/* asdie */
#aside .nav { width: 100%; }
#aside .nav > ul { border-bottom: 1px solid #e2e2e2; }
#aside .nav > ul > li:first-child { border-top: 0; }
#aside .nav > ul > li { font-size: 16px; color: #222; }
#aside .nav > ul > li > span { display: block; padding: 0 20px; height: 50px; line-height: 50px; }
#aside .nav li { border-top: 1px solid #e2e2e2; }
#aside .nav li a { display: block; padding: 0 20px; height: 50px; line-height: 50px; background: url('images/layout/arrow_mnu.png') no-repeat 92% 50%; background-size: 7px 13px; } 
#aside .nav li li a { font-size: 13px; height: 45px; line-height: 45px; background-color: #f2f2f2; color: #888; }
#aside .nav li li + li { border-color: #eaeaea; }
#aside .nav li.home { padding-left: 20px; background: url('images/layout/bg_home_nav.gif') no-repeat 20px 45%; background-size: 14px 12px; }


/*
	main
----------------------------------------------------------*/
#body .main .article { margin: 10px 15px; padding: 15px 15px 0; background: #fff; }
#body .main .article:before { display: none; }
#body .main .list_line { border-top: 1px solid #e2e2e2; }
#body .main .list_line li:last-child { border-bottom: 0; }
#body .main .list_line .ico_down { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word;  line-height: 1.2em; max-height: 2.4em; white-space: normal; text-align: left;  }

/* common */
#body .main .article.product { padding: 15px 0; overflow: hidden; }
#body .main .article.product .tit { padding: 0 15px; }
.product .overflow { position: relative; }
.product .overflow:after,
.product .overflow:before { width: 15px; content: ''; background: repeat-y 0 0; background-size: 15px 1px; position: absolute; top: 0; bottom: 15px; z-index: 1; }
.product .overflow:after { background-image: url('images/main/bg_blur_r.png'); right: 0; }
.product .overflow:before { background-image: url('images/main/bg_blur.png'); left: 0; }
.product .overflow ul { text-align: center; white-space: nowrap; overflow-x: auto; position: relative; -webkit-overflow-scrolling: touch; }
.product .overflow li { display: inline-block; margin: 0 15px; width: 190px; height: 247px; border: 1px solid #e2e2e2; }
.product .overflow li + li { margin-left: -5px; }
.product .overflow li .photo { display: block; width: 190px; height: 190px; overflow: hidden; }
.product .overflow li .photo:before { display:inline-block; margin-left: -5px; width:0; height:190px; font-size: 0; content: ''; vertical-align:middle; overflow:hidden; }
.product .overflow li .ellipsis_mlt { display: block; margin: 10px; font-size: 14px; }
.product .overflow * { vertical-align: middle; }

/* before */
.main .visual { position: relative; }
.main .log_top { width: 100%; padding: 0 10px; position: absolute; left: 0; right: 0; top: 0; z-index: 1; color: #e4cfd5; }
.main .log_top .dsp_cel { padding: 5px; width: 60%; vertical-align: middle; }
.main .log_top .dsp_cel + .dsp_cel { width: 40%; text-align: right; }
.main .log_top:after { width: 100%; height: 100%; content: ''; background: #a30034; opacity: 0.6; position: absolute; left: 0; top: 0; z-index: -1; }
.main .log_top .btn { display: inline-block; padding: 5px; border-color: #a8596f; }
.main .visual .btn.red { padding: 0; height: 50px; line-height: 50px; font-size: 17px; position: absolute; left: 10px; right: 10px; bottom: 20px; }
.main .slider li { font-size: 14px; }
.main .slider li img { width: 100%; }
.bx-default-pager { text-align: center; position: absolute; left: 0; right: 0; bottom: 80px; z-index: 1; }
.bx-default-pager span { display: inline-block; } 
.bx-default-pager span + span { margin-left: 6px; }
.bx-default-pager a { display: block; width: 12px; height: 12px; text-indent: -999em; background: url('images/main/btn_pager.png') no-repeat 0 100%; opacity: 0.7; background-size: cover; overflow: hidden; }
.bx-default-pager a.active { background-image: url('images/main/btn_pager_on.png');  opacity: 1; }
.visual .bx-controls-auto { display: none; }

/* after */
.log_after .main { padding-top: 5px; }
.log_after .main .product { margin-top: 0; }
#body .main .buy { padding: 15px 10px 15px 15px; }
#body .main .buy a { display: block; min-height: 54px; line-height: 1.3; background: url('images/main/bg_buy_after.gif') no-repeat 100% 75%; background-size: 138px 42px; }
#body .main .buy em { display: inline-block; padding-right: 25px; line-height: 1.6; letter-spacing: -0.5px; font-size: 20px; background: url('images/main/btn_buy_after.gif') no-repeat 100% 50%; background-size: 16px; }
#body .main .buy span { color: #888; }


/* 
	calculator 
----------------------------------------------------------*/
#body .calculator { line-height: 1.3; }
#body .calculator .acc_box { border-top: 1px solid #e2e2e2; }
#body .calculator .acc_tit { padding: 10px 50px 10px 25px; font-weight: bold; background: #666 url('images/layout/arrow_up_clc.gif') no-repeat 95% 50%; background-size: 15px 8px; color: #d2f91d; }
#body .calculator .acc_tit.on { background-image: url('images/layout/arrow_dw_clc.gif'); }
#body .calculator .acc_tit.on em { display: none; }
#body .calculator .acc_tit.bg_no { padding-right: 10px; background: #666; cursor: default; }
#body .calculator .acc_tit h3 { color: #fff; font-weight: bold; }
#body .calculator .acc_tit span { margin-left: -15px; color: #fff; }
#body .calculator .acc_cont .full { margin: 10px 0; padding: 0 10px; }
#body .calculator .acc_cont .full * { vertical-align: middle; }
#body .calculator .acc_cont .bg2 { margin: 0; padding: 10px; border-top: 1px solid #e2e2e2; background: #f6f6f6; }
#body .calculator label { font-size: 13px; }
#body .calculator .acc_cont input { padding: 0; text-indent: 5px; }
#body .calculator .acc_cont input:focus { border-color: #a30034; outline: none; }
#body .calculator .acc_cont .fc_red,
#body .calculator .acc_cont .col2 { text-align: right; color: #888; }
#body .calculator .acc_cont .fc_red { color: #a30034; }
#body .calculator .acc_cont .ui-selectmenu-button { width: 100% !important; }
#body .calculator .acc_cont .line_h2 { line-height: 16px; }
#body .calculator .acc_cont .txt_error { font-size: 12px; color: #bbb; }
#body .calculator .acc_cont .block { display: inline; }
#body .calculator .acc_cont .none { display: none; }
#body .calculator .clc_result { padding: 10px; border-top: 1px solid #e2e2e2; background: #2b2b2b; color: #fff; }
#body .calculator .clc_result h3 { padding-bottom: 10px; font-size: 14px; font-weight: bold; text-align: center; } }
#body .calculator .clc_result .tot_txt { padding: 10px 0; border-top: 1px solid #808080; }
#body .calculator .clc_result .tot_txt li { margin: 20px 0; overflow: hidden; font-weight: bold; }
#body .calculator .clc_result .tot_txt li span { width: 40%; line-height: 1.3; float: left; }
#body .calculator .clc_result .tot_txt li em { width: 60%; text-align: right; line-height: 1.3; font-size: 12px; float: right; color: #d2f91d; }
#body .calculator .clc_result .notice_cont { margin-top: 40px; padding: 5px; border: 1px solid #858585; color: #919191; }
#body .calculator .acc_cont .tooltip_txt { width: inherit; max-width: 280px; background: #000;  border-color: #000; border-radius: 2px; color: #fff; left: 10px; right: inherit; }
#body .calculator .acc_cont .tooltip { display: inline-block; margin-left: 2px; }
#body .calculator .acc_cont .tooltip.on:before { background-image: url('images/sub/bg/bg_tooltip2.png'); }

#body .calculator .col10 { width: 88.34%; }
#body .calculator .col6 { width: 45%; }
#body .calculator .col6.txt_error { width: 55%; text-align: right; }
#body .calculator .col4 { width: 43.33%; }
#body .calculator .col2 { width: 11.66%; }
#body .calculator input:-ms-input-placeholder { font-size: 11px; }
#body .calculator ::-webkit-input-placeholder{ font-size: 11px; }
#body .calculator textarea:-moz-placeholder, input:-moz-placeholder{ font-size: 11px; } 

/* 
	sub
----------------------------------------------------------*/
.cont.gray { margin: 25px 15px; }
.cont.white { padding-bottom: 10px; background: #fff; }

.tit_page { display: table; width: calc(100% - 100px); height: 50px; table-layout: fixed; line-height: 1.2; white-space:normal; font-size: 17px; text-align: center; vertical-align: middle; background: #fff; position: fixed; left: 50px; right: 50px; top: 0; z-index: 5; color: #222; }
.tit_page span { display: table-cell; vertical-align: middle; }
.btn_ctrl { display: block; width: 50px; height: 50px; text-indent: -999em; background: #fff no-repeat 50% 50%; position: fixed; right: 0; top: 0; z-index: 5; }
.btn_ctrl.write { background-image: url('images/sub/bg/btn_write.gif'); background-size: 22px; }
.btn_ctrl.help { background-image: url('images/sub/bg/btn_help.gif'); background-size: 23px; }

.head,
.area,
.foot { line-height: 1.5; }
.head { margin-bottom: 15px; }
.foot { margin-top: 30px; }
.area + .area { margin-top: 15px; }

.article.write .area + .area { margin-top: 30px; }
.article.write .foot { margin-top: 20px; }

.head:after,
.area:after,
.foot:after { display: block; content: ''; clear: both; }

.tit { font-size: 15px; line-height: 1.2; font-weight: bold; color: #222; }
.head .tit.big { font-size: 17px; font-weight: bold; }
.head .tit.info { padding: 0 0 10px 25px; border-bottom: 1px solid #e2e2e2; background: url('images/sub/ico/ico_info.gif') no-repeat 0 0; background-size: 18px; }
.head .tit.select { padding-right: 20px; background: url('images/sub/bg/arrow_tit.gif') no-repeat 100% 50%; background-size: 12px 7px; }

.gray .article { background-color: transparent; }
.article { padding: 15px; background: #fff; position: relative; }
.article + .article { padding-top: 25px; }
.article + .article:before { display: block; width: 100%; height: 10px; content: ''; background: #efefef; border-top: 1px solid #ddd; position: absolute; left: 0; top: 0; right: 0; } 
.article.gray:before { display: none; }
.article.reset { padding-top: 0; padding-bottom: 0; }
.article.reset + .reset { padding-top: 10px; }
.article.gray { padding-top: 15px; background: #f6f6f6; }
.article.line { border-bottom: 1px solid #e2e2e2; }
.trsprt_box { padding: 15px; background: #efefef; line-height: 1.5; }


/* accordion */
.acc_tit { cursor: pointer; }
.acc_type1 { border: 1px solid #e2e2e2; }
.acc_type1 .acc_tit { padding: 10px 30px 10px 10px; color: #bbb; overflow: hidden; position: relative; }
.acc_type1 .acc_tit:after { display: block; width: 22px; height: 26px; content: ''; background: url('images/sub/bg/arrow_off_acc1.gif') no-repeat 50% 5px; background-size: 22px 6px; position: absolute; right: 0; bottom: 0; }
.acc_type1 .acc_tit .f_r { position: relative; top: 1px; }
.acc_type1 .acc_tit.on { color: #444; }
.acc_type1 .acc_tit.on:after { background-image: url('images/sub/bg/arrow_on_acc1.gif'); }
.acc_type1 .acc_cont { padding: 10px; max-height: 100px; border-top: 1px solid #e2e2e2; background: #f6f6f6; overflow-y: auto; -webkit-overflow-scrolling: touch; }

.acc_type2 .acc_tit { padding-right: 20px; background: url('images/sub/bg/arrow_off_acc2.gif') no-repeat 100% 50%; background-size: 15px 8px; }
.acc_type2 .acc_tit.on { background-image: url('images/sub/bg/arrow_on_acc2.gif'); }

/* view */
.view .head { padding-bottom: 15px; border-bottom: 1px solid #e2e2e2; }
.view .head h4 { font-size: 14px; font-weight: bold; }
.view .area { padding-bottom: 20px; min-height: 150px; border-bottom: 1px solid #e2e2e2; }
.view .foot { margin-top: 20px; }
.list_line .txt_info.bar { display: inline-block; margin-top: 2px; }

/*
	membership
----------------------------------------------------------*/
/* login */
.login_wrap { padding: 65px 0 20px; background: url('images/layout/bg_logo.png') no-repeat 50% 15px; background-size: 110px 32px; }
.login_wrap span { display: block; margin-bottom: 10px; position: relative; }
.login_wrap span em,
.login_wrap span a { display: block; height: 43px; line-height: 43px; position: absolute; right: 10px; top: 0; }
.login_wrap .my_pw a {padding-left: 25px; font-size: 13px; color: #888; }
.login_wrap .btn { display: block; padding: 0; height: 43px; line-height: 43px; font-size: 15px; }
.login_wrap .sm input[type=checkbox] { width: 43px; height: 43px; } 

/* join */
.layout { position: relative; }
.layout .pos_txt { width: 30px; height: 45px; line-height: 45px; text-align: center; position: absolute; left: 58.33%; top: 0; }
.step_wrap .head { margin-bottom: 20px; padding: 20px 0 30px; border-bottom: 1px solid #e2e2e2; text-align: center; }
.join_step { padding: 0 8% 3px; position: relative; }
.join_step .here { display: none; }
.join_step .on .here { display: block; font-size: 0; text-indent: -999em; }
.join_step li.on { border-color: #a30034; }
.join_step li.on:after { background-image: url('images/sub/bg/bg_rnd_step_on.gif'); }
.join_step .on span { background: #a30034; color: #fff; }
.join_step li { margin: 30px 0 0; padding: 12px 15px 12px 44px; min-height: 42px; border: 1px solid #e2e2e2; box-shadow: 0 2px 0 #e5e5e5; position: relative; }
.join_step li + li:after { display: block; margin-left: -1px; width: 2px; height: 13px; content: ''; background: url('images/sub/bg/bg_join_step.gif') no-repeat 0 0; background-size: 2px 13px; position: absolute; left: 50%; top: -20px; }
.join_step span { display: block; margin-top: -26px; padding-top: 13px; width: 50px; height: 37px; line-height: 1.2; font-size: 12px; text-align: center; background: #efefef; border-radius: 50%; color: #888; position: absolute; left: -25px; top: 50%; }
.join_step strong { font-weight: normal; }
.join_step .info { margin-top: 5px; font-size: 12px; color: #888; }


/*
	mypage
----------------------------------------------------------*/
/* membership */
.cont .lv { padding-top: 20px; padding-bottom: 20px; min-height: 40px; }
.cont .lv .boon { opacity: 0.6; font-size: 12px; }
.cont .lv .tooltip { display: block; width: 20px; height: 20px; text-indent: -999em; background: url('images/sub/ico/ico_help.png') no-repeat 0 0; background-size: cover; position: absolute; right: 15px; top: 15px; }
.cont .lv .tooltip.on:before { right: 10px; }
.cont .lv .tooltip_txt { margin-right: 15px; }

.mypage .ico { padding-left: 25px; background: no-repeat 0 0; background-size: 17px; }
.mypage .ico.point { background-image: url('images/sub/ico/ico_point_mp.gif') }
.mypage .ico.point2 { background-image: url('images/sub/ico/ico_point2_mp.gif') }
.mypage .ico.point3 { background-image: url('images/sub/ico/ico_point3_mp.gif') }
.mypage .ico.point4 { background-image: url('images/sub/ico/ico_point4_mp.gif') }
.mypage .ico.inquiry { background-image: url('images/sub/ico/ico_iqry_mp.gif') }
.mypage .ico.change { background-image: url('images/sub/ico/ico_cng_mp.gif') }
.mypage .ico.goods { padding-left: 25px; background: url('images/sub/ico/ico_goods.png')no-repeat 0 0; background-size: 15px 17px; }

.aply { padding: 20px 10px; text-align: center; }
.aply .tit { font-size: 13px; line-height: 1.5; font-weight: normal; }
.aply .txt_under { color: #c79022; }
.aply span { display: block; }
.aply .txt_date { display: none; }
.aply .btn { margin-top: 8px; }
.aply.off { opacity: 0.5; filter: alpha(opacity=50); cursor: not-allowed; }
.aply.off .txt_date { display: block; margin-top: 5px; font-size: 12px; }
.aply.off .btn { cursor: not-allowed; }

.level_wrap li { margin-top: 10px; line-height: 1.3; border: 1px solid #e2e2e2; }
.level_wrap strong { display: block; margin-bottom: 3px; font-size: 14px; }
.level_wrap .dash_top { padding: 8px 15px; text-align: center; border-top: 1px dashed #ddd; }
.level_wrap .txt_under { color: #c79022; }
.ico_level { margin: 0 15px; padding: 10px 15px 10px 55px; background: no-repeat 0 55%; background-size: 41px 50px; }
.ico_level.platinum { background-image: url('images/sub/ico/ico_platinum_grade.gif'); }
.ico_level.vip { background-image: url('images/sub/ico/ico_vip_grade.gif'); }
.ico_level.gold { background-image: url('images/sub/ico/ico_gold_grade.gif'); }
.ico_level.silver { background-image: url('images/sub/ico/ico_silver_grade.gif'); }
.ico_level.bronze { background-image: url('images/sub/ico/ico_bronze_grade.gif'); }
.ico_level.new { background-image: url('images/sub/ico/ico_new_grade.gif'); }

.coupon li { display: table; table-layout: fixed; width: 100%; border: 1px solid #874e60; box-sizing: border-box; }
.coupon li + li { margin-top: 10px; }
.coupon li.off { opacity: 0.5; filter: alpha(opacity=50); cursor: not-allowed; }
.coupon li.off a { cursor: not-allowed; }
.coupon li div { display: table-cell; text-align: center; vertical-align: middle; height: 150px; background: url('images/sub/bg/bg_logo_cup.gif') no-repeat 10px 10px; background-size: 61px 13px; position: relative; }
.coupon li div p { padding: 30px 10px 50px; }
.coupon li div a { display: block; width: 100%; height: 40px; line-height: 40px; font-weight: bold; border-top: 1px dashed #c5c5c5; background: #f6f6f6; position: absolute; left: 0; bottom: 0; }
.coupon li div a span { margin-right: 5px; color: #a30034; position: relative; }
.coupon li div a span:after { display: inline-block; width: 14px; height: 14px; content: ''; background: url('images/sub/bg/bg_round_cup.gif') no-repeat 0 0; background-size: cover; position: absolute; right: -35px; top: 0; }

/* qna */
.qna li { padding: 0; }
.qna .q { padding: 10px 15px 10px 29px; background: url('images/sub/bg/bg_q_qna.gif') no-repeat 0 11px; background-size: 19px; }
.qna .a { padding: 10px 15px 10px 44px; background: #f6f6f6 url('images/sub/bg/bg_a_qna.gif') no-repeat 15px 11px; background-size: 19px; }
.qna .q .txt_info { display: block; }
.qna .list li { padding-right: 60px; position: relative; }
.qna .list li .cdt { display: block; text-align: center; font-size: 11px; position: absolute; right: 0; top: 11px; color: #888; }
.qna .list li .cdt.on { color: #a30034; }
.select_qna { background: url('images/sub/bg/bg_select_qna.gif') no-repeat 0 45%; background-size: 31px 38px; }
#body .select_qna select { text-indent: 18px; background-color: transparent; }

/* search */
#body div.search { background-color: #fff; }
#body .search .tab_head { display: table; table-layout: fixed; width: 100%; background: #fff; }
#body .search .tab_head li { display: table-cell; padding: 0 30px 0 10px; width: 33.3%; height: 44px; line-height: 1.3; vertical-align: middle; border: 1px solid transparent; border-left: 1px solid #e2e2e2; border-bottom: 0; background: url('images/sub/bg/arrow_off_tab.gif') no-repeat 100% 50%; background-size: 20px 8px; }
#body .search .tab_head li:first-child { border-left: 1px solid transparent; }
#body .search .tab_head li.on { border-color: #a30034; background-image: url('images/sub/bg/arrow_on_tab.gif'); position: relative; color: #a30034; }
#body .search .tab_head li.on:after { display: block; width: 100%; height: 1px; content: ''; background: #fff; position: absolute; left: 0; bottom: -1px; }
#body .search .tab_head li.on + li { border-left: 1px solid transparent; }
#body .search .tab_cont { border: 1px solid #a30034; }
#body .search .tab_cont .row { padding: 10px; }
#body .search .tab_cont .full { padding: 5px 10px 5px; }
#body .search .tab_cont .full .frm_box { margin: 5px 0 5px 0; width: 50%; float: left; }
#body .search .tab_cont input[type=text] { height: 34px; }
#body .search .tab_cont .btn_box { padding: 5px 10px; border-top: 1px solid #e2e2e2; overflow: hidden; }
#body .search .tab_cont .btn_box .btn { padding-top: 10px; padding-bottom: 10px; }
#body .search .tab_cont .row .col2 { margin-right: 5px; width: 37%; }

/* product */
.result { border-top: 1px solid #e2e2e2; padding-top: 20px; }
.result .article { background: #fff; }
.result .tbl_smry { padding: 0 15px 10px; }
.bg_empty { padding: 80px 10px 20px; background: url('images/sub/bg/bg_no.png') no-repeat 50% 20px; text-align: center; background-size: 40px; }


.product_info .result .photo_wrap { padding: 20px 0; border-top: 1px solid #e2e2e2; position: relative; overflow: hidden; }
.product_info .result .list_dmd { width: 50%; float: right; }
.product_info .result .photo { padding: 0 30px 0 15px; width: 50%; box-sizing: border-box; float: left; }
.product_info .result .photo img { width: 100%; height: auto; vertical-align: top; }
.product_info .result .list_down { border-top: 1px solid #e2e2e2; overflow: hidden; }
.product_info .result .list_down li { padding: 15px 0 15px; width: 25%; font-size: 12px; line-height: 1.3; text-align: center; float: left; }
.product_info .result .list_down li a { display: block; padding: 40px 5px 0; background: no-repeat 50% 0; background-size: 33px; }
.product_info .result .list_down li a.spec { background-image: url('images/sub/ico/ico_spec_prd.gif'); }
.product_info .result .list_down li a.warranty { background-image: url('images/sub/ico/ico_wrt_prd.gif'); }
.product_info .result .list_down li a.certification { background-image: url('images/sub/ico/ico_cation_prd.gif'); }
.product_info .result .list_down li a.software { background-image: url('images/sub/ico/ico_sft_prd.gif'); }
.product_info .result .list_dmd li { line-height: 1.2; }
.product_info .result .list_dmd li + li { margin-top: 10px; }
.product_info .result .area { margin-top: 0; margin-bottom: -1px; }
.product_info .result .acc_tit { margin-bottom: 0; padding: 15px 10px; line-height: 1;  border: 1px solid #e2e2e2; border-width: 1px 0; }
.product_info .result .acc_tit.on { border-bottom: 0; }
.product_info .result .acc_cont { margin: 0; padding: 0; }


/* training */
.movie_list { border-bottom: 0; }
.movie_list li .movie_wrap { display: block; margin-right: 5px; position: relative; }
.movie_list li .movie_wrap img { width: 100%; }
.movie_list li video { width: 100%; }
.movie_list li * { vertical-align: top; }
.movie_list li a { display: block; overflow: hidden; }
.movie_list li .movie_wrap:before,
.movie_list li .movie_wrap:after{ display: block; content: ''; position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
.movie_list li .movie_wrap:before { background: #000; opacity: 0.3; }
.movie_list li .movie_wrap:after { background: url('images/sub/bg/bg_play.png') no-repeat 50% 50%; background-size: 30%; }
.movie_list li.on .movie_wrap:before,
.movie_list li.on .movie_wrap:after { display: none; }

/* swiper slide */
.swiper-container {position:relative;display:flex;display:-webkit-flex; margin-top: 10px; width:100%;height:37px;line-height:37px;background:#8d8d8d;}
.swiper-slide { display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;width:auto !important;}
.tabs .tab_head div a,
.swiper-slide a { display: block; height: 37px; line-height: 37px; text-align: center; font-size: 14px; background: #8d8d8d; color: #fff; }
.swiper-slide a { padding: 0 15px; min-width: 60px; }
.tabs .tab_head div.on a,
.swiper-slide.on a { background: #a30034; }
.tabs { margin-top: 10px; overflow: hidden; }
.tabs .tab_head div { width: 50%; text-align: center;  float: left; }


/*
	design cont 
----------------------------------------------------------*/
.design_cont .article { padding-top: 19px; }
.design_cont .article + .article { padding-top: 30px; }
.design_cont .article .article { margin: 15px 0; padding: 0; }
.design_cont .article .article + .article { margin: 30px 0 0; }
.design_cont .article .article:before { display: none; }
.design_cont .article .article .head { padding-top: 10px; }
.design_cont .article .article + .article .head { padding-top: 0; }
.design_cont .article > .head { font-size: 15px; position: relative; }
.design_cont .article > .head h5 { padding-top: 5px; position: relative; }
.design_cont .article > .head h5:before { display: block; width: 15px; height: 2px; content: ''; background: #a30034; position: absolute; left: 0; top: 0; }
.design_cont .article > .head * { font-weight: bold; }
.design_cont .list_dot { color: inherit; }
.img_box { border: 1px solid #e2e2e2; text-align: center; color: #444; overflow: hidden; }
.img_box + .img_box  { margin-top: 10px; }
.box_shadow { margin-bottom: 3px; border: 1px solid #e2e2e2; box-shadow: 0 3px 0 #e5e5e5; overflow: hidden; }
.img_box img,
.box_shadow img { width: 100%; }
.box_shadow + .box_shadow { margin-top: 13px; }
.tit_dmd { padding-left: 13px; font-size: 15px; background: url('images/sub/bg/bg_dot_red.gif') no-repeat 0 6px; background-size: 8px; color: #222; }
.gray_wrap dl { padding: 10px 5px 10px 14px; text-align: left; background: #f6f6f6; color: #444; }
.gray_wrap dl + dl { margin-top: 10px; }
.gray_wrap dt { margin-bottom: 5px; font-weight: bold; text-align: center; }
.gray_wrap img { width: auto; max-width: 100%; }
.img_caption { padding: 0 0 15px; font-weight: bold; text-align: center; }

/* company */
.design_cont .article.business_wrap { padding: 0 0 45px; position: relative; z-index: 0; }
.business_wrap .head h6 { font-size: 14px; font-weight: bold; text-align: center; position: relative; top: -10px; color: #222; }
.business_wrap .area { padding: 10px 0 0 5px; background: url('images/sub/img/img_comp03_intro.gif') repeat-y 45px 0; background-size: 1px 3px; }
.business_wrap .area:after { display: block; width: 94px; height: 30px; content: ''; background: url('images/sub/img/img_comp0303_intro.gif') no-repeat 0 0; background-size: cover; position: absolute; left: 0; bottom: 15px; }
.business_wrap dt { width: 76px; padding-top: 30px; height: 57px; line-height: 1.3; font-weight: bold; text-align: center; background: url('images/sub/img/img_comp0302_intro.gif') no-repeat 0 0; background-size: cover; float: left; position: relative; z-index: 2; color: #fff; }
.business_wrap dt:first-child { top: -15px; }
.business_wrap dd { margin-bottom: 15px; padding-left: 75px; min-height: 90px; position: relative; z-index: 1; color: #444; }
.business_wrap dd .list_dot li { margin: 3px 0 0 48px; line-height: 1.3; }
.business_wrap dd .list_dot .list_head { margin-left: -48px; }
#body .strategy_wrap .f_l,
#body .strategy_wrap .f_r { float: none; }
#body .strategy_wrap .after_box { margin: 15px 0 0; }
#body .strategy_wrap .after_box .img_box { margin-top: 15px; }
#body .strategy_wrap dt { margin-bottom: 5px; font-weight: bold; }


/* program */
.dash_type { overflow: hidden; }
.dash_type dd { width: 48%; float: left; box-sizing: border-box; position: relative; }
.dash_type dd + dd { padding-left: 2%; width: 52%; float: right; }
.dash_type dd + dd:before { display: block; content: ''; border-left: 1px dashed #d5d5d5; position: absolute; left: 0; top: 10px; bottom: 5px; }
.prg_wrap ul { padding: 0 15px; }
.prg_wrap li { display: table; table-layout: fixed; width: 100%; }
.prg_wrap li > div { display: table-cell; width: 100%; padding: 10px 0 10px 70px; height: 100px; background: no-repeat 0 50%; background-size: 60px 73px; position: relative; vertical-align: middle; }
.prg_wrap li + li > div:before,
.prg_wrap li + li > div:after { display: block; content: ''; background: no-repeat 0 0; position: absolute; top: 0; }
.prg_wrap li + li > div:before { width: 8px; height: 5px; background-image: url('images/sub/img/img_arrow_intro.gif'); background-size: 8px 5px; left: 27px; }
.prg_wrap li + li > div:after { border-top: 1px dashed #ddd; left: 73px; right: 0; }
.prg_wrap li.prg1  > div{ background-image: url('images/sub/img/img_prg01_intro.gif'); }
.prg_wrap li.prg2  > div{ background-image: url('images/sub/img/img_prg02_intro.gif'); }
.prg_wrap li.prg3  > div{ background-image: url('images/sub/img/img_prg03_intro.gif'); }
.prg_wrap li.prg4  > div{ background-image: url('images/sub/img/img_prg04_intro.gif'); }

/* Strengths */
.prd_tab02 .mk,
.prd_tab02 .txt,
.prd_tab02 .hatched  { font-size: 0; position: absolute; left: -999em; }
.prd_tab02 .f_l,
.prd_tab02 .f_r { width: 50%; }
.safety_wrap2 .img_caption { padding: 0 15px 15px; }

/* site */
.history_wrap { padding: 0 0 10px; background: url('images/sub/img/img_rfrce01_prd.gif') repeat-y 5px 0; background-size: 7px 1px; position: relative; }
.history_wrap:before,
.history_wrap:after { display: block; width: 7px; height: 3px; content: ''; background: no-repeat 0 0; background-size: cover; position: absolute; left: 5px; }
.history_wrap:before { background-image: url('images/sub/img/img_rfrce0104_prd.gif'); top: 0; }
.history_wrap:after { background-image: url('images/sub/img/img_rfrce0105_prd.gif'); bottom: 0; }
.history_wrap .big_txt { margin-left: 10px; padding: 0 15px; line-height: 1.3; font-size: 16px; text-align: center; font-weight: bold; color: #a30034; }
.history_wrap .big_txt span { font-size: 16px; }
.history_wrap dl { overflow: hidden; }
.history_wrap dl dt { margin: 15px 0 0; padding-left: 50px; line-height: 16px; font-weight: bold; background: url('images/sub/img/img_rfrce0102_prd.gif') no-repeat 0 0; background-size: 40px 16px; float: left; }
.history_wrap dl dd { margin: 15px 0 0; padding-left: 100px; line-height: 1.3; }
.history_wrap .last dt { background-image: url('images/sub/img/img_rfrce0103_prd.gif'); }
.history_wrap .list_dot .txt_info { display: block; margin-left: 5px; }
.map_wrap .tit_black { margin-bottom: 15px; padding: 9px 0; text-align: center; background: #6b6b6b; color: #fff; }
.map_wrap + .map_wrap { margin-top: 30px; }
#body .map_wrap .f_l { margin-bottom: 15px; overflow: hidden; float: none; }
#body .map_wrap .f_l ul li { padding-left: 12px; font-size: 12px; position: relative; }
#body .map_wrap .f_l ul li:before { content: '·'; position: absolute; left: 0; top: 0px; }
#body .map_wrap .f_l p { display: none; width: 40%; float: left; }
#body .map_wrap .f_l p img { width: 100%; }
#body .map_wrap .f_r { float: none; }


/*
	Information Use
----------------------------------------------------------*/
/* policy  */
.polcy_wrap + .polcy_wrap  { margin-top: 20px; }
.polcy_wrap .tit { margin: 30px 0 10px; font-weight: bold; }
.polcy_wrap dt { margin: 20px 0 10px; font-weight: bold; }
.polcy_wrap dd > ul { margin: 15px 0; }
.polcy_wrap ul li + li { margin-top: 10px; }
.polcy_wrap dd ul { margin: 5px 0; }
.polcy_wrap .list_string li { color: #888; }
.polcy_wrap .list_string li + li { margin-top: 0; }

/*
	error 
----------------------------------------------------------*/
.error_wrap .head { margin-bottom: 20px; padding-top: 20px; text-align: center; }
.error_wrap .head h2 { display: inline-block; padding-left: 45px; font-weight: bold; font-size: 28px; line-height: 1.3; background: url('images/sub/bg/bg_error_big.gif') no-repeat 0 0; background-size: 35px; }
.error_wrap .area { padding: 0 5%; font-size: 16px; text-align: center; line-height: 1.5; }
.error_wrap .foot { margin-top: 45px; }

/*
	dialog 
----------------------------------------------------------*/
.layer { display: none; }
.ui-widget-overlay { background: #000; }
.ui-dialog { padding: 0; font-family: inherit; font-size: inherit; min-width: 274px; max-width: 80%; text-align: center; border: 0; border-radius: 0; background: none; z-index: 1000; }
.ui-dialog .ui-dialog-titlebar { padding: 0; height: 28px; position: static; float: none; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-title { padding: 0; height: 0; font-size: 0; text-align: left; text-indent: -999em; float: none; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close { width: 20px; height: 20px; background: url('images/layout/btn_close_pop.png') no-repeat 50% 50%; background-size: cover; left: inherit; right: 0; top: 0; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-icon-primary { display: none; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-text { padding: 0; position: absolute; left: -999em; }
.ui-dialog .ui-dialog-content { padding: 20px 15px 15px; min-height: 58px !important; background: #fff; }
.ui-dialog .ui-dialog-buttonpane { margin: 0; padding: 10px; text-align: center; background: #fff; float: none; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: none; }
.ui-dialog .ui-dialog-buttonpane button { font-family: inherit; font-size: inherit; margin: 0; padding: 0; width: 80px; height: 32px; border: 0; border-radius: 0; background: #a30034; color: #fff; float: none; }
.ui-dialog .ui-dialog-buttonpane button.gray { border-color: #7f7f7f; background: #7f7f7f; }
.ui-dialog .ui-dialog-buttonpane button + button { margin-left: 10px; }
.ui-button-text-only .ui-button-text { margin: 0; padding: 0; font-size: 14px; font-weight: normal; }
.dialog_cont .ui-dialog-content { text-align: left; }

.ui-dialog.main_popup { padding: 0; border: 0; }
.ui-dialog.main_popup .ui-dialog-titlebar-close { display: none; }
.ui-dialog.main_popup .ui-dialog-content { padding: 0; }
.ui-dialog.main_popup .ui-dialog-buttonpane { text-align: left; }
.ui-dialog.main_popup .ui-dialog-buttonpane button { width: inherit; height: inherit; border: 0; background: none; color: #888; }
.ui-dialog.main_popup .ui-dialog-buttonpane .pop_close_today { width: 20px; height: 20px; text-indent: -999em; background: url('images/main/btn_close.gif') no-repeat 50% 50%; background-size: 15px; position: absolute; right: 10px; bottom: 10px; }


/*
	footer
----------------------------------------------------------*/
#footer { padding: 10px 5px; font-size: 13px; background: #2b2b2b; text-align: center; color: #fff; }
#footer .top { text-align: left; overflow: visible; }
#footer .top .btn,
#footer .top .link { display: block; padding: 0; height: 34px; line-height: 34px; border: 1px solid #555; }
#footer .top .link { text-align: left; }
#footer .top .link h2 { text-indent: 8px; background: url('images/layout/arrow_up.gif') no-repeat 90% 50%; background-size: 12px 6px; }
#footer .top .link h2.on { background-image: url('images/layout/arrow_bot.gif'); }
#footer .top .link ul { border: 1px solid #555; border-width: 0 1px; left: -1px; bottom: 35px; }
#footer .top .link ul li { padding: 3px 0; text-indent: 8px; line-height: 1.5; background: #414141; border-top: 1px solid #555; }
#footer .menu_bot { margin: 15px 0 10px; overflow: hidden; text-align: center; }
#footer .menu_bot li { display: inline-block; }
#footer .menu_bot li:before { display: inline-block; margin: 0 8px; content: "|"; }
#footer .menu_bot li:first-child:before { display: none; }
#footer .copy { margin: 15px 0; font-size: 11px; text-align: center; color: #777; }