@charset "utf-8";
/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;font-size:inherit;color:inherit;font-weight:inherit;
	text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}
dl,ul,ol,menu,li{list-style:none}
fieldset,img{border:0 none}
input,select,textarea,button{vertical-align:middle;margin:0;padding:0;font-family:inherit;}
button{border:0 none;background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
input,textarea,img{max-width:100%;}
a,a:hover,a:visited,a:active{text-decoration:none;}
a img{vertical-align:top}
sup{font-size:x-small;vertical-align:super}
sub{font-size:x-small;vertical-align:sub}
select{ 
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none 
} 
select::-ms-expand{ display: none; }/* IE 10, 11의 네이티브 화살표 숨기기 */
table{table-layout:fixed;border-collapse:collapse;border-spacing:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}/* HTML5 for older browsers */

/*
    FONT SIZE
    PX	REM
    8	0.57 
    9	0.64 
    10	0.71 
    11	0.79 
    12	0.86 
    13	0.93 
    14	1.00 
    15	1.07 
    16	1.14 
    17	1.21 
    18	1.29 
    19	1.36 
    20	1.43 
    21	1.50 
    22	1.57 
    23	1.64 
    24	1.71 
    25	1.79 
    26	1.86 
    27	1.93 
    28	2.00 
    29	2.07 
    30	2.14 
    31	2.21 
    32	2.29 
    33	2.36 
    34	2.43 
    35	2.50 
    36	2.57 
    37	2.64 
    38	2.71 
    39	2.79 
    40	2.86 
    41	2.93 
    42	3.00
*/
/* WEBFONT */
@font-face {
    font-family:'noto-sans' ; 
    src: url('/common/font/NotoSans-Light.eot');
    src: url('/common/font/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('/common/font/NotoSans-Light.woff') format('woff'),
    url('/common/font/NotoSans-Light.ttf') format('truetype');
    font-style:normal;
    font-weight:100;
}
@font-face {
    font-family:'noto-sans';
    src: url('/common/font/NotoSans-Regular.eot');
    src: url('/common/font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('/common/font/NotoSans-Regular.woff') format('woff'),
    url('/common/font/NotoSans-Regular.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}
@font-face {
    font-family:'noto-sans';
    src: url('/common/font/NotoSans-SemiBold.eot');
    src: url('/common/font/NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/common/font/NotoSans-SemiBold.woff') format('woff'),    
    url('/common/font/NotoSans-SemiBold.ttf') format('truetype');
    font-style:normal;
    font-weight:600;
}

/*Common Setting*/
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt60{margin-top:60px;}
.mt80{margin-top:80px;}
.clfix:after{content:'';display:block;clear:both;}
.a11y-hidden{position:absolute;top:-9999px;text-indent:-9999px;font-size:0}
.ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.align-c{text-align:center;}
.align-l{text-align:left;}
.align-r{text-align:right;}
.float-l{float:left;}
.float-r{float:right;}
.c-red{color:#bc1137;}
.c-777{color:#777;}
.ib{display:inline-block;}
.word-break{word-break:break-all;}
.light{font-weight:100;}
.bold{font-weight:600;}
.cancel-line{text-decoration:line-through;}
.dim{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:1000;background:#000;background:rgba(0,0,0,0.8);} /* 뒤에 딤이 깔리는 팝업 계열은 z-index:1000 이상 사용*/
img{max-width:100%;max-height:100%;vertical-align:top;}
table{width:100%;table-layout:fixed;border-collapse:collapse;}
table th{font-weight:normal;}
textarea{resize:none;}
select{color:inherit;font:inherit;}
.cursor-default{cursor:default;}
.hidden{display:none;}

input,
select{ 
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none;
    border-radius:0;
} 
select::-ms-expand{ display: none; }/* IE 10, 11의 네이티브 화살표 숨기기 */